* {
    font-family: 'Source Han Sans CN';
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-shape-outside: none;
}

body {
    position: relative;
    width: 644px;
    height: 530px;
    overflow: hidden;
    background-repeat: no-repeat;
}

body > * {
    position: absolute;
}
#back {
    top: 37px;
    left: 581px;
    width: 51px;
    height: 25px;
}
#tabConent {
    top: 75px;
    left: 37px;
}

#tabConent img {
    width: 65px;
    height: 231px;
    margin-left: 6px;
}

#page-prev {
    top:168px;
    left: 4px;
    width: 22px;
    height: 38px;
}

#page-next {
    top:168px;
    left: 361px;
    width: 22px;
    height: 38px;
}

#album-prev {
    top: 440px;
    left: 7px;
    width: 27px;
    height: 48px;
}

#album-next {
    top: 440px;
    left: 616px;
    width: 27px;
    height: 48px;
}

#history-ablum {
    top: 411px;
    left: 46px;
}

#history-ablum img {
    margin-left: 14px;
    width: 123px;
    height: 89px;
}



