*{
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
}
body{
    background-Repeat:no-repeat;
    width: 640px;
    height: 530px;
    position: relative;
}
.tab1{ width: 154px; height: 48px; position: absolute; top: 370px; left: 40px}
.tab2{ width: 154px; height: 48px; position: absolute; top: 370px; left: 245px;}
.tab3{ width: 101px; height: 36px;position: absolute; left: 520px; top: 13px;}