body {
    width: 1280px;
    height: 720px;
}

body > *,
.modal > * {
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

#score {
    top: 45px;
    left: 260px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    /*border: 1px red solid;*/
}


#btn_start {
    position: absolute;
    top: 610px;
    left: 530px;
}
#btn_back {
    position: absolute;
    top: 20px;
    left: 1140px;
}

#left_times {
    top: 630px;
    left: 960px;
    width: 60px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    color: #83164d;
    font-size: 53px;
    font-weight: bold;
}

#eat_fish{
    position: absolute;
    top: 332px;
    left: 465px;
    width: 352px;
    height: 158px;
}

#progress{
    position: absolute;
    top: 110px;
    left: 280px;
    width: 20px;
    height: 150px;
}
#progress_step{
    position: absolute;
    bottom: 0px;
    width: 20px;
    height: 30px;
    background: #ffd400;
    border-radius: 20px;
}
#bg_progress{
    position: absolute;
}


#btn_container > * {
    display: block;
}

#btn_activity_rule{
    position: absolute;
    top:20px;
    left: 20px;
}

#btn_winner_list{
    position: absolute;
    top:120px;
    left: 20px;
}

#btn_exchange_prize{
    position: absolute;
    top:120px;
    left: 1070px;
}


/*====中奖名单====*/
#total_list {
    top: 170px;
    left: 190px;
}

#all_marquee {
    height: 166px;
}

#my_marquee {
    height: 58px;
}

table.marquee_table {
    width: 900px;
}

table#all_table tr {
    height: 40px;
}

table.marquee_table td {
    width: 300px;
    margin-right: 10px;
    text-align: center;
    color: #808080;
    font-size: 26px;
}

#my_list {
    top: 450px;
    left: 190px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    /*border: 1px red solid;*/
}

#reset_tel {
    color: #8e551d;
    top: 561px;
    left: 445px;
    width: 280px;
    height: 36px;
    line-height: 36px;
    font-size: 32px;
    text-align: center;
}

#btn_list_submit {
    top: 540px;
    left: 760px;
}

#btn_list_cancel {
    top: 540px;
    left: 910px;
}

/*====兑换奖品====*/
#game_score {
    top: 95px;
    left: 70px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
#add_score{
    position: absolute;
    top: 323px;
    left: 747px;
    font-size: 49px;
    color:#fff;
}

#exchange_prize_1 {
    top: 410px;
    left: 320px;
}

#exchange_prize_2 {
    top: 410px;
    left: 578px;
}

#exchange_prize_3 {
    top: 410px;
    left: 840px;
}

#exchange_point_1 {
    top: 518px;
    left: 640px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #83164d;
    font-size: 30px;
    font-weight: bold;
}

#exchange_point_2 {
    top: 518px;
    left: 380px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #83164d;
    font-size: 30px;
    font-weight: bold;
}

#exchange_point_3 {
    top: 518px;
    left: 900px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #83164d;
    font-size: 30px;
    font-weight: bold;
}

#ex_progress{
    position: absolute;
    top: 160px;
    left: 90px;
    width: 20px;
    height: 150px;
}
#ex_progress_step{
    position: absolute;
    bottom: 0px;
    width: 20px;
    height: 30px;
    background: #ffd400;
    border-radius: 20px;
}
#ex_bg_progress{
    position: absolute;
}

/*====游戏成功====*/

#btn_game_success {
    top: 420px;
    left: 570px;
}
#btn_fail{
    top: 454px;
    left: 532px;
    display: none;
}

/*====订购VIP====*/
#btn_order_sure {
    top: 420px;
    left: 565px;
}

#btn_order_cancel {
    top: 419px;
    left: 646px;
}

/*====兑换成功====*/
#exchange_tel {
    color: #8e551d;
    top: 345px;
    left: 620px;
    width: 258px;
    height: 36px;
    line-height: 30px;
    font-size: 32px;
    text-align: center;
}

#btn_exchange_submit {
    top: 420px;
    left: 620px;
}

#btn_exchange_cancel {
    top: 420px;
    left: 780px;
}

#count {
    top: 279px;
    left: 690px;
    color: #fff;
    font-size: 54px;
}

#btn_close_rule{
    top: 13px;
    left: 1129px;
    display: none;
}

/*====游戏部分====*/
#animal-bg {
    position: absolute;
    top: 220px;
    left: 200px;

}

#animal-car {
    position: absolute;
    top: 224px;
    left:462px;
}

#animal-timer {
    position: absolute;
    top: 45px;
    left: 141px;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    /*border: 1px red solid;*/
}


#btn_game_over_sure {
    position: absolute;
    top: 410px;
    left: 580px;
}



#bar-box{
    position: absolute;
    top: 40px;
    left:370px;
    width: 33px;
    overflow: hidden;

}
.man-box{
    position: absolute;
    top: 40px;
    left:360px;
}
.bar{
    top: 0px;
    left:0px;
    width: 620px;
    height: 40px;
}
#bar-man{
    position: absolute;
    top: -10px;
    left:0px;
    z-index: 11;
}
.start{
    position: absolute;
    top: 0px;
    z-index: 1;
}
.start-box{
    position: absolute;
    top: 80px;
    left:370px;
    width: 620px;
}


#btn_order_1{
    position: absolute;
    top: 230px;
    left: 20px;
}
#btn_order_2{
    position: absolute;
    top: 450px;
    left: 20px;
}
#btn_order_3{
    position: absolute;
    top: 230px;
    left: 1070px;
}
#btn_order_4{
    position: absolute;
    top: 450px;
    left: 1070px;
}


#dg_order_1{
    position: absolute;
    top: 340px;
    left: 230px;
}
#dg_order_2{
    position: absolute;
    top: 340px;
    left: 440px;
}
#dg_order_3{
    position: absolute;
    top: 340px;
    left: 650px;
}
#dg_order_4{
    position: absolute;
    top: 340px;
    left: 860px;
}
.tost_bg{
    position: absolute;
    top: 0px;
    left: 0px;
}
#intercept-back{
    position: absolute;
    top: 40px;
    left: 1160px;
}
#btn-go{
    position: absolute;
    top: 560px;
    left: 540px;
}






