#container{
    height: 100%;
    background: url("../../../../img/hd/AppointmentRegister/V8/bg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.main{
    background: url("../../../../img/hd/AppointmentRegister/V8/bg4.png") no-repeat;
    background-size: 1180px 626px;
    width: 1180px;
    height: 626px;
    padding: 30px;
    position: relative;
}
.title{
    font-size: 36px;
    font-weight: 400;
    line-height: 61px;
    color: #FFFFFF;
}
.line{
    height: 2px;
    width: 1120px;
    background: #fff;
    margin: 10px 0;
}
.order-item{
    height: 235px;
    background:url("../../../../img/hd/AppointmentRegister/V8/order-list-no-choose.png") no-repeat;
    background-size: 1100px 240px;
    padding: 15px 0 0 40px;
}
.info{
    font-size: 30px;
    font-weight: 400;
    line-height: 51px;
    color: #FFFFFF;
}
.tips{
    position: absolute;
    top: 300px;
    width: 1120px;
    text-align: center;
}