* {
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
}

#default_focus {
    position: absolute;
    top: 0px;
    left: 0px;
    outline: none !important;
    width: 1280px;
    height: 720px;
}

.btn-only {
    position: absolute;
    top: 416px;
    left: 543px;
    outline: none !important;
    width: 179px;
    height: 72px;
}

.btn-only2 {
    position: absolute;
    top: 478px;
    left: 574px;
    outline: none !important;
    width: 179px;
    height: 72px;
}

.btn-left {
    position: absolute;
    top: 500px;
    left: 460px;
    outline: none !important;
    width: 179px;
    height: 72px;
}

.btn-right {
    position: absolute;
    top: 500px;
    left: 670px;
    outline: none !important;
    width: 179px;
    height: 72px;
}

.btn-success {
    position: absolute;
    top: 476px;
    left: 660px;
    outline: none !important;
    width: 187px;
    height: 74px;
}

.introduce {
    position: absolute;
    top: 260px;
    left: 188px;
    outline: none !important;
    width: 891px;
    height: 320px;
}

.introduce2 {
    position: absolute;
    top: 270px;
    left: 374px;
    outline: none !important;
    width: 540px;
    height: 141px;
}

.introduce-success {
    position: absolute;
    top: 234px;
    left: 499px;
    outline: none !important;
    width: 480px;
    font-size: 29px;
    color: #414141;
    text-align: center;
    line-height: 55px;
}

.btn-one {
    position: absolute;
    top: 434px;
    left: 454px;
    outline: none !important;
    width: 179px;
    height: 72px;
}

.btn-two {
    position: absolute;
    top: 434px;
    left: 634px;
    outline: none !important;
    width: 179px;
    height: 72px;
}

#searchText {
    width: 240px;
    height: 30px;
    z-index: 999;
    position: absolute;
    top: 376px;
    left: 568px;
    font-size: 22px;
    background: transparent;
    border: none;
    outline: none;
    line-height: 30px;
    color: #4c4c4c;
    border-radius: 5px;
    overflow: hidden;
    text-indent: 10px;
}

.introduce-price-text {
    position: absolute;
    top: 395px;
    left: 800px;
    outline: none !important;
    width: 100px;
    height: 100px;
}

#myPhone {
    position: absolute;
    font-size: 18px;
    color: #414141;
    top: 355px;
    left: 597px
}

.introduce-price-name {
    font-size: 47px;
    color: #fc5f1a;
}

.key-table tr td {
    width: 50px;
    text-align: center;
    font-size: 30px
}

#top {
    position: absolute;
    z-index: 999
}

.detail-table {
    position: absolute;
    top: 210px;
    left: 335px;
    outline: none !important;
    width: 670px;
}

.detail-table tr td {
    height: 5px;
    font-size: 25px;
    color: #000000;
    width: 670px;
    line-height: 30px
}

.btn_back {
    position: absolute;
    top: 71px;
    left: 926px;
    outline: none !important;
    width: 50px;
    height: 50px;
}

.introduce-pay {
    position: absolute;
    top: 253px;
    left: 457px;
    outline: none !important;
    width: 400px;
    font-size: 33px;
    color: #414141;
    text-align: center;
    line-height: 60px;
}

#tip_test {
    position: absolute;
    top: 150px;
    left: 544px;
    outline: none !important;
    width: 190px;
    height: 60px;
}

#choose_order_test {
    position: absolute;
    top: 260px;
    left: 385px;
    outline: none !important;
    width: 540px;
    height: 141px;
}

#pay-one {
    position: absolute;
    top: 274px;
    left: 414px;
    outline: none !important;
    width: 196px;
    height: 210px;
}

#pay-two {
    position: absolute;
    top: 274px;
    left: 719px;
    outline: none !important;
    width: 196px;
    height: 210px;
}

#pay-three {
    position: absolute;
    top: 490px;
    left: 414px;
    outline: none !important;
    width: 196px;
    height: 210px;
}

#pay-four {
    position: absolute;
    top: 490px;
    left: 719px;
    outline: none !important;
    width: 196px;
    height: 210px;
}

#pay-back {
    position: absolute;
    top: 71px;
    left: 926px;
    outline: none !important;
    width: 50px;
    height: 50px;
}

.book_text {
    position: absolute;
    top: 243px;
    left: 606px;
    outline: none !important;
    font-size: 33px;
    color: #414141;
    text-align: center;
}

.book_text_name {
    position: absolute;
    top: 238px;
    left: 706px;
    outline: none !important;
    font-size: 40px;
    color: #e21212;
    text-align: center;
    font-weight: bold;
}

.price_word {
    position: absolute;
    top: 253px;
    left: 666px;
    width: 270px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    z-index: 1;
}

.price_introduce {
    position: absolute;
    top: 333px;
    left: 459px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    z-index: 5;
}