body {
    width: 644px;
    height: 530px;
}

body > *,
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 644px;
    height: 530px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

/*活动首页*/
#btn_back{
    top:30px;
    left: 477px;
}

#btn_activity_rule{
    top:92px;
    left: 477px;
}

#btn_winner_list{
    top:153px;
    left: 477px;
}

/*剩余次数*/
#left_times {
    top: 53px;
    left: 50px;
    width: 44px;
    height: 44px;
    color: #7a3d00;
    font-size: 19px;
    font-weight: bold;
}

/*树按钮*/
#btn_tree_1{
    top: 222px;
    left: 67px;
}

#btn_tree_2{
    top: 224px;
    left: 237px;
}

#btn_tree_3{
    top: 242px;
    left: 465px;
}

#btn_tree_4{
    top: 346px;
    left: 7px;
}

#btn_tree_5{
    top: 377px;
    left: 180px;
}

#btn_tree_6{
    top: 365px;
    left: 350px;
}


/*活动规则*/
#btn_close_rule {
    top: 12px;
    left: 557px;
}

/*中奖名单*/
#total_list {
    top: 130px;
    left: 75px;
}

#all_marquee {
    height: 132px;
}

#my_marquee {
    height: 40px;
}

table.marquee_table {
    width: 464px;
    /*border: 1px red solid;*/
}

table#all_table tr {
    height: 40px;
}

table.marquee_table td {
    width: 232px;
    margin-right: 10px;
    text-align: center;
    color: #4864cc;
    font-size: 14px;
}

#my_list {
    top: 332px;
    left: 75px;
    font-size: 14px;
    color: #4864cc;
    text-align: center;
}

#reset_tel {
    color: #4864cc;
    top: 370px;
    left: 280px;
    width: 244px;
    height: 27px;
    line-height: 36px;
    font-size: 14px;
    text-align: left;
}

#btn_list_submit {
    top: 414px;
    left: 140px;
}

#btn_list_cancel {
    top: 414px;
    left: 360px;
}

/*游戏结束*/
#btn_game_over_sure {
    top: 330px;
    left: 240px;
}

/*游戏页*/
#game_countdown {
    top: 162px;
    left: 435px;
    color: #cc3d55;
    font-size: 28px;
    font-weight: bold;
}
#game_times_count{
    top: 292px;
    left: 274px;
    width: 44px;
    height: 44px;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}

/*游戏失败*/
#btn_game_fail_sure {
    top: 330px;
    left: 240px;
}

/*游戏成功*/
#btn_lottery_sure {
    top: 330px;
    left: 240px;
}

#btn_lottery_exit {
    visibility: hidden;
    top: 441px;
    left: 666px;

}

/*抽奖成功*/
#prize_image {
    top: 48px;
    left: 254px;
}

#lottery_tel {
    color: #4864cc;
    top: 324px;
    left: 316px;
    width: 244px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-align: left;
}

#btn_lottery_submit {
    top: 380px;
    left: 142px;
}

#btn_lottery_cancel {
    top: 380px;
    left: 340px;
}

/*抽奖失败*/
#btn_lottery_fail {
    top: 330px;
    left: 240px;
}


/*订购VIP*/
#btn_order_submit {
    top: 316px;
    left: 148px;
}

#btn_order_cancel {
    top: 316px;
    left: 346px;
}

/*倒计时弹窗*/
#count {
    width: 44px;
    height: 44px;
    top: 210px;
    left: 324px;
    color: #157ad9;
    font-size: 38px;
    font-weight: bold;
}
*img{
    border: none;
    outline: none;
}

#first_page_winner{
    top: 496px;
    left: 73px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    width: 500px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /*border: 1px red solid;*/
}

#move_cursor{
    top: 496px;
    left: 73px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    width: 500px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /*border: 1px red solid;*/
}