<div class="nav-content">
    <div class="nav-tool">
        <img class="logo" src="__ROOT__/Public/img/hd/Home/V28/LOGO.png"/>
        <div class="notice">
            <img class="notice-icon" src="__ROOT__/Public/img/hd/Home/V20/Nav/vioce.png"/>
            <marquee id="notice"></marquee>
        </div>

        <div class="tool-list">
            <img id="check-day" class="btn" src="__ROOT__/Public/img/hd/Home/V28/check-day.png"/>
            <img id="search" class="btn" src="__ROOT__/Public/img/hd/Home/V28/search.png"/>
            <img id="vip" class="btn" src="__ROOT__/Public/img/hd/Home/V28/vip.png"/>
            <img id="collection" class="btn" src="__ROOT__/Public/img/hd/Home/V28/collect.png"/>
            <img id="history" class="btn" src="__ROOT__/Public/img/hd/Home/V28/history.png"/>
            <if condition="$areaCode eq 201">
                <img id="unreg" class="btn" src="__ROOT__/Public/img/hd/Home/V28/unreg.png">
            </if>
            <!--            <img id="data" class="btn" src="__ROOT__/Public/img/hd/Home/V22/Home/data.png"/>-->
        </div>

    </div>

    <div id="nav-content-tabs">

    </div>
</div>
<script type="text/javascript">
    var smallVideoTimer = null; // 小窗播放定时器
    var getJumpKeepFocusTabId = LMEPG.Func.getLocationString('tabId');  // 得到跳转页面回来的tab焦点
    var pathPrefix = '__ROOT__/Public/img/hd/Home/V28/'
    var previousTabIndex = "";
    var isStartSmallVideo = false;
    var isTab0TurnPages = false;
    var isSmallVideo = false;
    var cutDown = 5;
    var tempId = '';
    var timer = null

    /*导航栏得失焦点回调操作*/
    function tabGetFocus(btn, hasFocus) {
        LMEPG.ButtonManager.setSelected(btn.id, true);
        // 当前导航条的索引
        var currentTabIndex = btn.id.slice(-1);

        if (hasFocus) {
            // 调用内容块控制器
            tabContentController(currentTabIndex);

            // 重置小窗播放的内容块
            reBuildSmallVideo(currentTabIndex);

            // 设置不同内容块背景图
            setBodyBackgroundImage(currentTabIndex);

            // 初始化变量
            initializationVariable(btn);
        } else {
            tabLoseFocus(btn, currentTabIndex);
        }
    }

    function tabMove(dir){
        if(dir === 'left' || dir === 'right'){
            Tab0.showTabContent(0);
            LMEPG.BM.getButtonById("tab-0").nextFocusDown = 'tab0-recommended-1';
            Tab1.showTabContent(0);
            LMEPG.BM.getButtonById("tab-1").nextFocusDown = 'tab1-recommended-1';
            Tab3.showTabContent(0);
            LMEPG.BM.getButtonById("tab-3").nextFocusDown = 'tab3-recommended-1';
            G("tab-4-scroll").style.left = "100px";
            Tab4.index=0
            LMEPG.BM.getButtonById("tab-4").nextFocusDown = 'tab4-recommended-4-list-1';
        }

    }


    /*内容块显隐控制器*/
    function tabContentController(index) {
        var isShowDisplay = G('content-' + index).style.display;
        if (isShowDisplay === 'none' || !isShowDisplay) {
            Hide('content-' + previousTabIndex); // 隐藏上一个tabContent
            Show('content-' + index); // 显示当前tabContent
        }
    }

    /*导航栏失去焦点*/
    function tabLoseFocus(btn, index) {
        // 焦点离开导航设置焦点保持
        previousTabIndex = index;
    }

    /**
     * 销毁/重启小窗播放
     */
    function reBuildSmallVideo(index) {
        clearInterval(smallVideoTimer);
        if (!+index) {
            //if (index == previousTabIndex) return;
            // 每次加载Tab0页面，开启小窗播放
            if (isTab0TurnPages) return;
            if (isStartSmallVideo) return;
            Play.startPollPlay();
            isStartSmallVideo = true;
        } else {
            smallVideoTimer = setInterval(function () {
                LMEPG.mp.destroy();
                isStartSmallVideo = false;
            }, 100);
        }
    }

    /*为不同tab设置不同背景图，主要是tab0有小窗，背景图为镂空的*/
    function setBodyBackgroundImage(index) {
        var imgPrefix = '/Public/img/hd/Home/V22/Common/';
        if(typeof RenderParam.themeImage == "string"){
            RenderParam.themeImage = JSON.parse(RenderParam.themeImage);
        }
        if(typeof index == "string"){
            index = parseInt(index);
        }
        if(!isStartSmallVideo && index == 0){
            index = index+1;
        }

        if(LMEPG.Func.isEmpty(RenderParam.themeImage)){
            document.body.style.backgroundImage = 'url(' + imgPrefix + 'bg_' + (parseInt(index)+1) + '.png' + ')';
        }else {
            document.body.style.backgroundImage = 'url(' + RenderParam.fsUrl + RenderParam.themeImage[index] + ')';
        }
    }

    /*得到焦点初始化*/
    function initializationVariable(btn) {
        thisNavID = btn.id; // 标记当前焦点的ID
    }

    /*小图标功能区得失焦点*/
    function onFocusIn(btn, hasFocus) {
        initDownFocusObj(btn);
    }

    /*小图标下移（搜索左移动）到当前对应内容块导航焦点上*/
    function initDownFocusObj(btn) {
        LMEPG.BM.getButtonById(btn.id).nextFocusDown = 'tab-' + previousTabIndex;
    }


    /*获取当前页*/
    function getCurPageObj() {
        var objCurrent = LMEPG.Intent.createIntent('home');
        objCurrent.setParam('focusId', LMEPG.BM.getCurrentButton().id);
        objCurrent.setParam('tabId', thisNavID);
        objCurrent.setParam('tabScroll', parseInt(G(thisNavID + "-scroll").style.left));
        // objCurrent.setParam('bottomPage', +Tab1.bottomPage);
        return objCurrent;
    }

    /*小图标跳转页面*/
    function jumpPageUI(btn) {
        var currentObj = getCurPageObj(btn);
        currentObj.setParam('tabScroll', 100);
        // 通过点击对象id,设置跳转页面对象
        var jumpPageObj = {
            'search': 'search',
            'vip': 'orderHome',
            'collection': 'collect',
            'history': 'historyPlay',
            'data': 'familyEdit',
            'check-day':'dateMark'
        };
        var jumpAgreementObj = LMEPG.Intent.createIntent(jumpPageObj[btn.id]);
        // 跳转的订购页面
        if (jumpPageObj[btn.id] == 'orderHome') {
            if (LMEPG.Func.isAllowAccess(RenderParam.isVip, ACCESS_NO_TYPE)) {
                modal.commonDialog({
                    beClickBtnId: btn.id,
                    onClick: modal.hide
                }, '<span style="color: #ef6188">您已是VIP会员，不能重复订购</span>');
                return;
            } else {
                jumpAgreementObj.setParam('userId', RenderParam.userId);
                jumpAgreementObj.setParam('isPlaying', '0');
                jumpAgreementObj.setParam('remark', '主动订购');
            }
        }
        LMEPG.Intent.jump(jumpAgreementObj, currentObj);
    }

    var buttons = [];

    var Head = {
        init: function () {
            try {
                if(RenderParam.areaCode == '201'){
                    Head.modifyButtonsClass();
                }
                this.initMarquee();
                this.createHtml();
                Head.initButton();
            } catch (e) {

            }
        },

        /** 跑马灯信息初始化 */
        initMarquee: function () {
            LMEPG.ajax.postAPI('Common/getMarqueeContent', {}, function (data) {
                G('notice').innerHTML = data.content ;
            }, function (errorInfo) {
                LMEPG.Log.error("getMarquee error: " + errorInfo)
            })
        },
        modifyButtonsClass: function () {
            var btnclass = document.getElementsByClassName('tool-list');
            for( var i = 0; i < btnclass.length ; i += 1 ){
                btnclass[i].style.left = '504px';
                btnclass[i].style.width = '703px';
            }

            btnclass = document.getElementsByClassName('point-area');
            for( var i = 0; i < btnclass.length ; i += 1 ){
                btnclass[i].style.zIndex = 0;
            }
        },

        /**
         * 退订
         * @param btn
         */
        cancelOrderProduct: function (btn) {
            modal.commonDialog_11000051({
                beClickBtnId: btn.id,
                onClick: function () {
                    LMEPG.UI.showWaitingDialog();
                    LMEPG.ajax.postAPI('Pay/cancelOrderProduct', null, function (data) {
                        // 把data转成json对象
                        data = data instanceof Object ? data : JSON.parse(data);
                        // 退订成功
                        if (data.result == 0 ) {
                            RenderParam.isVip=0;
                            //G("vip").style.display = "inline-block";
                            //G("unreg").style.display = "none";
                            var tips1 = '恭喜您退订乐动传奇成功!';
                        } else if(data.result == 10030102) {
                            RenderParam.isVip=0;
                            var tips1 = '未订购该产品，退订失败!';
                        } else {
                            var tips1 = '退订失败，请重试！';
                        }
                        modal.textDialogWithSure_11000051({beClickBtnId: btn.id, onClick: Head.init()}, "", tips1);
                        LMEPG.UI.dismissWaitingDialog();
                    });
                }
            }, '', '您确定要终止续订乐动传奇吗？', '');
        },

        createHtml: function () {
            if (RenderParam.navConfig && RenderParam.navConfig.length > 0) {
                G("nav-content-tabs").innerHTML = "";
                var strHtml = "";
                for (var i = 0; i < RenderParam.navConfig.length; i++) {
                    strHtml += '<img id="tab-'+(parseInt(RenderParam.navConfig[i].navigate_id)-1)+ '" src="' + RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[i].img_url).normal + '">'
                }
                G("nav-content-tabs").innerHTML = strHtml;
            } else {
                LMEPG.UI.showToast("导航栏数据拉取失败！")
            }
        },
        renderList: function (data, id) {
            for (var i = 0; i < data.length; i++) {
                console.log(id + (i + 1))
                G(id + (i + 1)).src = RenderParam.fsUrl + JSON.parse(data[i].img_url).normal;
                // LMEPG.BM.getButtonById(id + (i + 1)).cBanner = data[i];
            }
        },

        initButton: function () {

            buttons.push({
                id: 'pop-back',
                type: 'img',
                nextFocusLeft: '',
                nextFocusRight: 'pop-continue',
                nextFocusUp: '',
                backgroundImage: "/Public/img/hd/Home/V25/back.png",
                focusImage: "/Public/img/hd/Home/V25/back-choose.png",
                click: function () {
                    LMEPG.Intent.back('IPTVPortal')
                },
                focusChange: '',
                beforeMoveChange: '',
                moveChange: "",
            }, {
                id: 'pop-continue',
                type: 'img',
                nextFocusLeft: 'pop-back',
                nextFocusRight: '',
                nextFocusUp: '',
                backgroundImage: "/Public/img/hd/Home/V25/continue.png",
                focusImage: "/Public/img/hd/Home/V25/continue-choose.png",
                click: function () {
                    H('pop')
                    clearInterval(timer)
                    cutDown = 5
                    LMEPG.BM.requestFocus(tempId)
                },
                focusChange: '',
                beforeMoveChange: '',
                moveChange: "",
            })

            buttons.push({
                id: 'check-day',
                name: '签到',
                type: 'img',
                nextFocusLeft: '',
                nextFocusRight: 'search',
                nextFocusDown: 'tab-0',
                backgroundImage: pathPrefix + 'check-day.png',
                focusImage: pathPrefix + 'check-day-f.png',
                click: jumpPageUI,
                focusChange: onFocusIn
            })

            buttons.push({
                id: 'search',
                name: '搜索图标',
                type: 'img',
                nextFocusLeft: 'check-day',
                nextFocusRight: 'vip',
                nextFocusDown: 'tab-0',
                backgroundImage: pathPrefix + 'search.png',
                focusImage: pathPrefix + 'search_f.png',
                click: jumpPageUI,
                focusChange: onFocusIn
            });
            buttons.push({
                id: 'vip',
                name: 'VIP图标',
                type: 'img',
                nextFocusLeft: 'search',
                nextFocusRight: 'collection',
                nextFocusDown: 'tab-0',
                backgroundImage: pathPrefix + 'vip.png',
                focusImage: pathPrefix + 'vip_f.png',
                click: jumpPageUI,
                focusChange: onFocusIn
            });
            buttons.push({
                id: 'collection',
                name: '收藏',
                type: 'img',
                nextFocusLeft: 'vip',
                nextFocusRight: 'history',
                nextFocusDown: 'tab-0',
                backgroundImage: pathPrefix + 'collect.png',
                focusImage: pathPrefix + 'collect_f.png',
                click: jumpPageUI,
                focusChange: onFocusIn
            });
            buttons.push({
                id: 'history',
                name: '历史',
                type: 'img',
                nextFocusLeft: 'collection',
                nextFocusRight: RenderParam.areaCode == '201'?"unreg":"data",
                nextFocusUp: '',
                nextFocusDown: 'tab-0',
                backgroundImage: pathPrefix + 'history.png',
                focusImage: pathPrefix + 'history_f.png',
                click: jumpPageUI,
                focusChange: onFocusIn
            });
            buttons.push({
                id: 'unreg',
                name: '退订',
                type: 'img',
                nextFocusLeft: 'history',
                nextFocusRight: "data",
                nextFocusUp: '',
                nextFocusDown: 'tab-0',
                backgroundImage: pathPrefix + 'unreg.png',
                focusImage: pathPrefix + 'unreg_f.png',
                click: Head.cancelOrderProduct,
                focusChange: onFocusIn
            });
            buttons.push({
                id: 'data',
                name: '数据',
                type: 'img',
                nextFocusLeft: 'history',
                nextFocusRight: "",
                nextFocusUp: '',
                nextFocusDown: 'tab-0',
                backgroundImage: pathPrefix + 'data.png',
                focusImage: pathPrefix + 'data_f.png',
                click: jumpPageUI,
                focusChange: onFocusIn
            });
            buttons.push({
                id: 'tab-0',
                name: '第一个导航',
                type: 'img',
                nextFocusLeft: 'tab-4',
                nextFocusRight: 'tab-1',
                nextFocusUp: 'check-day',
                nextFocusDown: 'tab0-recommended-1',
                backgroundImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[0].img_url).normal,
                focusImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[0].img_url).focus_in,
                selectedImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[0].img_url).focus_out,
                groupId: "nav",
                focusChange: tabGetFocus,
                beforeMoveChange:tabMove,
            });
            buttons.push({
                id: 'tab-1',
                name: '第二个导航',
                type: 'img',
                nextFocusLeft: 'tab-0',
                nextFocusRight: 'tab-3',
                nextFocusUp: 'check-day',
                nextFocusDown: 'tab1-recommended-1',
                backgroundImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[1].img_url).normal,
                focusImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[1].img_url).focus_in,
                selectedImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[1].img_url).focus_out,
                groupId: "nav",
                focusChange: tabGetFocus,
                beforeMoveChange:tabMove,
            });

            buttons.push({
                id: 'tab-3',
                name: '第四个导航',
                type: 'img',
                nextFocusLeft: 'tab-1',
                nextFocusRight: 'tab-4',
                nextFocusUp: 'check-day',
                nextFocusDown: 'tab3-recommended-1',
                backgroundImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[2].img_url).normal,
                focusImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[2].img_url).focus_in,
                selectedImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[2].img_url).focus_out,
                groupId: "nav",
                focusChange: tabGetFocus,
                beforeMoveChange:tabMove,
            });

            buttons.push({
                id: 'tab-4',
                name: '第四个导航',
                type: 'img',
                nextFocusLeft: 'tab-3',
                nextFocusRight: 'tab-0',
                nextFocusUp: 'check-day',
                nextFocusDown: 'tab4-recommended-4-list-1',
                backgroundImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[3].img_url).normal,
                focusImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[3].img_url).focus_in,
                selectedImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[3].img_url).focus_out,
                groupId: "nav",
                focusChange: tabGetFocus,
                beforeMoveChange:tabMove,
            });
            buttons.push({
                id: 'tab-5',
                name: '第五个导航',
                type: 'img',
                nextFocusLeft: 'tab-4',
                nextFocusRight: 'tab-0',
                nextFocusUp: 'check-day',
                nextFocusDown: 'tab5-recommended-1',
                backgroundImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[5].img_url).normal,
                focusImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[5].img_url).focus_in,
                selectedImage: RenderParam.fsUrl + JSON.parse(RenderParam.navConfig[5].img_url).focus_out,
                groupId: "nav",
                focusChange: tabGetFocus,
                beforeMoveChange:tabMove,
            });
        },
        recdFocus: function (btn, hasFocus) {
            var btnElement = G(btn.id);
            if (hasFocus) {
                if(isSmallVideo && btn.id == 'tab0-recommended-1'){
                    btnElement.setAttribute('class', 'small-video-focus');
                }else{
                    btnElement.setAttribute('class', 'focus');
                }
            } else {
                LMEPG.UI.Marquee.stop();
                btnElement.setAttribute('class', 'recommended-img');
            }
        },

    }

    LMEPG.KeyEventManager.addKeyEvent(
        {
            KEY_1:' keyClick()',
            KEY_2: 'keyClick()',
            KEY_4: 'keyClick()',
            KEY_5: 'keyClick()',
            KEY_6: 'keyClick()',
            KEY_7: 'keyClick()',
            KEY_8: 'keyClick()',
            KEY_9: 'keyClick()',
            KEY_0: 'keyClick()',
        });


    function keyClick() {
        if(RenderParam.areaCode === '201'){
            S('pop')
            G('cut-down').innerHTML = cutDown
            tempId = LMEPG.BM.getCurrentButton().id
            LMEPG.BM.requestFocus('pop-back')

            timer = setInterval(function () {
                cutDown--
                G('cut-down').innerHTML = cutDown;
                if(cutDown < 0){
                    //H('pop')
                    clearInterval(timer)
                    //LMEPG.Intent.back('IPTVPortal')
                }

            },1000)
        }
    }
</script>
