* {
    font-family: "Source Han Sans CN";
    padding: 0px;
    margin: 0px;
    outline: none !important;
    -webkit-shape-outside: none;
}

body {
    height: 720px;
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
}

#tabConent {
    position: absolute;
    top: 479px;
    left: 104px;
}

#tabConent img{
    margin-right: 41px;
}

#videoTv {
    position: absolute;
    top: 38px;
    left: 887px;
    z-index: 0;
    outline: none !important;
    width: 379px;
    height: 321px;
}

#back {
    position: absolute;
    top: 12px;
    left:1147px;
    z-index: 0;
    outline: none !important;
    width: 109px;
    height: 80px;

}

#page-left{
    position: absolute;
    top: 554px;
    left: 17px;
    z-index: 0;
    outline: none !important;
    width: 54px;
    height: 93px;
}
#page-right{
    position: absolute;
    top: 554px;
    left: 1209px;
    z-index: 0;
    outline: none !important;
    width: 54px;
    height: 93px;
}


