<style type="text/css">

    body {
        background-image: url("{$activityFsImg}{$platformType}/bg_home.png");
    }

    /*====游戏====*/
    #modal-game {
        background-image: url("{$activityFsImg}{$platformType}/bg_game.png");
    }

    /*====中奖名单====*/
    #modal-list {
        background-image: url("{$activityFsImg}{$platformType}/m_win_list.png");
    }

    /*====倒计时====*/
    #modal-cd {
        background-image: url("{$activityFsImg}{$platformType}/m_cd_bg.png");
    }

    /*====VIP没有游戏次数====*/
    #modal-vip-notimes {
        background-image: url("{$activityFsImg}{$platformType}/m_no_times.png");
    }

    /*====普通用户没有游戏次数====*/
    #modal-pay-notimes {
        background-image: url("{$activityFsImg}{$platformType}/m_pay_vip.png");
    }

    /*====抽奖成功====*/
    #modal-lottery-success {
        background-image: url("{$activityFsImg}/{$platformType}/m_lottery_success.png");
    }

    /*====抽奖失败====*/
    #modal-lottery-lose {
        background-image: url("{$activityFsImg}/{$platformType}/m_lottery_lose.png");
    }

    /*====活动规则====*/
    #modal-rule {
        background-image: url("{$activityFsImg}{$platformType}/V{$carrierId}/m_rule.png");
    }

    /*====完成游戏界面===*/
    #modal-game-success {
        background-image: url("{$activityFsImg}/{$platformType}/m_complete.png");
    }

    /*====未完成游戏界面===*/
    #modal-game-lose {
        background-image: url("{$activityFsImg}{$platformType}/m_uncomplete.png");
    }

    /*====游戏数据背景===*/
    #hole li.active {
        background-image: url("{$activityFsImg}{$platformType}/crash_common.png");
    }

    /*====游戏数据背景===*/
    #hole li.success {
        background-image: url("{$activityFsImg}{$platformType}/crash_success.png");
    }

</style>