<div id="header-container">
    <div id="app-logo">
        <img id="app-logo-img" src="__ROOT__/Public/img/Common/spacer.gif">
    </div>
    <div id="top-action-content-icons">
        <img id="search" src="__ROOT__/Public/img/hd/Home/V13/Home/search.png">
<!--        <img id="mark" src="__ROOT__/Public/img/hd/Home/V13/Home/mark.png">-->
        <img id="vip" src="__ROOT__/Public/img/hd/Home/V13/Home/vip.png">
        <img id="store" src="__ROOT__/Public/img/hd/Home/V13/Home/store.png">
        <img id="set" src="__ROOT__/Public/img/hd/Home/V13/Home/set.png">
        <img id="help" src="__ROOT__/Public/img/hd/Home/V13/Home/help.png">
    </div>
</div>
<div id="bottom-container">
    <div class="marquee-wrapper">
        <marquee scrollamount="4"><?php echo $marqueeText ?></marquee>
    </div>
    <p style="visibility: hidden;" class="service-tel">客服电话：400-016-0700</p>
</div>
<script type="text/javascript">
    window.lmcid = window.lmcid || get_carrier_id();
    /**
     * 帮助处理逻辑对象
     */
    var HelpModal = {
        tab0FirstEnter: 0,
        tab1FirstEnter: 0,
        tab2FirstEnter: 0,
        tab3FirstEnter: 0,
        count: 0,
        previousFocusIndex: '',
        showTabHelp: function () {
            var self = HelpModal;
            var index = cutLastStr(thisNavID);                 // 得到当前tab导航对应的索引
            var curTabEnter = self.getCurrentSign(index);      // 得到当前tab对应的判断标识
            var curTabPrefix = self.getCurrentTabId(index);    // 得到当前tab对应的图片ID前缀
            if (self[curTabEnter]) {
                return;                                        // 不是首次进入不做什么
            }
            self.updateHelpImg(curTabPrefix);                  // 任意键更新下一个帮助图片
            self.previousFocusIndex = self.count++;
            self.isLastHelpModal(curTabPrefix, curTabEnter);
            return false;
        },
        updateHelpImg: function (curTabPrefix) {
            LMEPG.BM.requestFocus('debug');                    // 焦点移到脚手架上
            H(curTabPrefix + this.previousFocusIndex);         // 隐藏上一个tab对应的帮助图片
            S(curTabPrefix + this.count);                      // 显示当前索引帮助图片
        },
        getCurrentSign: function (index) {
            return 'tab' + index + 'FirstEnter';
        },
        getCurrentTabId: function (index) {
            return 'tab' + index + '-help';
        },
        isLastHelpModal: function (curTabPrefix, curTabEnter) {
            if (!G(curTabPrefix + (this.count - 1))) {
                this[curTabEnter] = 1;                        // 标记已经进入过了（模拟异步）
                LMEPG.UI.showWaitingDialog();
                this.upLoadFirstEnter();                      // 保存用户已经进入过的导航(确保下次不再弹出)
            }
        },
        upLoadFirstEnter: function () {
            var reqData = {
                'key': thisNavID,
                'value': thisNavID
            };
            LMEPG.ajax.postAPI('User/saveStoreData', reqData,
                function (rsp) {
                    try {
                        var data = rsp instanceof Object ? rsp : JSON.parse(rsp);
                        var result = data.result;
                        LMEPG.UI.dismissWaitingDialog();
                        console.log(reqData, result, thisNavID);
                        LMEPG.BM.requestFocus(thisNavID);// 没有了帮助图文且成功存储则焦点送回
                    } catch (e) {
                        // 调试else nothing
                    }
                },
                function (rsp) {
                    console.log('--->上报首次进入错误！rsp:' + rsp.toString());
                    LMEPG.Log.info('--->上报首次进入错误！rsp:' + rsp.toString());
                }
            );
        }
    };

    var thisNavID;                                                      // 跳转记录当前导航条焦点
    var navIsLeave;                                                     // 导航条是否离开
    var previousTabIndex;                                               // 上一个导航焦点
    var callbackOnce = true;                                            // 声明执行一次函数
    var isFirstLoadTab0 = true;                                         // 标记是否是第一次加载tab0页面
    var getJumpKeepFocusTabId = LMEPG.Func.getLocationString('tabId');  // 得到跳转页面回来的tab焦点
    var ScrollControl = {
        scrollArray: [20, -645, -1245, -1845],
        moveChange: function (dir, btn) {
            if (dir == "up") {
                if (btn.id.substr(0, 9) == "tab1-link" || btn.id == "hot-0") {
                    showTabContent("tab-0");
                }

            } else if (dir == "down") {
                if (btn.id.substr(0, 7) == "b-link-") {
                    showTabContent("tab-1");
                }

            }
        },
    }

    /*导航栏得失焦点回调操作*/
    function showTabContent(tab) {
        var currentTabIndex = cutLastStr(tab); // 当前导航条的索引
        // lazyLoad(currentTabIndex);
        startTimer(currentTabIndex); // 启动当前内容块轮播
        tabGetFocus(currentTabIndex);
        G("scroll").style.top = ScrollControl.scrollArray[currentTabIndex] + "px";
        if (currentTabIndex == 3) {
            Hide("next");
        } else {
            Show("next")
        }
    }

    // 各屏幕数据懒加载
    function lazyLoad(index) {
        if (!eval('Tab' + index).isLoad) {
            eval('Tab' + index).init();
            eval('Tab' + index).isLoad = true;
            LMEPG.ButtonManager.init(this.tabId, buttons, '', true);
        }
    }

    /*导航栏得到焦点*/
    function tabGetFocus(index) {
        if (index == 0 && thisNavID != 'tab-0' && !Tab0.isHideSmallVideo) {
            // 每次加载Tab0页面，开启小窗播放
            Play.initSmartPlayData();
        } else {
            LMAndroid.hideSmallVideo();
        }
        setBodyBackgroundImage(index);
        initPath("tab-" + index);
        if (RenderParam.carrierId != "430012" || RenderParam.carrierId != "220001") {
            // HelpModal.showTabHelp(index);
        }
    }

    /*得到焦点初始化*/
    function initPath(btn) {
        thisNavID = btn;                 // 标记当前焦点的ID
        HelpModal.count = 0;                // 初始话当前帮助索引为零
        navIsLeave = false;                 // 导航得到焦点标记离开状态为false
    }

    /*为不同tab设置不同背景图，主要是tab0有小窗，背景图为镂空的*/
    function setBodyBackgroundImage(index) {
        // 焦点在本栏目内容区移到自身tab 不需要做背景图的渲染
        if (index == previousTabIndex) return;
        //+--------------------主页的背景图设置规则----------------------
        //优先级：系统配置背景图>自定义皮肤>默认
        //+-------------------------------------------------------------
        var tabStrIndex = 'tab' + (parseInt(index) + 1) + 'Bg';
        var bgImg = ROOT + '/Public/img/hd/Home/V13/Home/bg.png';
        if (!LMEPG.Func.isEmpty(RenderParam[tabStrIndex])) {
            bgImg = RenderParam.fsUrl + RenderParam[tabStrIndex];
        } else if (!LMEPG.Func.isEmpty(RenderParam.skin.cpbjt) || !LMEPG.Func.isEmpty(RenderParam.skin.sy)) {
            index == 0 ? bgImg = RenderParam.fsUrl + RenderParam.skin.sy : bgImg = RenderParam.fsUrl + RenderParam.skin.cpbjt;
        } else {
            index == 0 ? bgImg = ROOT + '/Public/img/hd/Home/V16/bg.png' : null;
        }
        document.body.style.backgroundImage = 'url(' + bgImg + ')';
    }

    /*启动轮播*/
    function startTimer(currentTabIndex) {
        clearInterval(Tab0.fadeToggle.timer);
        clearInterval(Tab1.fadeToggle.timer);
        if (currentTabIndex == 0) {
            Tab0.fadeToggle.loop();
        }
        if (currentTabIndex == 1) {
            Tab1.fadeToggle.loop();
        }
    }

    /*通用切换*/
    function toggleFocus(btn, hasFocus) {
        var btnElement = G(btn.id);
        if (hasFocus) {
            btnElement.setAttribute('class', 'focus');
            // btn-0显示总访问量
            var accessNum = G('access-num');
            if (accessNum != null) {
                if (btn.id == 'tab-0' || (previousTabIndex == 0 && !/^tab-[1-3]$/.test(btn.id))) {
                    S('access-num');
                } else {
                    H('access-num');
                }
            }
        } else {
            btnElement.removeAttribute('class');
        }
    }

    /*Header区域按钮移动事件(Added by Songhui on 2020-3-15)*/
    function onBeforeMoveChanged_Header(dir, current) {
        if (dir !== 'left' && dir !== 'right') {
            // Not handle
            return;
        }

        // 注：处理屏蔽某些平台隐藏的工具栏按钮功能，但用户体验上仍可继续移动。即，不触动原有的定死按钮间相互移动逻辑代码的基础上，
        // 直接进行中间拦截处理。（Added by songhui on 2020-3-15）
        window.hiddenToolbarBtns = window.hiddenToolbarBtns || hasHiddenBtnInToolbar();
        if (window.hiddenToolbarBtns.length > 0) {
            try {
                var getNextShownBtnIdInDirChain = function (dir, target) {
                    try {
                        var dirUpperLetter = dir.substring(0, 1).toUpperCase() + dir.substring(1);
                        var nextFocusingId = eval('target.nextFocus' + dirUpperLetter);
                        // console.debug('nextFocusingId:' + nextFocusingId);
                        return nextFocusingId;
                    } catch (e) {
                        console.error(e);
                    }
                };
                var dirUpperLetter = dir.substring(0, 1).toUpperCase() + dir.substring(1);
                var nextFocusingId = eval('current.nextFocus' + dirUpperLetter);
                if (LMEPG.Func.array.contains(nextFocusingId, window.hiddenToolbarBtns)) {
                    console.warn('[' + window.lmcid + '] not support focus to "' + nextFocusingId + '"!');
                    var nextFocusingBtn = LMEPG.BM.getButtonById(nextFocusingId);
                    (function findNextInDirChain(next) {
                        if (!next) return;
                        var nextNextId = getNextShownBtnIdInDirChain(dir, next);
                        if (!is_empty(nextNextId)) {
                            var nextNextBtn = LMEPG.BM.getButtonById(nextNextId);
                            if (nextNextBtn) {
                                if (is_element_exist(nextNextId)
                                    && (typeof isShow === "function" && isShow(nextNextId) || typeof isS === "function" && isS(nextNextId))) {
                                    console.debug('Found next nearby focusable btn: ' + nextNextId);
                                    LMEPG.BM.requestFocus(nextNextId);
                                    return false;
                                } else {
                                    console.error('"' + nextNextId + '" is not exist or already hidden!');
                                    findNextInDirChain(nextNextBtn);
                                }
                            }
                        }
                    })(nextFocusingBtn);
                    return false;
                }
            } catch (e) {
                console.error(e);
            }
        }
    }

    /*小图标功能区得失焦点*/
    function onFocusIn(btn, hasFocus) {
        toggleFocus(btn, hasFocus);
    }

    /*只执行一次函数*/
    function onceFn() {
        if (callbackOnce && getJumpKeepFocusTabId) {
            navIsLeave = true;
            callbackOnce = false;
            previousTabIndex = cutLastStr(getJumpKeepFocusTabId);
        }
    }

    /*截取最后一个字符串*/
    function cutLastStr(str) {
        return str.substr(str.length - 1);
    }

    /*获取当前页*/
    function getCurPageObj() {
        var objCurrent = LMEPG.Intent.createIntent('home');
        objCurrent.setParam('focusId', LMEPG.BM.getCurrentButton().id);
        objCurrent.setParam('tabId', thisNavID);
        objCurrent.setParam('curTab2CarouselId', curTab2CarouselId);
        objCurrent.setParam('moveCount', +Tab1.moveCount);
        return objCurrent;
    }

    /*小图标跳转页面*/
    function jumpPageUI(btn) {
        var currentObj = getCurPageObj(btn);
        // 通过点击对象id,设置跳转页面对象
        var jumpPageObj = {
            'search': 'search',
            'mark': 'dateMark',
            'vip': 'orderHome',
            'store': 'store',
            'set': 'custom',
            'help': 'helpIndex'
        };
        var jumpAgreementObj = LMEPG.Intent.createIntent(jumpPageObj[btn.id]);
        // 跳转的订购页面
        if (jumpPageObj[btn.id] == 'orderHome') {
            if (LMEPG.Func.isAllowAccess(RenderParam.isVip, ACCESS_NO_TYPE)) {
                modal.commonDialog({
                    beClickBtnId: btn.id,
                    onClick: modal.hide
                }, '<span style="color: #ef6188">您已是VIP会员，不能重复订购</span>', '海量健康资讯', '为您的家人健康保驾护航');
                return;
            } else {
                jumpAgreementObj.setParam('userId', RenderParam.userId);
                jumpAgreementObj.setParam('isPlaying', '0');
                jumpAgreementObj.setParam('remark', '主动订购');
            }
        }
        LMEPG.Intent.jump(jumpAgreementObj, currentObj);
    }

    // TODO 动态设置隐藏图标，各按钮的左右焦点根据程序动态设置
    var isHideStore = RenderParam.carrierId == "220001" || RenderParam.carrierId == "440004";
    var isHideHelp = RenderParam.carrierId == "220001" || RenderParam.carrierId == "440004";
    var isHideSet = RenderParam.carrierId == "220001" || RenderParam.carrierId == "440004";
    // var isHideMark = RenderParam.carrierId == "220001";

    if (isHideStore) Hide('store');
    if (isHideHelp) Hide('help');
    if (isHideSet) Hide('set');
    // if (isHideMark) Hide('mark');
    var buttons = [
        {
            id: 'search',
            name: '搜索图标',
            type: 'img',
            nextFocusLeft: 'vip',
            nextFocusRight: 'vip',
            nextFocusDown: 'video-TV',
            backgroundImage: ROOT + '/Public/img/hd/Home/V13/Home/search.png',
            focusImage: ROOT + '/Public/img/hd/Home/V13/Home/search_f.png',
            click: jumpPageUI,
            beforeMoveChange: onBeforeMoveChanged_Header,
            focusChange: onFocusIn
        }, {
            id: 'mark',
            name: '签到图标',
            type: 'img',
            nextFocusLeft: 'search',
            nextFocusRight: 'vip',
            nextFocusDown: 'video-TV',
            backgroundImage: ROOT + '/Public/img/hd/Home/V13/Home/mark.png',
            focusImage: ROOT + '/Public/img/hd/Home/V13/Home/mark_f.png',
            click: jumpPageUI,
            beforeMoveChange: onBeforeMoveChanged_Header,
            focusChange: onFocusIn
        }, {
            id: 'vip',
            name: 'VIP图标',
            type: 'img',
            nextFocusLeft: 'search',
            nextFocusRight: 'search',
            nextFocusDown: 'video-TV',
            backgroundImage: ROOT + '/Public/img/hd/Home/V13/Home/vip.png',
            focusImage: ROOT + '/Public/img/hd/Home/V13/Home/vip_f.png',
            click: jumpPageUI,
            beforeMoveChange: onBeforeMoveChanged_Header,
            focusChange: onFocusIn
        }, {
            id: 'store',
            name: '商城图标',
            type: 'img',
            nextFocusLeft: 'vip',
            nextFocusRight: 'set',
            nextFocusDown: 'video-TV',
            backgroundImage: ROOT + '/Public/img/hd/Home/V13/Home/store.png',
            focusImage: ROOT + '/Public/img/hd/Home/V13/Home/store_f.png',
            click: jumpPageUI,
            focusChange: onFocusIn
        }, {
            id: 'set',
            name: '设置图标',
            type: 'img',
            nextFocusLeft: isHideStore ? 'vip' : 'store',
            nextFocusRight: isHideHelp ? '' : 'help',
            nextFocusDown: 'video-TV',
            backgroundImage: ROOT + '/Public/img/hd/Home/V13/Home/set.png',
            focusImage: ROOT + '/Public/img/hd/Home/V13/Home/set_f.png',
            click: jumpPageUI,
            beforeMoveChange: onBeforeMoveChanged_Header,
            focusChange: onFocusIn
        }, {
            id: 'help',
            name: '帮助图标',
            type: 'img',
            nextFocusLeft: 'set',
            nextFocusRight: '',
            nextFocusUp: '',
            nextFocusDown: 'video-TV',
            backgroundImage: ROOT + '/Public/img/hd/Home/V13/Home/help.png',
            focusImage: ROOT + '/Public/img/hd/Home/V13/Home/help_f.png',
            click: jumpPageUI,
            beforeMoveChange: onBeforeMoveChanged_Header,
            focusChange: onFocusIn
        }, {
            id: 'debug',
            name: '脚手架ID',
            type: 'others',
            click: HelpModal.showTabHelp,
            beforeMoveChange: HelpModal.showTabHelp
        }];

    /**
     * 是否有隐藏工具栏按钮（注：仅限隐藏！以兼容原有逻辑不变，保证少改代码）（Added by songhui on 2020-3-15）
     * @returns {string[]|Array} 返回隐藏的工具栏按钮，没有则返回空
     */
    function hasHiddenBtnInToolbar() {
        return [];
    }

    function diff() {
        G('top-action-content-icons').removeChild(G('store'));
        G('top-action-content-icons').removeChild(G('help'));
        // G('record-container').removeChild(G('order-record'));
        // LMEPG.BM.getButtonById("vip").nextFocusRight = "set";
    }

    (function initSpecialUI() {
        // 应产品特殊需要，如某平台不显示某个工具栏按钮，则当屏蔽之。
        window.hiddenToolbarBtns = window.hiddenToolbarBtns || hasHiddenBtnInToolbar();
        if (window.hiddenToolbarBtns && window.hiddenToolbarBtns.length > 0) {
            for (var i = 0, len = window.hiddenToolbarBtns.length; i < len; i++) {
                Hide(window.hiddenToolbarBtns[i]);
            }
        }
    })();
</script>