/*背景图*/
.splash_background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 640px;
    height: 530px;
}

.btn_f_1 {
    position: absolute;
    left: 70px;
    top: 370px;
    width: 144px;
    height: 62px;
    display: none;
}

.btn_f_2 {
    position: absolute;
    left: 230px;
    top: 370px;
    width: 144px;
    height: 62px;
    display: none;
}
.btn_f_3 {
    position: absolute;
    left: 390px;
    top: 370px;
    width: 184px;
    height: 62px;
    display: none;
}