<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>中国联通新版-播放页</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Player/V13/index.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Player/V1/volume.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Common/V13/dialog.css?t={$time}"/>
    <!--全局渲染参数-->
    <script type="text/javascript">
        var RenderParam = {
            isRunOnAndroid: '{$isRunOnAndroid}',            // 是否运行在android平台，即apk版本
            carrierId: '{$carrierId}',                      // 地区id
            areaCode: '{$areaCode}',                        // 省份地区码
            platformType: '{$platformType}',                // 平台类型（hd--高清 sd--标清）
            debug: '{$debug}',                              // 调试模式
            pageSize: '{$pageSize}',                        // 页面尺寸
            collectStatus: '{$collectStatus}',              // 判断是否收藏 0表示收藏 1表示未收藏
            sourceId: '{$sourceId}',                        // 视频ID
            returnUrl: '{$returnUrl}',                      // 返回地址 unescape("{$returnUrl}")
            userId: '{$userId}',                            // 用户ID
            accountId: '{$accountId}',                      // 用户账号
            imgHost: '{$resourcesUrl}',                     // 图片host
            isVip: {$isVip},                                // 用户是不是vip，1 -- 是vip
            freeSeconds: {$freeSeconds},                    // 免费观看时长
            durationTime: '{$durationTime}',                // 视频总时长
            currentPlayTimes: 0,                            // 记录当前播放的时间进度
            userType: {$userType},                          // 视频的播放策略（0-不限，1-普通用户可看, 2-vip可看）
            videoInfo: {$videoInfo},                        // 视频信息
            domainUrl: '{$domainUrl}',                      // 江苏电信需要使用的第三方播放器前缀地址
            videoUrl: '{$videoUrl}',                        // 视频url：中国联通的高清视频地址http 转换成为rtsp进行播放。
            recommendVideoUrl: '',                            // 推荐视频播放地址
            isForbidOrder: '{$Think.cookie.c_is_forbided_order}', // 是否禁止订购 1--表示禁止订购
            stbModel: "{$stbModel}",            			// 盒子的型号
            allVideoInfo: {$albumArr},    // 从视频集进入，这里是所有的视频，用于上下集切换
            subjectId: "{$subjectId}",    // 从视频集进入，需要传入视频集id
            PLUGIN_APP_NAME: '{$pluginVideoName}',
            CWS_HLWYY_URL: '{$cwsHlwyyUrl}',
            teletextInquiryUrl: '{$teletextInquiryUrl}', // 图文问诊地址
            userToken: '{$userToken}',
            partner: '{$partner}', // 用户是否是续订vip

            // 广东广电EPG获取播放地址
            client: '{$client}', // 盒子CA卡号
            regionCode: '{$regionCode}', // 网关CA卡的区域码
            serviceType: '{$serviceType}', // 网关服务类型
            Player_V1_indexTestId: "Player_V1_indexTestId",
            isEnterFromYsten: '{$isEnterFromYsten}',      // 是否从使用易视腾鉴权计费接口的入口进入（广东移动APK融合包）
            productId: '{$productId}',                    // 广东移动易视腾接口内容播放时长上传需要产品ID
            lmp: '{$lmp}',    //入口
            fsUrl:'{$resourcesUrl}',
        };

    </script>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <eq name="isRunOnAndroid" value="1">
        <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/Player/Android/decodeParam.js?t={$time}"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/Player/Android/playConstants.js?t={$time}"></script>
    </eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lminquiry.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Dialog/Dialog.1.01.js?t={$time}"></script>
    <switch name="carrierId">
        <case value="440004">     <!--广东广电-纯WEB版本-->
            <script type="text/javascript"
                    src="__ROOT__/Public/ThirdParty/js/440004/WebViewJavascriptBridge.js"></script>
            <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/440004/player.js"></script>
            <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/440004/jquery.min.js"></script>
            <script type="application/javascript">
                /**
                 * 统一的WebViewJavascriptBridge调用入口
                 * @param tag 方法名
                 * @param params  参数
                 * @param callback 回调
                 * @constructor
                 */
                function Bridge(tag, params, callback) {
                    if (window.WebViewJavascriptBridge) {
                        WebViewJavascriptBridge.callHandler(tag, params, callback);
                    } else {
                        document.addEventListener('WebViewJavascriptBridgeReady', function () {
                            WebViewJavascriptBridge.callHandler(tag, params, callback);
                        }, false);
                    }
                }

                // window.debug = true;

                /** 返回按键特殊监听 */
                window.doReturnKey = function () {
                    window.history.back();
                }
            </script>
        </case>
    </switch>
    <script type="text/javascript" src="__ROOT__/Public/js/Player/PlayerFocus.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Player/V13/Player.js?t={$time}"></script>

</head>
<body bgcolor="transparent">
<!--调试代码-->
<div id="smallvod" style="left:1px; top:1px; width:1px; height:1px; position:absolute;">
    <eq name="isRunOnAndroid" value="0">
        <iframe id="smallscreen" frameborder="0" scrolling="no" style="width: 1px;height: 1px"></iframe>
    </eq>
</div>
<div id="debug1"></div>
<div id="debug2"></div>
<eq name="isRunOnAndroid" value="0">
    <iframe style="position: absolute;width: 644px;height: 530px" frameborder="0"></iframe>
</eq>
<div id="player-container">
    <!--下边弹出导航层-->
    <div id="bottom-navigation">
        <div class="tip-msg">
            <p>按【上键】【下键】切换上下集</p>
        </div>
        <p id="video-title"></p>
        <div class="bottom-action-wrap">
            <div class="fast-backward" id="fast-backward-wapper">
                <img id="fast-backward" src="__ROOT__/Public/img/hd/Player/V13/fast_backward.png" alt="快退">
                <span>快退</span>
            </div>
            <div class="toggle-play">
                <img id="toggle-play" src="__ROOT__/Public/img/hd/Player/V13/btn_play_f.png" alt="暂停/播放">
                <span id="toggle-play-text">播放</span>
            </div>
            <div class="fast-forward" id="fast-forward-wapper">
                <img id="fast-forward" src="__ROOT__/Public/img/hd/Player/V13/fast_forward.png" alt="快进">
                <span>快进</span>
            </div>
        </div>
        <div id="play-time">
            <span class="current-time" id="current-time">00:00</span>/<span class="total-time"
                                                                            id="total-time">00:00</span>
        </div>
    </div>
    <!--中间弹出导航层-->
    <div id="center-navigation">
        <div class="center-action-wrap">
            <div class="prev-video-item">
                <img id="prev-video-item" src="__ROOT__/Public/img/hd/Player/V13/prev_video_item.png" alt="">
                <p>上一集</p>
            </div>
            <div class="continue-play">
                <img id="continue-play" src="__ROOT__/Public/img/hd/Player/V13/btn_pause.png" alt="">
                <p>继续播放</p>
            </div>
            <div class="next-video-item">
                <img id="next-video-item" src="__ROOT__/Public/img/hd/Player/V13/next_video_item.png" alt="">
                <p>下一集</p>
            </div>
        </div>
        <p class="center-tip">按<span>下键</span>或<span>返回</span>可继续播放</p>
    </div>
    <!--按下确认开通会员提示-->
    <div id="tip-press-sure-pay" class="tip-press-sure-pay">按 <img src="__ROOT__/Public/img/hd/Player/V13/btn_sure_f.png"
                                                                   alt="">开通会员查看完整视频
    </div>
    <!--推荐视频页-->
    <div id="recommend-page">
        <p class="title-text">为你推荐更多精彩视频</p>
        <div id="recommend-list">
            <div id="focus-0">
                <img id="recommend-img-0" src="" onerror="this.src='__ROOT__/Public/img/Common/default.png'" alt="">
                <p id="recommend-title-0" style="display: none"></p>
            </div>
            <div id="focus-1">
                <img id="recommend-img-1" src="" onerror="this.src='__ROOT__/Public/img/Common/default.png'" alt="">
                <p id="recommend-title-1" style="display: none"></p>
            </div>
            <div id="focus-2">
                <img id="recommend-img-2" src="" onerror="this.src='__ROOT__/Public/img/Common/default.png'" alt="">
                <p id="recommend-title-2" style="display: none"></p>
            </div>
        </div>
        <div class="btn-action-wrap">
            <div class="collect">
                <img id="collect" src="__ROOT__/Public/img/hd/Player/V13/btn_collect.png" alt="">
                <p id="collectStatus"></p>
            </div>
            <div class="replay">
                <img id="replay" src="__ROOT__/Public/img/hd/Player/V13/btn_replay.png" alt="">
                <p id="playText"></p>
            </div>
            <if condition=" ($carrierId neq '620092') AND ($carrierId neq '440004') AND ($carrierId neq '220001') ">
                <div class="one-key-inquiry">
                    <img id="btn_one_key_inquiry" src="__ROOT__/Public/img/hd/Player/V13/one_key_inquiry.png">
                    <p>一键问医</p>
                </div>
            </if>
            <div class="back">
                <img id="back" src="__ROOT__/Public/img/hd/Player/V13/btn_back.png" alt="">
                <p>退出</p>
            </div>
        </div>
    </div>
    <!--<div id="test" style="color: red;font-size: 50px;">123</div>-->

    <!--倍速播放显示-->
    <img id="speed" class="speed" alt="">
    <img id="speed_rewind" class="speed_rewind">
    <img id="speed_forward" class="speed_forward">
</div>
<!-- 默认标签：防止焦点丢失 -->
<a id="default_link" href="#"><img class="grubFocusImg" src="__ROOT__/Public/img/Common/spacer.gif"/></a>

</body>
</html>


