
body {
    top: 0;
    left: 0;
    color: #000;
    background-image: url(../../../../img/hd/Home/V16/Home/bg.png);
    background-size: 644px 530px;
}

.title {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 22px;
    font-weight: bold;
    width: 200px;
    color: #000;
}

#ask-doctor-record {
    position: absolute;
    top: 24px;
    left: 342px;
    width: 144px;
    height: 44px;
}

#test-record {
    position: absolute;
    top: 24px;
    left: 488px;
    width: 144px;
    height: 44px;
}

#record-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
}

#page-arrow {
    visibility: hidden;
}

#page-arrow img {
    position: absolute;
    left: 307px;
    width: 49px;
    height: 49px;
}

#prev-arrow {
    top: 110px;
}

#next-arrow {
    top: 475px;
}

#record-container table {
    position: absolute;
    top: 141px;
    left: 21px;
    width: 604px;
    /* height: 350px; */
    border-collapse: collapse;
    table-layout: fixed;
}

.thead-title {
    color: #000;
    text-align: center;
}

#record-container table .thead-txt {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    text-align: center;
    height: 60px;
}


#record-container table .tbody-txt {
    height: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    background-position: bottom;
    background-size: 100% 100%;
}

tr.tbody-txt td {
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* border: none; */
}
tr.tbody-txt.focus{
    color: #ca6d1d;
    background-color: antiquewhite;
    border-radius: 10px;
}
tr.tbody-txt td.td-time {
    width: 200px;
}
tr.tbody-txt td.td-info {
    width: 200px;
}
tr.tbody-txt td.td-result {
    width: 204px;
}
#choice-inner {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 604px;
    height: 342px;
    background-image: url(../../../../img/hd/DataArchiving/V13/choice_inner_bg.png);
    background-position: center;
    z-index: 2;
    font-size: 24px;
    color: #238dfd;
    text-align: center;
    visibility: hidden;
}

#member-title,
#food-title {
    position: absolute;
    top: 49px;
    font-size: 20px;
    color: #000;
    width: 88px;
}

#member-title {
    left: 64px;
}

#food-title {
    left: 211px;
}

ul#test-member {
    position: absolute;
    top: 100px;
    left: 64px;
    width: 88px;
}

ul#food-status {
    position: absolute;
    top: 100px;
    left: 211px;
    width: 88px;
}

#btn-submit {
    position: absolute;
    top: 98px;
    left: 425px;
    width: 144px;
    height: 55px;
}

#btn-delete {
    position: absolute;
    top: 185px;
    left: 425px;
    width: 144px;
    height: 55px;
}

#choice-inner ul li {
    margin-bottom: 45px;
}

ul {
    list-style: none;
}

#choice-inner ul li.focus {
    color: red;
    border-bottom: 1px solid red;
}

#to-ask-doctor {
    width: 144px;
    height: 44px;
}
