* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    background-image: url(../../../../img/hd/Home/V20/Common/bg.png);
    background-position: left;
    color: #fff;
    overflow: hidden;
}
.title {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
#clear-record {
    position: absolute;
    top: 20px;
    right: 40px;
}
.arrow {
    position: absolute;
    top: 325px;
   visibility: visible;
}

#prev-arrow {
    left: 50px;
}

#next-arrow {
    left: 1160px;
}

#list-container {
    position: absolute;
    top: 160px;
    width: 1280px;
}

#list-container .arrow {
    position: absolute;
    top: 180px;
}

#list-container #prev-arrow {
    left: 50px;
}

#list-container #next-arrow {
    right: 50px;
}

#list-container {
    position: absolute;
    top: 180px;
    width: 1280px;
}

#list-container .arrow {
    position: absolute;
    top: 180px;
    visibility: hidden;
}

#list-container #prev-arrow {
    left: 50px;
}

#list-container #next-arrow {
    right: 50px;
}

ul#list-wrapper {
    position: absolute;
    top: -40px;
    left: 135px;
    list-style: none;
    /*border: 1px red solid;*/

    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 50%;*/
    /*margin-left: -100px;*/
    /*list-style: none;*/
}

ul#list-wrapper li {
    position: relative;
    float: left;
    width: 280px;
    height: 180px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background-position: center;
    background-size: 100% 100%;
    margin-left: 30px;
}

ul#list-wrapper li img {
    width: 280px;
    height: 180px;
    text-align: center;
    vertical-align: middle;
}

ul#list-wrapper li p {
    position: absolute;
    top: 152px;
    left: 10px;
    font-size: 24px;
    color: #fff;
    width: 280px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-image: url(../../../../img/hd/Home/V20/Common/title_bg.png);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*border: 1px red solid;*/
}

#page-wrapper {
    position: absolute;
    top: 602px;
    left: 269px;
    height: 62px;
}

#page-wrapper img {
    vertical-align: middle;
}

#page-wrapper p {
    width: 81px;
    height: 62px;
    line-height: 62px;
    color: #b2deff;
    text-align: center;
    display: inline-block;
}
#page-wrapper p#page-index{
    font-size: 24px;
    color: #fff;
}
.null-data {
    position: absolute;
    top: 150px;
    left: 430px;
    font-size: 20px;
    font-style: italic;
    color: #fff;
    text-align: center;
}
