<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>叠月饼，过中秋(青海电信EPG)</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/Common/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Activity/ActivityStackMoonCake/V1/guide.css?t={$time}">
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmbase_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmintent_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmUtils.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/keypad.js?t={$time}"></script>
    <!--当前活动-->
    <script type="text/javascript">

        var RenderParam = {
            activityImg: '{$activityFsImg}',
            cdCount: '{$cdCount}',
            isVip: '{$isVip}',
            isOrderBack: '{$isOrderBack}', // 是否为订购返回
            cOrderResult: '{$Think.cookie.c_order_result}',
            lmcid: '{$carrierId}',
            platformType: '{$platformType}',
            loginUserAccount: '{$userAccount}',
            userTel: '{$userTel}',
            userId: '{$userId}',
            leftTimes: '{$leftTimes}',
            score: '{$score}',
            exchangeRecords: {$exchangeRecords},
            activityInfo: {$activityInfo},
            prizeConfigItems: {$prizeConfigItems},
            setExchangeList: {$setExchangeList},
            beClickId: 'btn-begin0',
            extraTimes: '{$extraTimes}'
        };
        window.onload = function () {
            Activity.init();
        };
    </script>
    <script type="text/javascript" src="__ROOT__/Public/js/Activity/ActivityStackMoonCake/V1/index.js?t={$time}"></script>
</head>
<body>
<div id="debug"></div>
<p id="times-count">0</p>
<img id="jump-game" src="{$activityFsImg}/jump_game.png">
<div class="jump-wrap">
    <img id="jump-back" src="{$activityFsImg}/jump_back.png">
    <img id="jump-rule" src="{$activityFsImg}/jump_rule.png">
    <img id="jump-winner" src="{$activityFsImg}/jump_winner.png">
    <img id="jump-exchange" src="{$activityFsImg}/jump_exchange.png">
</div>

<!--普通用户返回时进入触发返回倒计时-->
<div id="modal-cd" class="modal">
    <div id="count-down">8</div>
</div>

<!--活动规则-->
<div id="modal-rule" class="modal">
    <img id="btn-rule-close" src="{$activityFsImg}/jump_back.png">
</div>
<!--http://222.85.144.70:8091/activityImg/-->
<!--中奖名单-->
<div id="modal-list" class="modal">
    <div id="total-list"></div>
    <div id="my-list"></div>
    <div id="rewrite-tel" class="list-tel my">请输入有效的电话</div>
    <img id="btn-list-submit" class="btn-list" src="{$activityFsImg}/btn_sure.png">
    <img id="btn-list-cancel" class="btn-list" src="{$activityFsImg}/btn_cancel.png">
</div>

<!--VIP没有游戏次数-->
<div id="modal-vip-notimes" class="modal">
    <img id="btn-one0" src="{$activityFsImg}/btn_sure.png">
</div>

<!--普通用户没有游戏次数-->
<div id="modal-pay-notimes" class="modal">
    <img id="btn-pay-sure" class="btn-pay" src="{$activityFsImg}/btn_sure.png">
    <img id="btn-pay-cancel" class="btn-pay" src="{$activityFsImg}/btn_cancel.png">
</div>

<!--抽中奖品-->
<div id="modal-accomplish" class="modal">
    <div id="accomplish-tel">请输入有效的电话</div>
    <img id="btn-accomplish-submit" class="btn-win" src="{$activityFsImg}/btn_sure.png">
    <img id="btn-accomplish-cancel" class="btn-win" src="{$activityFsImg}/btn_cancel.png">
</div>

<!--支付反馈UI-->
<div id="modal-pay" class="modal">
    <img id="pay-back-tip" src="__ROOT__/Public/img/Common/spacer.gif">
</div>

<!--游戏UI-->
<div id="modal-game" class="modal">
    <p id="game-cd">30s</p>
    <div id="cake-wrap">
        <img id="c_0" src="">
        <img id="c_1" src="">
        <img id="c_2" src="">
        <img id="c_3" src="">
        <img id="c_4" src="">
        <img id="c_5" src="">
        <img id="c_6" src="">
        <img id="c_7" src="">
        <img id="c_8" src="">
        <img id="c_9" src="">
    </div>
    <img id="game-start" src="{$activityFsImg}/btn_start.gif">
</div>

<!--增加积分UI-->
<div id="modal-add-score" class="modal">
    <p id="p-add-score">0</p>
    <img id="btn-one-add" src="{$activityFsImg}/btn_sure.png">
</div>

<!--兑换UI-->
<div id="modal-exchange" class="modal">
    <div id="data-exchange">
        <img id="btn-close-exchange" src="{$activityFsImg}/jump_back.png">
        <p class="exchange-user-score">x0</p>
        <div class="require-score-wrap">
            <span>x0</span>
            <span>x0</span>
            <span>x0</span>
        </div>
    </div>
    <div class="exchange-btn-wrap">
        <img id="btn-exchange_0" src="{$activityFsImg}/btn_exchange.png">
        <img id="btn-exchange_1" src="{$activityFsImg}/btn_exchange.png">
        <img id="btn-exchange_2" src="{$activityFsImg}/btn_exchange.png">
    </div>
</div>
</body>
</html>