
#container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 644px;
    height: 530px;
}

#pay_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 644px;
    height: 530px;
}

/*确认*/
#sure_btn {
    position: absolute;
    left: 135px;
    top: 419px;
    width: 182px;
    height: 65px;
}

/* 返回*/
#back_btn {
    position: absolute;
    left: 327px;
    top: 419px;
    width: 182px;
    height: 65px;
}
