<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>手机扫码-V10</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/Common/V10/general.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/AppointmentRegister/V10/CreateCode.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var RenderParam = {
            //公共渲染
           carrierId: "{$carrierId}",          // 地区id
           areaCode: "{$areaCode}",            // 省份地区码
           subAreaCode: "{$subAreaCode}",      // 省份下的子区域
           platformType: "{$platformType}",    // 平台类型
           debug: "{$debug}",                  // 调试模式
           pageSize: "{$size}",                // 页面尺寸
           stbModel: "{$stbModel}",            // 盒子的型号
           fsUrl: "{$resourcesUrl}",           // fs 地址
           time: "{$time}",                    // 开始渲染时间
           userId: "{$userId}",                // 用户Id
           accountId: "{$accountId}",          // 用户Id

           //当前页渲染
            skin: {$skin},      // 用户自定义背景
           positionTwoConfig: "{$positionTwoConfig}",
           checkTime: "{$checkTime}",
           commonImgsView: "{$commonImgsView}",                // 公用图片模式
           themeImage: "{$themePicture}",                      // 应用主题背景
           focusIndex: "{$focusIndex}",                        // 焦点ID
           isVip: {$isVip},                                    // 用户是否是vip
           autoOrder: "{$autoOrder}",                          // 用户是否是续订vip
           classifyId: "{$classifyId}",                        // 导航栏ID

           appoint_info: {$appoint_info | json_encode},         // 就诊相关websocket相关信息
           cwsGuaHaoUrl: "{$cwsGuaHaoUrl}",                     // cws挂号代理图片地址
           hospital_info: {$hospital_info | json_encode},       // 医院信息
           hospital_id: "{$hospital_id}",
           is_province: "{$is_province}",
        };
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公共库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/AppointmentRegister/V10/CreateCode.js?t={$time}"></script>
</head>
<body id="content-body" style="background-image:url(__ROOT__/Public/img/hd/Home/V10/bg.png)">
<!--背景-->

<!--医院详情-->
<div class="center">
    <img class="code-img" id="QRCode" src="" alt=""/>
    <!--<img class="code-img" id="QRCode" />-->
    <div class="row2">请用手机扫描二维码填写就诊人信息</div>
</div>

<div class="left border">
<dl>
    <dt>温馨提示：</dt>
        <dd>本次预约挂号服务由贵州省预约挂号平台统一提供，由于部分功能还在部署调试，<span class="blue">请尽量选择到院支付挂号费用。</span></dd>
    <dd>如未查询到预约记录或挂号记录，请拨打客服电话<span class="blue">400-016-0700</span></dd>
</dl>
</div>
</body>
</html>