<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>科室列表-V10</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/Common/V10/general.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/AppointmentRegister/V10/Department.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var RenderParam = {
            //公共渲染
            carrierId: "{$carrierId}",          // 地区id
            areaCode: "{$areaCode}",            // 省份地区码
            subAreaCode: "{$subAreaCode}",      // 省份下的子区域
            platformType: "{$platformType}",    // 平台类型
            debug: "{$debug}",                  // 调试模式
            pageSize: "{$size}",                // 页面尺寸
            stbModel: "{$stbModel}",            // 盒子的型号
            fsUrl: "{$resourcesUrl}",           // fs 地址
            time: "{$time}",                    // 开始渲染时间
            userId: "{$userId}",                // 用户Id
            accountId: "{$accountId}",          // 用户Id
            cwsGuaHaoUrl: "{$cwsGuaHaoUrl}",    // cws挂号代理图片地址

            //当前页渲染
            skin: {$skin},      // 用户自定义背景
            positionTwoConfig: "{$positionTwoConfig}",
            checkTime: "{$checkTime}",
            commonImgsView: "{$commonImgsView}",                // 公用图片模式
            themeImage: "{$themePicture}",                      // 应用主题背景
            focusIndex: "{$focusIndex}",                        // 焦点ID
            leftMenuId: "{$leftMenuId}",                        // 左侧菜单选择的id
            leftMenuPage: "{$leftMenuPage}",                    // 左侧菜单的第几页
            rightMenuPage: "{$rightMenuPage}",                  // 右侧菜单的第几页
            currentSecondMenuPos: "{$currentSecondMenuPos}",    // 左侧菜单数组被选中的下标
            isVip: "{$isVip}",                                    // 用户是否是vip
            autoOrder: "{$autoOrder}",                          // 用户是否是续订vip
            classifyId: "{$classifyId}",                        // 导航栏ID
            hospital_id: "{$hospital_id}",
            is_province: "{$is_province}",
            navConfig: "{$navigationInfo->data | json_encode}",   // 导航栏配置
            hospital_info: {$hospital_info | json_encode},      // 医院信息
        }
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公共库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/AppointmentRegister/V10/department.js?t={$time}"></script>
</head>
<body style="background-image:url('../../../../../Public/img/hd/Home/V10/bg.png')">
<!--背景-->

<!--医院详情-->
<div class="hospital-detail">
    <img id="photo" class="hospital-photo" onerror="this.src='__ROOT__/Public/img/hd/Home/V10/default.png'">
    <div class="introduce">
        <div id="hospital" class="introduce-word big-size"></div>
        <div  class="introduce-word middle-size">地址：<span id="address"></span></div>
        <div id="introduce" class="introduce-word2"></div>
    </div>

    <div id="btn-detail" class="btn-bg">
        医院简介
    </div>
</div>
<!--医院科室-->
<div class="department">
    <div class="department-title">预约挂号请选择科室</div>
    <hr/>
    <!--医院科室列表-->
    <div class="department-wap">
        <div class="subject-bg">
            <img id="subject-1-bg" class="subject-img" src="__ROOT__/Public/img/hd/AppointmentRegister/V10/tab_bg.png"/>
            <img id="subject-2-bg" class="subject-img" src="__ROOT__/Public/img/hd/AppointmentRegister/V10/tab_bg.png"/>
            <img id="subject-3-bg" class="subject-img" src="__ROOT__/Public/img/hd/AppointmentRegister/V10/tab_bg.png"/>
            <img id="subject-4-bg" class="subject-img" src="__ROOT__/Public/img/hd/AppointmentRegister/V10/tab_bg.png"/>
        </div>
        <div  id="second-list" class="subject-list">

        </div>

        <div id="third-list" class="tab-list">

        </div>


    </div>

</div>

<img id="m-next-subject"  src="__ROOT__/Public/img/hd/Home/V10/HomeBox/icon_page_down.png"/>
<img id="m-next-depart"  src="__ROOT__/Public/img/hd/Home/V10/HomeBox/icon_page_down.png"/>

</body>
</html>