* {
    margin: 0;
    padding: 0;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Source Han Sans CN';
}

body {
    width: 644px;
    height: 530px;
    position: relative;
    background-position: left;
    background-image: url(../../../../img/sd/Home/V13/Home/bg.png);
    background-size: 644px 530px;
    color: #fff;
}

p.title {
    position: absolute;
    top: 20px;
    left: 38px;
    font-size: 22px;
    font-weight: bold;
}

#write-btn {
    position: absolute;
    top: 33px;
    left: 475px;
    width: 144px;
    height: 44px;
}

#input-wrapper {
    position: absolute;
    top: 174px;
    left: 114px;
    width: 482px;
}

#input-number {
    width: 366px;
    padding: 6px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #b2deff;
    font-size: 24px;
    background-image: url(../../../../img/sd/Unclassified/V13/imei_input.png);
    overflow: hidden;
}

.btn-action-wrap {
    position: absolute;
    top: 55px;
    right: 0;
}

.btn-action-wrap img {
    width: 48px;
    height: 48px;
}

.number-title {
    font-size: 22px;
    padding-bottom: 20px;
    text-align: center;
    width: 366px;
}

#next-step {
    position: absolute;
    top: 288px;
    left: 238px;
    width: 144px;
    height: 44px;
}

.warm-tips {
    top: 340px;
    left: 20px;
    width: 604px;
    height: 154px;
    font-size: 16px;
    text-align: left;
    padding-top: 20px;
    position: absolute;
    background-image: url(../../../../img/sd/Unclassified/V13/tip_bg.png);
    background-size: 100% 100%;
}

.warm-tips p {
    margin-left: 38px;
    margin-bottom: 5px;
}

.warm-title {
    font-weight: bold;
}
