<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>龙舟-对话框</title>
    <meta charset="utf-8" name="page-view-size" content='{$size}'>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css"
          href="__ROOT__/Public/css/{$platformType}/Activity/ActivityDragonBoat/V5/dailog.css?t={$time}">

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <eq name="isRunOnAndroid" value="1">
        <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
    </eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>
    <!--弹窗-->
    <script type="text/javascript" src="__ROOT__/Public/js/Activity/ActivityDragonBoat/V5/DialogMoreThree.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Activity/ActivityDragonBoat/PopRule.js?t={$time}"></script>


    <!--页面跳转-->
    <script type="text/javascript">
        function getCurrentPage() {
            var objCurrent = LMEPG.Intent.createIntent("activity-common-dialog");
            objCurrent.setParam("userId", "{$userId}");
            objCurrent.setParam("inner", "{$inner}");
            return objCurrent;
        }

        /**
         * @func 进行购买操作
         * @param remark 备注字段，补充说明reason。如订购是通过视频播放，则remark为视频名称；如是通过活动，则remark为活动名称。
         * @returns {boolean}
         */
        function jumpBuyVip(contentId) {
            var objCurrent = getCurrentPage();

            var objOrderHome = LMEPG.Intent.createIntent("orderHome");
            objOrderHome.setParam("userId", "{$userId}");
            objOrderHome.setParam("directPay", "1");
            objOrderHome.setParam("orderReason", "101");
            objOrderHome.setParam("contentId", contentId); // sp订购的内容id
            objOrderHome.setParam("isJointActivity", "1"); // 表示联合活动
            objOrderHome.setParam("remark", "{$activityName}");

            var objActivityGuide = LMEPG.Intent.createIntent("activity-common-guide");
            objActivityGuide.setParam("userId", "{$userId}");
            objActivityGuide.setParam("inner", "{$inner}");
            objActivityGuide.setParam("isOrderBack", "1"); // 表示订购回来

            LMEPG.Intent.jump(objOrderHome, objCurrent, LMEPG.Intent.INTENT_FLAG_DEFAULT, objActivityGuide);
        }

        /**
         * 页面跳转 - 奖品页
         */
        function jumpPirzeDialog(context, prizeIdx, prizeName) {
            var objCurrent = getCurrentPage();
            var objDialog = LMEPG.Intent.createIntent("activity-common-dialog");
            objDialog.setParam("userId", "{$userId}");
            objDialog.setParam("inner", "{$inner}");
            objDialog.setParam("leftTimes", "{$leftTimes}");
            objDialog.setParam("context", context);
            objDialog.setParam("prizeName", prizeName);
            objDialog.setParam("prizeIdx", prizeIdx);
            objDialog.setParam("bg", "play");

            LMEPG.Intent.jump(objDialog, objCurrent, LMEPG.Intent.INTENT_FLAG_NOT_STACK);
        }

        /**
         * 页面跳转 - 游戏主界面
         */
        function jumpPlayUI() {
            var objCurrent = getCurrentPage();

            var objActivityHome = LMEPG.Intent.createIntent("activity-common-home");
            objActivityHome.setParam("userId", "{$userId}");
            objActivityHome.setParam("inner", "{$inner}");

            LMEPG.Intent.jump(objActivityHome, objCurrent, LMEPG.Intent.INTENT_FLAG_NOT_STACK);
        }

        /**
         * 跳转到其他第三方sp
         */
        function jumpThirdPartySP(spContentId) {
            var objCurrent = getCurrentPage();
            var objThirdPartySP = LMEPG.Intent.createIntent("activity-common-thirdPartySP");

            objThirdPartySP.setParam("userId", "{$userId}");
            objThirdPartySP.setParam("contentId", spContentId);

            LMEPG.Intent.jump(objThirdPartySP, objCurrent);
        }

        /**
         * 页面跳转 - 联合活动订购界面
         */
        function jumpUniActivityInfo(spContentId) {
            var objCurrent = getCurrentPage();

            var objDialog = LMEPG.Intent.createIntent("activity-common-dialog");
            objDialog.setParam("userId", "{$userId}");
            objDialog.setParam("inner", "{$inner}");
            objDialog.setParam("leftTimes", "{$leftTimes}");
            objDialog.setParam("context", ACTIVITY_UNION_BOOK);
            objDialog.setParam("contentId", spContentId);

            LMEPG.Intent.jump(objDialog, objCurrent);
        }
        /**
         * 播放视频
         * @param videoInfo
         */
        function jumpPlayVideo(videoInfo) {
            var objCurrent = getCurrentPage();

            var objPlayer = LMEPG.Intent.createIntent("player");
            objPlayer.setParam("userId", "{$userId}");
            objPlayer.setParam("videoInfo",JSON.stringify(videoInfo));

            LMEPG.Intent.jump(objPlayer, objCurrent);
        }

        /**
         * 返回事件
         */
        function onBack() {
//            LMEPG.Intent.back("activity-common-guide");
            jumpGuide();
        }

        /**
         * 页面跳转 - 显示中奖信息
         */
        function jumpGuide() {
            var objCurrent = getCurrentPage();
            var objActivityWinList = LMEPG.Intent.createIntent("activity-common-guide");
            objActivityWinList.setParam("userId", "{$userId}");
            objActivityWinList.setParam("inner", "{$inner}");
            LMEPG.Intent.jump(objActivityWinList, objCurrent, LMEPG.Intent.INTENT_FLAG_NOT_STACK);
        }
    </script>

</head>
<body style="background-image: url('__ROOT__/Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/common_bg.png')">
<div id="dialog">

</div>
<script type="text/javascript">
    var activityImgPath = "ActivityDragonBoat/V5"//活动图片路径
    var carrierId = "{$carrierId}";
//    var imgModel = carrierId == "420092" ? "ActivityDragonBoat/V2" : "ActivityDragonBoat/V5";
    var imgModel = '';
    switch (carrierId){
        case '420092':
            imgModel = "ActivityDragonBoat/V420092";         //湖北电信
            break;
        case '630092':
            imgModel = "ActivityDragonBoat/V630092";         //青海电信
            break;
        case '640092':
        case '640094':
            imgModel = "ActivityDragonBoat/V640092";         //宁夏电信
            break;
        default:
            imgModel = "ActivityDragonBoat/V5";
    }

    var imgPathPrefix = "__ROOT__/Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/";
    // 抽中奖弹出输入框呼出键盘X-Y坐标
    var keyWordX = '<?php echo ($platformType === "hd" ? 200 : 145)?>';//呼出键盘的X坐标
    var keyWordY = '<?php echo ($platformType === "hd" ? 300 : 368)?>';//呼出键盘的Y坐标
    var searchTextTips = "请输入有效的手机号码"; //搜索框中的文字提示

    var bookType = "{$spDesc}";//订购类型
    var contentId = "{$contentId}";
    var context = "{$context}";
    //    var context = ORDER_FIRST;
    var productId = "{$productId}";
    var platformType = "{$platformType}";
    var buttons;
    var prizeName = "{$prizeName}"; // 奖品名称:1家庭医疗箱，2血压仪，3血糖仪
    var prizeIdx = "{$prizeIdx}"; // 奖品id
    var productName = "{$productName}"; // 奖品名称
    var leftTimes = {$leftTimes}; // 剩余次数
    var demoTimes = {$demoTimes};
    var isVip = "{$isVip}";
    var spMap = []; // 内容通过onload-->canAnswer方法异步加载过来的
    var isDirectOrder = false; //是否直接订购

    var dialogFocusId; // 弹窗初始化默认焦点
    var LM39_PRODUCT = { // 朗玛39健康产品
        "productId": "product1",    // 自定义属性：表示当前html元素展示的是第几个产品
        "elementId": "pay-one"      // html元素id
    };

    function initBtn(num) {
        var defaultFocus = G("default_focus");
        var focusBtnOne = G("btn-one");
        var focusBtnTwo = G("btn-two");
        var btnPayOne = G("pay-one");
        var btnPayTwo = G("pay-two");
        var btnPayThree = G("pay-three");
        var btnPayFour = G("pay-four");

        buttons = [
            {
                id: 'btn-close',
                name: '返回',
                type: 'img',
                nextFocusLeft: 'btn-price',
                nextFocusRight: 'btn-open',
                nextFocusUp: 'searchText',
                nextFocusDown: 'btn-price',
                backgroundImage: imgPathPrefix + 'bg_back.png',
                focusImage: imgPathPrefix + 'f_back.gif',
                click: onClick,
                focusChange: "",
                beforeMoveChange: "",
                moveChange: ""
            },
            {
                id: 'btn-go',
                name: '返回',
                type: 'img',
                nextFocusLeft: '',
                nextFocusRight: 'btn-close',
                nextFocusUp: 'btn-price',
                nextFocusDown: '',
                backgroundImage: imgPathPrefix + 'btn_go.png',
                focusImage: imgPathPrefix + 'btn_go_f.gif',
                click: onClick,
                focusChange: "",
                beforeMoveChange: "",
                moveChange: ""
            },
            {
                id: 'btn-price',
                name: '打开',
                type: 'img',
                nextFocusLeft: '',
                nextFocusRight: 'btn-close',
                nextFocusUp: 'btn-close',
                nextFocusDown: 'btn-go',
                backgroundImage: imgPathPrefix + 'btn_price.png',
                focusImage: imgPathPrefix + 'btn_price_f.gif',
                click: onClick,
                focusChange: "",
                beforeMoveChange: "",
                moveChange: ""
            }, {
                id: 'btn-sure',
                name: '确定',
                type: 'img',
                nextFocusLeft: 'btn-cancel',
                nextFocusRight: 'btn-cancel',
                nextFocusUp: 'searchText',
                nextFocusDown: '',
                backgroundImage: imgPathPrefix + 'btn_sure.png',
                focusImage: imgPathPrefix + 'btn_sure_f.gif',
                click: onClick,
                focusChange: "",
                beforeMoveChange: "",
                moveChange: ""
            }, {
                id: 'btn-cancel',
                name: '取消',
                type: 'img',
                nextFocusLeft: 'btn-sure',
                nextFocusRight: 'btn-sure',
                nextFocusUp: 'searchText',
                nextFocusDown: '',
                backgroundImage: imgPathPrefix + 'btn_cancel.png',
                focusImage: imgPathPrefix + 'btn_cancel_f.gif',
                click: onClick,
                focusChange: "",
                beforeMoveChange: "",
                moveChange: ""
            }, {
                id: 'btn-one',
                name: '确定',
                type: 'img',
                nextFocusLeft: '',
                nextFocusRight: '',
                nextFocusUp: '',
                nextFocusDown: '',
                backgroundImage: imgPathPrefix + 'btn_sure.png',
                focusImage: imgPathPrefix + 'btn_sure_f.gif',
                click: onClick,
                focusChange: "",
                beforeMoveChange: "",
                moveChange: ""
            }, {
                id: 'searchText',
                name: '号码框',
                type: 'img',
                nextFocusLeft: '',
                nextFocusRight: '',
                nextFocusUp: '',
                nextFocusDown: 'btn-sure',
                backgroundImage: '',
                backFocusId:'btn-sure',
                focusImage: '',
                click: "",
//                focusChange: "KeyBtn.init(keyWordY, keyWordX, 'searchText', 'btn-sure')",
                focusChange: onInputFocus,
                beforeMoveChange: "onCommonMoveChange",
                moveChange: ""
            }
        ];
    }

    window.onload = function (ev) {
        // 山西联通某款盒子焦点会有问题，对方提供的
        if ('<?php echo ($carrierId == "000051") ?>') {
            var stbModel = LMEPG.STBUtil.getSTBModel();
            if (stbModel === "B700V5C") {
                if (top.location !== self.location) {
                    top.location = self.location;
                }
            }
        }
        switch (context) {
                // 非会员次数用尽订购加次数
            case VIP_USER_PLAY_TIMES_OVER:
                dialogCreateUnVip.show(platformType);
                initBtn();
                canAnswer();
                return;

                // 活动规则
            case ACTIVITY_RULE_DETAIL:
                dialogCreateActivity.show(platformType);
                initBtn();
                break;

                // 中奖
            case VIP_USER_DRAWN_PRIZE:
                dialogCreatePhone.show(prizeIdx);
                initBtn();
                break;

                // 未中奖
            case USER_NOT_DRAWN_PRIZE_TIPS:
                dialogNoPrice.show(platformType);
                initBtn();
//                setTimeout(onBack, 3000)
                break;

                // VIP会员次数用尽，请明天再来
            case VIP_USER_TIMES_OVER:
                dialogCreateTimeOver.show(platformType);
                initBtn();
                break;
        } // #End of switch-case
        // 初始化按钮事件并设定默认焦点
        LMEPG.ButtonManager.init(dialogFocusId, buttons, '', true);
    };

    function onInputFocus(btn, hasFocus) {
        if (hasFocus) {
            LMEPG.UI.keyboard.show(100, 88, btn.id, btn.backFocusId, true);
        }
    };

    /**
     * 点击事件
     */
    function onClick(btn) {
        var btnId = btn.id;
        switch (focusType) {
            case "back":
                if (btnId == "btn-open") {
                    jumpDialog(context);   //  跳转概率中奖与否界面
                } else {
                    onBack();
                }
                break;
                // 填写手机号码页面
            case "save":
                if (btnId == "btn-sure") {
                    //去设置电话号码
                    goSetPhoneNumber();
                } else if (btnId == "btn-cancel" || btnId == "btn-close") {
                    onBack();
                }
                break;
            case "book":
                if (btnId == "btn-sure") {
                    if(carrierId == '640094'){
                        var videoInfo = {
                            "sourceId": "317",
                            "videoUrl": "03110300000000010000000000000315",
                            "title": "全身减肥运动基础版",
                            "type": "4",
                            "freeSeconds": "30",
                            "userType": "0",
                            "entryType": 3,
                            "entryTypeName": "活动",
                            "focusIdx": "btn-sure"
                        };
                        jumpPlayVideo(videoInfo);
                    }else{
                        jumpBuyVip();
                    }
                } else {
                    onBack();
                }
                break;
        }
    }

    /**
     * 去设置中奖电话号码
     */
    function goSetPhoneNumber() {
        //获取用户填写的手机号
        var phoneTex = G("searchText");
        var userTel = phoneTex.innerHTML;
        var myPrices = '{$prizeName}';
        var prizeIdx = '{$prizeIdx}';
        if (prizeIdx == null) {
            LMEPG.UI.showToast("没有中奖！");
            return;
        }
        if (!LMEPG.Func.isTelPhoneMatched(userTel)) {
            LMEPG.UI.showToast("请输入有效的手机号码");
            return;
        }

        var reqData = {
            "phoneNumber": userTel,
            "prizeIdx": prizeIdx
        };
        LMEPG.ajax.postAPI('Activity/setPhoneNumber', reqData,
                function (rsp) {
                    try {
                        var data = rsp instanceof Object ? rsp : JSON.parse(rsp);
                        var result = data.result;
                        if (result == 0) {  // 设置号码成功
                            LMEPG.UI.showToast("提交成功", 1);
                            setTimeout(function () {
                                onBack();
                            }, 1000);
                        } else { // 设置号码失败
                            LMEPG.UI.showToast("提交失败，请重试！");
                        }
                    } catch (e) {
                        LMEPG.UI.showToast("保存手机号结果处理异常！");
                        LMEPG.Log.error(e.toString());
                    }
                },
                function (rsp) {
                    LMEPG.UI.showToast("请求保存手机号发生错误！");
                }
        );
    }

    /**
     * 判断用户是否可以答题
     */
    function canAnswer() {
        LMEPG.ajax.postAPI('Activity/canAnswer', null,
                function (rsp) {
                    try {
                        var data = rsp instanceof Object ? rsp : JSON.parse(rsp);
                        if (data.result == 0) {
                            leftTimes = data.leftTimes;
                            spMap = data.spMap;
                        }
                    } catch (e) {
                        LMEPG.UI.showToast("判断用户是否可以试玩，处理异常！");
                        LMEPG.Log.error(e.toString());
                    }

                    // 无论成功与否，设置默认焦点
                    LMEPG.ButtonManager.init(dialogFocusId, buttons, '', true);
                },
                function (rsp) {
                    LMEPG.ButtonManager.init(defaultFocusId, buttons, '', true); // 失败异常处理，保证至少可以响应返回按键
                    LMEPG.UI.showToast("请求判断用户是否可以试玩，发生错误！");
                }
        );
    }
</script>
</body>
</html>