<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>赛龙舟-中奖列表</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Activity/ActivityDragonBoat/V5/winner.css?t={$time}">

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <eq name="isRunOnAndroid" value="1">
        <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
    </eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>
    <!--页面跳转-->
    <script type="text/javascript">
        /**
         * 返回事件
         */
        function onBack() {
            LMEPG.Intent.back("activity-common-guide");
        }
    </script>

</head>
<body style="background-image: url('../../../../../Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/winner_list.png');">

<!--<img id="bg" src="__ROOT__/Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/bg_win_list.png" style="position: absolute;z-index: 0" alt="">-->
<img id="submit" class="commonPosition" src="__ROOT__/Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/btn_sure.png" alt=""/>
<img id="clear" class="commonPosition" src="__ROOT__/Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/btn_cancel.png" alt=""/>
<div id="searchText" class="commonPosition">请输入有效的手机号码</div>
<div id="all-prizes">
    <marquee direction="up" behavior="scroll" scrollamount="3" scrolldelay="0" loop="-1" style="" height="<?php echo ($platformType == hd ? 150 : 80)?>">
        <table>
            <!--该部分重复为了实现滚动循环无缝衔接；-->
            <?php foreach($prizeList as $key=>$val):?>
            <tr>
                <td><?php echo (substr($val['user_account'], 0, 3) ."***". substr($val['user_account'], -3))?></td>
                <td><?php echo substr($val['prize_dt'], 0, 10)?>
                </td>
                <td><?php echo $val['prize_name'] ?></td>
            </tr>
            <?php endforeach;?>
        </table>
    </marquee>
</div>
<div id="my-prizes">

    <table class="tableList">
        <?php
        if (empty($myPrizeList->list)) { ?>
        <tr>
            <td></td>
            <td>暂无中奖记录</td>
            <td></td>
        </tr>
        <?php } else{
            foreach($myPrizeList->list as $key=>$val):
        if ($key > 2) break;
        ?>
        <tr>
            <td><?php echo (substr($accountId, 0, 3) ."***". substr($accountId, -3))?></td>
            <td><?php echo substr($val->insert_dt, 0, 10)?></td>
            <td><?php echo $val->prize_name ?></td>
        </tr>
        <?php endforeach; }?>
    </table>


</div>

<!--<div id="warm">温馨提示：为了方便奖品发放，请留下您有效的手机号码，所中奖品若是红包，请务必填写有效的电信手机号，否则视为放弃领奖资格!</div>-->
<script type="text/javascript">
    // var keyWordY = 360;//呼出键盘的纵坐标
    // var keyWordX = 150;//呼出键盘的横坐标
    // 抽中奖弹出输入框呼出键盘X-Y坐标
    var keyWordX = '<?php echo ($platformType === "hd" ? 330 : 145)?>';//呼出键盘的X坐标
    var keyWordY = '<?php echo ($platformType === "hd" ? 220 : 205)?>';//呼出键盘的Y坐标
    var searchTextTips = "请输入有效的手机号码"; //搜索框中的文字提示
    var scollerSet = -1;//滚动距离
    var timerID3;//定时器
    var newTop;//表单当前位置
    var offSet = 10;//移动单位量，高清20；标清10；
    var lastTop = -12 * offSet;//循环最大值，当位置到达最大值循环开始；
    var platformType = "{$platformType}";

    buttons = [
        {
            id: 'submit',
            name: '提交',
            type: 'img',
            nextFocusLeft: '',
            nextFocusRight: 'clear',
            nextFocusUp: 'searchText',
            nextFocusDown: '',
            backgroundImage: g_appRootPath + '/Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/btn_sure.png',
            focusImage: g_appRootPath + '/Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/btn_sure_f.gif',
            click: goSetPhoneNumber,
            focusChange: "",
            beforeMoveChange: "",
            moveChange: ""
        },
        {
            id: 'clear',
            name: '取消',
            type: 'img',
            nextFocusLeft: 'submit',
            nextFocusRight: 'back',
            nextFocusUp: 'searchText',
            nextFocusDown: '',
            backgroundImage: g_appRootPath + '/Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/btn_cancel.png',
            focusImage: g_appRootPath + '/Public/img/{$platformType}/Activity/ActivityDragonBoat/V5/btn_cancel_f.gif',
            click: onBack,
            focusChange: "",
            beforeMoveChange: "",
            moveChange: ""
        },
        {
            id: 'searchText',
            name: '号码框',
            type: 'img',
            nextFocusLeft: '',
            nextFocusRight: '',
            nextFocusUp: '',
            nextFocusDown: 'submit',
            backFocusId:'submit',
            backgroundImage: '',
            focusImage: '',
            click: "",
            focusChange: onInputFocus,
            beforeMoveChange: "onCommonMoveChange",
            moveChange: ""
        }
    ];

    window.onload = function () {
        // 山西联通某款盒子焦点会有问题，对方提供的
        if ('<?php echo ($carrierId == "000051") ?>') {
            var stbModel = LMEPG.STBUtil.getSTBModel();
            if (stbModel === "B700V1C") {
                if (top.location !== self.location) {
                    top.location = self.location;
                }
            }
        }

        LMEPG.ButtonManager.init(['submit'], buttons, '', true);

        getPhoneNumber();
    };

    window.onerror = function (message, filename, lineno) {
        // if (debug) {
        //     var errorLog = "发生错误>>> " +
        //         "\nmessage:" + message +
        //         "\nfile_name:" + filename +
        //         "\nline_NO:" + lineno;
        //     LMEPG.UI.showToast(errorLog, 5);
        // }
    };

    function onInputFocus(btn, hasFocus) {
        if (hasFocus) {
            LMEPG.UI.keyboard.show(100, 88, btn.id, btn.backFocusId, true);
        }
    };

    //活动手纵向平移
    function directionY() {
        try {
            Marquee();
            timerID3 = setTimeout("directionY()", 50);
        } catch (e) {
        }

    }

    //滚动定时器实现表单滚动
    function Marquee() {
        hand = G("scoller");
        newTop = parseInt(hand.style.top);
        hand.style.top = newTop + scollerSet + "px";
        if (newTop <= lastTop) {
            if (platformType == "hd") {
                hand.style.top = -100 + "px";
            } else {
                hand.style.top = -40 + "px";
            }
        }
    }

    /**
     * 获取中奖电话号码
     */
    function getPhoneNumber() {
        LMEPG.ajax.postAPI('Activity/getPhoneNumber', null,
                function (rsp) {
                    try {
                        var data = rsp instanceof Object ? rsp : JSON.parse(rsp);
                        if (data.result == 0) {
                            var list = data.list;
                            for (var i = 0; i < list.length; i++) {
                                var itemList = list[i];
                                var tel = itemList["user_tel"];
                                if (tel != null && tel != "") {
                                    G("searchText").innerHTML = tel;
                                    break;
                                }
                            }
                        }
                    } catch (e) {
                        LMEPG.UI.showToast("获取中奖手机号，结果处理异常！");
                        LMEPG.Log.error(e.toString());
                    }
                },
                function (rsp) {
                    LMEPG.UI.showToast("请求获取中奖手机号，发生错误！");
                }
        );
    }

    /**
     * 去设置中奖电话号码
     */
    function goSetPhoneNumber() {
        // 获取用户填写的手机号
        var phoneTex = G("searchText");
        var userTel = phoneTex.innerHTML;
        var myPrices = '<?php echo json_encode($myPrizeList)?>';
        var jsonMyPrices = JSON.parse(myPrices);

        // 判断手机号是否正确
        if (!LMEPG.Func.isTelPhoneMatched(userTel)) {
            LMEPG.UI.showToast("请输入有效的手机号码");
            return;
        }

        // 判断获奖信息是否在空
        var prizeList = jsonMyPrices.list;
        if (prizeList.length == 0) {
            LMEPG.UI.showToast("您尚未中奖！");
            return;
        }

        // 提取中奖奖品id
        var prizeIdx = prizeList[0].prize_idx;
        if (prizeIdx == null) {
            LMEPG.UI.showToast("中奖编号为空！");
            return;
        }

        var reqData = {
            "phoneNumber": userTel,
            "prizeIdx": prizeIdx
        };
        LMEPG.ajax.postAPI('Activity/setPhoneNumber', reqData,
                function (rsp) {
                    try {
                        var data = rsp instanceof Object ? rsp : JSON.parse(rsp);
                        var result = data.result;
                        if (result == 0) {  // 设置号码成功
                            LMEPG.UI.showToast("提交成功");
                            setTimeout("onBack()",3000);
                        } else { // 设置号码失败
                            LMEPG.UI.showToast("提交失败，请重试！");
                        }
                    } catch (e) {
                        LMEPG.UI.showToast("保存手机号结果处理异常！");
                        LMEPG.Log.error(e.toString());
                    }
                },
                function (rsp) {
                    LMEPG.UI.showToast("请求保存手机号发生错误！");
                }
        );
    }

</script>
</body>
</html>