* {
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
    font-size: 22px;
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
    background: url("../../../../../Public/img/hd/OutbreakReport/EAS/bg_1.png") no-repeat;
    color: #fff;
}
.btn{
    position: absolute;
    top: 242px;
}
#btn-1{
    left: 173px;
}
#btn-2{
    left: 778px;
}
#notice {
    width: 870px;
    height: 110px;
    position: absolute;
    padding: 30px;
    top: 485px;
    left: 175px;
    background: url("../../../../../Public/img/hd/OutbreakReport/EAS/info_box.png") no-repeat;
    color: #fff;
    font-size: 24px;
    text-align: left;
}
#real-time-data{
    position: absolute;
    top: 150px;
    left: 388px;
    width: 800px;
    /*border: 1px red solid;*/
}