* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    /*width: 1280px;*/
    /*height: 720px;*/
    background: transparent url(../../../img/sd/IntroVideo/bg_home.png) no-repeat;
}

body > * {
    position: absolute;
}

#case-img {
    top: 74px;
    left: 26px;
}

#static-btn {
    top: 9px;
    left: 300px;
}
#static-btn img{
    width: 100px;
    height: 40px;
}

#video-desc {
    list-style: none;
    top: 74px;
    left: 202px;
    color: #fff;
    width: 430px;
    font-size: 15px;
}

#video-desc li {
    /*margin-top: 10px;*/
}
br{
    line-height: 30px;
}
#title {
    font-size: 22px;
}


li#play {
    margin-top: 20px;
}
#introduce{
    max-height: 180px;
    overflow: hidden;
}

.list-container,
.item-container {
    position: relative;
    display: inline-block;
    /*margin-left: 8px;*/
    font-size: 15px;
    text-align: center;
    width: 84px;
    height: 47px;
    line-height: 47px;
}

.list-container {
    background-image: url(../../img/IntroVideo/video_label.png);
}

#title, #introduce, #play {
    margin-left: 15px;
}