<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>广西电信搜索页面-V3</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}"/>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Search/V3/search.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript" >
        if (typeof iPanel == "object") {  //广西广电需要师父返回键、退出键有页面来控制
            iPanel.setGlobalVar("SEND_RETURN_KEY_TO_PAGE", 1);
            iPanel.setGlobalVar("SEND_EXIT_KEY_TO_PAGE", 1);
        }
        var RenderParam = {
            //公共渲染
            carrierId: "{$carrierId}",          // 地区id
            areaCode: "{$areaCode}",            // 省份地区码
            platformType: "{$platformType}",    // 平台类型
            debug: "{$debug}",                  // 调试模式
            pageSize: "{$size}",                // 页面尺寸
            stbModel: "{$stbModel}",            // 盒子的型号
            isVip: '{$isVip}',                  // vip（1-是，0-否）
            fsUrl: "{$resourcesUrl}",           // fs 地址
            time: "{$time}",                    // 开始渲染时间
            userId: "{$userId}",                // 用户Id
            accountId: "{$accountId}",          // 用户账号

            //当前页渲染
            modeTitle: "{$modeTitle}",
            showCornerPay:'{$showCornerPay}',   // 是否显示付费角标
            pageCurrent:'{$currentPage}',       // 当前页码
            isReturnFlag:'{$isReturn}',         // 0--表示直接进来，1--表示购买返回，2--表示播放返回
            keyWords:'{$keyWords}',             // 搜索的关键字
            focusId:'{$focusIndex}',            // 默认焦点id
        }
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
</head>
<body style="background-image: url('../../../../../Public/img/{$platformType}/Common/{$commonImgsView}/bg_home.png');">
<!--提示弹框-->
<div id="default_tip"></div>
<!--<div id="deg" style="border:1px red solid;top:20px;left:30px;width:500px;word-wrap:break-word;color:red;position: absolute;">-->
<!--调试代码:-->
<!--</div>-->
<div id="left">
    <div id="searchText">请输入首字母进行搜索</div>
    <hr class="line"/>
    <div id="focus-1-1" class="common focus-row-1 focus-col-1">A</div>
    <div id="focus-1-2" class="common focus-row-1 focus-col-2">B</div>
    <div id="focus-1-3" class="common focus-row-1 focus-col-3">C</div>
    <div id="focus-1-4" class="common focus-row-1 focus-col-4">D</div>
    <div id="focus-1-5" class="common focus-row-1 focus-col-5">E</div>
    <div id="focus-1-6" class="common focus-row-1 focus-col-6">F</div>

    <div id="focus-2-1" class="common focus-row-2 focus-col-1">G</div>
    <div id="focus-2-2" class="common focus-row-2 focus-col-2">H</div>
    <div id="focus-2-3" class="common focus-row-2 focus-col-3">I</div>
    <div id="focus-2-4" class="common focus-row-2 focus-col-4">J</div>
    <div id="focus-2-5" class="common focus-row-2 focus-col-5">K</div>
    <div id="focus-2-6" class="common focus-row-2 focus-col-6">L</div>

    <div id="focus-3-1" class="common focus-row-3 focus-col-1">M</div>
    <div id="focus-3-2" class="common focus-row-3 focus-col-2">N</div>
    <div id="focus-3-3" class="common focus-row-3 focus-col-3">O</div>
    <div id="focus-3-4" class="common focus-row-3 focus-col-4">P</div>
    <div id="focus-3-5" class="common focus-row-3 focus-col-5">Q</div>
    <div id="focus-3-6" class="common focus-row-3 focus-col-6">R</div>

    <div id="focus-4-1" class="common focus-row-4 focus-col-1">S</div>
    <div id="focus-4-2" class="common focus-row-4 focus-col-2">T</div>
    <div id="focus-4-3" class="common focus-row-4 focus-col-3">U</div>
    <div id="focus-4-4" class="common focus-row-4 focus-col-4">V</div>
    <div id="focus-4-5" class="common focus-row-4 focus-col-5">W</div>
    <div id="focus-4-6" class="common focus-row-4 focus-col-6">X</div>

    <div id="focus-5-1" class="common focus-row-5 focus-col-1">Y</div>
    <div id="focus-5-2" class="common focus-row-5 focus-col-2">Z</div>
    <div id="focus-5-3" class="common focus-row-5 focus-col-3">1</div>
    <div id="focus-5-4" class="common focus-row-5 focus-col-4">2</div>
    <div id="focus-5-5" class="common focus-row-5 focus-col-5">3</div>
    <div id="focus-5-6" class="common focus-row-5 focus-col-6">4</div>

    <div id="focus-6-1" class="common focus-row-6 focus-col-1">5</div>
    <div id="focus-6-2" class="common focus-row-6 focus-col-2">6</div>
    <div id="focus-6-3" class="common focus-row-6 focus-col-3">7</div>
    <div id="focus-6-4" class="common focus-row-6 focus-col-4">8</div>
    <div id="focus-6-5" class="common focus-row-6 focus-col-5">9</div>
    <div id="focus-6-6" class="common focus-row-6 focus-col-6">0</div>

    <div id="focus-7-1"></div>
    <div id="focus-7-2"></div>

</div>

<img id="topArrow" src="__ROOT__/Public/img/{$platformType}/Common/{$commonImgsView}/top.png">
<img id="bottomArrow" src="__ROOT__/Public/img/{$platformType}/Common/{$commonImgsView}/bottom.png"/>
<div id="searchTitle">大家都在看</div>
<div id="pagePlag"></div>
<div class="rightWrap" id="rightWrap"></div>

<img id="focus-10-1" class="home_btn" src="__ROOT__/Public/img/hd/Home/V4/bg_home_btn.png"/>
<img id="focus-10-2" class="main_btn" src="__ROOT__/Public/img/hd/Home/V4/bg_main_btn.png"/>
<img id="focus-10-3" class="back_btn" src="__ROOT__/Public/img/hd/Home/V4/bg_back_btn.png"/>
<!--字幕层-->
<div id="scroll_div" class="scroll_div">
    <if condition="$platformType eq 'sd' ">
        <marquee direction="left" behavior="scroll" scrollamount="2" scrolldelay="0" loop="-1" width="288"/>
            <else/>
            <marquee direction="left" behavior="scroll" scrollamount="2" scrolldelay="0" loop="-1" width="670"/>
    </if>
    <span id="hljltMarquee">{$marqueeText}</span>
</div>

<script type="text/javascript" src="__ROOT__/Public/js/Search/V3/search.js?t={$time}"></script>
</body>
</html>
