<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>搜索-V10</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Common/V10/general.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Search/V10/search.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var RenderParam = {
            //公共渲染
            carrierId: "{$carrierId}",          // 地区id
            areaCode: "{$areaCode}",            // 省份地区码
            subAreaCode: "{$subAreaCode}",      // 省份下的子区域
            platformType: "{$platformType}",    // 平台类型
            debug: "{$debug}",                  // 调试模式
            pageSize: "{$size}",                // 页面尺寸
            stbModel: "{$stbModel}",            // 盒子的型号
            fsUrl: "{$resourcesUrl}",           // fs 地址
            time: "{$time}",                    // 开始渲染时间
            userId: "{$userId}",                // 用户Id
            accountId: "{$accountId}",          // 用户Id
            isVip: {$isVip},                    // 用户是否是vip

            //当前页渲染
            skin: {$skin},      // 用户自定义背景
            focusIndex: "{$focusIndex}",
            pageCurrent: "{$pageCurrent}",
            searchText: "{$searchText}",
        };
    </script>

    <script>var carrierId = {$carrierId};</script>
    <if condition="$carrierId eq '07430093' ">
        <!--湖南联通芒果TV 07430093js文件-->
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/mongoTV/webview.js?t={$time}"></script>
    </if>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公共库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Search/V10/search.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Home/Common/HomeUtil.js?t={$time}"></script>

</head>
<!--背景-->
<body style="background-image:url(__ROOT__/Public/img/hd/Home/V10/bg.png)">
<div class="tab1">
    <img id="focus-1-1" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_1.png"/>
</div>
<div class="tab2">
    <img id="focus-1-2" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_2.png"/>
</div>
<div class="tab3">
    <img id="focus-1-3" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_3.png"/>
</div>
<div class="tab4">
    <img id="focus-2-1" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_4.png"/>
</div>
<div class="tab5">
    <img id="focus-2-2" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_5.png"/>
</div>
<div class="tab6">
    <img id="focus-2-3" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_6.png"/>
</div>
<div class="tab7">
    <img id="focus-3-1" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_7.png"/>
</div>
<div class="tab8">
    <img id="focus-3-2" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_8.png"/>
</div>
<div class="tab9">
    <img id="focus-3-3" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_9.png"/>
</div>

<img id="focus-4-1" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_clear.png"/>
<img id="focus-4-2" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_keyword_0.png"/>
<img id="focus-4-3" class="key_btn" src="__ROOT__/Public/img/hd/Search/V10/bg_back.png"/>

<div id="left">
    <div id="searchText">请输入首字母进行搜索</div>
</div>
<div id="searchTitle">大家都在看</div>
<div id="page_num">0/0</div>
<div class="rightWrap" id="rightWrap"></div>
<p id="no_search_text">没有任何搜索结果</p>
<img id="up_content_arrows" src="__ROOT__/Public/img/hd/Common/arrow_up.png"/>
<img id="down_content_arrows" src="__ROOT__/Public/img/hd/Common/arrow_down.png"/>

</body>
</html>