body {
    width: 1280px;
    height: 720px;
}

body > *,
.modal > * {
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

/*活动首页*/
.btn-list {
    position: absolute;
    top: 0px;
    left: 1072px;
}

/*.btn-list>img{*/
/*margin-top: 26px;*/
/*}*/
#btn_back {
    margin-top: 40px;
    margin-left: 0px;
    width: 159px;
    height: 61px;
}

#btn_activity_rule {
    margin-left: 0px;
    margin-top: 10px;
    width: 159px;
    height: 61px;
}

#btn_winner_list {
    margin-left: 0px;
    margin-top: 10px;
    width: 159px;
    height: 61px;
}

#btn_exchange_prize {
    margin-left: 0px;
    margin-top: 10px;
    width: 159px;
    height: 61px;
}

.lipstick {
    position: absolute;
}

#btn_start {
    position: absolute;
    left: 497px;
    top: 429px;
}

#btn_lottery_cancel_1 {
    position: absolute;
    top: 465px;
    left: 693px;
    height: 56px;
    width: 167px;
}

#left_times {
    left: 716px;
    top: 572px;
    text-align: center;
    color: #ffffff;
    font-family: SourceHanSansCN-Bold;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
}

#score {
    position: absolute;
    top: 318px;
    left: 662px;
    font-family: SourceHanSansCN-Bold;
    text-align: center;
    color: #382c2c;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

#game_score {
    top: 76px;
    left: 651px;
    width: 70px;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    color: #382c2c;;
    text-align: center;
    font-weight: bold;
}


#exchange_point_1 {
    top: 456px;
    left: 387px;
    width: 80px;
    line-height: 30px;
    font-size: 30px;
    color: #382c2c;
    font-family: "SourceHanSansCN-Regular";
    font-weight: bold;
    /*border: 1px red solid;*/
}

#exchange_point_2 {
    top: 456px;
    left: 666px;
    width: 80px;
    line-height: 30px;
    font-size: 30px;
    color: #382c2c;
    font-family: "SourceHanSansCN-Regular";
    font-weight: bold;

}

#exchange_point_3 {
    top: 456px;
    left: 940px;
    width: 80px;
    line-height: 30px;
    font-size: 30px;
    color: #382c2c;
    font-family: "SourceHanSansCN-Regular";
    font-weight: bold;
}


#exchange_prize_1 {
    top: 533px;
    left: 290px;
}

#exchange_prize_2 {
    top: 533px;
    left: 561px;
}

#exchange_prize_3 {
    top: 533px;
    left: 832px;
}

/*活动规则*/
#btn_close_rule {
    top: 58px;
    left: 1201px;
    /*height: 120px;*/
    /*width: 277px;*/
    display: block;
}

/*中奖名单*/
#total_list {
    top: 221px;
    left: 262px;
    height: 130px;
    width: 771px;
    font-size: 26px;
    /*border: 1px red solid;*/
}

#btn_list_submit {
    top: 597px;
    left: 482px;
}

#btn_list_cancel {
    top: 597px;
    left: 705px;
}

#all_marquee {
    width: 800px;
    height: 120px;
}

#my_marquee {
    height: 41px;
}

table.marquee_table {
    width: 780px;
}

table#all_table tr {
    height: 40px;
}

.winner_account {
    width: 285px;
}

.winner_time {
    width: 173px;
}

/*.winner_prize{*/
/*width: 223px;*/
/*}*/

table.marquee_table td {
    /* left: 240px; */
    margin-right: 0px;
    text-align: center;
    font-size: 26px;
    color: #525252;
    /*border: 1px red solid;*/
}

#my_list {
    top: 436px;
    left: 262px;
    height: 30px;
    width: 771px;
    font-size: 23px;
    text-align: center;
}

#reset_tel {
    top: 480px;
    left: 562px;
    width: 307px;
    font-size: 24px;
    height: 44px;
    line-height: 44px;
    color: #fefefe;
    background: #368baa;
    border-radius: 5px;
    text-align: center;
}


/*游戏结束*/
#btn_game_over_sure {
    top: 560px;
    left: 555px;
}

/*游戏页*/
#game_container {
    position: absolute;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

#bg_game_container {
    display: block;
}

#bg_game_container1 {
    display: none;
}

#btn_begin {
    position: absolute;
    left: 497px;
    top: 563px;
    width: 288px;
    height: 130px;
}

#tips {
    position: absolute;
    left: 440px;
    top: 34px;
    font-size: 100px;
    color: #FFFFFF;
}

#tips1 {
    position: absolute;
    left: 708px;
    top: 400px;
    font-size: 28px;
    font-weight: 900;
    color: #FFFFFF;
}


#btn_close {
    top: 77px;
    left: 1090px;
}

#game_countdown {
    top: 1px;
    left: 26px;
    width: 50px;
    font-size: 34px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

/*抽奖失败*/
#btn_lottery_fail {
    top: 528px;
    left: 551px;
}

/*抽奖品*/
#lottery_prize {
    top: 280px;
    left: 475px;
    width: 271px;
    height: 340px;
}


#prize_count {
    top: 280px;
    left: 980px;
    font-size: 55px;
    line-height: 55px;
    width: 80px;
    height: 55px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#btn_exchange_submit {
    top: 567px;
    left: 417px;
}

#btn_game_sure {
    top: 500px;
    left: 561px;
}

#btn_game_fail_sure {
    top: 500px;
    left: 561px;
}

#add_count {
    top: 288px;
    left: 690px;
    width: 100px;
    color: #382c2c;
    font-size: 60px;
    font-weight: bold;
}

#position {
    top: 187px;
    left: 852px;
    width: 100px;
    color: #382c2c;
    font-size: 60px;
    font-weight: bold;
}

#btn_exchange_cancel {
    top: 567px;
    left: 705px;
}

#exchange_tel {
    top: 404px;
    left: 554px;
    width: 307px;
    height: 44px;
    font-size: 24px;
    font-weight: bold;
    line-height: 44px;
    color: #fff;
    background: #368baa;;
    text-align: center;
}


/*抽奖成功*/
#prize_image {
    top: 229px;
    left: 500px;
    /*width: 150px;*/
    /*height: 150px;*/
}

#lottery_tel {
    top: 500px;
    left: 491px;
    width: 300px;
    font-size: 28px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    /*border: 1px red solid;*/
    /*background: #8e551d;*/
}

#btn_lottery_submit {
    top: 603px;
    left: 445px;
}

#btn_lottery_cancel {
    top: 603px;
    left: 665px;
}


/*订购VIP*/
#btn_order_submit {
    top: 560px;
    left: 480px;
}

#btn_order_cancel {
    top: 560px;
    left: 715px;
}

#btn_game_confirm {
    top: 528px;
    left: 713px;
}

#btn_game_cancel {
    top: 528px;
    left: 984px;
}

/*游戏结束*/
#btn_no_score {
    top: 528px;
    left: 713px;
}

#cutDown {
    position: absolute;
    top: 625px;
    left: 125px;
    text-align: center;
    color: #fff;
    width: 80px;
    height: 30px;
    font-size: 30px;
    /*border: 1px red solid;*/
}

#skin-list {
    position: absolute;
    top: 343px;
    left: 738px;
    width: 450px;
    overflow: hidden;
}

#skin-list > img {
    margin-left: -10px;
}

#play {
    position: absolute;
    top: 583px;
    left: 933px;
}


/*倒计时弹窗*/
#count {
    top: 222px;
    left: 743px;
    color: #382c2c;
    font-size: 90px;
}
