<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>服务条款</title>
    <meta charset="utf-8" name="page-view-size" content='{$size}'>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css"
          href="__ROOT__/Public/css/hd/Goods/V1/reservationRule.css?t={$time}">

    <script type="text/javascript">
        var ROOT = "__ROOT__";
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmUI.js?t={$time}"></script>

</head>
<body>
<div class="title">
    服务条款
</div>
<img class="title-line" src="__ROOT__/Public/img/hd/Home/V15/Home/line.png" style="width: 150px"/>
<!--医院科室-->
<div id="default" class="content border">
    <div class="content-detail">
        <b>贵阳朗玛信息技术股份有限公司依据以下条件和条款为您提供所享有的服务，请仔细阅读并遵守。</b><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;本应用是指名为“电视家庭医生”的软件应用，以下简称本应用。是由贵阳朗玛信息技术股份有限公司独立开发、运营的软件应用。<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;本应用是由贵阳朗玛信息技术股份有限公司所运营。<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;本公司在此特别提醒用户认真阅读、充分理解本协议各条款，特别是其中所涉及的免除、限制本公司责任的条款、对用户权利限制条款、争议解决和法律适用等。请用户审慎阅读（未成年人应在监护人陪同下阅读）。除非用户接受本协议所有条款，否则用户无权使用本公司于本协议下所提供的服务。用户在本应用注册、登录或使用本应用服务，即表示用户完全接受本协议的全部条款，并同意接受其约束。<br/>
        <br/>
        <b>1、接受</b><br/>
        1.1当用户选择访问或使用本应用有关服务，将视为同意接受本协议全部条款的约束。<br/>
        1.2除非另有明确规定，本应用所推出的新产品、新功能和新服务，均无条件的适用本协议。本应用保留在任何时候修改本协议条款的权利，且无需另行通知。用户在使用服务时应关注并遵守。<br/>
        <br/>
        <b>2、用户</b><br/>
        2.1符合下列条件之一的个人、组织才能成为本应用的用户：<br/>
        2.1.1用户应当具备使用本应用购买商品、享受服务的完全民事行为能力，并承诺对相关行为承担相应的法律责任。<br/>
        2.2不具备上述资格的人不得成为本应用用户。本公司一经发现，有权立即注销该用户并有权禁止被注销用户资格的自然人、法人及其他组织再次使用本应用。<br/>
        <br/>
        <b>3、注册条款</b><br/>
        3.1用户可以通过在本应用免费注册帐号使用本应用提供的各项服务，注册时应根据本应用的要求，提供真实、准确、即时、完整的个人信息，包括但不限于您的姓名或名称、联系地址、联系电话、电子邮箱地址等。如因注册信息不真实而引起的问题由用户本人承担，本应用不负任何责任并有权暂停或终止用户的帐号。<br/>
        3.2 注册成功后，用户将获得帐号及其密码，作为您在本应用交易及享受服务时唯一的身份标识。用户需自行妥善保管账户和密码，不得将自身帐号转让、转借给其他第三人使用，对该帐号及其密码负保管义务，并对由此引起的纠纷、损失和法律责任担责。<br/>
        3.2如用户代表其他自然人、法人或其他组织在本应用上注册会员，则需声明并保证已获得授权并有权使前述法律主体受本协议的约束。<br/>
        <br/>
        <b>4、使用条款</b><br/>
        4.1使用本应用时，用户须遵守国家的法律法规和规章制度，遵守本应用有关协议、规定、规则、程序和惯例，不得利用本应用从事任何非法或不正当活动。 用户不得在本应用发布各类违法或违规信息，包括但不限于商品信息、交易信息等<br/>
        4.2用户保证提供的注册信息等资料系真实、准确、完整、合法，该资料包括但不限于真实姓名或名称、身份证号、联系电话、地址、邮政编码等；用户保证本应用及其他第三方可以通过上述联系方式与自己进行联系；用户也应在相关资料实际变更时，予以及时更新。本公司对用户提供的信息予以保密。<br/>
        4.3用户有权根据本协议的规定以及本应用发布的相关规则在本应用上查询商品信息、参加各类活动，以及享受本提供的其它服务。<br/>
        4.4用户有义务在注册及享受服务、购买商品时提供真实、详尽、准确的资料/信息（包括但不限于联系人姓名、联系电话、联系地址、邮政编码等），并保证资料/信息的及时、有效更新，使得本应用可以通过上述联系方式与用户本人进行联系。<br/>
        4.5若用户违反本协议规定，或有违反国家及地方法律法规之行为，本平台有权停止传输并删除相关信息，屏蔽/禁止用户的使用，注销账户，如有必要可依法向相关主管部门进行披露。<br/>
        <br/>
        <b>5、商品交易流程及相关</b><br/>
        5.1用户同意遵守本应用实行的约定。<br/>
        5.2本应用有权在发现本应用上显现的商品和/或订单有明显错误或缺货的情况下，单方面撤回或修改该等信息。<br/>
        5.3本平台保留对商品订购的数量的限制权，包括但不限于有权对每一账户最高购买数量及商品总数量进行限制与修改。<br/>
        5.4本应用已明示了商品产品的价格（含税、含包装，特殊情况除外）、可获性和相关信息。这类信息将随时更改而无须发送任何通知。<br/>
        5.6配送：n\
        5.6.1商品配送产生的配送费用将根据用户选择的送货方式不同而另行结算。<br/>
        5.6.2本应用根据用户指定的收货地址进行商品配送；本应用上列出的送货时间系根据库存状况、正常处理流程和收货地址范围等信息估算，仅供用户参考，不作为对用户的到货时间承诺。<br/>
        5.6.3本应用确认了用户订单后，由于供应商提价，税额变化，本应用系统错误等意外情况而造成了价格变化，用户有权取消订单，并应及时通过电话通知本应用的客户服务部。<br/>
        5.6.4用户所订购的商品发生缺货，用户有权取消订单。<br/>
        <br/>
        <b>6、退换货及退款规则</b><br/>
        6.1用户同意遵守本应用实行的“售后服务”约定。<br/>
        符合以下条件，可以要求退换货<br/>
        (1)客户在收到货物时当面在送货员面前拆包检查，发现货物有质量问题的;<br/>
        (2)收到货7天内对货物在使用过程中出现非人为损坏或故障。<br/>
        6.2以下情况，拒绝退换货<br/>
        (1)超出7天或者已经使用的商品将不在退货范围，对于已经使用的商品，出现人为损坏的不予以退换货;<br/>
        (2)退换货物不全或者外观受损;<br/>
        (3)产品并非我们提供;<br/>
        (4)纸袋、包装盒有瑕疵，以质量问题退货的;<br/>
        (4)货物本身不存在质量问题的，又以质量理由退货的。<br/>
        6.3退换货流程说明<br/>
        (1)及时与我们客服人员联系，说明退货理由并填交申请表提交给客服人员确认退货;<br/>
        (2)将货物按客服人员提供的地址寄回<br/>
        (3)公司收到货，确认货物后，如果是换货我们将重新安排发货，如是退货我们将退款至您的原支付渠道；<br/>
        <br/>
        <b>7、纠纷、争议及投诉处理</b><br/>
        7.1用户在使用本应用的过程中，发现可能有侵害自己权利的事实时，应及时通知本应用并提供相应的证明材料。因投诉不实给本应用或第三方造成损失的，应承担法律责任。<br/>
        7.2本应用有权接受并处理用户间因使用本应用而产生的纠纷、争议及投诉，有权通过电话等联系方式了解情况、并将所了解的情况通知对方。用户有义务在收到本应用通知后，在指定的时间内提供相应的资料，配合纠纷、争议及投诉的情况了解与处理。对本应用的处理结果不满意的，用户可以依法向有管辖权的法院起诉。<br/>
        7.3经生效法律文书确认用户存在违法或违反本协议行为或者本应用自行判断会员涉嫌存在违法或违反本协议行为的，本应用有权公布用户的违法行为并做出相应处理，包括但不限于终止服务、永久禁止使用本应用等。<br/>
        <br/>
        <b>8、中止与终止</b><br/>
        对于用户的以下行为，本应用有权在未告知的情况下中止或终止其相关服务或者拒绝其以任何形式使用本应用，并保留追究您法律责任的权利：<br/>
        8.1 用户同意，本应用有权随时对本应用、政策和/或本协议作出变更；任何修改或补充在其被张贴在本应用时立即生效，对双方都有约束力。重大变更将在本应用首页页面提示。用户继续使用本应用、购买商品、享受服务的，即视为对该等变更之确认。<br/>
        8.2 如发生下列任何一种情形，本应用有权无需通知而随时停止向用户提供服务：<br/>
        ①用户提供的个人资料不真实；<br/>
        ②用户违反本协议规定；<br/>
        ③按照行政机关和/或授权职能部门的要求；<br/>
        ④其他本应用认为需终止服务的情况。<br/>
        8.3利用本应用滥发重复信息，发布国家法律法规等禁止或限制发布的信息，发布不属于会员经营范围的信息，或与本应用服务无关的信息；<br/>
        8.3未经请求或授权向本应用会员发送大量与业务不相关的信息；<br/>
        8.4冒用其他企业的名义发布商业信息，进行商业活动；<br/>
        8.5计划破坏、攻击本应用本应用电脑系统、网络的完整性，或者试图擅自进入本应用本应用电脑系统、网络；<br/>
        8.6使用或提供含有毁坏、干扰、截取或侵占任何系统、数据或个人资料的任何电脑病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他破坏性程序；<br/>
        8.7盗用他人在本应用上的登录名和/或密码；未经本应用同意的帐号出售或授权使用行为；通过或从事涉及本应用的欺诈活动；通过或从事涉及本应用的知识产权侵权行为；<br/>
        8.8违反国家法律法规、规章制度、本应用有关协议、规定、规则、程序和惯例的其他行为。<br/>
        8.9本协议终止或更新时，用户未确认新的协议的。<br/>
        8.10其它本公司认为需终止服务的情况。<br/>
        <br/>
        <b>9、责任声明</b><br/>
        9.1鉴于网络服务的特殊性，本应用不对除基本安全、稳定以外其的他外部干扰、黑客攻击等因素造成的用户与本应用服务器之间的连接受阻而无法访问负责。用户同意自己承担因本应用意外中断、操作或传输的迟延、电脑病毒、网络连接故障、未经授权的进入等引起的损失。<br/>
        9.2因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，双方均不承担责任。本合同所称之不可抗力意指不能预见、不能避免并不能克服的客观情况，包括但不限于战争、台风、水灾、火灾、雷击或地震、罢工、暴动、法定疾病、黑客攻击、网络病毒、电信部门技术管制、政府行为或任何其它自然或人为造成的灾难等客观情况<br/>
        9.3本应用无法保证网络信息服务的准确性，对用户因使用本应用而造成的损失不负法律责任。用户可通过本应用有关服务获得第三方的某些内容或通往第三方本应用的链接，但不表示本应用与这些第三方有任何关系。第三方的本应用均由各经营者自行负责，不属于本应用控制及负责范围之内。对于存在或来源于此类本应用或资源的任何内容、广告、产品或其它资料，本应用对此不作保证、不承担任何责任、也不负有任何义务。用户对此自行加以判断，并承担因使用该等内容而引起的所有风险，包括但不限于因对内容的正确性、完整性或实用性的依赖而产生的风险<br/>
        9.4用户明确同意其使用本应用服务所存在的风险及其后果将完全由其自己承担，本应用对用户不承担任何责任。如因用户违反有关法律、法规或本协议项下的任何条款而给本应用或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。<br/>
        <br/>
        <b>10、知识产权</b><br/>
        10.1本应用及本应用所有内容的选材、整理、编排、排版、汇编，以及由本应用创作的文字、图片等作品的著作权，无论是否明示，均属本应用所有。任何自然人、法人及其他组织未经本应用书面授权或许可，不得修改、出版、传播、参与传播、销售、制作衍生作品，或以其他任何方式使用整体或部分的本应用上的内容，包括但不限于公司信息、产品信息，本应用将保留追究其法律责任的权利。<br/>
        10.2未经本应用授权，任何人不得使用本应用任何商标、服务标记、标识、域名和其他显著品牌特征的权利。<br/>
        10.3用户不得以他人资料/信息在本应用进行注册和购买商品。不应当将账号、密码转让或出借予他人使用。若发现用户账号遭他人非法使用，应立即通知本应用。<br/>
        10.4本应用及本应用所有内容均受《中华人民共和国著作权法》、《中华人民共和国商标法》等的法律保护。用户在本应用上发布的信息不得侵犯任何第三人的知识产权，未经相关权利人之事先书面同意，用户不得以任何方式上传、发布、修改、传播或复制任何受著作权保护的材料、商标或属于其他人的专有信息。<br/>
        <br/>
        <b>11、法律适用及管辖</b><br/>
        11.1本协议的订立、变更、执行和解释及争议的解决，均应适用中华人民共和国法律。如与本协议有关的某一特定事项缺乏明确法律规定，则应参照通用的国际商业惯例和行业惯例。<br/>
        11.2因本协议内容或其执行发生争议，双方应友好协商解决；协商不成时，任何一方均可向贵阳市观山湖区人民法院提起诉讼。<br/>
        <br/>
        <b>12、其他</b><br/>
        12.1用户使用本应用相关服务时，亦应知晓、认可并同意遵守相关服务的额外条款及条件。<br/>
        12.2如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。<br/>
        12.3 本协议之条款是可分割的，任何协议条款被认定为无效或不可执行时，不影响其他条款之效力。<br/>
    </div>
</div>

<script type="text/javascript">

    // 定义全局按钮
    var buttons = [];

    // 返回按键
    function onBack() {
        Page.onBack();
    }

    //页面跳转控制
    var Page = {

        /**
         * 获取当前页面对象
         */
        getCurrentPage: function () {
            var currentPage = LMEPG.Intent.createIntent("reservationRule");
            return currentPage;
        },

        /**
         * 返回事件
         */
        onBack: function () {
            LMEPG.Intent.back();
        }
    };

    var Home = {
        defaultFocusId: "default",
        //页面初始化操作
        init: function () {
            document.body.style.backgroundImage = 'url(__ROOT__/Public/img/hd/Home/V15/Home/bg.png)';
            Home.initButtons();                 // 初始化焦点按钮
            LMEPG.ButtonManager.init(Home.defaultFocusId, buttons, "", true);
        },

        initButtons: function () {
            buttons.push({
                id: 'default',
                name: '默认焦点',
                type: 'img',
                nextFocusLeft: '',
                nextFocusRight: '',
                nextFocusUp: '',
                nextFocusDown: 'subject-1',
                backgroundImage: "",
                focusImage: "",
                click: onBack,
                focusChange: "",
                beforeMoveChange: "",
                cType: "region",
            });
        },
    }

    Home.init();
</script>
</body>
</html>