<style type="text/css">

    body {
        background-image: url("{$activityFsImg}{$platformType}/bg_home.jpg");
    }

    /*====倒计时====*/
    #modal-cd {
        background-image: url("{$activityFsImg}{$platformType}/m_cd_bg.jpg");
    }

    /*====中奖名单====*/
    #modal-list {
        background-image: url("{$activityFsImg}{$platformType}/m_win_list.jpg");
    }

    /*====VIP没有游戏次数====*/
    #modal-vip-notimes {
        background-image: url("{$activityFsImg}{$platformType}/m_no_times.jpg");
    }

    /*====普通用户没有游戏次数====*/
    #modal-pay-notimes {
        background-image: url("{$activityFsImg}{$platformType}/m_pay_vip.jpg");
    }

    /*====活动规则====*/
    #modal-rule {
        background-image: url("{$activityFsImg}{$platformType}/m_rule.jpg");
    }

    /*====食物个数=====*/
    #foods-wrapper p span{
        background-image: url("{$activityFsImg}{$platformType}/border_radius.png");
    }

</style>