<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>医生列表carrierIdSet</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/Common/V3/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/DoctorInquiry/inquiry.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/DoctorP2P/V3/DoctorList.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var ROOT = '__ROOT__';
        var RenderParam = {
            //公共渲染
            carrierId: "{$carrierId}",          // 地区id
            areaCode: "{$areaCode}",            // 省份地区码
            subAreaCode: "{$subAreaCode}",      // 省份下的子区域
            platformType: "{$platformType}",    // 平台类型
            debug: "{$debug}",                  // 调试模式
            pageSize: "{$size}",                // 页面尺寸
            stbModel: "{$stbModel}",            // 盒子的型号
            fsUrl: "{$resourcesUrl}",           // fs 地址
            time: "{$time}",                    // 开始渲染时间
            userId: "{$userId}",                // 用户Id
            accountId: "{$accountId}",          // 账号Id
            isVip: {$isVip},                    // 用户是否是vip(1-vip 0-非vip)
            focusIndex: "{$focusIndex}",        // 记录保持的焦点ID
            inner: "{$inner}",

            //当前页渲染
            CWS_HLWYY_URL: "{$cwsHlwyyUrl}",
            currentDeptId: "{$deptId}", //全部科室
            currentDeptIndex: "{$deptIndex}", // 科室编号
            focusId: "{$focusId}",     //默认焦点
            phone: "{$phone}",
            currentPage: {$currentPage}
        }
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公共库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/DoctorInquiry/V1/inquiry.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/DoctorP2P/V3/DoctorList.js?t={$time}"></script>

</head>
<body style='background-image: url("__ROOT__/Public/img/hd/Common/V7/bg_home.png")'>
<div class="title">在线问诊</div>
<div class="subject_btn">
    <img id="subject_btn" src="__ROOT__/Public/img/hd/DoctorP2P/V3/bg_subject.png"/>
    <div id="subject_btn_title" class="subject_title"></div>
</div>
<!--隐藏一键问医按钮-->
<!--<img id="inquiry_btn" src="__ROOT__/Public/img/hd/DoctorP2P/V3/bg_inquiry.png"/>-->
<img id="record_btn" src="__ROOT__/Public/img/hd/DoctorP2P/V3/bg_record.png"/>
<img id="arrow_left" class="arrow_left" src="__ROOT__/Public/img/hd//DoctorP2P/V3/arrow_left.png"/>
<img id="arrow_right" class="arrow_right" src="__ROOT__/Public/img/hd//DoctorP2P/V3/arrow_right.png"/>
<div id="page_num"></div>
<div id="doctor_list" class="doctor_list">
</div>
<div style="position: absolute;color: #ffffff;left: 40px;top:677px;">医生接诊时间集中在08:00～22:00，请在该时间段进行问诊哦~</div>
<script type="text/javascript" src="__ROOT__/Public/js/Unclassified/by640092Set.js?t={$time}"></script>
</body>
</html>