body {
    width: 1280px;
    height: 720px;
}

body > *,
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

/*活动首页*/
#btn_activity_rule{
    top:71px;
    left: 507px;
}

#btn_back{
    top:16px;
    left: 507px;
}

#btn_winner_list{
    top:126px;
    left: 507px;
}

#btn_start{
    top:433px;
    left: 259px;
}

#icon_firecracker{
    top: 300px;
    left: 979px;
}
/*剩余次数*/
#left_times {
    top: 498px;
    left: 267px;
    width: 157px;
    height: 22px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    font-family: "SourceHanSansCN-Regular";
}
/*倒计时*/
#count_down{
    top: 243px;
    left: 547px;
    width: 50px;
    height: 50px;
    color: #cc3d55;
    font-size: 36px;
    font-weight: bold;
}

/*活动规则*/
#btn_close_rule {
    top: 22px;
    left: 1086px;
    display:none;
}
#game_container{
    position: relative;
}
/*艾草图素*/
.AyTsao{
    position: absolute;
    /*visibility: hidden;*/
    /*z-index: 10;*/
}
#AyTsao_1{
    position: absolute;
    top: 179px;
    left: 36px;
}#AyTsao_2{
    position: absolute;
    top: 179px;
    left: 338px;
}
/*粽子*/
.zongzi{
    top:339px;
    left: 287px;
    position: absolute;
}

/*中奖名单*/
#total_list {
    top: 178px;
    left: 123px;
}

#all_marquee {
    height: 77px;
}

#my_marquee {
    height: 15px;
}

table.marquee_table {
    width: 383px;
}

table#all_table tr {
    height: 20px;
}

table.marquee_table td {
    width: 120px;
    margin-right: 50px;
    text-align: center;
    color: #804000;
    font-size: 15px;
}

#my_list {
    top: 307px;
    left: 131px;
    height: 30px;
    font-size: 15px;
    color: #804000;
    text-align: center;
}

.winner_account{
    padding-left: 0px;
}
.winner_time{
    padding-left: 56px;
}
.winner_prize{
    padding-left: 56px;
}


#reset_tel {
    color: white;
    top: 321px;
    left: 130px;
    width: 320px;
    height: 36px;
    line-height: 36px;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

#btn_list_submit {
    top: 373px;
    left: 203px;
}

#btn_list_cancel {
    top: 373px;
    left: 332px;
}

/*游戏结束*/
#btn_game_over_sure {
    top: 400px;
    left: 550px;
}

/*游戏页*/
#game_countdown {
    top: 113px;
    left: 346px;
    width: 25px;
    height: 50px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
}
#AyTsaoTimes{
    top: 193px;
    left: 349px;
    line-height: 55px;
    color: #ffffff;
    font-size: 29px;
    font-weight: bold;
}

#game_times_count{
    top: 412px;
    left: 485px;
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

/*游戏失败*/
#btn_game_fail_sure {
    top: 305px;
    left: 265px;
}

/*游戏成功*/
#btn_lottery_sure {
    top: 302px;
    left: 203px;
}
#btn_lottery_canc {
    top: 302px;
    left: 334px;
}
#btn_lottery_cancel {
    top: 372px;
    left: 334px;
}

#btn_lottery_exit {
    visibility: hidden;
    top: 441px;
    left: 666px;

}

/*抽奖成功*/
#prize_image {
    top: 200px;
    left: 252px;
}

#lottery_tel {
    top: 330px;
    left: 222px;
    font-size: 15px;
    color: #ffffff;
    width: 180px;
    height: 23px;
    line-height: 23px;
    text-align: center;
}

#btn_lottery_submit {
    top: 372px;
    left: 203px;
}
/*抽奖失败*/
#btn_lottery_fail {
    top: 304px;
    left: 270px;
}

/*订购VIP*/
#btn_order_submit {
    top: 308px;
    left: 200px;
}

#btn_order_cancel {
    top: 308px;
    left: 328px;
}

/*倒计时弹窗*/
#count {
    top: 271px;
    left: 729px;
    color: #ffffff;
    font-size: 55px;
    font-weight: bold;
}
*img{
    border: none;
    outline: none;
}

#first_page_winner{
    top: 678px;
    left: 378px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    width: 500px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    /*border: 1px red solid;*/
}

#move_cursor{
    top: 678px;
    left: 378px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    width: 500px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    /*border: 1px red solid;*/
}