* {
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
}

#default_focus {
    position: absolute;
    top: 0px;
    left: 0px;
    outline: none !important;
    width: 1280px;
    height: 720px;
}

.btn-only {
    position: absolute;
    top: 456px;
    left: 680px;
    outline: none !important;
    width: 187px;
    height: 74px;
}

.btn-success {
    position: absolute;
    top: 476px;
    left: 660px;
    outline: none !important;
    width: 187px;
    height: 74px;
}

.btn-only {
    position: absolute;
    top: 456px;
    left: 678px;
    outline: none !important;
    width: 187px;
    height: 74px;
}

.introduce {
    position: absolute;
    top: 300px;
    left: 518px;
    outline: none !important;
    width: 450px;
    font-size: 33px;
    color: #414141;
    text-align: center;
    line-height: 55px;
}
.introduce2 {
    position: absolute;
    top: 337px;
    left: 622px;
    outline: none !important;
    font-size: 48px;
    color: #414141;
    text-align: center;
    line-height: 48px;
}

.introduce-success {
    position: absolute;
    top: 234px;
    left: 499px;
    outline: none !important;
    width: 480px;
    font-size: 29px;
    color: #414141;
    text-align: center;
    line-height: 55px;
}

.btn-one {
    position: absolute;
    top: 445px;
    left: 572px;
    outline: none !important;
    width: 180px;
    height: 85px;
}

.btn-two {
    position: absolute;
    top: 445px;
    left: 778px;
    outline: none !important;
    width: 180px;
    height: 85px;
}

#searchText {
    width: 310px;
    height: 40px;
    z-index: 999;
    position: absolute;
    top: 388px;
    left: 598px;
    font-size: 28px;
    background: transparent;
    border: none;
    outline: none;
    line-height: 40px;
    color: #e16d1e;
    border: 1px red solid;
    border-radius: 5px;
    overflow:hidden;
    text-indent: 10px;
}

.introduce-price-text {
    position: absolute;
    top: 266px;
    left: 511px;
    outline: none !important;
    font-size: 40px;
    color: #ff850d

}

#myPhone {
    position: absolute;
    font-size: 18px;
    color: #414141;
    top: 355px;
    left: 597px
}

.introduce-price-name {
    font-size: 47px;
    color: #fc5f1a;
}

.key-table tr td {
    width: 50px;
    text-align: center;
    font-size: 30px
}

#top {
    position: absolute;
    z-index: 999
}

.detail-table {
    position: absolute;
    top: 256px;
    left: 180px;
    outline: none !important;
}
.detail-table tr td{ height: 34px; font-size: 18px;  color:#FFFFFF;  width: 920px; line-height: 30px}
.btn_back {
    position: absolute;
    top: 61px;
    left: 1156px;
    outline: none !important;
    width: 73px;
    height: 84px;
}
.price_one{
    position: absolute;
    top: 486px;
    left: 291px;
    outline: none !important;
    width: 138px;
    height: 127px;
}
.price_two{
    position: absolute;
    top: 486px;
    left: 577px;
    outline: none !important;
    width: 136px;
    height: 125px;
}
.price_three{
    position: absolute;
    top: 486px;
    left: 888px;
    outline: none !important;
    width: 87px;
    height: 125px;
}
.introduce-pay{
    position: absolute;
    top: 253px;
    left: 399px;
    outline: none !important;
    width: 480px;
    font-size: 33px;
    color: #414141;
    text-align: center;
    line-height: 60px;
}

.pay-one{
    position: absolute;
    top: 403px;
    left: 323px;
    outline: none !important;
    width: 119px;
    height: 118px;
  }
#pay-two{
    position: absolute;
    top: 403px;
    left: 494px;
    outline: none !important;
    width: 119px;
    height: 118px;
}
#pay-three{
    position: absolute;
    top: 403px;
    left: 670px;
    outline: none !important;
    width: 119px;
    height: 118px;
}
#pay-four{
    position: absolute;
    top: 403px;
    left: 850px;
    outline: none !important;
    width: 119px;
    height: 118px;
}

.book_text{
    position: absolute;
    top: 243px;
    left: 606px;
    outline: none !important;
    font-size: 33px;
    color: #414141;
    text-align: center;
}
.book_text_name{
    position: absolute;
    top: 238px;
    left: 706px;
    outline: none !important;
    font-size: 40px;
    color: #e21212;
    text-align: center;
    font-weight: bold;
}
.price_text{
    position: absolute;
    top: 306px;
    left: 606px;
    outline: none !important;
    font-size: 33px;
    color: #414141;
    text-align: center;
}
.price_text_name{
    position: absolute;
    top: 301px;
    left: 706px;
    outline: none !important;
    font-size: 40px;
    color: #ef7101;
    text-align: center;
    font-weight: bold;
}
.introduce_text{
    position: absolute;
    top: 387px;
    left: 586px;
    outline: none !important;
    font-size: 20px;
    color: #414141;
    text-align: center;
}
#pay-back{
    position: absolute;
    top: 586px;
    left: 576px;
    outline: none !important;
    width: 174px;
    height: 85px;
}