<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>芒果TV-播放器页面-V17</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Player/V17/video.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Player/V17/volume.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var RenderParam = {
            carrierId: "{$carrierId}",                      // 地区id
            areaCode: "{$areaCode}",                        // 省份地区码
            platformType: "{$platformType}",                // 平台类型（hd--高清 sd--标清）
            debug: "{$debug}",                              // 调试模式
            pageSize: "{$pageSize}",                        // 页面尺寸
            collectStatus: "{$collectStatus}",              // 判断是否收藏 0表示收藏 1表示未收藏
            sourceId: "{$sourceId}",                        // 视频ID
            returnUrl: "{$returnUrl}",                      // 返回地址
            userId: "{$userId}",                            // 用户ID
            accountId: "{$accountId}",                      // 用户账号
            imgHost: "{$resourcesUrl}",                     // 图片host
            isVip: {$isVip},                                // 用户是不是vip，1 -- 是vip
            freeSeconds: {$freeSeconds},                    // 免费观看时长
            currentPlayTimes: 0,                            // 记录当前播放的时间进度
            userType: {$userType},                          // 视频的播放策略（0-不限，1-普通用户可看, 2-vip可看）
            videoInfo: {$videoInfo},                        // 视频信息
            domainUrl: "{$domainUrl}",                      // 江苏电信需要使用的第三方播放器前缀地址
            videoUrl: "{$videoUrl}",                        // 视频url：中国联通的高清视频地址http 转换成为rtsp进行播放。
            recommendVideoUrl: '',                           // 推荐视频播放地址
            isForbidOrder: "{$Think.cookie.c_is_forbided_order}", // 是否禁止订购 1--表示禁止订购
            albumName: "{$albumName}", //专辑跳转传入专辑别名参数
            albumDetail: {$albumDetail | json_encode}, // 专辑详情 //added by zds 2020-06-15
        };
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>

    <script>var carrierId = {$carrierId};</script>
    <if condition="$carrierId eq '07430093' ">
        <!--湖南联通芒果TV 07430093js文件-->
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/mongoTV/webview.js?t={$time}"></script>
    </if>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>
    <!--当前模块js-->
    <switch name="carrierId">
        <case value="07430091|07430093"><!--芒果TV所需js文件-->
            <script type="text/javascript" src="__ROOT__/Public/js/Home/Common/HomeUtil.js?t={$time}"></script>
            <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/mongoTV/mylib.js?t={$time}"></script>
            <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/mongoTV/smallvideopage.js?t={$time}"></script>
        </case>
    </switch>

</head>

<body bgcolor="transparent" style="margin:0; padding:0;">

<div id="backg">
    <!--调试代码-->
    <div id="debug1"></div>
    <div id="debug2"></div>

    <!--iframe形式播放需要-->
    <div id="smallvod">
        <iframe id="smallscreen" name="smallscreen" frameborder="0" scrolling="no"></iframe>
    </div>

    <!--播放挽留页面-->
    <div id="detain-page" style="display:none;">
        <!--视频推荐位-->
        <div id="recommend-video-container">
            <!--四个推荐位-->
            <div id="recommend-video-1" class="recommend-video-container">
                <img id="recommend-video-1-img" class="recommend-video-img" src="" alt="">
                <div id="recommend-video-1-title" class="recommend-video-title"></div>
            </div>
            <div id="recommend-video-2" class="recommend-video-container">
                <img id="recommend-video-2-img" class="recommend-video-img" src="" alt="">
                <div id="recommend-video-2-title" class="recommend-video-title"></div>
            </div>
            <div id="recommend-video-3" class="recommend-video-container">
                <img id="recommend-video-3-img" class="recommend-video-img" src="" alt="">
                <div id="recommend-video-3-title" class="recommend-video-title"></div>
            </div>
            <div id="recommend-video-4" class="recommend-video-container">
                <img id="recommend-video-4-img" class="recommend-video-img" src="" alt="">
                <div id="recommend-video-4-title" class="recommend-video-title"></div>
            </div>
        </div>

        <!--操作按钮-->
        <div id="operate-btn-container">
            <!-- operate-btn-1：结束播放按钮，事先在html中创建，不需要动态创建了！！ -->
            <img id="operate-btn-1" class="operate-btn-img" src="" alt="">
            <!--js代码中动态追加类似的img：focus-2-2, focus-2-3 -->
        </div>
    </div>

    <!-- 暂停、倍速播放显示 -->
    <div id="play-indicator-container">
        <img id="play-indicator-bg" src="__ROOT__/Public/img/{$platformType}/Player/V7/play_indicator_forward_bg.png"
             alt="">
        <div id="play-indicator-text"></div>
    </div>

    <!--底部UI条-->
    <div id="playUI">
        <img id="video-progress-bottom-background"
             src="__ROOT__/Public/img/{$platformType}/Player/V7/bottom_bg_playing.png" alt=""/>
        <div id="video-current-play-time">00:00</div>
        <div id="play-progressbar-container">
            <div id="play-progressbar" style="width:0;">
                <img id="play-progressbar-ball" src="__ROOT__/Public/img/{$platformType}/Player/V7/ball.png" alt=""/>
            </div>
        </div>
        <div id="video-total-time">00:00</div>
        <div id="video-title"></div>
        <div id="floating-play-time-container">
            <img class="floating-playing-time-bg"
                 src="__ROOT__/Public/img/{$platformType}/Player/V7/floating_playing_time_bg.png" alt="">
            <div id="floating-play-time-text">00:00</div>
        </div>
        <!--按下呼出选集-->
        <div class="video-keydown-prompt" style="position: absolute;font-size: 14px;color: #fff;left: 580px;top: 683px;font-weight: bold;display: inline-block;vertical-align:middle;">
            <span>按</span>
            <img style="width: 9%;" src="__ROOT__/Public/img/{$platformType}/Player/V7/keydown.png" alt="">
            <span> “下” 键呼出选集</span>
        </div>
    </div>

    <!--音量调节UI-->
    <div id="volumeUI" style="visibility:hidden;">
        <img id="volume-background" src="__ROOT__/Public/img/{$platformType}/Player/V7/volume_container_bg.png" alt=""/>
        <img id="volume-switch" src="__ROOT__/Public/img/{$platformType}/Player/V7/volume_on.png" alt=""/>
        <div id="volume-value"></div>
        <div id="volume-progressbar-container">
            <!-- +/-音量时动态增加如下img -->
            <!--<img class="volume-progress" src="__ROOT__/Public/img/{$platformType}/Player/V7/volume_progress.png"/>-->
        </div>
    </div>

    <!-- 默认标签：防止焦点丢失 -->
    <a id="default_link" href="#"><img class="grubFocusImg" src="__ROOT__/Public/img/Common/spacer.gif" alt=""/></a>

    <div id = 'video_list' style="display:none; position: absolute;width: 1280px;height: 180px;background-image: url(../../../../../Public/img/hd/Player/V7/bottom_shadow.png);bottom: 0;">

     </div>
</div>

<script type="text/javascript">

    /**
     * 隐藏播放器，使用局方播放器
     */
    if(RenderParam.carrierId == "07430093"){
        G('playUI').style.display = "none";
    }
    /**
     * 芒果TV大窗播放。初期调研调测，后期完善需要整合。
     * @author Songhui on 2020-3-24
     */
    var mgTVPlay = (function () {
        return new function () {

            /** 全屏大窗播放 */
            this.startFullScreenPlay = function () {
                if(RenderParam.carrierId == "07430093"){
                    var videoUrl = RenderParam.videoInfo.videoUrl.split('|');
                    mangoTV.unicom_play_video({
                        index: videoUrl[1],
                        media_asset_id: videoUrl[0],
                        video_type:0,
                        video_new_index:RenderParam.albumDetail.data.video_list.length,
                        video_all_index:RenderParam.albumDetail.data.video_list.length,//RenderParam.albumDetail.data.video_list.length
                        quality:"hd",
                        ui_style:0,
                        video_id:videoUrl[0],//"5a14257e1cb704eee49730988a89d23b"
                        video_name:RenderParam.videoInfo.title,
                        category_id:RenderParam.videoInfo.entryTypeName,
                    });
                    LMEPG.Intent.back();
                }else{
                    mangoTV.mobile_play_video({
                        index: 1,
                        media_asset_id: RenderParam.videoUrl,
                    });
                }
            };

            /** 小视频播放 */
            this.loadSmallVideo = function() {
                try {
                    Webview.stopVideo();
                } catch (e) {}
                var img = document.getElementById("backg");
                var x = img.offsetLeft;
                var y = img.offsetTop;
                var width = img.clientWidth;
                var height = img.clientHeight;
                Webview.setVideoWindowPosition(x, y, width, height);
                var videoUrl = RenderParam.videoInfo.videoUrl.split('|');
                var playParams = {
                    video_type: "0", //视频类型 0:点播 1:直播
                    video_id:videoUrl[0],
                    video_name:RenderParam.videoInfo.title,
                    media_asset_id:videoUrl[0],
                    category_id:RenderParam.videoInfo.entryTypeName,
                    ui_style:0,
                    video_index: videoUrl[1], //分集索引号（要播放的集数）
                    quality:"hd",
                    video_all_index:RenderParam.albumDetail.data.video_list.length,
                    video_new_index:RenderParam.albumDetail.data.video_list.length,
                };
                Webview.setHandler("PlayPrepared",function(prepared){
                    if(prepared){
                        key_enter = true;
                        Webview.playVideo(playParams);
                    }});
            };

            /** 释放 */
            this.destroy = function () {
                mangoTV.get_webview().stopVideo();
            };

            /** 初始化操作（例如监听等） */
            this.init = function () {
                try {
                    mangoTV.registerCallback(function (isCompleted) {
                        isCompleted && LMEPG.UI.showToast('播放结束');
                    });
                } catch (e) {
                    LMEPG.Log.error('[芒果TV-Play]--->error:' + e.toString());
                }
            };
        };
    })();

    var key_enter = false;
    function onKeyDown() {
        MenuList.createVideoList();
        MenuList.initButton();
        LMEPG.BM.init('video_list_'+(videoimg+1)+'_bg', buttons, true);
        G('video_list').style.display = "block";
    }

    //联通芒果TV监听事件
    if(carrierId == "07430093"){
        Webview.setKeyEventHandler(function (action, keyCode, keyName, metaState) {
            if(keyCode == KEY_MANGGUOTV_DOWN){
                key_enter = false;
                onKeyDown();
            }else if(keyCode == KEY_MANGGUOTV_ENTER && key_enter){
                Webview.stopVideo();
            }else{
                LMEPG.call(LMEPG.Framework.onEvent, [keyCode]);
            }
        });
    }


    window.onload = function () {
        mgTVPlay.init();
        LMEPG.BM.init('', []);
        LMEPG.KeyEventManager.addKeyEvent({
                KEY_DOWN: 'onKeyDown()'
        });
        mgTVPlay.startFullScreenPlay();
    };

    window.onunload = function () {
        mgTVPlay.destroy();
    };

    window.onerror = function (message, filename, lineno) {
        lmTVLogPanel.log.e(LMEPG.Func.string.format("window.onerror[{0}]:{1}", [lineno, message]));
        var stbModelWithPT = LMEPG.STBUtil.getSTBModel() + (I_HD() ? "（高清）" : "（标清）");
        var errorLog = LMEPG.Func.string.format("window.onerror[{0}][捕获全局错误]：\nmessage:{1}\nfile_name:{2}\nline_NO:{3}", [stbModelWithPT, message, filename, lineno]);
        printLog(errorLog, true);
    };
</script>
</body>
</html>