body {
    width: 1280px;
    height: 720px;
    color: #fff;
    background-image: url(../../../../img/hd/Home/V13/Home/Common/bg.png);
}

p#title {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

div#container {
    position: relative;
    top: 160px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

div#list-wrapper {
    width: 900px;
    margin: 0 auto;
    height: 444px;
}
div.item-wrap{
    float: left;
    padding: 10px;
    position: relative;
    width: 280px;
    height: 180px;
}

p.item-img{
    width: 280px;
    height: 180px;
}
.item-img{
    width: 280px;
    height: 180px;
    border-radius: 15px;
}

div.item-p{
    width: 280px;
    padding: 16px 0;
    position: absolute;
    bottom: 0;
    background-position: center;
    background-image: url(../../../../img/hd/AppointmentRegister/V13/hosp_name_bg.png);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
div#icon-arrow {
    position: absolute;
    top: 170px;
    left: 0;
}
div#icon-arrow img{
    position: absolute;
}
div#icon-arrow img#icon-next {
    left: 1134px;
}

div#page-action {
    width: 620px;
    margin: 0 auto;
}
div#page-action img,
div#page-action p{
    float: left;
    color: #b2deff;
    margin: 0 6px;
}
div#page-action p{
    margin-top: 10px;
    font-size: 24px;
}
