body {
    width: 644px;
    height: 530px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding: 0;
}

body > *,
.modal > * {
    position: absolute;
}


#img_index {
    position: relative;
}

#act_rule {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 150px;
    height: 85px;
    margin: auto;
}

#btn_back {
    position: absolute;
    left: 488px;
    top: 6px;
    width: 150px;
    height: 85px;
    margin: auto;
}

#btn_winner_list {
    position: absolute;
    left: 488px;
    top: 70px;
    width: 150px;
    height: 85px;
    margin: auto;
}

#frequency {
    position: absolute;
    color: white;
    top: 480px;
    left: 385px;
    font-size: 32px;
}

#id_waiting_dialog{
    opacity: 0;
}
.clwon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.sure {
    position: absolute;
    left: 116px;
    top: 345px;
}
.cancel {
    position: absolute;
    left: 298px;
    top: 345px;
}

.lottersure {
    position: absolute;
    left: 130px;
    top: 380px;
}
.lottercancel {
    position: absolute;
    left: 320px;
    top: 380px;
}
#gid_keyboard_container{
    position: absolute;
    left: 100px;
    top: 246px;
    width: 360px;
    height: 120px;
    z-index: 9999;
}


.nuisure {
    position: absolute;
    left: 200px;
    top: 300px;
}

#lottery_tel {
    POSITION: absolute;
    TOP: 334PX;
    left: 279px;
    font-size: 20px;
}
#reset_tel{
    left: 225px;
    top: 372px;
    font-size: 26px;
}
#lottery_tel:empty:not(:focus):before{
    content:attr(data-text);
    font-size: 26px;
    color: rgba(0,0,0,0.5);
}
#reset_tel:empty:not(:focus):before{
    content:attr(data-text);
    font-size: 26px;
    color: rgba(0,0,0,0.5);
}
.awsure{
    position: absolute;
    left: 124px;
    top: 410px;
}
.awcancel{
    position: absolute;
    left: 312px;
    top: 410px;
}
.card_img_div{
    float: left;
    width: 230px;
    height: 357px;
}
.sp_1{
    position: absolute;
    left: 5px;
    top: 415px;
}
.sp_2{
    position: absolute;
    left: 90px;
    top: 415px;
}
.sp_3{
    position: absolute;
    left: 457px;
    top: 415px;
}
.sp_4{
    position: absolute;
    left: 542px;
    top: 415px;
}
#second{
position: absolute;
    left: 680px;
    top: 255px;
    font-size: 32px;
}
#wining_{
position: absolute;
    left: 230px;
    top: 125px;
    width: 147px;
    height: 132px;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}
#car_one{
    position: absolute;
    left: 91px;
    top: 165px;
    width: 172px;
    height: 224px;
    margin: auto;
}
#car_two{
    position: absolute;
    left: 217px;
    top: 165px;
    width: 172px;
    height: 224px;

    margin: auto;
}
#car_three{
    position: absolute;
    left: 330px;
    top: 165px;
    width: 172px;
    height: 224px;
    margin: auto;
}

.card_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 172px;
    height: 224px;
    margin: auto;
    z-index: -1;
}

#all_marquee {
    height: 96px;
}

#my_marquee {
    height: 40px;
}

table#all_table tr {
    height: 30px;
}

table{
    width: 517px;
}
table td{
    width: 229px;
    text-align: center;
    color: #622e1e;
    font-size: 24px;
}
table td:nth-child(1){
    text-align: left;
}
table td:nth-child(3){
    text-align: right;
}
table td:nth-child(2){
  /*  margin-right: 60px;
    text-align: center;
    color: #622e1e;
    font-size: 24px;*/
}
/*中奖名单*/
#total_list {
    top: 128px;
    left: 58px;
}

#my_list {
    top: 265px;
    left: 58px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    /*border: 1px red solid;*/
}