.pages{
    position: absolute;
    top: 656px;
    left: 1123px;
    font-size: 26px;
    line-height: 26px;
}
.center{
    position: absolute;
    top: 232px;
    left: 15px;
    width: 1220px;
}
.recommended{
    width: 252px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
}
.recommended_block{
    position:relative;
    top: 0px;
    left: 0px;
    width: 252px;
    height: 162px;
}
.vip_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 52px;
    height: 52px;
    z-index: 4;
}

.recommended_img{
    position:absolute;
    top: -42px;
    left: -42px;
    width: 252px;
    height: 162px;
    padding: 42px;
    border-radius: 12px;
}
.recommended_title{
    position:absolute;
    top: 134px;
    left: 0px;
    width: 252px;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: left;
    text-indent: 30px;
    background: url("../../../../img/hd/Channel/V10/videoset_mask.png") no-repeat;
    /*background: rgba(0,0,0,0.6);*/
}
.recommended_hover>.recommended_img{
    top: -42px;
    left: -52px;
    /*-webkit-transform: scale(1.08);*/
    /*-moz-transform: scale(1.08);*/
    /*border-radius: 12px;*/
    /*box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px rgba(0, 0, 0, 0.4), 0px 10px 40px 10px rgba(0, 0, 0, 0.5);*/
    z-index: 996;
}
.recommended_hover>.recommended_title{
    top: 150px;
    left: -10px;
    z-index: 996;
}
.recommended_hover>.vip_icon{
    top: -7px;
    left: -17px;
    z-index: 996;
}
.arrow_pre{
    position:absolute;
    top: 670px;
    left: 52px;
    width: 10px;
    height: 20px;
}
.arrow_next{
    position:absolute;
    top: 670px;
    left: 1210px;
    width: 10px;
    height: 20px;
}
.introduce{
    position: absolute;
    top: 37px;
    left: 60px;
}
#introduce-img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 306px;
    height: 198px;
    border-radius: 15px;
}
.info{
    position: absolute;
    top: 0px;
    left:340px ;
    width: 820px;
    font-size: 26px;
}
#title{
    margin-top: 5px;
    width: 656px;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    font-size: 37px;
}
.info-word{
    margin-top: 15px;
}
#detail{
    width: 820px;
    height: 70px;
    overflow: hidden;
}
#collect{
    position: absolute;
    top: 27px;
    left: 964px;
}
.line{
    position: absolute;
    top: 255px;
    width: 1160px;
    left: 60px;
}
#pagination{
    position: absolute;
    top: 650px;
    left: 60px;
    font-size: 26px;
}
.pagination-btn{
    position: relative;
    width: 132px;
    height: 58px;
    float: left;
    line-height: 58px;
    margin-left: 10px;
    text-align: center;
    /*border-radius: 12px;*/
}
.pagination-img{
    position:absolute;
    top: 0px;
    left: 0px;
}
.pagination-title{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 132px;
    height: 58px;
    text-align: center;
}