<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>周六健康半价购首页</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}">
    <link rel="stylesheet" type="text/css"
          href="__ROOT__/Public/css/{$platformType}/Activity/ActivityWeekendHalfPrice/V1/guide.css?t={$time}">
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmajax_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcore_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmmarquee.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmintent_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmlog_v1.0.0.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmstbutils.js?t={$time}"></script>

</head>
<body style='background-image: url("__ROOT__/Public/img/{$platformType}/Activity/ActivityWeekendHalfPrice/V1/bg.png");'>
<img id="btn-book" src="__ROOT__/Public/img/{$platformType}/Activity/ActivityWeekendHalfPrice/V1/order.gif" alt=""/>
<div id="show-box"></div>
<div id="default_tip"></div>
<script type="text/javascript">
    var isVip = {$isVip};//是否是vip
    var imgPathPrefix = "/Public/img/hd/Activity/ActivityWeekendHalfPrice/V1/"

    // 返回时只能回到局方
    function onBack() {
        LMEPG.Intent.back(); // 应用内活动，直接返回上一级页面
    }

    var buttons = [
        {
            id: 'btn-book',
            name: '订购1',
            type: 'img',
            nextFocusLeft: '',
            nextFocusRight: '',
            nextFocusUp: '',
            nextFocusDown: '',
            backgroundImage: imgPathPrefix + 'order.png',
            focusImage: imgPathPrefix + 'order.gif',
            productId: "product1",
            click: "isBuy()",
            focusChange: "",
            beforeMoveChange: "",
            moveChange: ""
        }
    ];

    window.onload = function () {
        LMEPG.ButtonManager.init(['btn-book'], buttons, '', true);
    };

    function isBuy() {
        if(!LMEPG.Func.isAllowAccess(isVip, ACCESS_NO_TYPE)){
            jumpBuyVip();
        } else {
            LMEPG.UI.showToast("已经订购过该产品");
            setTimeout(function () {
                jumpHome()
            }, 3000);
        }
    }
    /**
     * 获取当前页对象
     */
    function getCurrentPage() {
        var objCurrent = LMEPG.Intent.createIntent("activity-common-guide");
        objCurrent.setParam("userId", "{$userId}");
        objCurrent.setParam("inner", "{$inner}");
        return objCurrent;
    }

    /**
     * @func 进行购买操作
     * @param remark 备注字段，补充说明reason。如订购是通过视频播放，则remark为视频名称；如是通过活动，则remark为活动名称。
     * @returns {boolean}
     */
    function jumpBuyVip(contentId) {
        var objCurrent = getCurrentPage();

        var objOrderHome = LMEPG.Intent.createIntent("orderHome");
        objOrderHome.setParam("userId", "{$userId}");
        objOrderHome.setParam("directPay", "1");
        objOrderHome.setParam("orderReason", "101");
        objOrderHome.setParam("contentId", contentId); // sp订购的内容id
        objOrderHome.setParam("isJointActivity", "1"); // 表示联合活动
        objOrderHome.setParam("remark", "{$activityName}");

        var objActivityGuide = LMEPG.Intent.createIntent("home");
        objActivityGuide.setParam("userId", "{$userId}");
        objActivityGuide.setParam("inner", "{$inner}");
//        objActivityGuide.setParam("isOrderBack", "1"); // 表示订购回来

        LMEPG.Intent.jump(objOrderHome, objCurrent, LMEPG.Intent.INTENT_FLAG_DEFAULT, objActivityGuide);
    }
    /**
     * 跳转到弹框页
     */
    function jumpHome() {
        var objCurrent = getCurrentPage();

        var objDialog = LMEPG.Intent.createIntent("home");
        objDialog.setParam("userId", "{$userId}");
        objDialog.setParam("inner", "{$inner}");
//        objDialog.setParam("leftTimes", "{$leftTimes}");
//        objDialog.setParam("context", text);

        LMEPG.Intent.jump(objDialog, objCurrent);
    }
</script>
</body>
</html>