
body {
    width: 1280px;
    height: 720px;
}

#wheel-wrap{
    top: 223px;
    left: 446px;
}

div, img, ul {
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

#jump-start {
    top: 123px;
    left: 130px;
}

#jump-knowledge {

    top: 23px;

    left: 30px;
}

#knowledge-next{
    
top: 565px;
    
left: 900px;
}

#knowledge-pic{
    
top: 100px;
    
left: 100px;
}

#knowledge-back{top: 565px;left: 500px;visibility: hidden;}
.txt-tip,
#score-count,
#times-count {
    font-family: "Source Code Pro", sans-serif;
    text-align: left;
    color: #fac79b;
}

.jump-wrap {
    top: 23px;
    right: 23px;
    width: 216px;
}

.jump-wrap img {
    position: static;
    /* margin-bottom: 10px; */
}

.game-wrapper {
    top: 210px;
    left: 300px;
    width: 750px;
}

.game-wrapper img {
    position: static;
    background-position: bottom;
    background-size: 164px 202px;
    margin: 5px 35px;
}

.txt-tip {
    text-align: center;
    position: absolute;
    top: 444px;
    left: 20px;
}

.prize-wrapper {
    width: 158px;
    top: 169px;
    left: 46px;
}

.prize-wrapper img {
    position: static;
}

#score-count {
    position: absolute;
    top: 366px;
    left: 714px;
    font-size: 70px;
    line-height: 1;
}

#times-count {
    position: absolute;
    bottom: 16px;
    left: 520px;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

.modal {
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
}

/*====倒计时====*/
#modal-cd {}

#count-down {
    color: #e55231;
    font-size: 43px;
    top: 318px;
    left: 680px;
    font-weight: bold;
}

/*====活动规则====*/
#modal-rule {
}

#btn-rule-close {
    top: 88px;
    left: 1110px;
}

/*====中奖名单====*/
#modal-list {
}

#total-list {
    top: 192px;
    left: 270px;
}

#all-marquee {
    height: 130px;
}

#my-marquee {
    height: 40px;
}

table.marquee-table {
    width: 720px;
}

table#all-table tr {
    height: 40px;
}

table.marquee-table td {
    width: 33%;
    text-align: center;
    color: #fac79b;
    font-size: 24px;
}

#my-list {
    top: 400px;
    left: 270px;
    font-size: 24px;
    text-align: center;
}

.list-tel {
    color: #fff;
    top: 448px;
    left: 491px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
}

img.btn-list {
    top: 529px;
}

#btn-list-submit {
    left: 421px;
}

#btn-list-cancel {
    left: 660px;
}

/*====VIP没有游戏次数====*/
#modal-vip-notimes {
}

#btn-one0 {
    top: 418px;
    left: 586px;
}

/*====普通用户没有游戏次数====*/
#modal-pay-notimes {
}

img.btn-pay {
    top: 481px;
}

#btn-pay-sure {
    left: 432px;
}

#btn-pay-cancel {
    left: 674px;
}

/*====兑换/抽奖成功====*/
#modal-accomplish {
}

#accomplish-prize {
    top: 188px;
    left: 666px;
}

#accomplish-tel {
    top: 395px;
    left: 576px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    color: #fff;
}

img.btn-win {
    top: 481px;
}

#btn-accomplish-submit {
    left: 432px;
}

#btn-accomplish-cancel {
    left: 674px;
}

/*====游戏主界面====*/
#modal-game {
}


#game-start {
    top: 588px;
    left: 187px;
    background-position: center;
    background-size: 100%;
}

#get-fruit {
    top: 240px;
    left: 250px;
    font-size: 36px;
    color: #ee4a8d;
    text-align: center;
    font-weight: bold;
    width: 75px;
}

#tree {
    bottom: 0;
    left: 450px;
}

#modify-cloud {
    bottom: 0;
}

#game-cd {
    top: 310px;
    left: 250px;
    font-size: 36px;
    color: #ee4a8d;
    text-align: center;
    font-weight: bold;
    width: 75px;
}


/*====增加积分界面===*/
#modal-add-score {
    top: 0;
    left: 0;
}

#p-add-score {
    position: absolute;
    top: 320px;
    left: 680px;
    font-size: 36px;
    color: #d56000;
    width: 120px;
    text-align: center;
    font-weight: bold;
}

#exchange-total-score {
    position: absolute;
    top: 72px;
    left: 275px;
    font-size: 50px;
    color: #f75d48;
}

ul.prize-list {
    top: 458px;
    left: 202px;
}

ul.prize-list li {
    width: 158px;
    margin: 0 80px;
    float: left;
    text-align: center;
}

ul.prize-list li img {
    position: static;
    margin-left: -100px;
}

ul.prize-list li p {
    font-size: 28px;
    color: #f75d48;
    margin: 0 0 25px 0;
}

#subject-count {
    position: absolute;
    top: 177px;
    left: 527px;
    font-size: 38px;
    color: #f17c5c;
    line-height: 1;
}

#subject-wrap {
    top: 190px;
    left: 636px;
    font-size: 30px;
    color: #404040;
    width: 530px;
}

#subject-title {
    margin-bottom: 10px;
}

#subject-options {
    position: relative;
}

#subject-options li {
    padding: 0 10px 6px 10px;
}

#subject-desc {

    margin-top: 20px;
}

#subject-nav {
    top: 330px;
    overflow: hidden;
}

#subject-nav li {
    width: 66px;
    height: 43px;
    background-position: right;
    float: left;
}

.subject-0{
    
margin-left: -20px;
}

#btn-one,
#btn-one0,
#btn-one1 {
    
top: 433px;
    
left: 534px;
}






