body {
    width: 1280px;
    height: 720px;
}
body > *,
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

/*活动首页*/
#btn_back {
    position: absolute;
    top: 23px;
    left: 1184px;
}

#btn_activity_rule {
    position: absolute;
    top: 65px;
    left: 866px;
}
#btn_winner_list {
    position: absolute;
    top: 267px;
    left: 811px;
}

#btn_exchange_prize {
    position: absolute;
    top: 367px;
    left: 985px;
}
#btn_tips {
    position: absolute;
    top: 239px;
    left: 126px;
}

#btn_start {
    position: absolute;
    top: 456px;
    left: 423px;
}

#left_times {
    top: 480px;
    left: 100px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

#bg_tips{
    top: 21px;
    left: 96px;
}

/*活动规则*/
#bg_activity_rule{
    position: absolute;
    top: 21px;
    left: 96px;
}
#btn_close_rule {
    top: 23px;
    left: 1184px;
}

#btn_close_tips {
    top: 23px;
    left: 1184px;
}

/*中奖名单*/
#bg_winner_list{
    position: absolute;
    top: 21px;
    left: 96px;
}

#total_list {
    top: 217px;
    left: 302px;
}
#btn_list_submit {
    top: 540px;
    left: 471px;
}

#btn_list_cancel {
    top: 540px;
    left: 680px;
}

#all_marquee {
    height: 120px;
}

#my_marquee {
    height: 50px;
}

table.marquee_table {
    width: 696px;
}

table#all_table tr {
    height: 40px;
}

table.marquee_table td {
    width: 232px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

#my_list {
    top: 415px;
    left: 302px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

#reset_tel {
    color: #ff5c31;
    top: 475px;
    left: 573px;
    width: 222px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    text-align: left;
}

/*兑换奖品*/
#bg_exchange_success{
    top: 64px;
    left: 171px;
}

#btn_exchange_submit {
    top: 447px;
    left: 473px;
}

#btn_exchange_cancel {
    top: 447px;
    left: 677px;
}
#exchange_tel {
    top: 387px;
    left: 630px;
    font-size: 24px;
    color: #844409;
    text-align: left;
}

/*游戏结束*/
#btn_game_over_sure {
    top: 470px;
    left: 557px;
}

/*游戏页*/
#game_container{
    width: 1280px;
    height: 720px;
    overflow: hidden;
}
#game_countdown {
    top: 20px;
    left: 70px;
    font-size: 30px;
    color: #000000;
    /*font-weight: bold;*/
}
#game_tips{
    top: 650px;
    left: 878px;
    font-size: 24px;
    color: #000000;
}

#icon_on_cloud{
    top: 65px;
    left: 675px;
}
#btn_fly_more{
    top: 441px;
    left: 550px;
}
#kite_1{
    top: 600px;
    left: 0px;
}

#game_container_2{
    width: 1280px;
    height: 720px;
    overflow: hidden;
}
#game_countdown_2 {
    top: 20px;
    left: 70px;
    font-size: 30px;
    color: #000000;
    /*font-weight: bold;*/
}
#icon_on_sky{
    top: 500px;
    left: 350px;
}
#icon_out_sky{
    top: 100px;
    left: 685px;
}

#kite_2{
    top: 600px;
    left: 0px;
}


/*兑换礼品*/
#game_score{
    top: 120px;
    left: 592px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: #000;
}

#icon_prize_1{
    top:235px;
    left:325px;
}
#icon_prize_2{
    top:235px;
    left:570px;
}
#icon_prize_3{
    top:235px;
    left:815px;
}
#exchange_point_1{
    top: 402px;
    left:417px;
    font-size: 30px;
    color: #000;
}
#exchange_point_1_word{
    top: 400px;
    left:330px;
    font-size: 30px;
    color: #000;
}
#exchange_point_2{
    top: 402px;
    left:662px;
    font-size: 30px;
    color: #000;
}
#exchange_point_2_word{
    top: 400px;
    left:575px;
    font-size: 30px;
    color: #000;
}
#exchange_point_3{
    top: 402px;
    left:907px;
    font-size: 30px;
    color: #000;
}
#exchange_point_3_word{
    top: 400px;
    left:820px;
    font-size: 30px;
    color: #000;
}

#exchange_prize_1{
    top: 449px;
    left:340px;
}
#exchange_prize_2{
    top: 449px;
    left:585px;
}
#exchange_prize_3{
    top: 449px;
    left:830px;
}


/*游戏失败*/
#bg_no_score{
    top: 56px;
    left: 171px;
}

#btn_game_fail_sure {
    top: 470px;
    left: 557px;
}

/*游戏成功*/
#bg_get_score{
    top: 56px;
    left: 171px;
}

#step_count {
    top: 276px;
    left: 798px;
    font-size: 30px;
    color: #fff;
}

#btn_game_sure {
    top: 447px;
    left: 575px;
}


/*抽奖成功*/
#prize_image {
    top: 176px;
    left: 618px;
}

#lottery_tel {
    top: 450px;
    left: 614px;
    font-size: 25px;
    color: #251505;
    width: 200px;
    height: 30px;
    line-height: 30px;
}

#btn_lottery_submit {
    top: 524px;
    left: 431px;
}

#btn_lottery_cancel {
    top: 524px;
    left: 666px;
}


/*订购VIP*/
#bg_order_vip{
    top: 56px;
    left: 171px;
}
#btn_order_submit {
    top: 441px;
    left: 431px;
}

#btn_order_cancel {
    top: 441px;
    left: 666px;
}

/*#order_status{*/
    /*top: 56px;*/
    /*left: 171px;*/
/*}*/

/*倒计时弹窗*/
#bg_countdown{
    top: 56px;
    left: 171px;
}

#count {
    top: 300px;
    left: 672px;
    color: #FF5C31;
    font-size: 45px;
    font-weight: bold;
}