* {
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
}

#default_focus {
    position: absolute;
    top: 0px;
    left: 0px;
    outline: none !important;
    width: 1280px;
    height: 720px;
}

.btn-only {
    position: absolute;
    top: 600px;
    left: 530px;
    outline: none !important;
    width: 198px;
    height: 72px;
}
.btn-only2 {
    position: absolute;
    top: 500px;
    left: 530px;
    outline: none !important;
    width: 198px;
    height: 72px;
}

.btn-success {
    position: absolute;
    top: 460px;
    left: 557px;
    outline: none !important;
    width: 171px;
    height: 61px;
}



.introduce{
    position: absolute;
    top: 314px;
    left: 381px;
    outline: none !important;
    width: 550px;
    font-size: 29px;
    color: #3a230a;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
}

.introduce2{
    position: absolute;
    top: 225px;
    left: 320px;
    outline: none !important;
    width: 700px;
    font-size: 29px;
    color: #3a230a;
    text-align: left;
    line-height: 55px;
    font-weight: bold;
}

.introduce3{
    position: absolute;
    top: 214px;
    left: 321px;
    outline: none !important;
    width: 700px;
    font-size: 29px;
    color: #3a230a;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
}

.introduce_win_price{
    position: absolute;
    top: 300px;
    left: 508px;
    outline: none !important;
    width: 700px;
    font-size: 29px;
    color: #3a230a;
    text-align: left;
    line-height: 55px;
    font-weight: bold;
}

.btn-one {
    position: absolute;
    top: 501px;
    left: 438px;
    outline: none !important;
    width: 171px;
    height: 61px;
}

.btn-two {
    position: absolute;
    top: 501px;
    left: 658px;
    outline: none !important;
    width: 171px;
    height: 61px;
}

#searchText {
    width: 260px;
    height: 36px;
    z-index: 999;
    position: absolute;
    top: 423px;
    left: 516px;
    font-size: 24px;
    background: transparent;
    border: none;
    outline: none;
    line-height: 36px;
    color: #4c4c4c;
    border: none;
    border-radius: 5px;
    overflow:hidden;
    text-indent: 10px;
}

.introduce-price-text {
    position: absolute;
    top: 395px;
    left: 800px;
    outline: none !important;
    width: 100px;
    height: 100px;
}

#myPhone {
    position: absolute;
    font-size: 18px;
    color: #414141;
    top: 355px;
    left: 597px
}

.introduce-price-name {
    font-size: 47px;
    color: #fc5f1a;
}

.key-table tr td {
    width: 50px;
    text-align: center;
    font-size: 30px
}

#top {
    position: absolute;
    z-index: 999
}

.detail-table {
    position: absolute;
    top: 195px;
    left: 290px;
    outline: none !important;
}
.detail-table tr td{ height: 8px; font-size: 20px;  color:#3a230a; width: 700px; line-height: 28px; font-weight: bold}
.btn_back {
    position: absolute;
    top: 97px;
    left: 1012px;
    outline: none !important;
    width: 61px;
    height: 62px;
}

.introduce-pay{
    position: absolute;
    top: 253px;
    left: 457px;
    outline: none !important;
    width: 400px;
    font-size: 33px;
    color: #414141;
    text-align: center;
    line-height: 60px;}

#tip_test {
    position: absolute;
    top: 150px;
    left: 544px;
    outline: none !important;
    width: 190px;
    height: 60px;
}

#choose_order_test{
    position: absolute;
    top: 260px;
    left: 385px;
    outline: none !important;
    width: 540px;
    height: 141px;
}

#pay-one{
    position: absolute;
    top: 301px;
    left: 184px;
    outline: none !important;
    width: 184px;
    height: 200px;
  }
#pay-two{
    position: absolute;
    top: 301px;
    left: 424px;
    outline: none !important;
    width: 184px;
    height: 200px;
}
#pay-three{
    position: absolute;
    top: 301px;
    left: 666px;
    outline: none !important;
    width: 184px;
    height: 200px;
}

#pay-four{
    position: absolute;
    top: 301px;
    left: 906px;
    outline: none !important;
    width: 184px;
    height: 200px;
}

#pay-back{
    position: absolute;
    top: 534px;
    left: 558px;
    outline: none !important;
    width: 170px;
    height: 60px;
}

.book_text{
    position: absolute;
    top: 243px;
    left: 606px;
    outline: none !important;
    font-size: 33px;
    color: #414141;
    text-align: center;
}
.book_text_name{
    position: absolute;
    top: 238px;
    left: 706px;
    outline: none !important;
    font-size: 40px;
    color: #e21212;
    text-align: center;
    font-weight: bold;
}
.price_text{
    position: absolute;
    top: 306px;
    left: 606px;
    outline: none !important;
    font-size: 33px;
    color: #414141;
    text-align: center;
}
.price_text_name{
    position: absolute;
    top: 301px;
    left: 706px;
    outline: none !important;
    font-size: 40px;
    color: #ef7101;
    text-align: center;
    font-weight: bold;
}
.introduce_text{
    position: absolute;
    top: 387px;
    left: 586px;
    outline: none !important;
    font-size: 20px;
    color: #414141;
    text-align: center;
}
.title_name {
    position: absolute;
    top: 154px;
    left: 555px;
    width: 170px;
    height: 54px;
    z-index: 1;
}
.price_word{
    position: absolute;
    top: 154px;
    left: 555px;
    width: 170px;
    height: 54px;
    z-index: 1;
}