<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="page-view-size" content='{$size}'/>
    <title>epg-page</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/common.css?t={$time}"/>
    <link rel="stylesheet" href="__ROOT__/Public/css/hd/CommunityHospital/650092/DepartmentList.css?t={$time}">
    <script>
        var RenderParam = {
            channel:"{$channel}"
        }
    </script>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公共库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmUtils.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/CommunityHospital/V630092/DepartmentList.js?t={$time}"></script>
</head>
<body>
<p id="title"  class="title">科室介绍</p>
<div id="container">
    <div id="dep-0">科室名称</div>
    <div id="dep-1">科室名称</div>
    <div id="dep-2" class="last-dep">科室名称</div>
    <div id="dep-3">科室名称</div>
</div>
<div class="arrow-wrapper">
    <img id="prev-arrow" src="__ROOT__/Public/img/hd/CommunityHospital/prev.png" alt="">
    <img id="next-arrow" src="__ROOT__/Public/img/hd/CommunityHospital/next.png" alt="">
</div>
<script>
    window.onload=function () {
        CommunityHosp.init();
    }
</script>
</body>
</html>
  
  