<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>青海健身房</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/common.css?t={$time}"/>
    <link rel="stylesheet"type="text/css" href="__ROOT__/Public/css/hd/CommunityHospital/630092/Gym.css?t={$time}">
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript">var ROOT = '__ROOT__'</script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/CommunityHospital/V630092/Gym.js?t={$time}"></script>
</head>
<body>
<img id="gym-link" src="__ROOT__/Public/img/hd/CommunityHospital/EyeHospital/1.jpg" alt="">
<div id="dialog-phone"
     style="background: url('../../../../../Public/img/hd/CommunityHospital/EyeHospital/phone_bg.png') no-repeat;">
    <div id="phoneText"></div>
    <img id="submit" src="__ROOT__/Public/img/hd/Activity/ActivityLecture/V1/bg_confirm.png" alt="">
    <img id="clear" src="__ROOT__/Public/img/hd/Activity/ActivityLecture/V1/bg_cancel.png" alt="">
</div>
<img class="hd-arrow hd-left-arrow" src="__ROOT__/Public/img/hd/Album/Common/icon_prev_page.png"
     id="left-arrow"/>
<img class="hd-arrow hd-right-arrow" src="__ROOT__/Public/img/hd/Album/Common/icon_next_page.png"
     id="right-arrow"/>
<script>
    Page.init();
</script>
</body>
</html>