<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>index-index</title>
	<meta charset="utf-8" name="page-view-size" content="{$size}">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/Splash/index.css">
	<!--第三方依赖库-->
	<script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js"></script>
	<!--公用库-->
</head>
<body style="background-image: url('../../../../Public/img/{$platformType}/Common/{$commonImgsView}/bg_home.png');">
<img id="bg" class="big" src="__ROOT__/Public/img/{$platformType}/Splash/welcome.jpg">
</body>
</html>