
body {
    width: 644px;
    height: 530px;
}

div, img, ul {
    position: absolute;
}


.modal {
    top: 0;
    left: 0;
    width: 644px;
    height: 530px;
    z-index: 2;
    display: none;
    overflow: hidden;
    background-position: center;
    /* background-color: rgba(0, 0, 0, 0.7); */
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}


#modal-exchange p {
    font-size: 26px;
    color: #fde164;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 20px;
}

p#exchange-total-score {
    position: absolute;
    left: 130px;
    top: 30px;
}

#modal-exchange li {
    float: left;
    text-align: center;
    width: 170px;
}

#modal-exchange img {
    /* position: static; */
    top: 350px;
}
#modal-exchange img#btn-exchange-0{
left: 100px;
}
#modal-exchange img#btn-exchange-1{
    left: 260px;
    top: 300px;
}
#btn-exchange-2{
    left: 415px;
}

#times-count {
    position: absolute;
    top: 488px;
    left: 230px;
    font-size: 23px;
    line-height: 1;
    text-align: center;
    color: #76b4af;
    font-family: "Source Code Pro", sans-serif;
}

#score-count {
    position: absolute;
    top: 646px;
    left: 180px;
    font-size: 30px;
    color: #fff;
}

.jump-wrap {
    top: 10px;
    right: 10px;
    width: 144px;
}

.jump-wrap img {
    position: static;
}

#btn-start {
    top: 400px;
    left: 130px;
}

#knowledge-next {
    top: 616px;
    left: 1070px;
}

#knowledge-back {
    top: 616px;
    left: 600px;
    visibility: hidden;
}

#jump-knowledge {
    top: 460px;
    left: 470px;
}

#gift1{top:140px;left:410px}
#gift2{top:190px;left:380px}
#gift3{top:230px;left:440px}
#gift4{top:270px;left:360px}
#gift5{top:350px;left:320px}
#gift6{top:320px;left:470px}

#fly-inner{
    top: 190px;
    left: 40px;
    width: 284px;
    height: 140px;
    overflow: hidden;
}
#darts-img{top:150px;left:130px;z-index: 1;}

#fly-inner img{
    left:324px;
    z-index: 1;
}

.prize-wrapper {
    width: 158px;
    top: 169px;
    left: 46px;
}

.prize-wrapper img {
    position: static;
}


/*====倒计时====*/
#modal-cd {
    /* background-color: rgba(0, 0, 0, 0.7); */
}

.count-down {
    font-size: 33px;
    top: 210px;
    left: 356px;
    text-align: center;
    color: #fff;
}

#modal-cd span {
    line-height: 1;
    color: #fff;
}

/*====活动规则====*/
#modal-rule {
}

/*====中奖名单====*/
#modal-list {
}

.winner-list {
    left: 77px;
    font-size: 24px;
    text-align: center;
}

#total-list {
    top: 120px;
}

#all-marquee {
    height: 108px;
}

#my-marquee {
    height: 50px;
}

table.marquee-table {
    width: 490px;
}

table#all-table tr {
    height: 40px;
}

table.marquee-table td {
    width: 25%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

#my-list {
    top: 300px;
}

.list-tel {
    color: #fff;
    top: 370px;
    left: 235px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

img.btn-list {
    top: 436px;
}

#btn-list-submit {
    left: 231px;
}

#btn-list-cancel {
    left: 388px;
}


#foods-wrapper div.food-item0 {
    top: 332px;
    left: 250px;
}

#foods-wrapper div.food-item1 {
    top: 382px;
    left: 470px;
}

#foods-wrapper div.food-item2 {
    top: 302px;
    left: 660px;
}

#foods-wrapper div.food-item3 {
    top: 332px;
    left: 850px;
}

#foods-wrapper div p {
    position: relative;
    width: 140px;
    height: 38px;
    color: #fff;
    text-align: center;
    background-position: center;
}

#foods-wrapper div.food-item0 p {
}

#foods-wrapper div.food-item1 p {
}

#foods-wrapper div.food-item2 p {
    padding-bottom: 30px;
}

#foods-wrapper div.food-item3 p {
}

#foods-wrapper div p span {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: 20px;
    font-size: 13px;
    text-align: center;
}

#foods-wrapper div img {
    position: static;
}

/*====VIP没有游戏次数====*/
#modal-vip-notimes {
}

#btn-one0 {
    top: 418px;
    left: 586px;
}

/*====普通用户没有游戏次数====*/
#modal-pay-notimes {
}

img.btn-pay {
    top: 311px;
}

#btn-pay-sure {
    left: 178px;
}

#btn-pay-cancel {
    left: 344px;
}

/*====兑换/抽奖成功====*/
#modal-accomplish {
}

#accomplish-prize {
    top: 246px;
    left: 666px;
}

#accomplish-tel {
    top: 245px;
    left: 260px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    color: #2e8799;
}

img.btn-win {
    top: 320px;
}

#btn-accomplish-submit {
    left: 252px;
}

#btn-accomplish-cancel {
    left: 404px;
}

/*====游戏主界面====*/
#modal-game {
}

#foods-wrapper {top: 0;height: 720px;width: 1280px;}

#foods-wrapper img {
    z-index: 2;
    top: 0;
}

#bowl {
    left: 420px;
    top: 443px;
}

#bowl-top {
    z-index: 1;
    top: 0;
}

#bowl-down {
    z-index: 3;
    top: 69px;
}

#game-start {
    top: 588px;
    left: 187px;
    background-position: center;
    background-size: 100%;
}

#count-wrapper {
    top: 28px;
    left: 10px;
    width: 303px;
    z-index: 3;
}

p.foods {
    color: #d86f43;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-left: 88px;
}

#count-wrapper #jiaozi {
    margin-top: 15px;
}

#count-wrapper #tangyuan {
    margin-top: 10px;
}

#game-cd {
    top: 263px;
    left: 0;
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    /* width: 75px; */
    padding-left: 100px;
}


/*====增加积分界面===*/
#modal-add-score {
    top: 0;
    left: 0;
}

#p-add-score {
    position: absolute;
    top: 360px;
    left: 750px;
    font-size: 36px;
    color: #000;
    width: 120px;
    text-align: center;
    font-weight: bold;
}

#btn-one-add {
    top: 460px;
    left: 555px;
}

#exchange-total-score {
    position: absolute;
    top: 36px;
    left: 555px;
    font-size: 32px;
    color: #f85181;
}

#btn-one,
#btn-one0,
#btn-one1 {
    top: 303px;
    left: 274px;
}