/*==>css/img目录结构调整*/

#picture {
    position: absolute;
    top: 140px;
    left: 390px;
    width: 500px;
    height: 500px;
}

.left_page {
    position: absolute;
    top: 280px;
    left: 45px;
}

.right_page {
    position: absolute;
    top: 280px;
    left: 1194px;
}

#pr-img {
    position: absolute;
    top: 151px;
    left: 193px;
}

.pr-content {
    position: absolute;
    top: 178px;
    left: 586px;
    width: 440px;
    /*border: 1px red solid;*/
    color: #094722;
    font-size: 30px;
}
#back{
    position: absolute;
    top: 10px;
    left: 1050px;
}
#pages{
    position: absolute;
    top: 647px;
    left: 606px;
    width: 100px;
    font-size: 28px;
    /*border: 1px red solid;*/
}