<style type="text/css">

    body {
        background-image: url("{$activityFsImg}{$platformType}/bg_home.png");
    }

    /*====倒计时====*/
    #modal-cd {
        background-image: url("{$activityFsImg}{$platformType}/m_cd_bg.png");
    }

    /*====中奖名单====*/
    #modal-list {
        background-image: url("{$activityFsImg}{$platformType}/m_win_list.png");
    }

    /*====VIP没有游戏次数====*/
    #modal-vip-notimes {
        background-image: url("{$activityFsImg}{$platformType}/m_no_times.png");
    }

    /*====普通用户没有游戏次数====*/
    #modal-pay-notimes {
        background-image: url("{$activityFsImg}{$platformType}/m_pay_vip.png");
    }

    /*====增加积分界面===*/
    #modal-add-score {
        background-image: url("{$activityFsImg}/{$platformType}/m_score_success.png");
    }

    /*====未能增加积分界面===*/
    #modal-lose-score {
        background-image: url("{$activityFsImg}{$platformType}/m_score_lose.png");
    }

    /*====活动规则====*/
    #modal-rule {
        background-image: url("{$activityFsImg}{$platformType}/V{$carrierId}/m_rule.png");
    }

    /*====兑换奖品====*/
    #modal-exchange {
        background-image: url("{$activityFsImg}{$platformType}/V{$carrierId}/m_exchange.png");
    }
    /*====兑换成功====*/
    #modal-accomplish {
        background-image: url("{$activityFsImg}{$platformType}/m_exchange_success.png");
    }
 /*====兑换成功====*/
    #modal-knowledge {
        background-image: url("{$activityFsImg}{$platformType}/m_knowledge.png");
    }

</style>