* {
    margin: 0;
    padding: 0;
    outline: none;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
}

body > * {
    position: absolute;
}

#help-introduce {
    position: absolute;
    z-index: 999;
    display: none;
}

/*上*/
#top-icon {
    position: absolute;
    display: inline;
    top: 15px;
    right: 42px;
}

#top-icon > img {
    top: 20px;
    vertical-align: middle;
    width: 26px;
    height: 24px;
    padding: 5px 18px 5px 18px;
    background-size: 100% 100%;
}

/*导航*/
#nav {
    top: 53px;
    left: 64px;
}

#nav > img {
    margin-right: 20px;
    width: 178px;
    height: 60px;
}

/*主容器*/
#container {
    top: 140px;
    left: 77px;
    width: 1126px;
}

/*左容器*/
#container-left {
    width: 228px;
    position: absolute;
    top: -10px;
    left: -10px;
}

#container-left > img {
    width: 230px;
    height: 120px;
    padding: 10px;
    margin-bottom: -8px;
}

#container-left > img.focus {
    background-image: url(../../../../img/hd/Home/V7/tab0/left_link_f.png);
    background-position: center;
}

#night-medicine {
}

#39-featured {
}

#history-album {
}

/*中容器*/
#container-center {
    position: absolute;
    top: 0;
    left: 246px;
    width: 506px;
}

/*轮播*/
#center-link-1 {
    position: absolute;
    top: 0;
    width: 506px;
    height: 257px;
    overflow: hidden;
}

#carousel-link {
    position: absolute;
    width: 558px;
    height: 303px;
    z-index: 9999;
    top: -26px;
    left: -26px;
}

#carousel-wrapper {
    position: absolute;
    width: 506px;
    height: 257px;
}

#carousel-wrapper img {
    position: absolute;
    opacity: 0;
    width: 506px;
    height: 257px;
    transition: 1s opacity;
    border-radius: 10px;
}

#carousel-wrapper img.active {
    opacity: 1;
}

ul#point li {
    display: inline-block;
}

#point {
    position: absolute;
    bottom: 0;
    width: 506px;
    height: 27px;
    line-height: 33px;
    background: rgba(0, 0, 0, 0.49);
    list-style-type: none;
    border-radius: 0 0 10px 10px;
}

#point li {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    margin: 0 3px;
    background-color: transparent;
    border-radius: 50%;
}

#point li.currentImg {
    background-color: #fff;
    transition: 1s background-color;
}

#point li#point-1 {
    margin-left: 188px;
}

#book-and-smile {
    position: absolute;
    top: 273px;
    height: 257px;
}

#book-and-smile > img {
    position: absolute;
    width: 246px;
    height: 257px;
    padding: 20px;
    top: -20px;
    border-radius: 30px;
}

#book-registration {
    left: -20px;
}

#do-smile-people {
    left: 240px;
}

#book-and-smile > img.focus {
    background-image: url(../../../../img/hd/Home/V7/tab0/order_smile_f.png);
    background-position: center;
}

/*右容器*/
#container-right {
    position: absolute;
    top: 0;
    left: 766px;
    width: 356px;
}

#container-right > img {
    position: absolute;
    width: 356px;
    height: 257px;
    padding: 20px;
    left: -20px;
    border-radius: 30px;
}

#videoTv-link {
    top: -20px;
}

#album-inner {
    top: 253px;
}

#container-right > img.focus {
    background-image: url(../../../../img/hd/Home/V7/tab0/rightLink_f.png);
    background-position: center;
}

#home_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#iframe_small_screen {
    position: absolute;
    width: 1px;
    height: 1px;
}

/*字幕滚动消息*/
.scroll-wrapper{
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 1280px;
    height: 40px;
    overflow: hidden;
    font-size: 29px;
    color: #ffff;
}
.scroll-wrapper marquee{
    color: #fff !important;
}
#txt {
    position: absolute;
    right: -370px;
}

#service_tel{
    position: absolute;
    top: 16px;
    left: 688px;
    width: 360px;
    font-size: 24px;
    color: #f6ff00;
    text-align: left;
    font-weight: bold;
}

/**
 *  全局对话款引入
 */
.g_common_dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent no-repeat;
    width: 1280px;
    height: 720px;
    z-index: 999;
}

.g_common_dialog_img_bg {
    width: 1280px;
    height: 720px;
}

.g_common_button_img {
    width: 179px;
    height: 66px;
}

/*通用弹框消息文本*/
.g_common_dialog_message_text {
    position: absolute;
    top: 244px;
    left: 300px;
    width: 680px;
    height: 110px;
    font-size: 36px;
    text-align: center;
    color: #fff333;
    z-index: 1000;
}

.g_common_button_container {
    position: absolute;
    margin: auto;
    top: 386px;
    left: 300px;
    width: 680px;
    height: 80px;
    text-align: center;
    z-index: 1000;
}

.g_common_button_border {
    width: 179px;
    height: 66px;
    margin-top: 6px;
    display: inline-block;
    z-index: 1000;
}

.g_common_button_interval {
    margin-left: 86px;
}

.g_common_button_text {
    width: 192px;
    height: 66px;
    margin-top: -66px;
    text-align: center;
    line-height: 66px;
    font-size: 28px;
    color: white;
    z-index: 1000;
}