<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}"/>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/AppointmentRegister/V8/orderList.css?t={$time}"/>
    <script type="text/javascript">
        var RenderParam = {
            backIndex:'{$backIndex}'
        }
    </script>

    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公共库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>


    <script type="text/javascript" src="__ROOT__/Public/js/AppointmentRegister/V8/orderList.js?t={$time}"></script>
</head>
<body>
<div id="container">
    <div style="padding: 60px 50px 0 50px">
        <div class="main">
            <div class="title">预约挂号订单</div>
            <div class="line"></div>

            <div style="height:490px;overflow: auto;display: none" id="list" ></div>

            <div class="title tips" id="tips" style="display: none">暂时没有订单</div>

        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function (){
        Home.init()
    }
</script>
</body>
</html>