body {
    position: relative;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    color: #fff;
    background-image: url(../../../../img/hd/Home/V13/Home/Common/bg.png);
}

#wait-loading {
    position: absolute;
    top: 255px;
    width: 1280px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    vertical-align: middle;
}

#wait-loading > * {
    margin-right: 50px;
}

#text-info {
    position: relative;
    bottom: 100px;
    font-size: 30px;
}

#doctor-pic {
    width: 208px;
    height: 208px;
}

#introduce-msg {
    position: relative;
    font-family:"Microsoft YaHei", Times, serif;
    bottom: -40px;
    left: 151px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    width: 1000px;
}