body {
    position: relative;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    color: #fff;
    background-image: url(../../../../img/hd/Home/V13/Home/bg.png);
}


.title {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

#doctor-container {
    position: relative;
    width: 1280px;
    height: 720px;
}

#case-wrap {
    position: relative;
    top: 184px;
    left: 176px;
    width: 1096px;
}

#case-wrap div {
    position: relative;
    top: 0;
    float: left;
    width: 206px;
    height: 278px;
    margin-right: 34px;
}

#case-wrap div img {
    position: absolute;
    width: 166px;
    height: 240px;
    padding: 8px;
    /*图片圆角处理*/
    border-radius: 20px;
    background-repeat: no-repeat;
}

#case-wrap div img.focus {
    width: 108%;
    height: 107%;
    top: -30px;
    left: -20px;
    /*图片圆角处理*/
    border-radius: 20px;
}

#case-wrap div p {
    position: absolute;
    bottom: -80px;
    font-size: 24px;
    width: 206px;
    text-align: center;
}

#page-count {
    position: absolute;
    top: 600px;
    left: 0;
    width: 1280px;
    text-align: center;
    font-size: 24px;
    color: #b2deff;
}

.arrow {
    position: absolute;
    top: 338px;
    width: 65px;
    height: 66px;
}

#prev-arrow {
    left: 76px;
}

#next-arrow {
    right: 76px;
}

