* {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-shape-outside: none;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    width: 644px;
    height: 530px;
    overflow: hidden;
}

body > * {
    position: absolute;
}
#more{
    top: 28px;
    left: 444px;
}
#back {
    top: 25px;
    left: 570px;
}
#tab-content {
    top: 117px;
    left: 298px;
    width: 335px;
}

#tab-content img {
    margin-top: 10px;
}

.arrow{
    left: 443px;
}
#page-prev {
    top: 86px;
}

#page-next {
    top: 478px;
}



