<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>生成二维码</title>
    <script src="../../../../../Public/ThirdParty/js/jquery-1.7.2.min.js"></script>
    <script src="../../../../../Public/ThirdParty/js/jquery.qrcode.min.js"></script>
</head>
<body>
<div id="qrcode"></div>
</body>
<script>
    var code="348428981290";
    var name="shunfeng";
    var url="https://m.kuaidi100.com/result.jsp?com="+name+"&nu="+code+"&ordersource=pc_result&w=90&h=90";

    var ConvertName = function(chinaName){
//        var chinaName = $('#chinaName').val();
        //获取全写拼音（调用js中方法）
        var fullName = pinyin.getFullChars(chinaName);
        //获取简写拼音（调用js中方法）
        var easyName = pinyin.getCamelChars(chinaName);
        //给两个文本框赋值
        $('#fullName').val(fullName);
        $('#easyName').val(easyName);
    }
    $("#qrcode").qrcode({
        width:164,
        height:164,
        text:"https://m.kuaidi100.com/result.jsp?com="+name+"&nu="+code+"&ordersource=pc_result&w=90&h=90",
        //https://m.kuaidi100.com/result.jsp?com=shunfeng&nu=348428981290&ordersource=pc_result&w=90&h=90
    })
</script>
</html>