<div class="tab3-box">
    <div class="tab3-recommended-1-box">
        <img id="tab3-recommended-1" class="recommended-img"
             src="http://202.99.114.152:30214/fs/mofang/imgs/1000051/faster_entry/20200605092905.png"
             onerror="this.src='__ROOT__/Public/img/hd/Home/V20/Common/default.png'">
        <p id="tab3-recommended-1-title"></p>
    </div>

    <div class="tab3-recommended-2-box">
        <img id="tab3-recommended-2" class="recommended-img"
             src=""
             onerror="this.src='__ROOT__/Public/img/hd/Home/V20/Common/default.png'">
        <p id="tab3-recommended-2-title"></p>
    </div>

    <div class="tab3-recommended-3-box">
        <img id="tab3-recommended-3" class="recommended-img"
             src=""
             onerror="this.src='__ROOT__/Public/img/hd/Home/V20/Common/default.png'">
        <p id="tab3-recommended-3-title"></p>
    </div>
    <div class="tab3-recommended-4-box">
        <img id="tab3-recommended-4" class="recommended-img"
             src=""
             onerror="this.src='__ROOT__/Public/img/hd/Home/V20/Common/default.png'">
        <p id="tab3-recommended-4-title"></p>
    </div>

    <div class="tab3-recommended-5-box">
        <img id="tab3-recommended-5" class="recommended-img"
             src=""
             onerror="this.src='__ROOT__/Public/img/hd/Home/V20/Common/default.png'">
        <p id="tab3-recommended-5-title"></p>
    </div>

    <div class="tab3-recommended-6-box">
        <img id="tab3-recommended-6" class="recommended-img"
             src=""
             onerror="this.src='__ROOT__/Public/img/hd/Home/V20/Common/default.png'">
        <p id="tab3-recommended-6-title" ></p>
    </div>
</div>

<script>
    Tab3 = {
        initButton: function () {
            buttons.push({
                id: 'tab3-recommended-1',
                type: 'img',
                nextFocusRight: 'tab3-recommended-2',
                nextFocusUp: 'tab-3',
                nextFocusDown: 'tab3-recommended-4',
                click: Page.onClickRecommendPosition,
                focusChange: Head.recdFocus,
                cNavId: 2,
                show_title: true,
                show_num: 20,
                cPosition: 41,
                cBanner:"",
            })
            buttons.push({
                id: 'tab3-recommended-2',
                type: 'img',
                nextFocusLeft: 'tab3-recommended-1',
                nextFocusRight: 'tab3-recommended-3',
                nextFocusUp: 'tab-3',
                nextFocusDown: 'tab3-recommended-6',
                click: Page.onClickRecommendPosition,
                focusChange: Head.recdFocus,
                cNavId: 2,
                show_title: true,
                show_num: 10,
                cPosition: 42
            })
            buttons.push({
                id: 'tab3-recommended-3',
                type: 'img',
                nextFocusLeft: 'tab3-recommended-2',
                nextFocusRight: '',
                nextFocusUp: 'tab-3',
                nextFocusDown: '',
                click: Page.onClickRecommendPosition,
                focusChange: Head.recdFocus,
                cNavId: 2,
                show_title: true,
                show_num: 10,
                cPosition: 43,
                cBanner:"",
            })
            buttons.push({
                id: 'tab3-recommended-4',
                type: 'img',
                nextFocusLeft: '',
                nextFocusRight: 'tab3-recommended-5',
                nextFocusUp: 'tab3-recommended-1',
                nextFocusDown: '',
                click: Page.onClickRecommendPosition,
                focusChange: Head.recdFocus,
                cNavId: 2,
                show_title: true,
                show_num: 10,
                cPosition: 44
            })
            buttons.push({
                id: 'tab3-recommended-5',
                type: 'img',
                nextFocusLeft: 'tab3-recommended-4',
                nextFocusRight: 'tab3-recommended-6',
                nextFocusUp: 'tab3-recommended-1',
                nextFocusDown: '',
                click: Page.onClickRecommendPosition,
                focusChange: Head.recdFocus,
                cNavId: 2,
                show_title: true,
                show_num: 10,
                cPosition: 45
            })
            buttons.push({
                id: 'tab3-recommended-6',
                type: 'img',
                nextFocusLeft: 'tab3-recommended-5',
                nextFocusRight: 'tab3-recommended-3',
                nextFocusUp: 'tab3-recommended-2',
                nextFocusDown: '',
                show_title: true,
                show_num: 10,
                click: Page.onClickRecommendPosition,
                focusChange: Head.recdFocus,
                cNavId: 2,
                cPosition: 46
            })
        },
        createHtml: function () {
            var list = RenderParam.homeConfigInfo.data.entry_list;
            var id = '';
            for (var i = 0; i < list.length; i++) {
                id = 0;
                var item = list[i];
                switch (parseInt(item.position)) {
                    // banner
                    case 41:
                        id = 'tab3-recommended-1';
                        this.banner7 = new Banner('tab3-recommended-1',item.item_data);
                        this.banner7.banner();
                        break;
                    case 42:
                        id = 'tab3-recommended-2';
                        break;
                    case 43:
                        id = 'tab3-recommended-3';
                        this.banner8 = new Banner('tab3-recommended-3',item.item_data);
                        this.banner8.banner();
                        break;
                    case 44:
                        id = 'tab3-recommended-4';
                        break;
                    case 45:
                        id = 'tab3-recommended-5';
                        break;
                    case 46:
                        id = 'tab3-recommended-6';
                        break;
                }
                if (id) {
                    G(id).src = RenderParam.fsUrl + JSON.parse(item.item_data[0].img_url).normal;
                    G(id + '-title').innerHTML = JSON.parse(item.item_data[0].inner_parameters).title;
                }
            }
        },
        init: function () {
            try {
                Tab3.initButton();
                Tab3.createHtml();
            } catch (e) {
                LMEPG.UI.showToast("健康知识组件异常运行" + e)
            }
        },
    }
</script>