* {
    padding: 0;
    margin: 0;
    outline: none;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    width: 1280px;
    height: 720px;
    color: #fff;
    top: 0;
    left: 0;
}

body > * {
    position: absolute;
}

#btn_back {
    top: 35px;
    left: 1125px;
}

#btn_rule {
    top: 161px;
    left: 1125px;
}

#btn_past {
    top: 287px;
    left: 1125px;
}

#dialog_wrap {
    z-index: 3;
}

#dialog_wrap *{
    position: absolute;
}

.btn_close {
    top: 74px;
    left: 1096px;
}

#img_past {
    top: 200px;
    left: 340px;
}

#btn_left_arrow {
    top: 350px;
    left: 187px;
}

#btn_right_arrow {
    top: 350px;
    left: 1075px;
}

#past_indicator {
    top: 602px;
    left: 1092px;
}

.table_left {
    left: 159px;
}

.table_right {
    left: 652px;
}

table {
    position: absolute;
    top: 299px;
    width: 460px;
    font-size: 28px;
    color: #464543;
}

table tr{
    height: 45px;
    line-height: 45px;
    display: block;
    margin-bottom: 27px;
}
table tr td {
    text-align: center;
}

table .table_col1 {
    width: 57px;
}

table .table_col2 {
    width: 329px;
}

table .table_col3 {
    width: 42px;
}

.business {
    font-size: 18px;
}

.add_one_left{
    left: 593px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    color: blue;
}
.add_one_right{
    left: 1085px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    color: blue;
}

#add_one_0,#add_one_5{
    top: 306px;
}
#add_one_1,#add_one_6{
    top: 378px;
}
#add_one_2,#add_one_7{
    top: 450px;
}
#add_one_3,#add_one_8{
    top: 522px;
}
#add_one_4,#add_one_9{
    top: 593px;
}