<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>挽留页</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Hold/V4/hold.css?t={$time}"/>

    <!--全局渲染变量-->
    <script type="text/javascript" >
        var RenderParam = {$renderParam | json_encode}; // 把控制器传过来的参数进行解析，并进行json编码
        var accountId = "{$accountId}";
    </script>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Hold/hold.js?t={$time}"></script>
</head>
<body>
<div id="debug" style="color: red;z-index: 9999;"></div>
<!--第一个是背景图，下面两个分别是按钮-->
<div class="splash_background">
    <img id="splash" src="__ROOT__/Public/img/Common/spacer.gif"/>
</div>
<!--推荐位-->
<div id="recommend_container">
</div>
<switch name="renderParam[carrierId]">
    <case value="450094">
        <!--继续-->
        <img id="continue" class="btn_position_2" src="<?php echo $renderParam['fsUrl'].$renderParam['tipsData'][1]->onfocus_image_url?>"/>
        <!--退出-->
        <img id="back" class="btn_position_1" src="<?php echo $renderParam['fsUrl'].$renderParam['tipsData'][0]->onfocus_image_url?>"/>
    </case>
    <default />
        <!--继续-->
        <img id="continue" class="btn_position_1" src="<?php echo $renderParam['fsUrl'].$renderParam['tipsData'][1]->onfocus_image_url?>"/>
        <!--退出-->
        <img id="back" class="btn_position_2" src="<?php echo $renderParam['fsUrl'].$renderParam['tipsData'][0]->onfocus_image_url?>"/>
</switch>
<!-- 默认标签 -->
<a id="default_link" href="#"><img src="__ROOT__/Public/img/Common/spacer.gif"/></a>
<script type="text/javascript">
    window.onload = function () {
        Hold.init();
    };
    window.onerror = function (message, filename, lineno, colno, error) {
        var errorLog = "发生错误>>> " +
            "\nmessage:" + message +
            "\nfile_name:" + filename +
            "\nline_NO:" + lineno +
            "\ncolumn_NO:" + colno +
            "\nerror_stack:" + error.stack;
        if (LMEPG.Log) LMEPG.Log.error("挽留页--->window.onerror:" + errorLog);
        if (LMEPG.UI) LMEPG.UI.showToast(errorLog, 3);
    };
</script>
</body>
</html>