 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title id="title">document title</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}"/>


    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/Common/Album/{$albumName}.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/Common/Album/more_wonderful.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Album/common/countdown_new.css?t={$time}"/>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <script type="text/javascript">
        // TP框架控制器返回数据应用
        var RenderParam={
            "vip": 0,
            "payMethod": {
                "data": {
                    "list": []
                }
            },
            "firstVideoIndex": 0,
            "userId": "103336",
            "focusId": "video-1",
            "videoData": [
                {
                    "subject_id": "2840",
                    "subject_name": "不做“低头族”",
                    "source_id": "10500",
                    "content_type": "0",
                    "content_desc": [],
                    "content_desc2": {
                        "template_id": 0,
                        "txt": []
                    },
                    "title_img_url": {
                        "focus_in": "/imgs/contentcenter/album/20210506/133759.png",
                        "focus_out": "/imgs/contentcenter/album/20210506/133803.png"
                    },
                    "show_title": "碘131治疗后的病人需要复查吗？ => gylm920",
                    "title": "碘131治疗后的病人需要复查吗？",
                    "image_url": "/imgs/51/video/20190619/gylm920.png",
                    "ftp_url": {
                        "bq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180829/270241835/270241835.ts",
                        "gq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241466/270241466.ts"
                    },
                    "user_type": "2",
                    "free_seconds": "30",
                    "intro_image_url": "/imgs/51/video/20190619/",
                    "intro_txt": "",
                    "price": "0",
                    "valid_duration": "0",
                    "union_code": "gylm920",
                    "duration": "0:01:24",
                    "show_status": "2",
                    "page_info": {
                        "gq": {
                            "position": {
                                "top": "287",
                                "left": "821"
                            }
                        },
                        "bq": {
                            "position": {
                                "top": "212",
                                "left": "238",
                                "width": "348",  // 宽
                                "height": "200"
                            }
                        }
                    }
                },
                {
                    "subject_id": "2840",
                    "subject_name": "不做“低头族”",
                    "source_id": "10499",
                    "content_type": "0",
                    "content_desc": [],
                    "content_desc2": {
                        "template_id": 0,
                        "txt": []
                    },
                    "title_img_url": {
                        "focus_in": "/imgs/contentcenter/album/20210506/133808.png",
                        "focus_out": "/imgs/contentcenter/album/20210506/133811.png"
                    },
                    "show_title": "甲状腺癌手术后一定要做碘131治疗吗？ => gylm919",
                    "title": "甲状腺癌手术后一定要做碘131治疗吗？",
                    "image_url": "/imgs/51/video/20190619/gylm919.png",
                    "ftp_url": {
                        "bq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180829/270241883/270241883.ts",
                        "gq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180829/270241902/270241902.ts"
                    },
                    "user_type": "2",
                    "free_seconds": "30",
                    "intro_image_url": "/imgs/51/video/20190619/",
                    "intro_txt": "",
                    "price": "0",
                    "valid_duration": "0",
                    "union_code": "gylm919",
                    "duration": "0:01:18",
                    "show_status": "2",
                    "page_info": ""
                },
                {
                    "subject_id": "2840",
                    "subject_name": "不做“低头族”",
                    "source_id": "10498",
                    "content_type": "0",
                    "content_desc": [],
                    "content_desc2": {
                        "template_id": 0,
                        "txt": []
                    },
                    "title_img_url": {
                        "focus_in": "/imgs/contentcenter/album/20210506/133815.png",
                        "focus_out": "/imgs/contentcenter/album/20210506/133819.png"
                    },
                    "show_title": "患者在住院进行碘131治疗期间有什么注意事项？ => gylm918",
                    "title": "患者在住院进行碘131治疗期间有什么注意事项？",
                    "image_url": "/imgs/51/video/20190619/gylm918.png",
                    "ftp_url": {
                        "bq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241586/270241586.ts",
                        "gq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241263/270241263.ts"
                    },
                    "user_type": "2",
                    "free_seconds": "30",
                    "intro_image_url": "/imgs/51/video/20190619/",
                    "intro_txt": "",
                    "price": "0",
                    "valid_duration": "0",
                    "union_code": "gylm918",
                    "duration": "0:01:15",
                    "show_status": "2",
                    "page_info": ""
                },
                {
                    "subject_id": "2840",
                    "subject_name": "不做“低头族”",
                    "source_id": "10497",
                    "content_type": "0",
                    "content_desc": [],
                    "content_desc2": {
                        "template_id": 0,
                        "txt": []
                    },
                    "title_img_url": {
                        "focus_in": "/imgs/contentcenter/album/20210506/133822.png",
                        "focus_out": "/imgs/contentcenter/album/20210506/133825.png"
                    },
                    "show_title": "碘131治疗出院后 患者可与人密切接触吗？ => gylm917",
                    "title": "碘131治疗出院后 患者可与人密切接触吗？",
                    "image_url": "/imgs/51/video/20190619/gylm917.png",
                    "ftp_url": {
                        "bq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180829/270241775/270241775.ts",
                        "gq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241471/270241471.ts"
                    },
                    "user_type": "2",
                    "free_seconds": "30",
                    "intro_image_url": "/imgs/51/video/20190619/",
                    "intro_txt": "",
                    "price": "0",
                    "valid_duration": "0",
                    "union_code": "gylm917",
                    "duration": "0:01:13",
                    "show_status": "2",
                    "page_info": ""
                },
                {
                    "subject_id": "2840",
                    "subject_name": "不做“低头族”",
                    "source_id": "10496",
                    "content_type": "0",
                    "content_desc": [],
                    "content_desc2": {
                        "template_id": 0,
                        "txt": []
                    },
                    "title_img_url": {
                        "focus_in": "/imgs/contentcenter/album/20210506/133829.png",
                        "focus_out": "/imgs/contentcenter/album/20210506/133831.png"
                    },
                    "show_title": "碘131是如何治疗甲状腺癌的？ => gylm916",
                    "title": "碘131是如何治疗甲状腺癌的？",
                    "image_url": "/imgs/51/video/20190619/gylm916.png",
                    "ftp_url": {
                        "bq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241164/270241164.ts",
                        "gq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241388/270241388.ts"
                    },
                    "user_type": "2",
                    "free_seconds": "30",
                    "intro_image_url": "/imgs/51/video/20190619/",
                    "intro_txt": "",
                    "price": "0",
                    "valid_duration": "0",
                    "union_code": "gylm916",
                    "duration": "0:01:51",
                    "show_status": "2",
                    "page_info": ""
                },
                {
                    "subject_id": "2840",
                    "subject_name": "不做“低头族”",
                    "source_id": "10495",
                    "content_type": "0",
                    "content_desc": [],
                    "content_desc2": {
                        "template_id": 0,
                        "txt": []
                    },
                    "title_img_url": {
                        "focus_in": "/imgs/contentcenter/album/20210506/133834.png",
                        "focus_out": "/imgs/contentcenter/album/20210506/133837.png"
                    },
                    "show_title": "碘131在甲状腺癌的治疗上有什么作用？ => gylm915",
                    "title": "碘131在甲状腺癌的治疗上有什么作用？",
                    "image_url": "/imgs/51/video/20190619/gylm915.png",
                    "ftp_url": {
                        "bq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241434/270241434.ts",
                        "gq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241115/270241115.ts"
                    },
                    "user_type": "2",
                    "free_seconds": "30",
                    "intro_image_url": "/imgs/51/video/20190619/",
                    "intro_txt": "",
                    "price": "0",
                    "valid_duration": "0",
                    "union_code": "gylm915",
                    "duration": "0:01:40",
                    "show_status": "2",
                    "page_info": ""
                },
                {
                    "subject_id": "2840",
                    "subject_name": "不做“低头族”",
                    "source_id": "10494",
                    "content_type": "0",
                    "content_desc": [],
                    "content_desc2": {
                        "template_id": 0,
                        "txt": []
                    },
                    "title_img_url": {
                        "focus_in": "/imgs/contentcenter/album/20210506/133839.png",
                        "focus_out": "/imgs/contentcenter/album/20210506/133841.png"
                    },
                    "show_title": "为何近年甲状腺癌的发病率会急速攀升？ => gylm914",
                    "title": "为何近年甲状腺癌的发病率会急速攀升？",
                    "image_url": "/imgs/51/video/20190619/gylm914.png",
                    "ftp_url": {
                        "bq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241544/270241544.ts",
                        "gq_ftp_url": "rtsp://202.99.114.93/88888891/16/20180828/270241140/270241140.ts"
                    },
                    "user_type": "2",
                    "free_seconds": "30",
                    "intro_image_url": "/imgs/51/video/20190619/",
                    "intro_txt": "",
                    "price": "0",
                    "valid_duration": "0",
                    "union_code": "gylm914",
                    "duration": "0:01:24",
                    "show_status": "2",
                    "page_info": ""
                }
            ],
            "platformType": "hd",
            "lmcid": "000051",
            "inner": "0",
            "fromLaunch": "",
            "albumName": "album360",
            "domainUrl": "",
            "commonImgPath":  g_appRootPath+ "/Public/img/hd/Album/common/",
            "commonHDImgPath":  g_appRootPath+ "/Public/img/hd/Album/common/",
            "albumImgPath":  g_appRootPath+ "/Public/img/hd/Album/album167/",
            "splashHistory": 0,
            "keyCountdown": "countdownalbum360103336",
            "valueCountdown": {
                "showDialog": "0"
            },
            "isVideoFree": 0,
            "atFreeTime": 0,
            "videoTitle": "",
            "resourceUrl": "http://222.85.144.70:8091",
            "templateInfo": {
                "gq": {
                    "bg": "/imgs/contentcenter/album_template/20210506/133341.png",
                    "la": "/imgs/contentcenter/album_template/20210506/133347.png",
                    "ra": "/imgs/contentcenter/album_template/20210506/133351.png",
                    "back_focus_in": "/imgs/contentcenter/album_template/20210506/133403.png",
                    "back_focus_out": "/imgs/contentcenter/album_template/20210506/133406.png",
                    "more_focus_in": "/imgs/contentcenter/album_template/20210506/133410.png",
                    "more_focus_out": "/imgs/contentcenter/album_template/20210506/133414.png",
                    "sw_focus_in": "/imgs/contentcenter/album_template/20210506/133355.png",
                    "sw_focus_out": "/imgs/contentcenter/album_template/20210506/133359.png"
                },
                "bq": {
                    "bg": "/imgs/contentcenter/album_template/20210506/133606.png",
                    "la": "/imgs/contentcenter/album_template/20210506/133419.png",
                    "ra": "/imgs/contentcenter/album_template/20210506/133422.png",
                    "back_focus_in": "/imgs/contentcenter/album_template/20210506/133427.png",
                    "back_focus_out": "/imgs/contentcenter/album_template/20210506/133430.png",
                    "more_focus_in": "/imgs/contentcenter/album_template/20210506/133434.png",
                    "more_focus_out": "/imgs/contentcenter/album_template/20210506/133438.png",
                    "sw_focus_in": "",
                    "sw_focus_out": ""
                }
            },
            "templatePageInfo": {
                "gq": {
                    "video_list_layout": {
                        "des": "视频列表布局方式",
                        "value_des": "垂直布局",
                        "value": "1",
                        "videoLength": "5"
                    },
                    "focus_cfg": {
                        "back": {
                            "des": "返回按钮",
                            "focus_up": "",
                            "focus_down": "video_list",
                            "focus_left": "small_video",
                            "focus_right": "more"
                        },
                        "more": {
                            "des": "更多按钮",
                            "focus_up": "",
                            "focus_down": "video_list",
                            "focus_left": "back",
                            "focus_right": ""
                        },
                        "small_video": {
                            "des": "小视频窗口",
                            "focus_up": "back",
                            "focus_down": "video_list",
                            "focus_left": "",
                            "focus_right": "video_list"
                        },
                        "video_list": {
                            "des": "视频列表",
                            "focus_up": "back",
                            "focus_down": "",
                            "focus_left": "small_video",
                            "focus_right": ""
                        }
                    },
                    "position": {
                        "la": {
                            "des": "箭头（左or上）",
                            "top": "259",
                            "left": "1005"
                        },
                        "ra": {
                            "des": "箭头（右or下）",
                            "top": "671",
                            "left": "1005"
                        },
                        "sw": {
                            "des": "小视频窗口",
                            "top": "342",
                            "left": "273"
                        },
                        "back": {
                            "des": "返回",
                            "top": "28",
                            "left": "821"
                        },
                        "more": {
                            "des": "更多",
                            "top": "28",
                            "left": "1054"
                        }
                    }
                },
                "bq": {
                    "video_list_layout": {
                        "des": "视频列表布局方式",
                        "value_des": "横向布局",
                        "value": "1",
                        "videoLength": "5"
                    },
                    "focus_cfg": {
                        "back": {
                            "des": "返回按钮",
                            "focus_up": "",
                            "focus_down": "video_list",
                            "focus_left": "small_video",
                            "focus_right": "more"
                        },
                        "more": {
                            "des": "更多按钮",
                            "focus_up": "",
                            "focus_down": "video_list",
                            "focus_left": "back",
                            "focus_right": ""
                        },
                        "small_video": {
                            "des": "小视频窗口",
                            "focus_up": "back",
                            "focus_down": "video_list",
                            "focus_left": "",
                            "focus_right": "video_list"
                        },
                        "video_list": {
                            "des": "视频列表",
                            "focus_up": "back",
                            "focus_down": "",
                            "focus_left": "small_video",
                            "focus_right": ""
                        }
                    },
                    "position": {
                        "la": {
                            "des": "箭头（左or上）",
                            "top": "183",
                            "left": "375"
                        },
                        "ra": {
                            "des": "箭头（右or下）",
                            "top": "502",
                            "left": "375"
                        },
                        "sw": {
                            "des": "小视频窗口",
                            "top": "0",
                            "left": "0"
                        },
                        "back": {
                            "des": "返回",
                            "top": "23",
                            "left": "309"
                        },
                        "more": {
                            "des": "更多",
                            "top": "23",
                            "left": "497"
                        }
                    }
                }
            },
            "areaCode": "207",
            "cornerMarkUrl": ""
        }
        // var RenderParam = {
        //     vip: {$isVip},  //当前用户是否VIP
        //     payMethod: {$payMethod}, // 订购配置数据
        //     firstVideoIndex: {$moveNum},    // 当前视频列表显示的第一条视频下标
        //     userId: '{$userId}',    // 当前用户ID
        //     focusId: '{$focus_index}',  // 当前页面焦点ID
        //     videoData: {$data}.data.video_list,  // 当前专辑视频信息列表
        //     platformType: '{$platformType}',     // hd--高清 sd--标清
        //     lmcid: '{$carrierId}',  // 所属地区Id
        //     inner: '{$inner}',  // 当前专辑是否从应用内跳转 1--应用内部跳转 2--外部局方大厅跳转
        //     fromLaunch:"{$fromLaunch}",
        //     albumName: '{$albumName}',          // 专辑名称
        //     domainUrl: '{$domainUrl}',           // 江苏电信需要使用的第三方播放器前缀地址\
        //     commonImgPath: '__ROOT__/Public/img/{$platformType}/Album/common/', // 公用图片文件地址
        //     commonHDImgPath: '__ROOT__/Public/img/hd/Album/common/', //  公用高清图片文件地址
        //     albumImgPath: '__ROOT__/Public/img/hd/Album/{$albumName}/', // 当前专辑图片文件地址
        //     splashHistory: {$splashHistory},
        //     keyCountdown: "{$keyCountdown}", // 是否挽留页弹窗弹出键值
        //     valueCountdown: {$valueCountdown}, // 是否挽留页弹窗弹出值
        //     isVideoFree: {$isVideoFree}, // 判断当前专辑普通用户是否可以免费观看所有视频 1--免费观看 0--不能免费观看
        //     atFreeTime: {$atFreeTime}, // 当前专辑跳转视频播放页面是否已经观看完免费时长 1--已观看 0--未观看
        //     videoTitle: "{$videoTitle}", // 当前专辑跳转视频标题 订购页面需要
        //     resourceUrl: "{$resourceUrl}", // 服务器文件地址
        //     templateInfo: {$templateInfo}, // 当前专辑配置模板
        //     areaCode: "{$areaCode}",          // 省份地区码
        //     cornerMarkUrl: "{$cornerMarkUrl}" // 免费角标链接
        // };
    </script>
    <script>var carrierId = {$carrierId};</script>
    <if condition="$carrierId eq '07430093' ">
        <!--湖南联通芒果TV 07430093js文件-->
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/mongoTV/webview.js?t={$time}"></script>
    </if>
    <!--第三方解析库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <switch name="carrierId">
        <case value="520094">     <!--贵州广电js文件-->
            <script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/gzgd.config.js?t={$time}"></script>
            <script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/starcorCom.js?t={$time}"></script>
            <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/gzgd.config.js?t={$time}"></script>
            <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/starcorCom.js?t={$time}"></script>
        </case>
    </switch>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <eq name="isRunOnAndroid" value="1">
        <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
    </eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Album/Common/TestLMAlbum.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Player/LMSmallPlayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Pay/lmPayFrame.js?t={$time}"></script>
    <script type="text/javascript">
        /**
         * 得到当前页面对象
         */
        function getCurrentPage() {
            var objCurrent = LMEPG.Intent.createIntent("album");
            objCurrent.setParam("userId", userId);
            objCurrent.setParam("albumName", albumName);
            objCurrent.setParam("inner", inner);
            return objCurrent;
        }


        function jumpVideoPlay(paramJson) {
            var objCurrent = getCurrentPage();
            objCurrent.setParam("fromId", 2);
            objCurrent.setParam("focus_index", paramJson.focusIdx);
            objCurrent.setParam("moveNum", pageNum); //j-comment

            var objPlayer = LMEPG.Intent.createIntent("player");
            objPlayer.setParam("userId", userId);
            objPlayer.setParam("videoInfo", JSON.stringify(paramJson));

            LMEPG.Intent.jump(objPlayer, objCurrent);
        }

        /**
         * @func 进行购买操作
         * @param focusIdx 当前页的焦点位置
         * @param remark 备注字段，补充说明reason。如订购是通过视频播放，则remark为视频名称；如是通过活动，则remark为活动名称。
         * @returns {boolean}
         */
        function jumpBuyVip(focusIdx, remark) {
            var objCurrent = getCurrentPage();
            objCurrent.setParam("fromId", 1);
            objCurrent.setParam("focus_index", focusIdx);
            objCurrent.setParam("page", 0);
            objCurrent.setParam("moveNum", pageNum); //j-comment

            var objOrderHome = LMEPG.Intent.createIntent("orderHome");
            objOrderHome.setParam("userId", userId);
            objOrderHome.setParam("isPlaying", "1");
            objOrderHome.setParam("remark", remark);

            LMEPG.Intent.jump(objOrderHome, objCurrent);
        }
    </script>
    <script>
        //进行按钮的设置处理if (RenderParam.templatePageInfo.bq.focus_cfg.back.focus_down)

        function  buttonMove(buttonValue) {
            var x="RenderParam.templatePageInfo.bq.focus_cfg."+buttonValue
            var buttonMove=eval(x);
            if (buttonMove=="more"){
                return LMAlbum.viewMoreId;
            }else if (buttonMove=="back"){
                return LMAlbum.backId
            }else if (buttonMove=="video_list"){
                return LMAlbum.lastVideoId;
            }else if (buttonMove=="small_video"){
                return LMAlbum.smallVideoId;
            }else {
                return null;
            }
        }

    </script>
    <script type="text/javascript">
        var buttonback="back"
        //对于高标清的视频弹窗进行位置获取
        var smallVideoStyle;//小窗视频初始化数据
       // var  definition
        //视频显示个数
        var videoLength;
        if (RenderParam.platformType=="hd" || RenderParam.platformType=="hd-1"){
            smallVideoStyle=RenderParam.videoData[0].page_info.gq.position;
            videoLength=RenderParam.templatePageInfo.gq.video_list_layout.videoLength;
        }else {
            smallVideoStyle=RenderParam.videoData[0].page_info.bq.position;
            videoLength=RenderParam.templatePageInfo.bq.video_list_layout.videoLength;
        }
        //当RenderParam.templatePageInfo.gq.video_list_layout.value的值为1时，其实水平走向，为2时则为垂直走向
        var buttonDirection;
        if (RenderParam.templatePageInfo.gq.video_list_layout.value=="1"){
            buttonDirection=LMAlbum.LayoutDirection.vertical;
        }else {
            buttonDirection=LMAlbum.LayoutDirection.Horizontal;
        }
        window.onload = function () {
            // 初始化专辑内部焦点走向
            LMAlbum.showVideoLength = videoLength// 视频显示个数
            LMAlbum.videoLayout = buttonDirection; // 视频摆放方向

            // 专辑相关参数预处理
            LMAlbum.initPretreatment({
                albumAlias: [151, 152, 153, 155]
            });
            LMAlbum.smallVideoPosition = {
                top: smallVideoStyle.top,    // 小窗播放距离上
                left: smallVideoStyle.left,   // 距离左
                width: smallVideoStyle.width,  // 宽
                height: smallVideoStyle.height  // 高
            };

            LMAlbum.backMoveConfig = {
                up: buttonMove("back.focus_up"),
                down: buttonMove("back.focus_down"),
                right: buttonMove("back.focus_right"),
                left: buttonMove("back.focus_left"),

            };
            LMAlbum.viewMoreMoveConfig = {
                up: buttonMove("more.focus_up"),
                down: buttonMove("more.focus_down"),
                left: buttonMove("more.focus_left"),
                right: buttonMove("more.focus_right")
            };

            LMAlbum.moreWonderfulMoveConfig = {
                up: LMAlbum.firstVideoId,
                down: '',
                left: '',
                right: ''
            };
            LMAlbum.smallVideoMoveConfig = {
                up: buttonMove("small_video.focus_up"),
                down: buttonMove("small_video.focus_down"),
                left: buttonMove("small_video.focus_left"),
                right: buttonMove("small_video.focus_right")
            };

            LMAlbum.videoMoveConfig = {
                prev: buttonMove("video_list.focus_up"),
                next: buttonMove("video_list.focus_up"),
                up: buttonMove("video_list.focus_up"),
                down: buttonMove("video_list.focus_down"),
                left: buttonMove("video_list.focus_left"),
                right: buttonMove("video_list.focus_right")
            };

            if (RenderParam.lmcid === '650092') {
                // 新疆电信直接返回
                LMAlbum.goBack = function () {
                    LMEPG.Intent.back();
                };
                LMAlbum.onClickBackListener = function (btn) {
                    LMEPG.Intent.back();
                };
                // 新疆电信直接取消订购
                LMAlbum.hidePurchaseDialog = function () {
                    H('purchase-dialog');
                    LMEPG.ButtonManager.requestFocus(LMAlbum.focusId);
                }
            }

            try {
//                LMAlbum.initRegional();
                LMAlbum.init();
                lmInitGo();
            } catch (err) {
                G('debug').innerHTML += err + '</br>';
            }
        };

        /**
         * 释放iframe资源
         */
        function releaseFrame() {
            LMEPG.Log.info("releaseFrame!!!!!!!!!!!!!");
            LMEPG.PayFrame.releaseFrame();
        }
    </script>
</head>
<body id="body" class="{$platformType}-body">
<div id="debug"></div>
<img src="" alt="" id="background" class="{$platformType}-bg">
<img id="btn-view-more" class="{$platformType}-view-more" src=""/>
<!--返回按钮-->
<img id="btn-back" class="{$platformType}-back"/>
<if condition="$carrierId neq 640094">
    <if condition="$carrierId neq 640094">
        <a href="#" id="default_link"></a>
    </if>
</if>
<if condition="$platformType eq 'hd' ">
    <div id="small-video-wrap" style="left:1px; top:1px; width:1px; height:1px; position:absolute;">
        <iframe id="small-screen" frameborder="0" scrolling="no" style="width: 1px;height: 1px"></iframe>
    </div>
    <img id="small-video" src=""/>
    <img id="corner-mark" class="{$platformType}-corner-mark" src="" alt="">
    <else/>
</if>

<!--视频列表翻页箭头-->
<img id="image-prev-arrow" class="{$platformType}-v-arrow {$platformType}-v-prev"/>
<img id="image-next-arrow" class="{$platformType}-v-arrow {$platformType}-v-next"/>

<img id="more-wonderful" src="__ROOT__/Public/img/hd/Album/common/btn_more_album.png"
     class="{$platformType}-more-wonderful" style="visibility:hidden"/>

<!--视频列表渲染容器-->
<div id="video-list" class="{$platformType}-video-list"></div>

<div id="history-album" class="{$platformType}-history-album"></div>

<div id="purchase-dialog" style="visibility:hidden">
    <img class="purchase-dialog-img" src="__ROOT__/Public/img/{$platformType}/Album/common/bg_purchase_dialog.png">
    <img id="btn-purchase" src="__ROOT__/Public/img/{$platformType}/Album/common/btn_purchase_focus.png">
    <img id="btn-cancel-purchase" src="__ROOT__/Public/img/{$platformType}/Album/common/btn_cancel_purchase.png">
</div>

<div id="countdown-dialog" style="visibility:hidden">
    <img src="__ROOT__/Public/img/{$platformType}/Album/common/bg_countdown_dialog.png">
    <div id="count">8</div>
</div>

</body>
</html>