<!DOCTYPE html>
<html>
<head>
    <title>专辑102</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}"/>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Album/{$albumName}/album.css?t={$time}"/>

    <!--第三方解析库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <if condition="$carrierId eq '520092'"><!--贵州广电引用-->
        <script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/gzgd.config.js?t={$time}"></script>
        <script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/starcorCom.js?t={$time}"></script>
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/gzgd.config.js?t={$time}"></script>
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/starcorCom.js?t={$time}"></script>
    </if>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <eq name="isRunOnAndroid" value="1">
        <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
    </eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>
    <if condition="$carrierId eq '450094' ">
        <!-- 广西广电小窗视频播放 -->
        <script type="text/javascript" src="http://10.1.15.25/webJS/gxgd.config.js?t={$time}"></script>
        <script type="text/javascript" src="http://10.1.15.25/webJS/starcorCom.js?t={$time}"></script>
    </if>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Album/album.1.01.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Player/LMSmallPlayer.js?t={$time}"></script>

</head>
<body id="body" class="body">
<div id="debug" style="position: absolute;color: red; font-size: 24px"></div>
<a href="#" id="default_link" style="width: 1px;height: 1px; position: absolute; left: 80px; top: 200px">.</a>
<if condition="$platformType eq 'hd' ">
    <div id="smallvod" style="left:1px; top:1px; width:1px; height:1px; position:absolute;">
        <iframe id="smallscreen" frameborder="0" scrolling="no" style="width: 1px;height: 1px"></iframe>
    </div>
    <img id="videoTv" class="videoTv" useType="video" data-v="0"
         src="__ROOT__/Public/img/{$platformType}/Album/album102/bg_small_video.png"/>
    <img id="free" style="position: absolute;top:16px; left:630px; visibility: hidden"
         src="__ROOT__/Public/img/{$platformType}/Album/album102/icon_free.png"/>
    <else/>
</if>
<div id="tab-content" class="tab-content">

</div>
<img id="v-prev" class="v-arrow v-prev"
     src="__ROOT__/Public/img/{$platformType}/Album/album102/icon_prev_page.png"/>
<img id="v-next" class="v-arrow v-next"
     src="__ROOT__/Public/img/{$platformType}/Album/album102/icon_next_page.png"/>
<img id="more" class="more" src="__ROOT__/Public/img/{$platformType}/Album/album102/bg_more_video.png"/>
<img id="back" class="back" useType="back"
     src="__ROOT__/Public/img/{$platformType}/Album/album102/bg_back.png"/>
<div id="history-album" class="history-album">

</div>
<!--<img id="a-prev" class="a-arrow a-prev"-->
<!--src="__ROOT__/Public/img/{$platformType}/Album/album102/icon_prev_page1.png"/>-->
<!--<img id="a-next" class="a-arrow a-next"-->
<!--src="__ROOT__/Public/img/{$platformType}/Album/album102/icon_next_page1.png"/>-->
<script type="text/javascript">
    // TP框架控制器返回数据应用
    var TP = {
        vip: {$isVip},
        listMovePages: {$moveNum},           // 页数
        albumMovePages: {$moveAlbumNum},
        userId: '{$userId}',
        focusIDName: '{$focus_index}' == 'focus-1-1' ? 'focus-1' : '{$focus_index}',
        videoData: {$data}.data.video_list,  // 专题节目列表
        platformType: '{$platformType}',     // hd--高清 sd--标清
        lmcid: '{$carrierId}',
        inner: '{$inner}',
        fromLaunch:"{$fromLaunch}",
        albumName: '{$albumName}',          // 专辑名称
        domainUrl: '{$domainUrl}'           // 江苏电信需要使用的第三方播放器前缀地址\
    };
    // 小窗播放参数
    (function smallPlay(keyCode) {
        if (LMSmallPlayer.isInterceptPlayException(keyCode)) return;
        if (TP.platformType == 'hd') {
            LMSmallPlayer.initParam({
                carrierId: TP.lmcid,
                playerUrl: TP.domainUrl,
                position: {
                    top: 72, // 小窗播放距离上
                    left: 653, // 距离左
                    width: 324, // 宽
                    height: 184, // 高
                },
                playerScreenId: 'smallscreen',
                platformType: TP.platformType,
                videoData: TP.videoData
            });
            LMSmallPlayer.startPlayVideo();
            //虚拟按键触发，轮询播放
            LMEPG.KeyEventManager.addKeyEvent({
                EVENT_MEDIA_END: smallPlay,	         //视频播放结束
                EVENT_MEDIA_ERROR: smallPlay        //视频播放错误
            });
        }
    }());

    // 本专辑控制器参数传递
    var param = {
        imgPrefixIndex: TP.lmcid == "000051" ? "__ROOT__/Public/img/{$platformType}/Album/album102_union/" : "__ROOT__/Public/img/{$platformType}/Album/album102/",
        buttons: [],
        V: TP.platformType == "hd" ? 4 : 7,  // 渲染视频列表个数
        A: TP.platformType == "hd" ? 4 : 3,                                // 渲染往期专辑的个数
        allVideoLength: TP.lmcid == "000051" ? 8 : 11,                   // 视频列表的总个数
        hasSmallVideo: TP.lmcid != '450094',    // 是否有小窗播放
        listVideoDirection: 'right',         // Video列表下一个翻页方向
        historyAlbum: false,
        hisAlbumDirection: 'right',               // 往期专题下一个翻页方向
        // 视频列表焦点移动方向
        firstAndLastListItemMove: {
            prev: '',
            next: '',
            up: TP.platformType == "hd" ? "videoTv" : "more",
            down: '',
            left: '',
            right: ''
        },
        // 往期专题焦点移动方向
        firstAndLastAlbumItemMove: {
            prev: 'videoTv',
            next: '',
            up: TP.platformType == "hd" ? "videoTv" : "focus-1",
            down: '',
            left: '',
            right: ''
        },
        // 更多精彩焦点移动方向
        moreItemMove: {
            up: 'back',
            down: 'focus-4',
            left: 'videoTv',
            right: ''
        },
        // 返回焦点移动方向
        backItemMove: {
            up: '',
            down: 'more',
            left: 'videoTv',
            right: ''
        },
        // 小窗视频焦点移动方向
        videoTvItemMove: {
            up: '',
            down: 'focus-4',
            left: 'focus-4',
            right: TP.lmcid == "630092" ? "back" : "more"
        },
        backPage: TP.lmcid == '000051' ? 'homeTab4' : 'home',
        backHomeTabNumber: '4',
        morePageName: 'channel', // 设置查看更多跳转路径
        // 设置往期专辑索引,不同区域不同专辑
        setAlbumIndex: (function () {
            var a = 86,
                b = 93,
                c = 94;
            return [
                {index: a, album: 'album' + a},
                {index: b, album: 'album' + b},
                {index: c, album: 'album' + c},
                {index: 'more', album: 'more'}];
        }()),
        // 钩子函数->解决不同区域背景图和已知差异化
        different: function () {
            var bodyBg = 'bg_album.png';
            switch (TP.lmcid) {
                case '630092':
                    document.body.removeChild(G("more"));
                    bodyBg = 'bg_album.png';
                    break;
                case '640092':
                    bodyBg = 'bg_album.png';
                    this.morePageName = 'MenuTabLevelThree'; // 设置宁夏、青海电信查看更多跳转地址
                    break;
                case '450094':
                    this.hasSmallVideo = false;
                    TP.platformType == 'hd' && G('videoTv').parentNode.removeChild(G('videoTv')); // 广西广电没有视频小窗
                    break;
                case '420092': // 湖北电信有免费图标
                    S('free');
                    break;
                case '520094': // 贵州广电有免费图标
                    S('free');
                    this.morePageName = 'healthVideoList'; // 贵州广电跳转更多精彩地址
                    break;
                case '460092': // 海南电信
                    this.backHomeTabNumber = 4;
                    break;
                case '450092':
                    bodyBg = 'bg_album2.png';
                    break;
                default:
                    bodyBg = 'bg_album.png';
                    break;
            }
            G('body').style.backgroundImage = 'url(' + this.imgPrefixIndex + bodyBg + ')';
        },
        // 钩子函数->焦点移动
        hookMoveFocus: function (key, btn) {
        }
    };

     // 调用模块总成函数
    App.init(param);
    lmInitGo();
</script>
</body>
</html>