<!DOCTYPE html>
<html>
<head>
    <title>专辑141-儿童高发传染病，手足口病您了解吗</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/Common/Album/album141.css?t={$time}"/>

    <!--第三方解析库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <switch name="carrierId">
        <case value="520094">     <!--贵州广电js文件-->
            <script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/gzgd.config.js?t={$time}"></script>
            <script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/starcorCom.js?t={$time}"></script>
            <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/gzgd.config.js?t={$time}"></script>
            <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/starcorCom.js?t={$time}"></script>
        </case>
    </switch>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <eq name="isRunOnAndroid" value="1">
        <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
    </eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>
    <if condition="$carrierId eq '450094' ">
        <!-- 广西广电小窗视频播放 -->
        <script type="text/javascript" src="http://10.1.15.25/webJS/gxgd.config.js?t={$time}"></script>
        <script type="text/javascript" src="http://10.1.15.25/webJS/starcorCom.js?t={$time}"></script>
    </if>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Album/album.1.01.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Player/LMSmallPlayer.js?t={$time}"></script>

</head>
<body id="body" class="{$platformType}-body">
<div id="debug"></div>
<if condition="$carrierId neq 640094">
    <a href="#" id="default_link"></a>
</if>
<if condition="$platformType eq 'hd' ">
    <div id="smallvod" style="left:1px; top:1px; width:1px; height:1px; position:absolute;">
        <iframe id="smallscreen" frameborder="0" scrolling="no" style="width: 1px;height: 1px"></iframe>
    </div>
    <img id="videoTv" class="hd-videoTv" useType="video" data-v="0"
         src="__ROOT__/Public/img/hd/Album/album141/bg_small_video.png"/>
    <img id="imgFree" class="hd-free" src="__ROOT__/Public/img/hd/Album/album141/bg_marker.png" alt="">
    <else/>
</if>
<div id="tab-content" class="{$platformType}-tab-content">
</div>
<img id="v-prev" class="{$platformType}-v-arrow {$platformType}-v-prev"
     src="__ROOT__/Public/img/hd/Album/album141/icon_prev_page.png"/>
<img id="v-next" class="{$platformType}-v-arrow {$platformType}-v-next"
     src="__ROOT__/Public/img/hd/Album/album141/icon_next_page.png"/>
<img id="more" class="{$platformType}-more" src="__ROOT__/Public/img/hd/Album/album141/bg_more_video.png"/>
<img id="back" class="{$platformType}-back" useType="back"
     src="__ROOT__/Public/img/hd/Album/album141/bg_back.png"/>
<div id="history-album" class="{$platformType}-history-album">

</div>
<script type="text/javascript">
    // TP框架控制器返回数据应用
    var TP = {
        vip: {$isVip},
        listMovePages: {$moveNum},           // 页数
        albumMovePages: {$moveAlbumNum},
        userId: '{$userId}',
        focusIDName: '{$focus_index}' == 'focus-1-1' ? 'focus-1' : '{$focus_index}',
        videoData: {$data}.data.video_list,  // 专题节目列表
        platformType: '{$platformType}',     // hd--高清 sd--标清
        lmcid: '{$carrierId}',
        inner: '{$inner}',
        fromLaunch:"{$fromLaunch}",
        albumName: '{$albumName}',          // 专辑名称
        domainUrl: '{$domainUrl}'           // 江苏电信需要使用的第三方播放器前缀地址\
    };
    // 小窗播放参数
    (function smallPlay(keyCode) {
        if (LMSmallPlayer.isInterceptPlayException(keyCode)) return;
        if (TP.platformType == 'hd') {
            LMSmallPlayer.initParam({
                carrierId: TP.lmcid,
                playerUrl: TP.domainUrl,
                position: {
                    top: 306,    // 小窗播放距离上
                    left: 162,   // 距离左
                    width: 318,  // 宽
                    height: 187  // 高
                },
                playerScreenId: 'smallscreen',
                platformType: TP.platformType,
                videoData: TP.videoData
            });
            LMSmallPlayer.startPlayVideo();
            //虚拟按键触发，轮询播放
            LMEPG.KeyEventManager.addKeyEvent({
                EVENT_MEDIA_END: smallPlay,	         //视频播放结束
                EVENT_MEDIA_ERROR: smallPlay        //视频播放错误
            });
        }
    }());

    // 本专辑控制器参数传递
    var param = {
        imgPrefixIndex: '__ROOT__/Public/img/hd/Album/album141/',
        buttons: [],
        V: 4,  // 渲染视频列表个数
        A: 4,                                // 渲染往期专辑的个数
        allVideoLength: 6,                   // 视频列表的总个数
        hasSmallVideo: TP.lmcid != '450094',    // 是否有小窗播放
        listVideoDirection: 'down',         // Video列表下一个翻页方向
        historyAlbum: false,
        // 视频列表焦点移动方向
        firstAndLastListItemMove: {
            prev: '',
            next: '',
            up: '',
            down: '',
            left: (TP.platformType === 'hd' && TP.lmcid !== '450094') ? 'videoTv' : 'back',
            right: ''
        },
        // 往期专题焦点移动方向
        firstAndLastAlbumItemMove: {
            prev: '',
            next: '',
            up: '',
            down: '',
            left: '',
            right: ''
        },
        // 更多精彩焦点移动方向
        moreItemMove: {
            up: 'videoTv',
            down: '',
            left: '',
            right: 'back'
        },
        // 返回焦点移动方向
        backItemMove: {
            up: 'videoTv',
            down: '',
            left: 'more',
            right: 'focus-4'
        },
        // 小窗视频焦点移动方向
        videoTvItemMove: {
            up: '',
            down: 'more',
            left: '',
            right: 'focus-1'
        },
        backPage: TP.lmcid == '000051' ? 'homeTab4' : 'home',
        backHomeTabNumber: '6',
        morePageName: 'channel', // 设置查看更多跳转路径
        setAlbumIndex: [],
        // 钩子函数->解决不同区域背景图和已知差异化
        different: function () {
            var bodyBg = 'bg_album.png';
            switch (TP.lmcid) {
                case '630092':
                case '640092':
                    bodyBg = 'bg_album.png';
                    this.morePageName = 'MenuTabLevelThree'; // 设置宁夏、青海电信查看更多跳转地址
                    break;
                case '450094':
                    this.hasSmallVideo = false;
                    if (TP.platformType === 'hd'){
                        G('videoTv').parentNode.removeChild(G('videoTv')); // 广西广电没有视频小窗
                        bodyBg = 'bg_album_full.png';
                    }
                    this.backHomeTabNumber = 4;
                    break;
                case '320092': // 江苏电信有免费图标
                case '420092': // 湖北电信有免费图标
                case '520094': // 贵州广电有免费图标
                    S('imgFree');
                    break;
                default:
                    bodyBg = 'bg_album.png';
                    break;
            }
            TP.platformType == 'sd' && (bodyBg = 'bg_album_sd.png');
            G('body').style.backgroundImage = 'url(' + this.imgPrefixIndex + bodyBg + ')';
        },
        onVideoTvFocus: function ( btn, hasFocus) {
            if (hasFocus){
                G('imgFree').src = "__ROOT__/Public/img/{$platformType}/Album/album141/f_marker.png";
            }else {
                G('imgFree').src = "__ROOT__/Public/img/{$platformType}/Album/album141/bg_marker.png";
            }
        },
        // 钩子函数->焦点移动
        hookMoveFocus: function (key, btn) {}
    };

    // 调用模块总成函数
    App.init(param);
    lmInitGo();
</script>
</body>
</html>