<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>春天活动-首页V1</title>
    <meta charset="utf-8" name="page-view-size"  content="{$size}" >

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Activity/ActivitySpring/V1/guide.css?t={$time}">
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmajax_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcore_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmmarquee.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmintent_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmlog_v1.0.0.js?t={$time}"></script>
    <!--弹窗规则定义-->
    <script type="text/javascript" src="__ROOT__/Public/js/Activity/ActivitySpring/PopRule.js?t={$time}"></script>
    <!--特殊焦点走向-->
    <script type="text/javascript">
        function onbeforeMoveChange(direction, current) {
            var focusId = current.id;
            if (direction == "up") {
                if (focusId == "btn-start") {
                    if ((inner == "0" || inner == 0) && (styleName > 644)) {
                        LMEPG.ButtonManager.requestFocus("btn-goHome");
                        return false;
                    }
                }
            } else if (direction == "down") {
                if (focusId == "btn-back") {
                    if ((inner == "0" || inner == 0) && (styleName > 644)) {
                        LMEPG.ButtonManager.requestFocus("btn-goHome");
                        return false;
                    }
                }
            }
        }
    </script>
    <!--页面跳转-->
    <script type="text/javascript">
        /**
         * 获取当前页对象
         */
        function getCurrentPage() {
            var objCurrent = LMEPG.Intent.createIntent("activity-common-guide");
            objCurrent.setParam("userId", "{$userId}");
            objCurrent.setParam("inner", "{$inner}");
            return objCurrent;
        }

        /**
         * 跳转到弹框页
         */
        function jumpDialog(text) {
            var objCurrent = getCurrentPage();

            var objDialog = LMEPG.Intent.createIntent("activity-common-dialog");
            objDialog.setParam("userId", "{$userId}");
            objDialog.setParam("inner", "{$inner}");
            objDialog.setParam("leftTimes", "{$leftTimes}");
            objDialog.setParam("context", text);

            LMEPG.Intent.jump(objDialog, objCurrent);
        }

        /**
         * 页面跳转 - 活动详情
         */
        function jumpActivityInfo() {
            jumpDialog(ACTIVITY_RULE_DETAIL);
        }

        /**
         * 页面跳转 - 游戏主界面
         */
        function jumpPlayUI() {
            var objCurrent = getCurrentPage();

            var objActivityHome = LMEPG.Intent.createIntent("activity-common-home");
            objActivityHome.setParam("userId", "{$userId}");
            objActivityHome.setParam("inner", "{$inner}");
            objActivityHome.setParam("leftTimes", leftTimes);

            LMEPG.Intent.jump(objActivityHome, objCurrent);
        }

        /**
         * 显示次数用尽弹窗，可能是答题次数用尽，也可能是抽奖次数用尽
         */
        function jumpTimesOutDialog() {
            var context;
            // 用户抽奖次数用完
            if (!LMEPG.Func.isAllowAccess(isVip, ACCESS_NO_TYPE)) {
                //不是vip，弹出订购弹窗
                context = NOT_VIP_USER_PLAY_TIMES_OVER;
            } else {
                //是vip，提示用户今天次数用尽，明天再来
                context = VIP_USER_PLAY_TIMES_OVER;
            }
            jumpDialog(context);
        }

        /**
         * 页面跳转 - 显示中奖信息
         */
        function jumpPriceInfo() {
            var objCurrent = getCurrentPage();

            var objActivityWinList = LMEPG.Intent.createIntent("activity-common-winList");
            objActivityWinList.setParam("userId", "{$userId}");
            objActivityWinList.setParam("inner", "{$inner}");

            LMEPG.Intent.jump(objActivityWinList, objCurrent);
        }

        /**
         * 设置号码页
         */
        function jumpSetPhoneNum() {
            var objCurrent = getCurrentPage();

            var objDialog = LMEPG.Intent.createIntent("activity-common-dialog");
            objDialog.setParam("userId", "{$userId}");
            objDialog.setParam("inner", "{$inner}");
            objDialog.setParam("prizeIdx", "{$prizeIdx}");
            objDialog.setParam("prizeName", "{$prizeName}");
            objDialog.setParam("context", INPUT_USER_PHONE_NUMBER);

            LMEPG.Intent.jump(objDialog, objCurrent);
        }

        /**
         * 返回事件
         */
        function onBack() {
            LMEPG.Intent.back();
        }
    </script>
</head>
<body style='background-image: url("__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/guide_bg_unicom_.png")'>
<div id="times">0</div>
<div id="default_tip"></div>
<div>
    <img id="btn-back" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/guide_back_out.png" alt="" />
    <if condition="($inner eq 0) AND ($platformType eq 'hd')">
        <img id="btn-goHome" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/home_out.png" alt="" />
        <elseif condition="$inner eq 0"/>
        <img id="btn-goHome2" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/home_out.png" alt="" />
    </if>
    <img id="btn-start" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/hand_out.png" alt="" />
    <if condition="$styleName eq 720">
        <div id="price_name">参与春游：价值269元的血糖仪，价值399元的血压仪，价值599元的体脂秤等你来拿！</div>
        <img id="sound" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/soud.png" alt="" />
        <img id="scoller_box" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/scoller_box.png" alt="" />
        <img id="btn-price" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/price_message_out.png" alt="" />
        <img id="btn-detail" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/rule_out.png" alt="" />
        <img id="btn-price_phone" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/price_phone_out.png" alt="" />
        <else/>
        <img class="none" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/price_message_in.png" alt="" />
        <img class="none" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/rule_in.png" alt="" />
        <img class="none" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/price_phone_in.png" alt="" />
        <img id="btn-price" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/price_message_out.png" alt="" />
        <img id="btn-detail" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/rule_out.png" alt="" />
        <img id="btn-price_phone" src="__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/price_phone_out.png" alt="" />
    </if>

</div>
<script type="text/javascript">
    var inner = "{$inner}";
    var leftTimes = -99;//剩余抽奖次数;//剩余抽奖次数
    var prizeIdx = "{$prizeIdx}"; // 奖品ID
    var isVip = {$isVip};//是否是vip
    var styleName = "{$styleName}";//分辨率

    // 当前页面使用图片路径目录
    var imgPathPrefix = '__ROOT__/Public/img/{$platformType}/Activity/ActivitySpring/V1/';

    var buttons = [
        {
            id: 'btn-back',
            name: '返回',
            type: 'img',
            nextFocusLeft: 'btn-goHome2',
            nextFocusRight: '',
            nextFocusUp: '',
            nextFocusDown: 'btn-start',
            backgroundImage: imgPathPrefix + 'guide_back_out.png',
            focusImage: imgPathPrefix + 'guide_back_in.png',
            click: "onBack()",
            focusChange: "",
            beforeMoveChange: onbeforeMoveChange,
            moveChange: ""
        },
        {
            //第二排，返回按钮下面
            id: 'btn-goHome',
            name: '进入大厅',
            type: 'img',
            nextFocusLeft: '',
            nextFocusRight: '',
            nextFocusUp: 'btn-back',
            nextFocusDown: 'btn-start',
            backgroundImage: imgPathPrefix + 'home_out.png',
            focusImage: imgPathPrefix + 'home_in.png',
            click: "onClick()",
            focusChange: "",
            beforeMoveChange: onbeforeMoveChange,
            moveChange: ""
        },
        {
            //第二排，返回按钮左边
            id: 'btn-goHome2',
            name: '进入大厅',
            type: 'img',
            nextFocusLeft: '',
            nextFocusRight: 'btn-back',
            nextFocusUp: '',
            nextFocusDown: 'btn-start',
            backgroundImage: imgPathPrefix + 'home_out.png',
            focusImage: imgPathPrefix + 'home_in.png',
            click: "onClick()",
            focusChange: "",
            beforeMoveChange: onbeforeMoveChange,
            moveChange: ""
        },
        {
            id: 'btn-start',
            name: '开始游戏',
            type: 'img',
            nextFocusLeft: '',
            nextFocusRight: '',
            nextFocusUp: 'btn-back',
            nextFocusDown: 'btn-price',
            backgroundImage: imgPathPrefix + 'hand_out.png',
            focusImage: imgPathPrefix + 'hand_in.png',
            click: "onClick()",
            focusChange: "",
            beforeMoveChange: onbeforeMoveChange,
            moveChange: ""
        },
        {
            id: 'btn-price',
            name: '中奖名单',
            type: 'img',
            nextFocusLeft: '',
            nextFocusRight: 'btn-detail',
            nextFocusUp: 'btn-start',
            nextFocusDown: '',
            backgroundImage: imgPathPrefix + 'price_message_out.png',
            focusImage: imgPathPrefix + 'price_message_in.png',
            click: "onClick()",
            focusChange: "",
            beforeMoveChange: "",
            moveChange: ""
        },
        {
            id: 'btn-detail',
            name: '活动详情',
            type: 'img',
            nextFocusLeft: 'btn-price',
            nextFocusRight: 'btn-price_phone',
            nextFocusUp: 'btn-start',
            nextFocusDown: '',
            backgroundImage: imgPathPrefix + 'rule_out.png',
            focusImage: imgPathPrefix + 'rule_in.png',
            click: "onClick()",
            focusChange: "",
            beforeMoveChange: "",
            moveChange: ""
        },
        {
            id: 'btn-price_phone',
            name: '领奖号码',
            type: 'img',
            nextFocusLeft: 'btn-detail',
            nextFocusRight: '',
            nextFocusUp: 'btn-start',
            nextFocusDown: '',
            backgroundImage: imgPathPrefix + 'price_phone_out.png',
            focusImage: imgPathPrefix + 'price_phone_in.png',
            click: "onClick()",
            focusChange: "",
            beforeMoveChange: "",
            moveChange: ""
        }
    ];

    window.onload = function () {
        if (styleName < 720) {
        } else {
            LMEPG.UI.Marquee.start("price_name",7, 5, 10, "left", "scroll");
        }
        LMEPG.ButtonManager.init(['btn-start'], buttons, '', true);
        selectParticipationNum();
    }

    function onClick() {
        var currentButton = LMEPG.ButtonManager.getCurrentButton();
        if (currentButton != null) {
            var id = currentButton.id;
        } else {
            return;
        }
        if (id == "btn-back") {
            if (inner == "1" || inner == 1) {
                LMEPG.Intent.back();
            } else {
                LMEPG.Intent.back();
            }
        } else if (id == "btn-price") {
            jumpPriceInfo()
        } else if (id == "btn-goHome" || id == "btn-goHome2") {
            LMEPG.Intent.back();
        } else if (id == "btn-detail") {
            // 跳转到活动规则界面
            jumpActivityInfo();
        } else if (id == "btn-price_phone") {
            // 如果没有抽中奖，不能进入填写电话号码
            if (prizeIdx == 0 || prizeIdx == "0") {
                LMEPG.UI.showToast("十分抱歉，您还未中奖！", 3);
            } else {
                // 跳转到输入电话号码界面
                jumpSetPhoneNum();
            }
        } else if (id == "btn-start") {
            if (leftTimes <= 0) { //判断还没有获取抽奖次数
                LMEPG.UI.showToast("今日次数已用完~");
            } else {
                // 跳转到游戏界面
                jumpPlayUI();
            }
        }

    }

    //拉取抽奖剩余次数
    function selectParticipationNum() {
        LMEPG.ajax.postAPI('Activity/canAnswer', null,
            function (rsp) {
                try {
                    var data = rsp instanceof Object ? rsp : JSON.parse(rsp);
                    var result = data.result;
                    if (result == 0) {
                        leftTimes = data.leftTimes;
                        if (leftTimes == null) {
                            leftTimes = 0;
                        }
                    } else {
                        LMEPG.UI.showToast("获取剩余抽奖次数失败！" + result);
                    }
                    setPrizeNum(leftTimes);
                } catch (e) {
                    LMEPG.UI.showToast("获取剩余抽奖次数，解析异常！");
                    LMEPG.Log.error(e.toString());
                }
            },
            function (rsp) {
                LMEPG.UI.showToast("获取剩余抽奖次数失败");
            }
        );
    }

    /**
     * 设置剩余抽奖次数
     * @param num
     */
    function setPrizeNum(leftTimes) {
        var last = document.getElementById("times");
        last.innerHTML = leftTimes;
    }
</script>
</body>
</html>