.title {
    position: absolute;
    left: 80px;
    top: 38px;
    line-height: 37px;
    font-size: 37px;
    color: #FFFFFF;
    font-weight: bold;
}

.title-line {
    position: absolute;
    left: 80px;
    top: 87px;
    width: 150px;
    height: 2px;
}


.show_box {
    position: absolute;
    left: 80px;
    top: 140px;
    width: 1120px;
    height: 528px;
    /*padding: 30px;*/
    background: url("../../../../../Public/img/hd/DoctorP2P/V10/box_2.png");
    /*border-radius: 20px;*/
}
.float_title{
    position: absolute;
    left: 0px;
    top: 86px;
    width: 1096px;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
}
.float_block{
    position: absolute;
    left:20px;
    top: 200px;
    width: 962px;
    text-align: center;
}
.role{
    width: 156px;
    height: 156px;
    border-radius: 50%;
    display: inline-block;
    margin:0px auto;
    margin-left: 68px;
    border: 1px transparent solid;
    /*float: left;*/
}
.role>img{
    /*width: 156px;*/
    /*height: 156px;*/
    /*border-radius: 50%;*/
}

.role>p{
    font-size: 24px;
    margin-top: 15px;
}
.arrow_left{
    position: absolute;
    left: 20px;
    top: 266px;
}
.arrow_right{
    position: absolute;
    left: 1040px;
    top: 266px;
}

.roleHover {
    width: 176px;
    height: 176px;
    position: relative;
    /*-webkit-transform: scale(1.08);*/
    /*-moz-transform: scale(1.08);*/
    /*border: 1px black solid;*/
    /*border-radius: 100px;*/
    /*box-shadow: 0px 0px 4px 4px #ffffff;*/
    z-index: 996;

}
