* {
    padding: 0;
    margin: 0;
    outline: none;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    width: 644px;
    height: 530px;
}

body > * {
    position: absolute;
}

#problem-num {
    position: absolute;
    top: 95px;
    left: 106px;
    color: #b3476b;
    font-size: 20px;
}

#problem {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 400px;
    color: #ffffff;
    font-size: 20px;
    line-height: 35px;
}

#option-A {
    position: absolute;
    top: 190px;
    left: 160px;
    width: 32px;
    height: 32px;
}

#option-A-text {
    position: absolute;
    top: 190px;
    left: 200px;
    color: #ffffff;
    font-size: 20px;
    width: 100px;
}

#option-B {
    position: absolute;
    top: 190px;
    left: 420px;
    width: 32px;
    height: 32px;
}

#option-B-text {
    position: absolute;
    top: 190px;
    left: 462px;
    color: #ffffff;
    font-size: 20px;
    width: 100px;
}

#option-C {
    position: absolute;
    top: 232px;
    left: 160px;
    width: 32px;
    height: 32px;
}

#option-C-text {
    position: absolute;
    top: 232px;
    left: 200px;
    color: #ffffff;
    font-size: 20px;
    width: 100px;
}

#back-btn {
    position: absolute;
    top: 20px;
    left: 500px;
}

#prev-btn {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 49px;
    height: 63px;
}

#next-btn {
    position: absolute;
    top: 200px;
    left: 560px;
    width: 49px;
    height: 63px;
}

#auto-tips {
    position: absolute;
    left: 40px;
    top: 490px;
    font-size: 14px;
    color: #b3476b;
}

#indicator-1 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 40px;
}

#indicator-2 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 90px;
}

#indicator-3 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 140px;
}

#indicator-4 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 190px;
}

#indicator-5 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 240px;
}

#indicator-6 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 290px;
}

#indicator-7 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 340px;
}

#indicator-8 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 390px;
}

#indicator-9 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 440px;
}

#indicator-10 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 490px;
}

#indicator-11 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 540px;
}

#indicator-12 {
    position: absolute;
    width: 50px;
    height: 10px;
    top: 510px;
    left: 590px;
}
