* {
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
    color: #ffffff;
}

body {
    background-Repeat: no-repeat;
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
}

img {
    border: 0;
}

div {
    position: absolute;
}

.hos_img {
    position: absolute;
    width: 377px;
    height: 668px;
    top: 53px;
    left: 50px;
}
div.card_detial {
    top: 58px;
    left: 453px;
    text-align: center;
    width: 767px;
    height: 609px;
    background-image: url('../../../../img/hd/AppointmentRegister/V2/detail_bg1.png');
    overflow: hidden;
}
#title {
    top: 90px;
    left: 500px;
    overflow: hidden;
    font-size: 38px;
}
div#focus-1-1{
    width: 260px;
    height: 86px;
    top: 170px;
    left: 520px;
    font-size: 30px;
    text-align: center;
    line-height: 92px;
    background-image: url('../../../../img/hd/AppointmentRegister/V2/btn_bg.png');
}
div#focus-1-2{
    width: 260px;
    height: 86px;
    top: 170px;
    left: 890px;
    font-size: 30px;
    text-align: center;
    line-height: 92px;
    background-image: url('../../../../img/hd/AppointmentRegister/V2/btn_bg.png');
}
div#focus-1-3{
    width: 260px;
    height: 86px;
    top: 290px;
    left: 520px;
    font-size: 30px;
    text-align: center;
    line-height: 92px;
    background-image: url('../../../../img/hd/AppointmentRegister/V2/btn_bg.png');
}
div#focus-1-4{
    width: 260px;
    height: 86px;
    top: 290px;
    left: 890px;
    font-size: 30px;
    text-align: center;
    line-height: 92px;
    background-image: url('../../../../img/hd/AppointmentRegister/V2/btn_bg.png');
}
div#focus-1-5{
    width: 260px;
    height: 86px;
    top: 410px;
    left: 520px;
    font-size: 30px;
    text-align: center;
    line-height: 92px;
    background-image: url('../../../../img/hd/AppointmentRegister/V2/btn_bg.png');
}
div#focus-1-6{
    width: 260px;
    height: 86px;
    top: 410px;
    left: 890px;
    font-size: 30px;
    text-align: center;
    line-height: 92px;
    background-image: url('../../../../img/hd/AppointmentRegister/V2/btn_bg.png');
}
div#focus-1-7{
    width: 260px;
    height: 86px;
    top: 530px;
    left: 520px;
    font-size: 30px;
    text-align: center;
    line-height: 92px;
    background-image: url('../../../../img/hd/AppointmentRegister/V2/btn_bg.png');
}
div#focus-1-8{
    width: 260px;
    height: 86px;
    top: 530px;
    left: 890px;
    font-size: 30px;
    text-align: center;
    line-height: 92px;
    background-image: url('../../../../img/hd/AppointmentRegister/V2/btn_bg.png');
}

