<style type="text/css">

    body {
        background-image: url("{$activityFsImg}{$platformType}/bg_home.png");
    }

    /*====中奖名单====*/
    #modal-list {
        background-image: url("{$activityFsImg}{$platformType}/m_win_list.png");
    }

    /*====VIP没有游戏次数====*/
    #modal-vip-notimes {
        background-image: url("{$activityFsImg}{$platformType}/m_no_times.png");
    }

    /*====普通用户没有游戏次数====*/
    #modal-pay-notimes {
        background-image: url("{$activityFsImg}{$platformType}/m_pay_vip.png");
    }

    /*====活动规则====*/
    #modal-rule {
        background-image: url("{$activityFsImg}{$platformType}/V{$carrierId}/m_rule.png");
    }

    /*====抽奖成功====*/
    #modal-accomplish {
        background-image: url("{$activityFsImg}{$platformType}/m_lottery_success.png");
    }

</style>