* {
    padding: 0;
    margin: 0;
    outline: none;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    width: 1280px;
    height: 720px;
}

body > * {
    position: absolute;
}

#entry-btn {
    position: absolute;
    top: 460px;
    left: 470px;
    width: 364px;
    height: 144px;
}

#main {
    display: none;
}

#time {
    position: absolute;
    top: 315px;
    left: 505px;
    font-size: 20px;
    color: #ffffff;
}

#left-times {
    top: 551px;
    color: #ffffff;
    position: absolute;
    width: 300px;
    left: 515px;
    text-align: center;
    line-height: 24px;
    font-size: 24px
}

#tips {
    position: absolute;
    top: 680px;
    left: 30px;
    font-size: 20px;
    color: #bb5072;
}

#phone {

    position: absolute;
    top: 680px;
    left: 1010px;
    font-size: 20px;
    color: #bb5072;
}

#back-btn {
    position: absolute;
    top: 20px;
    left: 1050px;
}

#unsubscribe-btn {
    position: absolute;
    top: 120px;
    left: 1050px;
}

#begin-btn {
    position: absolute;
    top: 456px;
    left: 540px;
}