* {
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
    font-size: 22px;
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
    background: url("../../../../../Public/img/hd/OutbreakReport/V2/img_box.png") no-repeat;
    color: black;;
}
.content{
    position: relative;
    top: 189px;
    left: 50px;
    color: #fff;
    text-align: center;
    width: 590px;
    height: 423px;
    /*overflow: hidden;*/
}
.title{
    text-align: center;
    font-size:35px
}
.intro{
    text-align: left;
    font-size: 28px;
    text-indent: 50px;
}

