body {
    position: absolute;
    color: #fff;
    background-image: url("../../../../img/hd/CommunityHospital/bg.png");
    width: 1280px;
    height: 720px;
}

p.title {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 30px;
}

div#container {
    height: 454px;
    width: 1080px;
    margin: 133px auto;
    position: relative;
}
div#container div{
    width: 266px;
    height: 120px;
    float: left;
    margin-right: 141px;
    margin-bottom: 47px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
    background-image: url("../../../../img/hd/CommunityHospital/dep.png");
}
div#container div.last-dep{
    margin-right: 0;
}

div.arrow-wrapper {
    position: absolute;
    width: 1280px;
    top: 335px;
    left: 0;
}
div.arrow-wrapper img {
    position: absolute;
    width: 27px;
    height: 54px;
}

img#prev-arrow {
    left: 32px;
}

img#next-arrow {
    left: 1229px;
}

