<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>document title</title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="utf-8" name="page-view-size" content="{$size}">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Common/V13/dialog.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Home/V13/home.css?t={$time}"/>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--全局渲染参数-->
    <script type="text/javascript">
        var rootPath = '__ROOT__';
        var RenderParam = {
            carrierId: '{$carrierId}', // 地区id
            areaCode: '{$areaCode}', // 省份地区码
            platformType: '{$platformType}', // 平台类型
            debug: '{$debug}', // 调试模式
            pageSize: '{$size}', // 页面尺寸
            stbModel: '{$stbModel}', // 盒子的型号
            fsUrl: '{$resourcesUrl}', // fs 地址
            time: '{$time}', // 开始渲染时间
            userId: '{$userId}', // 用户Id
            accountId: '{$accountId}', // 用户账号
            client: '{$client}', // 盒子CA卡号
            regionCode: '{$regionCode}', // 网关CA卡的区域码
            userType: '{$userType}', // 用户类型：老人型，儿童型
            isRunOnAndroid: '{$isRunOnAndroid}', // 是否运行在Android设备
            lmp: "{$lmp}",

            loginId: '{$loginId}', // 用户登录id
            positionTwoConfig: '{$positionTwoConfig}',
            checkTime: '{$checkTime}',
            commonImgsView: '{$commonImgsView}', // 公用图片模式
            themeImage: '{$themePicture}', // 应用主题背景
            thirdPlayerUrl: '{$domainUrl}', // 第三方播放器根路径地址
            focusIndex: '{$focusIndex}', // 焦点ID
            isVip: {$isVip}, // 用户是否是vip
            autoOrder: '{$autoOrder}', // 用户是否是续订vip
            classifyId: '{$classifyId}', // 导航栏ID
            navConfig: {$navigateInfo}, // 导航栏配置
            configInfo: {$homeConfigInfo}, // 主页配置信息
            videoPlayRank: {$videoPlayRank}, // Tab1热播榜
            videoClass: {$videoClass}, // Tab1视频栏目
            albumList: {$albumList}, // Tab2专辑列表
            homePollVideoList: {$homePollVideoList}, // 首页轮播的视频列表
            latestVideoInfo: {$latestVideoInfo},  // 最近播放的视频
            accessInquiryInfo: {$accessInquiryInfo11}, // 是否能访问视频问诊,1--表示能访问
            tabBg: '{$tabBg}',
            helpTabInfo: {$helpTabInfo}, // 帮助提示幕布参数
            skin: {$skin},      // 用户自定义背景
            showPayLock: {$showPayLock}, // 显示定购童锁 0-- 不显示童锁，1-- 显示童锁
            payLockStatus: "{$payLockStatus}", // 支付锁的状态，中国联通EPG
            isOrderBack: "{$isOrderBack}", // 是否为订购返回
            orderType: "{$orderType}", // 是否为订购返回
            cOrderResult: "{$Think.cookie.c_order_result}",
            payMethod: {$payMethod}, // 促订设置
            partner: '{$partner}', // 用户是否是续订vip
            serverPath: '{$serverPath}', // 用户是否是续订vip
            setPageSizeState: '{$setPageSizeState}', // 是否需要设置页面的分辨率属性
            isEnterFromYsten: '{$isEnterFromYsten}',      // 是否从使用易视腾鉴权计费接口的入口进入（广东移动APK融合包）
            freeExperience:{$freeExperience},                       // 免费体验状态
            isJoinActivit:'{$isJoinActivit}',                       // 是否是联合活动
        };

    </script>
    <if condition="$carrierId eq '410092' ">
        <!--河南电信EPG js文件-->
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/410092/vod_utils.js?t={$time}"></script>
    </if>

    <!--    <eq name="carrierId" value="371092">-->
    <!--        &lt;!&ndash;海看（山东电信）EPG 数据探针js文件&ndash;&gt;-->
    <!--        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/371092/haiKanProbe_1.0.1.min.js"></script>-->
    <!--    </eq>-->

    <!--公共库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <eq name="isRunOnAndroid" value="1">
        <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
    </eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>
    <if condition="$carrierId eq '450094' ">
        <!-- 广西广电小窗视频播放 -->
        <script type="text/javascript" src="http://10.1.15.25/webJS/gxgd.config.js?t={$time}"></script>
        <script type="text/javascript" src="http://10.1.15.25/webJS/starcorCom.js?t={$time}"></script>
    </if>
    <!--当前页所用自定义js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Player/LMSmallPlayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Dialog/Dialog.1.01.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Home/V13/HelpModal.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Home/V13/home.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Home/V13/banner.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Pay/lmPayFrame.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Pay/lmOrderConf.js?t={$time}"></script>
</head>
<body bgcolor="transparent">
<switch name="carrierId">
    <case value="440001">
        <script type="text/javascript" src="__ROOT__/Public/js/Pay/V440001/PayYsten.js?t={$time}"></script>
    </case>
    <case value="440004"> <!--广东广电-纯WEB版本-->
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/440004/WebViewJavascriptBridge.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/440004/player.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/440004/jquery.min.js"></script>
    </case>
    <case value="450092">
        <script type="text/javascript"
                src="__ROOT__/Public/ThirdParty/js/450092/registerGlobalKey.js?t={$time}"></script>
    </case>
</switch>
<!--<if condition="$carrierId eq '371092' ">-->
<!--    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/371092/haikanCtAuthSDK_1.0.1.min.js"></script>-->
<!--    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/371092/haiKanProbe_1.0.1.min.js"></script>-->
<!--</if>-->

<div id="debug"></div>

<if condition="$carrierId eq '430012' ">
    <img style="position: absolute;top: 26px;left: 45px" id="logo2"
         src="__ROOT__/Public/img/hd/Home/V13/Home/logo2.png"/>
</if>

<if condition="$carrierId eq '430002' ">
    <img style="position: absolute;top: 26px;left: 45px" id="logo4"
         src="__ROOT__/Public/img/hd/Home/V13/Home/logo-hunan.png"/>
</if>
<if condition="$carrierId eq '150002' ">
    <img style="position: absolute;top: 26px;left: 45px" id="logo3"
         src="__ROOT__/Public/img/hd/Home/V13/Home/logo-neimenggu.png"/>
</if>

<a href="#" id="default_link"><img class="grubFocusImg" src="__ROOT__/Public/img/Common/spacer.gif"/></a>

<!--头部导航-->
<include file="Main/V13/Components/header"/>

<!--主容器-->
<div id="content-container">
    <div id="content-0" class="content">
        <include file="Main/V13/Components/TabContent_0"/>
    </div>
    <div id="content-1" class="content">
        <include file="Main/V13/Components/TabContent_1"/>
    </div>
    <div id="content-2" class="content">
        <include file="Main/V13/Components/TabContent_2"/>
    </div>
    <div id="content-3" class="content">
        <include file="Main/V13/Components/TabContent_3"/>
    </div>
</div>
<!--滚动字体提示栏、服务电话栏-->
<div id="bottom-container">
    <!-- 修改：js异步加载 -->
    <div class="marquee-wrapper" id="scroll-wrapper"></div>
    <p id="service-tel" class="service-tel hide">客服电话：400-016-0700</p>
</div>
</body>
<script type="text/javascript">

    /**
     * 文档加载
     */
    /*window.onload = function () {
        LMEPG.Log.info('[v13 home.js]--->[window.onload]--->界面初始化: ');
        RenderParam.carrierId == '440004' && updateData440004();
        Page.init();
        LmOrderConf.init({getCurrentPage: getCurPageObj});
        RenderParam.carrierId == "410092" && backHander410092()
        RenderParam.carrierId == "450092" ? LMEPG.Func.execSpecialCode(RenderParam.specialCode) : lmInitGo();
        loadByCarrierId();
        LMEPG.Func.isErrorForceEventBack();
        setPageSize();
        get_focus();
    };*/


    /**
     * 更新数据，广东广电WEB-EPG-纯WEB版本
     */
    function updateData440004() {
        RenderParam.videoAuthUrl = '{$VIDEO_AUTH_URL}';
        RenderParam.requestPlay = '{$REQUEST_PLAY}';
        RenderParam.getVideoInfoUrl = '{$GET_VIDEO_INFO}';
        RenderParam.startPlayUrl = '{$START_PLAY}';
        RenderParam.pausePlayUrl = '{$PAUSE_PLAY}';
    }

    /**
     * 处理河南电信EPG的返回
     */
    function backHander410092() {
        LMEPG.Log.info('init HybirdCallBackInterface !!!!!');
        try {
            HybirdCallBackInterface.setCallFunction(function (param) {
                LMEPG.Log.info('HybirdCallBackInterface param : ' + JSON.stringify(param));
                if (param.tag == HybirdCallBackInterface.EVENT_KEYBOARD_BACK) {
                    // 暖春活动进入首页，lmp=15，需要返回到活动首页
                    RenderParam.lmp == 15 ? LMEPG.Intent.back('IPTVPortal') : PageJump.jumpHoldPage();
                }
            });
        } catch (e) {
            LMEPG.UI.logPanel.show("e");
        }
    }

    /**
     * 统一的WebViewJavascriptBridge调用入口
     * @param tag 方法名
     * @param params  参数
     * @param callback 回调
     * @constructor
     */
    function Bridge(tag, params, callback) {
        if (window.WebViewJavascriptBridge) {
            LMEPG.Log.info('[home.html]--->[Bridge]--->tag:' + tag + " params:" + JSON.stringify(params));
            WebViewJavascriptBridge.callHandler(
                tag,
                params,
                callback
            );
        } else {
            LMEPG.Log.info('[home.html]--->[Bridge111]--->tag:' + tag + " params:" + JSON.stringify(params));
            document.addEventListener(
                'WebViewJavascriptBridgeReady'
                , function () {
                    WebViewJavascriptBridge.callHandler(
                        tag,
                        params,
                        callback
                    );
                },
                false
            );
        }
    }

    /**
     * 获取当前页面获取焦点
     * @param callback 回调函数
     */
    function get_focus() {
        var defaultId = window.document.getElementById('default_link');
        if (typeof defaultId !== "undefined" && typeof defaultId.focus !== "undefined") {
            defaultId.focus();
        }
        setTimeout(function () {
            get_focus();
        }, 1000);
    }

    /**
     * 设置页面大小
     */
    function setPageSize() {
        var meta = document.getElementsByTagName('meta');
        if (typeof meta !== "undefined" && meta["page-view-size"]) {
            if (RenderParam.platformType == "hd") {
                meta["page-view-size"].setAttribute('content', "1280*720");
            } else {
                meta["page-view-size"].setAttribute('content', "640*530");
            }
            var contentSize = meta["page-view-size"].getAttribute('content');
            if (contentSize !== '1280*720' || contentSize !== '640*530') {
                setTimeout(setPageSize, 500);
            }
        }

    }

    /**
     * 获取配置信息
     * @param callback 回调函数
     */
    function getEpgConfig(callback) {
        LMEPG.Log.info('[home.html]--->[getEpgConfig]--->');
        Bridge("GetConfig", {'param': ""}, callback);
    }

    window.onload = function () {
        LMEPG.Log.info('[v13 home.js]--->[window.onload]--->界面初始化: ');
        if (RenderParam.carrierId == '440004') {
            RenderParam.videoAuthUrl = '{$VIDEO_AUTH_URL}';
            RenderParam.requestPlay = '{$REQUEST_PLAY}';
            RenderParam.getVideoInfoUrl = '{$GET_VIDEO_INFO}';
            RenderParam.startPlayUrl = '{$START_PLAY}';
            RenderParam.pausePlayUrl = '{$PAUSE_PLAY}';
        }
        if(RenderParam.carrierId === '450004') { // 广西广电apk
            LMAndroid.JSCallAndroid.doUpdateDefaultBackground(function (param, notifyAndroidCallback) {});
        }
        Page.init();
        LmOrderConf.init({
            getCurrentPage: getCurPageObj
        });
        // 处理河南电信EPG的返回
        if (RenderParam.carrierId == "410092") {
            LMEPG.Log.info('init HybirdCallBackInterface !!!!!');
            try {
                HybirdCallBackInterface.setCallFunction(function (param) {
                    LMEPG.Log.info('HybirdCallBackInterface param : ' + JSON.stringify(param));
                    if (param.tag == HybirdCallBackInterface.EVENT_KEYBOARD_BACK) {
                        // 暖春活动进入首页，lmp=15，需要返回到活动首页
                        if (RenderParam.lmp == 15) {
                            LMEPG.Intent.back('IPTVPortal');
                        } else if (RenderParam.isJoinActivit == '1') {
                            LMEPG.Intent.back();
                        } else {
                            // HybirdCallBackInterface.quitActivity();
                            PageJump.jumpHoldPage();
                        }
                    }
                });
            } catch (e) {
                LMEPG.UI.logPanel.show("e");
            }
        }


        if (RenderParam.carrierId == "450092") {
            LMEPG.Func.execSpecialCode(RenderParam.specialCode);
        } else {
            lmInitGo();
        }
        loadByCarrierId();
        LMEPG.Func.isErrorForceEventBack();
        if(RenderParam.setPageSizeState === '1') {
            setPageSize();
        }
        get_focus();
        if(RenderParam.carrierId === "440001"){
            uploadVideoData();
        }
    };

    function uploadVideoData(){
        LMEPG.ajax.postAPI('Player/getRecommendVideoInfo', null, function (rsp) {
            if(rsp.result === 0){
                var val = JSON.parse(rsp.data[0].ftp_url);
                var data = {
                    startTime:getNowDate() ,
                    contentId:val.gq_ftp_url,
                    contentName:rsp.data[0].title,
                };
                LMEPG.Log.info("uploadData data:"+JSON.stringify(data));
                LMAndroid.jsCallAndroid('doExportContentDetail', JSON.stringify(data), '');
            }
        });
    }
    function getRandom(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    function getNowDate() {
        var dateTime=new Date();
        dateTime=dateTime.setSeconds(dateTime.getSeconds()- getRandom(40,120));
        var date = new Date(dateTime);
        var year = date.getFullYear() // 年
        var month = date.getMonth() + 1; // 月
        var day  = date.getDate(); // 日
        var hour = date.getHours(); // 时
        var minutes = date.getMinutes(); // 分
        var seconds = date.getSeconds() //秒
        // 给一位数数据前面加 “0”
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (day >= 0 && day <= 9) {
            day = "0" + day;
        }
        if (hour >= 0 && hour <= 9) {
            hour = "0" + hour;
        }
        if (minutes >= 0 && minutes <= 9) {
            minutes = "0" + minutes;
        }
        if (seconds >= 0 && seconds <= 9) {
            seconds = "0" + seconds;
        }
        var currentdate = year  + month  + day +  hour  + minutes  + seconds;
        return currentdate;
    }

</script>
<script type="text/javascript" src="__ROOT__/Public/js/Unclassified/ByCarrierIdSet.js?t={$time}"></script>
</html>
