.title {
    position: absolute;
    left: 80px;
    top: 38px;
    line-height: 37px;
    font-size: 37px;
    color: #FFFFFF;
    font-weight: bold;
}

.title-line {
    position: absolute;
    left: 80px;
    top: 87px;
    width: 225px;
    height: 2px;
}
.show_box {
    position: absolute;
    left: 60px;
    top: 133px;
    width: 1120px;
    height: 480px;
    /*-moz-background-size: 1170px 480px; !* 老版本的 Firefox *!*/
    /*background-size: 1170px 480px;*/
    /*background-repeat: no-repeat;*/
    /*padding: 30px;*/
    /*background: rgba(255, 255, 255, 0.2);*/
    /*border-radius: 20px;*/
}

.border {
    position: absolute;
    top: 180px;
    left: 53px;
    width: 1100px;
}

.parameter {
    width: 173px;
    height: 80px;
    margin-left: 35px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    line-height: 80px;
}

.parameter2 {
    position: relative;
    width: 173px;
    height: 80px;
    margin-left: 35px;
    display: inline-block;
    text-align: center;
    font-size: 33px;
    line-height: 80px;
    border-bottom: 1px transparent solid;
    border-top: 1px transparent solid;
}

.parameter_focus {
    border-bottom: 1px #33ffdd solid;
    border-top: 1px #33ffdd solid;
    color: #33ffdd;
}

.btn_bg {
    position: absolute;
    left: 0px;
    top: 6px;
    width: 179px;
    height: 66px;
}

.btn_title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    height: 67px;
    color: #FFFFFF;
    line-height: 67px;
    font-size: 28px;
    background: url("../../../../../Public/img/hd/Family/V7/bg_btn.png");
}

.produce {
    position: absolute;
    text-align: center;
    top: 613px;
    left: 60px;
    width: 1170px;
    height: 66px;
    font-size: 21px;
}

.yellow {
    color: yellow;
}

.photo {
    position: absolute;
    top: 0px;
    left: 88px;
    width: 152px;
    height: 152px;
    border-radius: 50%;
}
.icon-title{
    position: absolute;
    left: 25px;
    top: 170px;
    width: 1240px;
}