* {
    margin: 0;
    padding: 0;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
}

body > * {
    position: absolute;
}

/*上*/
#top-item {
    position: relative;
}

#title {
    position: absolute;
    top: 15px;
    left: 80px;
    color: #fff;
    font-size: 40px;
}
#kefu_tel{
    position: absolute;
    top: 14px;
    left: 804px;
    width: 360px;
    font-size: 24px;
    color: #f6ff00;
    text-align: left;
    font-family: 'Source Han Sans CN';
    font-weight: bold;
}
#action-icon {
    position: absolute;
    display: inline;
    height: 55px;
    line-height: 55px;
    /*top: 5px;*/
    right: 0;
}

#action-icon > img {
    margin-right: 20px;
    vertical-align: middle;
}

/*轮播*/
#carousel-wrapper {
    position: absolute;
    width: 1280px;
    height: 300px;
    top: 80px;
}

#carousel-wrapper > img {
    position: absolute;
    transition: .3s all;
    border-radius: 10px;
}

#carousel-link {
    top: -22px;
    left: 300px;
    z-index: 99;
    width: 680px;
    height: 345px;
}

#prev-container,
#next-container {
    top: 20px;
    width: 518px;
    height: 259px;
}

.prev-container {
    left: 166px;
}

.current-container {
    width: 634px;
    height: 300px;
    left: 323px;
    z-index: 99;
}
.next-container {
    left: 600px;
}

#arrow-prev {
    position: absolute;
    top: 112px;
    left: 86px;
}

#arrow-next {
    position: absolute;
    top: 112px;
    right: 86px;
}

/*指示标点*/
#point {
    position: absolute;
    bottom: 0;
    left: 323px;
    width: 634px;
    height: 27px;
    line-height: 33px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.49);
    list-style-type: none;
    border-radius: 0 0 10px 10px;
}

ul#point li {
    display: inline-block;
}

#point li {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    margin: 0 3px;
    background-color: transparent;
    border-radius: 50%;
}

#point li.currentImg {
    background-color: #fff;
    transition: 1s background-color;
}

#point li#point-1 {
    margin-left: 270px;
}

/*下*/
#bottom-container {
    position: absolute;
    top: 420px;
    left: 90px;
}

#bottom-container > div {
    position: absolute;
}

/*下左*/
#bottom-left {
    width: 375px;
    left: -12px;
}

#bottom-left > img {
    width: 155px;
    height: 128px;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: -3px;
    margin-right: -8px;
    border-radius: 20px;
}
#bottom-left > img.focus{
    background-image: url(../../../../../Public/img/hd/Home/V27/leftBottomLink.png);
}

    /*下中*/
#bottom-center {
    position: absolute;
    top: -20px;
    left: 310px;
    width: 800px;
}

#bottom-center img {
    height: 267px;
    width: 181px;
    margin-right: -36px;
    padding: 19px 25px;
    border-radius: 35px;
}

#bottom-center-link1 {
    left: 0;
}

#bottom-center-link2 {
    left: 148px;
}

#bottom-center-link3 {
    left: 295px;
}

#bottom-center > img.focus {
    background-image: url(../../../../../Public/img/hd/Home/V27/bottom_center_f.png);
}

/*下右*/
#bottom-right {
}


#home_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#iframe_small_screen {
    width: 1px;
    height: 1px;
}