#searchText {
    position: absolute;
    width: 400px;
    height: 30px;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    outline: none !important;
    top: 35px;
    left: 35px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    /*text-overflow: ellipsis;*/
}


#left {
    width: 518px;
    height: 667px;
    left: 5px;
    top: 27px;
    background-repeat: no-repeat;
    -moz-background-size: 518px 667px; /* 老版本的 Firefox */
    background-size: 518px 667px;
    background-image: url("../../../../../Public/img/hd/Search/V10/bg_keword.png");
    position: absolute;
}


.key_btn {
    width: 146px;
    height: 115px;
    position: absolute;
    z-index: 1
}
.big_btn{
    width: 140px;
    height: 139px;
    position: absolute;
    /*top: -40px;*/
    /*left: -16px;*/
    z-index: 1
}

.tab1 {
    top: 163px;
    left: 49px;
    position: absolute;
    z-index: 1
}

.tab2 {
    top: 163px;
    left: 199px;
    position: absolute;
    z-index: 1
}

.tab3 {
    top: 163px;
    left: 362px;
    position: absolute;
    z-index: 1
}

.tab4 {
    top: 288px;
    left: 49px;
    position: absolute;
    z-index: 1
}

.tab5 {
    top: 288px;
    left: 199px;
    position: absolute;
    z-index: 1
}

.tab6 {
    top: 288px;
    left: 362px;
    position: absolute;
    z-index: 1
}

.tab7 {
    top: 413px;
    left: 49px;
    position: absolute;
    z-index: 1
}

.tab8 {
    top: 413px;
    left: 199px;
    position: absolute;
    z-index: 1
}

.tab9 {
    top: 413px;
    left: 362px;
    position: absolute;
    z-index: 1
}

#focus-4-1 {
    top: 538px;
    left: 49px;
    position: absolute;
    z-index: 1
}

#focus-4-2 {
    top: 538px;
    left: 199px;
    position: absolute;
    z-index: 1
}

#focus-4-3 {
    top: 538px;
    left: 362px;
    position: absolute;
    z-index: 1
}

.rightWrap {
    position: absolute;
    top: 95px;
    left: 605px;
    height: 420px;
}

#topArrow {
    position: absolute;
    left: 850px;
    top: 130px;
    width: 30px;
    height: 20px;
    visibility: hidden;
}

#bottomArrow {
    position: absolute;
    left: 850px;
    top: 620px;
    width: 30px;
    height: 20px;
    visibility: hidden;
}

#page_num {
    position: absolute;
    left: 1160px;
    top: 50px;
    width: 60px;
    height: 20px;
    color: white;
    font-size: 30px;
}

#searchTitle {
    position: absolute;
    left: 605px;
    top: 56px;
    width: 200px;
    height: 20px;
    color: white;
    font-size: 28px;
    line-height: 28px;
}


#down_content_arrows {
    position: absolute;
    top: 683px;
    left: 872px;
    /*display: none;*/
}

#up_content_arrows {
    position: absolute;
    top: 50px;
    left: 872px;
    /*display: none;*/
}

#recommended_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 280px;
    height: 180px;
}

#recommended_2 {
    position: absolute;
    left: 312px;
    top: 0px;
    width: 280px;
    height: 180px;
}

#recommended_3 {
    position: absolute;
    left: 0px;
    top: 200px;
    width: 280px;
    height: 180px;
}

#recommended_4 {
    position: absolute;
    left: 312px;
    top: 200px;
    width: 280px;
    height: 180px;
}

#recommended_5 {
    position: absolute;
    left: 0px;
    top: 400px;
    width: 280px;
    height: 180px;
}

#recommended_6{
    position: absolute;
    left: 312px;
    top: 400px;
    width: 280px;
    height: 180px;
}

.item_img {
    position: absolute;
    top: -42px;
    left:-42px;
    width: 283px;
    height: 180px;
    padding: 42px;
    border-radius: 14px;
}

/*.item_title {*/
    /*position: absolute;*/
    /*top: 142px;*/
    /*width: 234px;*/
    /*text-align: center;*/
    /*font-size: 24px;*/
    /*margin-top: 16px;*/
    /*color: white;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
/*}*/

.vip_corner {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 62px;
    height: 62px;
    z-index: 4;
}

.collection_zoom_out>.item_img{
    /*position: absolute;*/
    /*border-radius: 14px;*/
    /*border: 1px #fff solid;*/
    /*box-shadow: 0px 0px 3px 3px #ffffff;*/
    /*-webkit-transform: scale(1.00);*/
    /*-moz-transform: scale(1.08);*/
    /*z-index: 99;*/
    background: url("../../../../../Public/img/hd/Search/V10/box_search.png");
    /*width: 304px;*/
    /*height: 200px;*/
    /*z-index: 996;*/
    /*-webkit-transition: all 0.2s;*/
    /*-moz-transition: all 0.2s;*/
}

#no_search_text{
    position: absolute;
    top: 346px;
    left: 785px;
    font-size: 28px;
    color: #ffffff;
    display: none;
}

