.title {
    position: absolute;
    left: 326px;
    top: 38px;
    line-height: 37px;
    font-size: 37px;
    color: #FFFFFF;
    font-weight: bold;
}

.title-line {
    position: absolute;
    left: 326px;
    top: 87px;
    width: 150px;
    height: 2px;
}
.pages{
    position: absolute;
    top: 56px;
    left: 1123px;
    font-size: 26px;
    line-height: 26px;
}
.center{
    position: absolute;
    top: 100px;
    left: 314px;
    width: 920px;
}
.recommended{
    width: 280px;
    display: inline-block;
    margin-top: 18px;
    margin-left: 15px;
}
.recommended_block{
    position:relative;
    top: 0;
    left: 0;
    width: 280px;
    height: 180px;
}
.vip_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    z-index: 4;
}

.recommended_img{
    position:absolute;
    top: -42px;
    left: -42px;
    width: 280px;
    height: 180px;
    padding: 42px;
    /*border-radius: 12px;*/
    /*background: url("");*/
}
.recommended_title{
    position:absolute;
    top: 145px;
    left: -1px;
    width: 280px;
    height: 36px;
    font-size: 22px;
    line-height:36px;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    text-indent: 30px;
    white-space: nowrap;
    background-image: url(../../../../img/hd/Home/V20/Common/title_bg.png);
    /*background: rgba(0,0,0,0.6);*/
}
.recommended_title2{
    position:absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 31px;
    font-size: 20px;
    line-height: 31px;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    text-indent: 30px;
    white-space: nowrap;
    background: url("../../../../img/hd/channel/V10/videolist_mask.png") no-repeat;
}
.recommended_hover>.recommended_img{
    position: absolute;
    top: -10px;
    left: -10px;
    background: url(../../../../img/hd/HistoryPlay/V20/video_list_f.png) no-repeat center;
    padding: 10px;
    /*z-index: 996;*/
}

.arrow_pre{
    position:absolute;
    top: 365px;
    left: 262px;
    display: none;
}
.arrow_next{
    position:absolute;
    top: 365px;
    left: 1237px;
    display: none;
}
.nav{
    position: absolute;
    left: 0;
    top: 0;
}
.nav-bg{
    position: absolute;
    left: 0;
    top: 0;
}
#search{
    position: absolute;
    top: 28px;
    left: 31px;
}
#list{
    position: absolute;
    top: 100px;
    width: 240px;
}
.nav-btn{
    margin-top: 40px;
    width: 168px;
    height: 48px;
    margin-left: 30px;
}

.nav_pre{
    position:absolute;
    top: 96px;
    left: 93px;
    display: none;
}
.nav_next{
    position:absolute;
    top: 672px;
    left: 93px;
    display: none;
}
.null-data{
    top: 244px;
    position: absolute;
    left: 360px;
    font-style: italic;
    font-size:22px;
}