<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>《碧水清波，海洋保卫战》海南-主页-V1</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css"
          href="__ROOT__/Public/css/{$platformType}/Activity/ActivitySeaBattle/V1/guide.css?t={$time}">
    <!--公用库-->
    <!--<script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon_v1.0.1.js?t={$time}"></script>-->
    <!--<script type="text/javascript" src="__ROOT__/Public/Common/js/lmajax_v1.0.1.js?t={$time}"></script>-->
    <!--<script type="text/javascript" src="__ROOT__/Public/Common/js/lmcore_v1.0.1.js?t={$time}"></script>-->
    <!--<script type="text/javascript" src="__ROOT__/Public/Common/js/lmui_v1.0.1.js?t={$time}"></script>-->
    <!--<script type="text/javascript" src="__ROOT__/Public/Common/js/lmintent_v1.0.1.js?t={$time}"></script>-->
    <!--<script type="text/javascript" src="__ROOT__/Public/Common/js/lmlog_v1.0.0.js?t={$time}"></script>-->
    <!--<script type="text/javascript" src="__ROOT__/PubliPublic/js/Activity/Common/keypad.js?t={$time}"></script>-->
    <!--<script type="text/javascript" src="__ROOT__/Public/Common/js/lmBase64.js?t={$time}"></script>-->
    <!--<script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <eq name="isRunOnAndroid" value="1">
        <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
    </eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmUtils.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>
    <style type="text/css">
        #commonDialog{
            background-image: url("{$activityFsImg}{$platformType}/bg_dialog.png");
        }
    </style>
</head>
<body>
<img id="bg" src="" class="loading">
<div id="debug"></div>
<p id="go-gamePage-count">0</p>

<div class="right-btn-wrapper">
    <img id="back" src="{$activityFsImg}{$platformType}/btn_back.png">
    <img id="rules" src="{$activityFsImg}{$platformType}/btn_rule.png">
    <img id="winners" src="{$activityFsImg}{$platformType}/btn_prize.png">
</div>

<div class="left-prize-wrapper">
    <img id="image_prize_1" src="">
    <img id="image_prize_2" src="">
    <img id="image_prize_3" src="">
</div>
<img id="go-gamePage" src="{$activityFsImg}{$platformType}/btn_go.png" alt="">
<img id="goLottery" src="{$activityFsImg}{$platformType}/home_germ.png" alt="">
<img id="lottery-dialog" src="{$activityFsImg}{$platformType}/dialog_lottery.png"
     alt="">
<div id="custom-message">
    <p id="modify"></p>
</div>
<p id="activity-time"></p>
<!--模态框-->
<div id="modal">

</div>
<script type="application/javascript">
    RenderParam = {
        isVip: "{$isVip}",                                              // 是否是vip（0-非vip 1-vip）
        isOrderBack: "{$isOrderBack}",                                  // 是否为订购返回
        cOrderResult: "{$Think.cookie.c_order_result}",
        nPrizeIdx: 0,
        lmcid: "{$carrierId}",
        ROOT: "__ROOT__",
        currentAddr: "activity-common-guide",
        modal: G("modal"),
        isModal: false,
        platformType: "{$platformType}",
        activityInfo:  LMEPG.Func.checkParamsNull({$activityInfo}),                        // 活动信息
        leftTimes: LMEPG.Func.checkParamsNull({$leftTimes}).leftTimes,                    // 剩余次数
        answeredTimes: LMEPG.Func.checkParamsNull({$leftTimes}).answeredTimes,            // 今日已清理次数
        userTel: "{$userTel}",                                          // 中奖电话
        userAccount: "{$userAccount}",
        myPrizeList: LMEPG.Func.checkParamsNull({$myPrizeList}),                          // 我的中奖记录
        AllUserPrizeLis: LMEPG.Func.checkParamsNull({$AllUserPrizeLis}),                  // 所用中奖信息
        prize_idx: LMEPG.Func.checkParamsNull({$prize_idx}),
        imgPathPrefix: "{$activityFsImg}{$platformType}/",
        imgPath: '{$activityFsImg}{$platformType}/',
        reload: false,
        beClickBtnId: "go-gamePage",
        canLottery: false,
        keyCountdown: "{$keyCountdown}",
        valueCountdown: {$valueCountdown},
        extraTimes:  {$extraTimes},
        inner: "{$inner}",
        userId: "{$userId}",
        activityName: "{$activityName}"
    };
</script>
<script type="text/javascript" src="__ROOT__/Public/js/Activity/Common/activity1.01.js?t={$time}"></script>
<script type="text/javascript" src="__ROOT__/Public/js/Activity/ActivitySeaBattle/guide.js?t={$time}"></script>
</body>
</html>