<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title> 贵州广电-活动计费页</title>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Activity/ActivityDiscount/V1/guide.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var RenderParam = {
            //公共渲染
            accountId: "{$accountId}",          // 账号
            carrierId: "{$carrierId}",          // 地区id
            areaCode: "{$areaCode}",            // 省份地区码
            platformType: "{$platformType}",    // 平台类型
            debug: "{$debug}",                  // 调试模式
            pageSize: "{$size}",                // 页面尺寸
            stbModel: "{$stbModel}",            // 盒子的型号
            fsUrl: "{$resourcesUrl}",           // fs 地址
            time: "{$time}",                    // 开始渲染时间
            userId: "{$userId}",                // 用户Id
            isTestAccount: "{$isTestAccount}",   // 是否是测试账号

            //当前页渲染
            orderItems: {$orderItems},
            isPlaying: "{$isPlaying}",
            orderReason: "{$orderReason}",
            remark: "{$remark}",
            isVip: "{$isVip}",

        };
    </script>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/gzgd.config.js?t={$time}"></script>
    <script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/starcorCom.js?t={$time}"></script>
    <script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/zf_v2/pay.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/gzgdPay.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Pay/V520094/pay_activity.js?t={$time}"></script>

</head>
<body style="background-image: url('__ROOT__/Public/img/{$platformType}/Activity/ActivityDiscount/V1/bg_guide.png');">
<!--<img id="back" class="btnInfo" src="__ROOT__/Public/img/{$platformType}/Activity/ActivityDiscount/V1/bg_back.png"/>-->
<img id="order" class="btnInfo" src="__ROOT__/Public/img/{$platformType}/Activity/ActivityDiscount/V1/bg_order.png"/>
<!--<div class="tab1">-->
<!--<img id="btn-book1-box" class="img-box" src="__ROOT__/Public/img/hd/Pay/V520004/img_box_.png"/>-->
<!--<img id="btn-book1" class="img-book" src="__ROOT__/Public/img/hd/Pay/V520004/book1_two.png"/>-->
<!--</div>-->
<!--<div class="tab2">-->
<!--<img id="btn-book2-box" class="img-box" src="__ROOT__/Public/img/hd/Pay/V520004/img_box_.png"/>-->
<!--<img id="btn-book2" class="img-book" src="__ROOT__/Public/img/hd/Pay/V520004/book2_two.png"/>-->
<!--</div>-->
<!--<div class="tab3">-->
<!--<img id="btn-book3-box" class="img-box" src="__ROOT__/Public/img/hd/Pay/V520004/img_box_.png"/>-->
<!--<img id="btn-book3" class="img-book" src="__ROOT__/Public/img/hd/Pay/V520004/book3_two.png"/>-->
<!--</div>-->
<!--<div class="tab4">-->
<!--<img id="btn-book4-box" class="img-box" src="__ROOT__/Public/img/hd/Pay/V520004/img_box_.png"/>-->
<!--<img id="btn-book4" class="img-book" src="__ROOT__/Public/img/hd/Pay/V520004/book4_two.png"/>-->
<!--</div>-->

<script type="text/javascript">
    var searchTextTips = ""; //搜索框中的文字提示
    Pay.init();
</script>
</body>
</html>