
img {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

#home_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
    position: absolute;
    left: 36px;
    top: 40px;
    width: 75px;
    height: 59px;
}
.logo-has-lock {
    position: absolute;
    left: 36px;
    top: 50px;
    width: 55px;
    height: 50px;
}
#lock{
    position: absolute;
    width: 78px;
    height: 60px;
    top: 40px;
    left: 105px;
}
/*首页导航菜单栏*/
.navs {
    position: absolute;
    left: 105px;
    top: 30px;
    width: 1170px;
    height: 83px;
}

.navs > div {
    width: 220px;
    height: 83px;
    float: right;
    /*margin: 0px 4px;*/
}



.recommend_zoom_out {
    position: absolute;
    left: -10px;
    top: -15px;
    width: 108%;
    height: 108%;
    z-index: 998;
}

.recommend_zoom_in {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#recommends {
    position: absolute;
    left: 140px;
    top: 110px;
    width: 1130px;
    height: 550px;
}

.recommends {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1130px;
    height: 550px;
}

/*推荐位1焦点框*/
#recommend_border_1 {
    position: absolute;
    left: -31px;
    top: -2px;
    width: 297px;
    height: 370px;
    z-index: 1;
}

/*推荐位图片放大时的容器*/
.recommend_parent_1 {
    position: absolute;
    left: 3px;
    top: 37px;
    width: 231px;
    height: 298px;
}

#recommend_border_2 {
    position: absolute;
    left: 208px;
    top: -2px;
    width: 297px;
    height: 370px;
    z-index: 1;
    /*display: none;*/
}

.recommend_parent_2 {
    position: absolute;
    left: 241px;
    top: 37px;
    width: 231px;
    height: 298px;
}

#recommend_border_3 {
    position: absolute;
    left: 451px;
    top: -2px;
    width: 435px;
    height: 371px;
    z-index: 1
    /*display: none;*/
}

.recommend_parent_3 {
    position: absolute;
    left: 484px;
    top: 37px;
    width: 359px;
    height: 299px;
}

#recommend_border_4 {
    position: absolute;
    left: 819px;
    top: -2px;
    width: 310px;
    height: 371px;
    /*display: none;*/
    z-index: 1
}

.recommend_parent_4 {
    position: absolute;
    left: 853px;
    top: 37px;
    width: 255px;
    height: 299px;
}

#recommend_border_5 {
    position: absolute;
    left: -31px;
    top: 306px;
    width: 558px;
    height: 262px;
    /*display: none;*/
    z-index: 1;
}

.recommend_parent_5 {
    position: absolute;
    left: 3px;
    top: 345px;
    width: 472px;
    height: 198px;
}

#recommend_border_6 {
    position: absolute;
    left: 450px;
    top: 306px;
    width: 433px;
    height: 262px;
    /*display: none;*/
    z-index: 1
}

.recommend_parent_6 {
    position: absolute;
    left: 484px;
    top: 345px;
    width: 357px;
    height: 198px;
}

#recommend_border_7 {
    position: absolute;
    left: 820px;
    top: 308px;
    width: 318px;
    height: 261px;
    /*display: none;*/
    z-index: 1
}

.recommend_parent_7 {
    position: absolute;
    left: 853px;
    top: 345px;
    width: 255px;
    height: 197px;
}

/*字幕滚动消息*/
#scroll_message {
    position: absolute;
    left: 74px;
    top: 670px;
    width: 1130px;
    height: 30px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    font-size: 29px;
    height: 30px;
    line-height: 30px;
    color: black;
}

/* 弹出图片提示框*/
#toast_message_pic{
    background-Repeat: no-repeat;
    width: 1280px;
    height: 720px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    top: 0px;
    left: 0px;
}

/* 弹出提示文字内容*/
#toast_message_text{
    background-Repeat: no-repeat;
    width: 1280px;
    font-family: 'Source Han Sans CN';
    font-size: 31px;
    color: #2a4e87;
    top:270px;
    left: 450px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
}

/* 确定或取消 按钮文字内容*/
#toast_message_submit{
    background-Repeat: no-repeat;
    width: 1280px;
    font-family: 'Source Han Sans CN';
    font-size: 35px;
    color: #ffffff;
    top:435px;
    left: 588px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
}