body {
    width: 1280px;
    height: 720px;
}
body > *,
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

/*活动首页*/
#btn_back {
    position: absolute;
    top: 56px;
    left: 1080px;
}

#btn_activity_rule {
    position: absolute;
    top: 136px;
    left: 1080px;
}
#btn_winner_list {
    position: absolute;
    top: 216px;
    left: 1080px;
}

#btn_exchange_prize {
    position: absolute;
    top: 296px;
    left: 1080px;
}
#btn_tips {
    position: absolute;
    top: 139px;
    left: 90px;
}

#btn_start {
    position: absolute;
    top: 414px;
    left: 541px;
}

#left_times {
    top: 483px;
    left: 564px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
#score {
    top: 374px;
    left: 1096px;
    width: 140px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

/*活动规则*/
#btn_close_rule {
    top: 56px;
    left: 1080px;
}

#btn_close_tips {
    top: 56px;
    left: 1080px;
}

/*中奖名单*/
#total_list {
    top: 216px;
    left: 280px;
    color: #fff;
}
#btn_list_submit {
    top: 540px;
    left: 454px;
}

#btn_list_cancel {
    top: 540px;
    left: 668px;
}

#all_marquee {
    height: 120px;
}

#my_marquee {
    height: 50px;
}

table.marquee_table {
    width: 696px;
}

table#all_table tr {
    height: 40px;
}

table.marquee_table td {
    width: 232px;
    margin-right: 10px;
    text-align: center;
    font-size: 30px;
}

#my_list {
    top: 413px;
    left: 283px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

#reset_tel {
    color: #d82f19;
    top: 475px;
    left: 515px;
    width: 222px;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    text-align: left;
}



/*游戏结束*/
#btn_game_over_sure {
    top: 470px;
    left: 557px;
}

/*游戏页*/
#game_container{
    width: 1280px;
    height: 720px;
    overflow: hidden;
}
#game_countdown {
    top: 34px;
    left: 44px;
    width: 143px;
    font-size: 24px;
    text-align: left;
    color: #000;
    font-weight: bold;
}

#btn_boy{
    bottom: 0px;
}

#curr_score{
    top: 0px;
    left: 1100px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;

}

/*兑换礼品*/
#game_score{
    top: 123px;
    left: 606px;
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: bold;
}


#exchange_point_1{
    top: 417px;
    left:408px;
    font-size: 26px;
    color: #000;
    font-weight: bold;
}

#exchange_point_2{
    top: 417px;
    left:655px;
    font-size: 26px;
    color: #000;
    font-weight: bold;
}

#exchange_point_3{
    top: 417px;
    left:900px;
    font-size: 26px;
    color: #000;
    font-weight: bold;
}


#exchange_prize_1{
    top: 462px;
    left:323px;
}
#exchange_prize_2{
    top: 462px;
    left:561px;
}
#exchange_prize_3{
    top: 462px;
    left:800px;
}

#btn_exchange_submit {
    top: 448px;
    left: 454px;
}

#btn_exchange_cancel {
    top: 448px;
    left: 668px;
}
#exchange_tel {
    top: 382px;
    left: 580px;
    font-size: 24px;
    color: #d82f19;
    text-align: left;
}

/*游戏失败*/

#btn_game_fail_sure {
    top: 470px;
    left: 557px;
}

/*游戏成功*/

#shot_count {
    top: 260px;
    left: 816px;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}

#btn_game_sure {
    top: 398px;
    left: 537px;
}


/*抽奖成功*/
#prize_image {
    top: 176px;
    left: 618px;
}

#lottery_tel {
    top: 450px;
    left: 614px;
    font-size: 25px;
    color: #251505;
    width: 200px;
    height: 30px;
    line-height: 30px;
}

#btn_lottery_submit {
    top: 524px;
    left: 431px;
}

#btn_lottery_cancel {
    top: 524px;
    left: 666px;
}


/*订购VIP*/
#btn_order_submit {
    top: 441px;
    left: 431px;
}

#btn_order_cancel {
    top: 441px;
    left: 666px;
}


/*倒计时弹窗*/
#count {
    top: 288px;
    left: 668px;
    color: #000;
    font-size: 60px;
    font-weight: bold;
}