/*背景图*/
#update_background {
    position: absolute;
    width: 1280px;
    height: 720px;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* 弹出提示文字内容*/
#toast_message_text{
    background-Repeat: no-repeat;
    width: 1280px;
    font-family: 'Source Han Sans CN';
    font-size: 24px;
    color: #2a4e87;
    top:260px;
    left: 450px;
    position: absolute;
    overflow: hidden;
}

/* 确定或取消 按钮文字内容*/
#toast_message_submit{
    background-Repeat: no-repeat;
    width: 1280px;
    font-family: 'Source Han Sans CN';
    font-size: 35px;
    color: #ffffff;
    top:435px;
    left: 600px;
    position: absolute;
    overflow: hidden;
}