body {
    width: 1280px;
    height: 720px;
}
body > *,
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

/*活动首页*/
.btn-list{
    position: absolute;
    top: 17px;
    left: 978px;
}
.btn-list>img{
    margin-top: 20px;
}
#btn_activity_rule{
    margin-left: 30px;
}
#btn_winner_list{
    margin-left: 60px;
}

#btn_lottery_cancel_1 {
    position: absolute;
    top: 465px;
    left: 693px;
    height: 56px;
    width: 167px;
}

#left_times {
    top: 623px;
    left: 23px;
    text-align: center;
    color: #1bbfdf;
    width: 250px;
    background: #fff;
    height: 45px;
    line-height: 45px;
    font-size: 36px;
    /*font-weight: bold;*/
    /*border: 1px red solid;*/
}
#score{
    position: absolute;
    top: 267px;
    left: 637px;
    text-align: center;
    color: #3f2b10;
    width: 80px;
    height: 36px;
    font-size: 36px;
    /*font-weight: bold;*/
    /*border: 1px red solid;*/
}

#btn_start{
    position: absolute;
    top: 583px;
    left: 943px;
}



/*活动规则*/
#btn_close_rule {
    top: 38px;
    left: 1003px;
    height: 120px;
    width: 277px;
    display: none;
}

/*中奖名单*/
#total_list {
    top: 250px;
    left: 465px;
    height: 128px;
    width: 800px;
    /*border: 1px red solid;*/
}
#btn_list_submit {
    top: 603px;
    left: 713px;
}

#btn_list_cancel {
    top: 603px;
    left: 984px;
}

#all_marquee {
    width: 800px;
    height: 120px;
}

#my_marquee {
    height: 41px;
}

table.marquee_table {
    width: 780px;
}

table#all_table tr {
    height: 40px;
}

table.marquee_table td {
    /* left: 240px; */
    width: 160px;
    margin-right: 40px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    /*border: 1px red solid;*/
}

#my_list {
    top: 524px;
    left: 465px;
    height: 41px;
    width: 800px;
    font-size: 28px;
    text-align: center;
}

#reset_tel {
    top: 609px;
    left: 150px;
    width: 300px;
    font-size: 28px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    /*background: #8e551d;*/
    /*border: 1px red solid;*/
}



/*游戏结束*/
#btn_game_over_sure {
    top: 528px;
    left: 713px;
}

/*游戏页*/
#game_container{
    position: absolute;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}


#btn_close{
    top: 77px;
    left: 1090px;
}

#game_countdown {
    top: 30px;
    left: 40px;
    width: 50px;
    font-size: 34px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

/*抽奖失败*/
#btn_lottery_fail{
    top: 528px;
    left: 849px;
}

/*抽奖品*/
#lottery_prize{
    top: 280px;
    left: 475px;
    width: 271px;
    height: 340px;
}


#prize_count{
    top: 280px;
    left: 980px;
    font-size: 55px;
    line-height: 55px;
    width: 80px;
    height: 55px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#btn_exchange_submit {
    top: 469px;
    left: 385px;
}

#btn_exchange_cancel {
    top: 469px;
    left: 715px;
}

#exchange_tel {
    top: 367px;
    left: 558px;
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}


/*抽奖成功*/
#prize_image {
    top: 353px;
    left: 551px;
    /*width: 150px;*/
    /*height: 150px;*/
}

#lottery_tel {
    top: 439px;
    left: 820px;
    width: 300px;
    font-size: 28px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
     /*border: 1px red solid;*/
    /*background: #8e551d;*/
}

#btn_lottery_submit {
    top: 603px;
    left: 713px;
}

#btn_lottery_cancel {
    top: 603px;
    left: 984px;
}


/*订购VIP*/
#btn_order_submit {
    top: 528px;
    left: 713px;
}

#btn_order_cancel {
    top: 528px;
    left: 984px;
}
#btn_game_confirm{
    top: 528px;
    left: 713px;
}
#btn_game_cancel{
    top: 528px;
    left: 984px;
}
/*游戏结束*/
#btn_no_score {
    top: 528px;
    left: 713px;
}
#cutDown{
    position: absolute;
    top: 625px;
    left: 125px;
    text-align: center;
    color: #fff;
    width: 80px;
    height: 30px;
    font-size: 30px;
    /*border: 1px red solid;*/
}
#skin-list{
    position: absolute;
    top: 343px;
    left: 738px;
    width: 450px;
    overflow: hidden;
}
#skin-list>img{
    margin-left: -10px;
}
#play{
    position: absolute;
    top: 583px;
    left: 933px;
}


/*倒计时弹窗*/
#count {
    top: 288px;
    left: 735px;
    color: #fff;
    font-size: 64px;
}