* {
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
}

body {
    background-Repeat: no-repeat;
    width: 1280px;
    height: 720px;
    position: relative;
}

.tab1 {
    /*width: 232px;*/
    /*height: 90px;*/
    position: absolute;
    top: 324px;
    left: 267px
}
.tab2 {
    /*width: 232px;*/
    /*height: 90px;*/
    position: absolute;
    top: 324px;
    left: 523px
}
.tab3 {
    /*width: 232px;*/
    /*height: 90px;*/
    position: absolute;
    top: 267px;
    left: 111px
}
#btn_order {
    /*width: 232px;*/
    /*height: 90px;*/
    position: absolute;
    top: 575px;
    left: 207px
}

/*.tab3 {*/
    /*width: 232px;*/
    /*height: 90px;*/
    /*position: absolute;*/
    /*left: 683px;*/
    /*top: 577px;*/
/*}*/