<!DOCTYPE html>
<html lang="en">
<head>
    <title>社区医院-科室详情-V650092</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}"/>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/CommunityHospital/650092/DepartmentIntroduce.css?t={$time}"/>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>

</head>
<body>
<p class="title">科室介绍</p>
<div id="container">
    <img class="dep-pic" src="__ROOT__/Public/img/hd/CommunityHospital/doctor-pic.png" alt="">
    <div class="intro-wrap">
        <p class="dep-title">米东区矿业医院</p>
        <p class="dep-intro">米东区矿业医院米东区矿业医院米东区矿业医院米东区矿业医院</p>
    </div>
</div>
<div class="arrow-wrapper">
    <img id="prev-arrow" src="__ROOT__/Public/img/hd/CommunityHospital/prev.png" alt="">
    <img id="next-arrow" src="__ROOT__/Public/img/hd/CommunityHospital/next.png" alt="">
</div>

<!--第三方依赖库-->
<script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
<!--公用库-->
<script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
<script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
<!--当前模块js-->
<script type="text/javascript" src="__ROOT__/Public/js/CommunityHospital/V650092/DepartmentDetails.js?t={$time}"></script>
<script>
    CommunityHosp.init();
</script>
</body>
</html>
  
  