<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>新疆电信-天翼高清点亮健康行</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">
    <!-- 默认标签 -->
    <a id="default_link" href="#"><img class="grubFocusImg" src="__ROOT__/Public/img/Common/spacer.gif"/></a>
    
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css"
          href="__ROOT__/Public/css/{$platformType}/Activity/ActivityTelegraphyHealth/V1/guide.css?t={$time}">

    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmajax_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcore_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmintent_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmlog_v1.0.0.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/keypad.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Activity/Common/activityCommon.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmBase64.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmauthEx.js?t={$time}"></script>
    <script type="text/javascript">
        var RenderParam = {
            "imagePathPrefix": "__ROOT__/Public/img/hd/Activity/ActivityTelegraphyHealth/V1/",
            "voteDetail": {$voteDetail},
            "userId":"{$userId}",
            "leftTimes":  F.isNull({$activityInfo}).left_times
        };

    </script>
</head>
<body>
<img class="background_image" src="__ROOT__/Public/img/hd/Activity/ActivityTelegraphyHealth/V1/bg_home.png">
<img id="btn_back" src="__ROOT__/Public/img/hd/Activity/ActivityTelegraphyHealth/V1/btn_back.png" alt="">
<img id="btn_rule" src="__ROOT__/Public/img/hd/Activity/ActivityTelegraphyHealth/V1/btn_rule.png" alt="">
<img id="btn_past" src="__ROOT__/Public/img/hd/Activity/ActivityTelegraphyHealth/V1/btn_past.png" alt="">
<div id="rank_wrap">

</div>
<div id="dialog_wrap">

</div>
<script type="text/javascript"
        src="__ROOT__/Public/js/Activity/ActivityTelegraphyHealth//V1/guide.js?t={$time}"></script>

</body>
</html>