* {
    margin: 0;
    padding: 0;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Source Han Sans CN';
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    background-position: left;
    color: #fff;
    background-image: url(../../../../img/hd/Home/V13/Home/bg.png);
}

p.title {
    position: absolute;
    top: 30px;
    left: 58px;
    font-size: 35px;
    color: #fff;
}

#write-btn {
    position: absolute;
    top: 39px;
    left: 1050px;
}
#introduce-btn {
    position: absolute;
    top: 460px;
    left: 340px;
}

#input-wrapper {
    position: absolute;
    top: 174px;
    left: 390px;
    width: 666px;
}

#input-number {
    width: 478px;
    padding: 10px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #b2deff;
    font-size: 24px;
    background-image: url(../../../../img/hd/HealthTest/V13/imei_input.png);
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.btn-action-wrap {
    position: absolute;
    top: 62px;
    right: 20px;
}

.number-title {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
    width: 500px;
}

#next-step {
    position: absolute;
    top: 374px;
    left: 540px;
}

.warm-tips {
    top: 545px;
    left: 78px;
    width: 1138px;
    font-size: 20px;
    text-align: left;
    padding: 20px 0;
    position: absolute;
    background-image: url(../../../../img/hd/HealthTest/V13/tip_bg.png);
    background-size: 100%;
}

.warm-tips p {
    margin-bottom: 5px;
}

.warm-title {
    font-weight: bold;
}
#key-table{
    top: -135px !important;
    left: 38px !important;
}