* {
    margin: 0;
    padding: 0;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Source Han Sans CN';
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    background-position: left;
    background-image: url(../../../../img/hd/Home/V13/Home/bg.png);
}

body > * {
    position: absolute;
}

p.title {
    top: 24px;
    left: 58px;
    font-size: 35px;
    color: #fff;
}

div.container {
    top: 199px;
    left: 122px;
}
#input{
    top: 38px;
    left: 1022px;
    /*width: 169px;*/
    /*height: 43px;*/
}
#home{
    top: 38px;
    left: 792px;
    /*width: 169px;*/
    /*height: 43px;*/
}
.container>img{
    margin-left: 25px;
}
.prompt{
    top: 600px;
    left: 566px;
    font-size: 29px;
    color: #fff;
}
.link{
    width: 480px;
    height: 288px;
}

