<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>家庭成员添加</title>
    <meta charset="utf-8" name="page-view-size" content='{$size}'>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/Family/V7/familyMemberAdd.css?t={$time}">

    <script type="text/javascript">
        var ROOT = "__ROOT__";
        var RenderParam = {
            // 公共渲染
            carrierId: "{$carrierId}",          // 地区id
            areaCode: "{$areaCode}",            // 省份地区码
            subAreaCode: "{$subAreaCode}",      // 省份下的子区域
            platformType: "{$platformType}",    // 平台类型
            debug: "{$debug}",                  // 调试模式
            pageSize: "{$size}",            // 页面尺寸
            stbModel: "{$stbModel}",                            // 盒子的型号
            fsUrl: "{$resourcesUrl}",           // fs 地址
            time: "{$time}",                    // 开始渲染时间
            userId: "{$userId}",                // 用户Id
            accountId: "{$accountId}",                // 用户Id

            // 当前页渲染
            userfromType: "{$userfromType}",
            subId: "{$subId}",
            fromId: "{$fromId}",
            intentType: "{$intentType}",
            memberList: JSON.parse('{$member}'),
        };
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>

    <!--公共库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</head>
<body>
<!--背景-->
<img id="body" class="bg" src="__ROOT__/Public/img/hd/Home/V27/bg.png"/>
<div class="title">
    家庭成员添加
</div>
<img class="icon-title" src="__ROOT__/Public/img/hd/Family/V7/V1/icon_title.png"/>
<div class="show_box">
    <img id="photo" class="photo" />
    <div class="border border-white">
        <div  id="parameter_1_pre" class="parameter"></div>
        <div id="parameter_2_pre" class="parameter"></div>
        <div id="parameter_3_pre" class="parameter"></div>
        <div id="parameter_4_pre" class="parameter"></div>
        <div class="parameter"> &nbsp;&nbsp;</div>

        <div id="parameter_1" class="parameter2"></div>
        <div id="parameter_2" class="parameter2"></div>
        <div id="parameter_3" class="parameter2"></div>
        <div id="parameter_4" class="parameter2"></div>
        <div class="parameter2" style="position: relative">
            <!--<img  class="btn_bg" src="/Public/img/DrugInquiry/bg_key.png"/>-->
            <div id="parameter_5" class="btn_title">确&nbsp;&nbsp;定</div>
            &nbsp;&nbsp;
        </div>

        <div id="parameter_1_next" class="parameter"></div>
        <div id="parameter_2_next" class="parameter"></div>
        <div id="parameter_3_next" class="parameter"></div>
        <div id="parameter_4_next" class="parameter"></div>
    </div>
</div>

<div class="produce">
    遥控器按<span class="yellow">“上”“下”“左”“右”</span>键可切换选项，选择符合您的信息
</div>
<script type="text/javascript">
    var InitData = {
        initMember: '{$member}',
        memberArray: [],
        CurrentIndexOfMemberArray: 0  //当前家庭成员memberArray数组的索引
    };

    function onBack() {
        LMEPG.Intent.back();
    }

    window.onload = function () {
        PageStart.init();

    };

    var BtnClick = {
        addMember: function (btn) {
            // 只有点击最后一个按钮“提交 ”才执行点击提交操作
            if (btn.id !== "parameter_5") {
                return;
            }

            var itemMember = InitData.memberArray[InitData.CurrentIndexOfMemberArray];
            LMEPG.UI.showWaitingDialog("");

            var age = G("parameter_2").innerHTML;
            var weight = G("parameter_4").innerHTML;
            var height = G("parameter_3").innerHTML;
            var postData = {
                "member_id": itemMember.member_id,
                "member_name": itemMember.member_name,
                "member_age": age,
                "member_gender": itemMember.member_gender,
                "member_height": height,
                "member_weight": weight,
                "member_image_id": itemMember.member_image_id
            };

            LMEPG.ajax.postAPI("Family/addMember", postData, function (rsp) {
                LMEPG.UI.dismissWaitingDialog();
                try {
                    var data = rsp instanceof Object ? rsp : JSON.parse(rsp);
                    if (data instanceof Object) {
                        if (data.result == 0) {
                            // 延迟处理，避免showToast未渲染出背景图仅显示出提示文本就执行onBack了。
                            LMEPG.KeyEventManager.setAllowFlag(false);
                            LMEPG.UI.showToast("添加成功！", 1.5, function () {
                                onBack();
                            });
                        } else {
                            LMEPG.UI.showToast("添加失败！" + data.result);
                        }
                    } else {
                        LMEPG.UI.showToast("添加失败！");
                    }
                } catch (e) {
                    LMEPG.UI.showToast("添加异常！");
                }
            }, function () {
                LMEPG.UI.dismissWaitingDialog();
                LMEPG.UI.showToast("添加异常！");
            });

        }

    };

    var Page = {

        /**
         * 获取当前页面对象
         */
        getCurrentPage: function () {
            var currentPage = LMEPG.Intent.createIntent("familyMembersAdd");
            return currentPage;
        },

        /**
         * 跳转到home页面
         */
        jumpFamilyTab: function (memberId) {
            var objCurrent = Page.getCurrentPage(); //得到当前页

            var objHome = LMEPG.Intent.createIntent("familyHome");
            objHome.setParam("memberID", memberId);
            LMEPG.Intent.jump(objHome, objCurrent, LMEPG.Intent.INTENT_FLAG_NOT_STACK);
        }
    };


    var PageStart = {
        // 初始化按钮
        initBottom: function () {
            for (var i = 0; i < 4; i++) {
                buttons.push({
                    id: 'parameter_' + (i + 1),
                    name: '选项4',
                    type: 'img',
                    nextFocusLeft: 'parameter_' + (i + 1 - 1),
                    nextFocusRight: 'parameter_' + (i + 1 + 1),
                    nextFocusUp: '',
                    nextFocusDown: '',
                    backgroundImage: '__ROOT__/Public/img/hd/Family/V7/bg_btn.png',
                    focusImage: '__ROOT__/Public/img/hd/Family/V7/f_btn.png',
                    click: BtnClick.addMember,
                    focusChange: PageStart.onBtnFocus,
                    beforeMoveChange: PageStart.onBeforeMoveChange,
                });
            }
            buttons.push({
                id: 'parameter_5',
                name: '选项5',
                type: 'div',
                nextFocusLeft: 'parameter_4',
                nextFocusRight: '',
                nextFocusUp: '',
                nextFocusDown: '',
                backgroundImage: '__ROOT__/Public/img/hd/Family/V7/bg_btn.png',
                focusImage: '__ROOT__/Public/img/hd/Family/V7/f_btn.png',
                click: BtnClick.addMember,
                focusChange: "",
                beforeMoveChange: PageStart.onBeforeMoveChange,
            });
        },

        // 焦点效果
        onBtnFocus: function (btn, hasFocus) {
            if (hasFocus) {
                if (btn.id == "parameter_5") {
//                    LMEPG.CssManager.addClass(btn.id, "btn-hover");
                } else {
                    LMEPG.CssManager.addClass(btn.id, "parameter_focus");
                }
            } else {
                if (btn.id == "parameter_5") {
//                    LMEPG.CssManager.removeClass(btn.id, "btn-hover");
                } else {
                    LMEPG.CssManager.removeClass(btn.id, "parameter_focus");
                }
            }
        },

        //焦点改变前
        onBeforeMoveChange: function (direction, current) {
            switch (direction) {
                case "up":
                    if (current.id == "parameter_1") {
                        if (InitData.memberArray.length > 1) {  //如果只有一个家庭成员，不需要移动
                            InitData.CurrentIndexOfMemberArray--;
                            if (InitData.CurrentIndexOfMemberArray < 0) {
                                InitData.CurrentIndexOfMemberArray = InitData.memberArray.length - 1;
                            }
                            PageStart.initRole(InitData.CurrentIndexOfMemberArray);
                        }
                    } else if (current.id == "parameter_2") {
                        PageStart.upType(1, 100, "parameter_2");
                    } else if (current.id == "parameter_3") {
                        PageStart.upType(30, 260, "parameter_3");
                    } else if (current.id == "parameter_4") {
                        PageStart.upType(1, 300, "parameter_4");
                    }
                    break;
                case "down":
                    if (current.id == "parameter_1") {
                        if (InitData.memberArray.length > 1) {  //如果只有一个家庭成员，不需要移动
                            InitData.CurrentIndexOfMemberArray++;
                            if (InitData.CurrentIndexOfMemberArray > InitData.memberArray.length - 1) {
                                InitData.CurrentIndexOfMemberArray = 0;
                            }
                            PageStart.initRole(InitData.CurrentIndexOfMemberArray);
                        }
                    } else if (current.id == "parameter_2") {
                        PageStart.downType(1, 100, "parameter_2");
                    } else if (current.id == "parameter_3") {
                        PageStart.downType(30, 260, "parameter_3");
                    } else if (current.id == "parameter_4") {
                        PageStart.downType(1, 300, "parameter_4");
                    }
                    break;
            }
        },

        initRole: function (num) {
            //家庭成员姓名设置
            var eleMemberName1 = G("parameter_1_pre");
            var eleMemberName2 = G("parameter_1");
            var eleMemberName3 = G("parameter_1_next");
            //家庭成员年龄设置
            var eleMemberAge1 = G("parameter_2_pre");
            var eleMemberAge2 = G("parameter_2");
            var eleMemberAge3 = G("parameter_2_next");
            //家庭成员身高设置
            var eleMemberHeight1 = G("parameter_3_pre");
            var eleMemberHeight2 = G("parameter_3");
            var eleMemberHeight3 = G("parameter_3_next");
            //家庭成员体重设置
            var eleMemberWeight1 = G("parameter_4_pre");
            var eleMemberWeight2 = G("parameter_4");
            var eleMemberWeight3 = G("parameter_4_next");

            if (InitData.memberArray.length >= 2) {
                var tempPreIndex = 0;
                if (num === 0) {
                    tempPreIndex = InitData.memberArray.length - 1;
                } else {
                    tempPreIndex = num - 1;
                }
                var tempNextIndex = 0;
                if (num < InitData.memberArray.length - 1) {
                    tempNextIndex = num + 1;
                }

                if (InitData.memberArray.length === 2) {
                    eleMemberName1.innerHTML = InitData.memberArray[tempPreIndex].member_name;
                    eleMemberName3.innerHTML = "&nbsp;&nbsp;";
                } else {
                    eleMemberName1.innerHTML = InitData.memberArray[tempPreIndex].member_name;
                    eleMemberName3.innerHTML = InitData.memberArray[tempNextIndex].member_name;
                }
            } else if (InitData.memberArray.length === 1) {
                eleMemberName1.innerHTML = "&nbsp;&nbsp;";
                eleMemberName3.innerHTML = "&nbsp;&nbsp;";
            } else {
            }

            eleMemberName2.innerHTML = InitData.memberArray[num].member_name;

            eleMemberAge1.innerHTML = InitData.memberArray[num].member_age - 1;
            eleMemberAge2.innerHTML = InitData.memberArray[num].member_age;
            eleMemberAge3.innerHTML = InitData.memberArray[num].member_age + 1;

            eleMemberHeight1.innerHTML = InitData.memberArray[num].member_height - 1;
            eleMemberHeight2.innerHTML = InitData.memberArray[num].member_height;
            eleMemberHeight3.innerHTML = InitData.memberArray[num].member_height + 1;

            eleMemberWeight1.innerHTML = InitData.memberArray[num].member_weight - 0.5;
            eleMemberWeight2.innerHTML = InitData.memberArray[num].member_weight;
            eleMemberWeight3.innerHTML = InitData.memberArray[num].member_weight + 0.5;

            G("photo").src = "__ROOT__/Public/img/hd/Family/V7/V1/icon_member_" + InitData.memberArray[num].member_image_id + ".png";

        },

        upType: function (min, max, type) {
            var num1 = parseFloat(G(type + "_pre").innerHTML);
            var num2 = parseFloat(G(type).innerHTML);
            G(type).innerHTML = "" + num1;
            G(type + "_next").innerHTML = "" + num2;
            if (type + "_pre" == "parameter_4_pre") {
                G(type + "_pre").innerHTML = "" + ((num1 - 0.5 < min) ? max : num1 - 0.5);
            } else {
                G(type + "_pre").innerHTML = "" + ((num1 - 1 < min) ? max : num1 - 1);
            }
        },

        downType: function (min, max, type) {
            var num1 = parseFloat(G(type + "_next").innerHTML);
            var num2 = parseFloat(G(type).innerHTML);
            G(type + "_pre").innerHTML = "" + num2;
            G(type).innerHTML = "" + num1;
            if (type + "_next" == "parameter_4_next") {
                G(type + "_next").innerHTML = "" + ((num1 + 0.5 > max) ? min : num1 + 0.5);
            } else {
                G(type + "_next").innerHTML = "" + ((num1 + 1 > max) ? min : num1 + 1);
            }
        },

        init: function () {
            InitData.memberArray = JSON.parse(InitData.initMember);

            InitData.memberArray.reverse();

            PageStart.initBottom();       // 初始化底部导航栏按钮
            PageStart.initRole(InitData.CurrentIndexOfMemberArray);
            LMEPG.ButtonManager.init(["parameter_1"], buttons, "", true);
        }
    }
    // 定义全局按钮
    var buttons = [];

</script>
</body>
</html>