<!DOCTYPE html>
<html lang="en">
<head>
    <title>我的家首页</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/Family/V7/MyHome.css?t={$time}"/>

    <script type="text/javascript">
        var ROOT = "__ROOT__";
        var platformType = "hd";
        var carrierId = "{$carrierId}"; // 当前地区编码
        var isVip = "{$isVip}";         // 当前用户身份
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>

    <!-- 页面跳转 -->
    <script type="text/javascript">
        function getCurrentPage() {
            var currentPage = LMEPG.Intent.createIntent("familyHome");
            currentPage.setParam('myFamilyFocus', currentFocusId);
            return currentPage;
        }

        /** 跳转-在线问诊记录 */
        function jumpInquiryRecord() {
            var objBack = getCurrentPage();
            var objInquiryRecord = LMEPG.Intent.createIntent("sd" == platformType ? "doctorLimit" : "doctorRecordHome");
            LMEPG.Intent.jump(objInquiryRecord, objBack);
        }

        /** 跳转-专家约诊记录 */
        function jumpExpertRecordHome() {
            var objBack = getCurrentPage();
            var objExpertRecordHome = LMEPG.Intent.createIntent("expertRecordHome");
            LMEPG.Intent.jump(objExpertRecordHome, objBack);
        }

        // 跳转检测记录
        function jumpHealthDetectRecord () {
            var objSrc = getCurrentPage();
            var objDst = LMEPG.Intent.createIntent("recordList");
            LMEPG.Intent.jump(objDst, objSrc, LMEPG.Intent.INTENT_FLAG_DEFAULT);
        }

        /** 跳转-家庭成员管理 */
        function jumpMemberEditor() {
            var objBack = getCurrentPage();
            var objAbout = LMEPG.Intent.createIntent("familyMemberHome");
            LMEPG.Intent.jump(objAbout, objBack);
        }

        /** 跳转-关于我们 */
        function jumpAbout() {
            var objBack = getCurrentPage();
            var objAbout = LMEPG.Intent.createIntent("about");
            LMEPG.Intent.jump(objAbout, objBack);
        }

        /** 跳转- 局方订购 */
        function jumpOrderHome(){
            if (isVip === '1' || RenderParam.isVip === 1) {
                //是vip,但是已经退订的 您订购的VIP已经退订
                LMEPG.UI.commonDialog.show("您已订购VIP，请勿重复订购！", ["确定"], function (index) {});
            } else { // 不是vip
                var objBack = getCurrentPage();
                var objAbout = LMEPG.Intent.createIntent("orderHome");
                LMEPG.Intent.jump(objAbout, objBack);
            }
        }
    </script>

    <!-- 按钮焦点处理 -->
    <script type="text/javascript">
        /** 按返回键 */
        function onBack() {
            LMEPG.Intent.back();
        }

        var Action = {
            focusChange: function (btn, hasFocus) {
                console.log("--------focusChange---" + btn.id + ", " + hasFocus);
                G(btn.id).setAttribute('class', hasFocus ? "imghover" : "");    // 内部图片放大/缩小
                G(btn.id + "-box").className = hasFocus ? "show" : "none";      // 发光边框显示/陈艳隐藏
                if (hasFocus) {
                    currentFocusId = btn.id; // 记录当前获得焦点的元素id
                }
            },

            onClick: function (btn) {
                switch (btn.id) {
                    case "focus-1-2":   // 在线问诊记录
                        jumpInquiryRecord();
                        break;
                    case "focus-1-3":   // 专家约诊记录
                        jumpExpertRecordHome();
                        break;
                    case "focus-2-3":   // 专家检测记录
                        if(carrierId === '370002') { // 山东电信apk
                            jumpOrderHome();
                        }else { // 非山东电信apk项目
                            jumpHealthDetectRecord(); // 跳转健康检测记录
                        }
                        break;
                    case "focus-1-4":   // 家庭成员管理
                        if (platformType == "hd") {
                            jumpMemberEditor();
                        } else {
                            LMEPG.ui.showToast("不支持该功能，请更换安卓机顶盒", 3);
                        }
                        break;
                    case "focus-2-4":   // 跳转关于我们
                        jumpAbout();
                        break;
                }
            }
        };
    </script>
</head>
<body style="background-image: url('__ROOT__/Public/img/hd/Home/V27/bg.png');">
<div>
    <nav>
        <div class="title">健康档案</div>
    </nav>
    <div>
        <img id="focus-1-2-box" src="__ROOT__/Public/img/hd/Family/V7/inline_look_box.png"/>
        <div class="tb1">
            <img id="focus-1-2" src="__ROOT__/Public/img/hd/Family/V7/inline_look.png"/>
        </div>
        <img id="focus-1-3-box" src="__ROOT__/Public/img/hd/Family/V7/family_box.png"/>
        <div class="tb2">
            <img id="focus-1-3" src="__ROOT__/Public/img/hd/Family/V7/record.png"/>
        </div>
        <img id="focus-2-3-box" src="__ROOT__/Public/img/hd/Family/V7/family_box.png"/>
        <div class="tb5">
            <img id="focus-2-3" src="__ROOT__/Public/img/hd/Family/V7/{$focusImageName2_3}.png"/>
        </div>
        <img id="focus-1-4-box" src="__ROOT__/Public/img/hd/Family/V7/family_box.png"/>
        <div class="tb3">
            <img id="focus-1-4" src="__ROOT__/Public/img/hd/Family/V7/family.png"/>
        </div>
        <img id="focus-2-4-box" src="__ROOT__/Public/img/hd/Family/V7/family_box.png"/>
        <div class="tb4">
            <img id="focus-2-4" src="__ROOT__/Public/img/hd/Family/V7/about.png"/>
        </div>
    </div>
</div>
<script type="text/javascript">
    var currentFocusId = "{$myFamilyFocus}";    // 当前获得焦点的元素id
    var buttons = [                             // 当前页面的所有按钮
        {
            id: 'focus-1-2',
            name: '在线问诊记录',
            type: 'img',
            focusable: true,
            nextFocusLeft: '',
            nextFocusUp: '',
            nextFocusRight: 'focus-1-3',
            nextFocusDown: '',
            focusChange: Action.focusChange,
            click: Action.onClick
        },
        {
            id: 'focus-1-3',
            name: '专家约诊记录',
            type: 'img',
            focusable: true,
            nextFocusLeft: 'focus-1-2',
            nextFocusUp: '',
            nextFocusRight: 'focus-1-4',
            nextFocusDown: 'focus-2-3',
            focusChange: Action.focusChange,
            click: Action.onClick
        },
        {
            id: 'focus-2-3',
            name: '检测记录',
            type: 'img',
            focusable: true,
            nextFocusLeft: 'focus-1-2',
            nextFocusUp: 'focus-1-3',
            nextFocusRight: 'focus-2-4',
            nextFocusDown: '',
            focusChange: Action.focusChange,
            click: Action.onClick
        },
        {
            id: 'focus-1-4',
            name: '家庭成员管理',
            type: 'img',
            focusable: true,
            nextFocusLeft: 'focus-1-3',
            nextFocusUp: '',
            nextFocusRight: '',
            nextFocusDown: 'focus-2-4',
            focusChange: Action.focusChange,
            click: Action.onClick
        },
        {
            id: 'focus-2-4',
            name: '关于我们',
            type: 'img',
            focusable: true,
            nextFocusLeft: 'focus-2-3',
            nextFocusUp: 'focus-1-4',
            nextFocusRight: '',
            nextFocusDown: '',
            focusChange: Action.focusChange,
            click: Action.onClick
        }
    ];

    window.onload = function () {
        if (currentFocusId) {
            LMEPG.ButtonManager.init(currentFocusId, buttons, '', true);
        } else {
            LMEPG.ButtonManager.init('focus-1-2', buttons, '', true);
        }
    };

</script>
</body>
</html>