body {
    width: 644px;
    height: 530px;
}

body > *,
#traffic_container > *,
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 644px;
    height: 530px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

#score {
    top: 490px;
    left: 80px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    color: #73996b;
}

#left_times {
    top: 490px;
    left: 360px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #e56b2e;
    font-size: 24px;
}

#btn_container {
    top: 20px;
    left: 500px;
}

#btn_container > *{
    display: block;
    margin-bottom: 16px;
}

#btn_scenery_photo {
    top: 20px;
    left: 20px;
}

#traffic_rail {
    top: 320px;
    left: 50px;
}
#traffic_plane {
    top: 160px;
    left: 100px;
}
#traffic_car {
    top: 320px;
    left: 160px;
}
#traffic_bus {
    top: 290px;
    left: 310px;
}
#traffic_bicycle {
    top: 350px;
    left: 432px;
}
#traffic_ship {
    top: 320px;
    left: 550px;
}

/*====中奖名单====*/
#total_list {
    top: 140px;
    left: 90px;
}

#all_marquee {
    height: 100px;
}

#my_marquee {
    height: 20px;
}

table.marquee_table {
    width: 464px;
}

table#all_table tr {
    height: 20px;
}

table.marquee_table td {
    width: 144px;
    margin-right: 16px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

#my_list {
    top: 330px;
    left: 90px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

#reset_tel {
    color: #999;
    top: 360px;
    left: 270px;
    width: 224px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
}

#btn_list_submit {
    top: 400px;
    left: 270px;
}

#btn_list_cancel {
    top: 400px;
    left: 390px;
}
/*====兑换奖品====*/
#game_score {
    top: 105px;
    left: 180px;
    font-size: 24px;
    color: #fff;
}

#exchange_prize_1 {
    top: 290px;
    left: 270px;
}

#exchange_prize_2 {
    top: 340px;
    left: 100px;
}

#exchange_prize_3 {
    top: 340px;
    left: 440px;
}

#exchange_point_1 {
    top: 355px;
    left: 340px;
    color: #fff;
    font-size: 24px;
}

#exchange_point_2 {
    top: 405px;
    left: 180px;
    color: #fff;
    font-size: 24px;
}

#exchange_point_3 {
    top: 405px;
    left: 500px;
    color: #fff;
    font-size: 24px;
}

/*====旅游美景====*/
.photo_row_1 {
    top: 120px;
    left: 90px;
}

.photo_row_2 {
    top: 210px;
    left: 112px;
}

.photo_row_3 {
    top: 290px;
    left: 90px;
}

.photo_row_4 {
    top: 380px;
    left: 112px;
}

.photo_row_1 > img,
.photo_row_3 > img {
    margin-right: 16px;
}

.photo_row_2 > img,
.photo_row_4 > img {
    margin-right: 56px;
}

/*====游戏成功====*/
#traffic_photo {
    top: 200px;
    left: 250px;
}

#traffic_score {
    top: 306px;
    left: 330px;
    color: #fff;
    font-size: 24px;
}

#btn_game_success{
    top: 350px;
    left: 270px;
}

/*====订购VIP====*/
#btn_order_submit{
    top: 320px;
    left: 200px;
}
#btn_order_cancel{
    top: 320px;
    left: 340px;
}

/*====兑换成功====*/
#exchange_tel {
    color: #333;
    top: 290px;
    left: 280px;
    width: 224px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
}

#btn_exchange_submit {
    top: 340px;
    left: 280px;
}

#btn_exchange_cancel {
    top: 340px;
    left: 400px;
}

#count {
    top: 205px;
    left: 360px;
    color: #fff;
    font-size: 36px;
}