<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>幸运大奖连连抽</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">
    <!--处理background-img拿取图片fs地址-->
    <include file="./Application/Activity/View/ActivityDemolitionExpress/bgImage.html"/>
    <link rel="stylesheet" type="text/css" href="/Public/css/Common/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="/Public/css/{$platformType}/Activity/ActivityDemolitionExpress/V2/guide.css?t={$time}">
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmbase_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmintent_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmUtils.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/keypad.js?t={$time}"></script>
    <!--当前活动-->
    <script type="text/javascript">
        var ROOT = '__ROOT__';
        var RenderParam = {
            isVip: '{$isVip}',
            userId: '{$userId}',
            userTel: '{$userTel}',
            lmcid: '{$carrierId}',
            cdCount: '{$cdCount}',
            privateUserValue: '{$cdCount}',
            beClickId: 'jump-start',
            isOrderBack: '{$isOrderBack}',
            activityImg: '{$activityFsImg}{$platformType}/',
            cOrderResult: '{$Think.cookie.c_order_result}',
            // prizeConfigItems: {$prizeConfigItems},
            loginUserAccount: '{$userAccount}',
            AllUserPrizeList: {$AllUserPrizeList},
            myPrizeList: {$myPrizeList},
            platformType: '{$platformType}',
            activityInfo: {$activityInfo},
            extraTimes: '{$extraTimes}',
            leftTimes: '{$leftTimes}',
            score: '{$score}'
        };

        window.onload = function () {
            Activity.init();
        };
    </script>
</head>
<body>

<div id="debug"></div>
<p id="times-count">剩余抽奖次数：x</p>
<div id="wheel-wrap">
    <img id="lucky-wheel" src="{$activityFsImg}{$platformType}/V{$carrierId}/wheel.png" alt="">
    <img id="jump-start" src="{$activityFsImg}{$platformType}/jump_start.png">
</div>
<div class="jump-wrap">
    <img id="jump-back" src="{$activityFsImg}{$platformType}/jump_back.png">
    <img id="jump-rule" src="{$activityFsImg}{$platformType}/jump_rule.png">
    <img id="jump-winner" src="{$activityFsImg}{$platformType}/jump_winner.png">
</div>

<!--游戏UI-->
<div id="modal-game" class="modal"></div>

<!--奖品抽中UI-->
<div id="modal-accomplish" class="modal">
    <img id="accomplish-prize" src="">
    <div id="accomplish-tel">请输入有效的电话</div>
    <img id="btn-accomplish-submit" class="btn-win" src="{$activityFsImg}{$platformType}/btn_sure.png">
    <img id="btn-accomplish-cancel" class="btn-win" src="{$activityFsImg}{$platformType}/btn_cancel.png">
</div>

<!--没有抽中奖品UI-->
<div id="modal-uncompleted" class="modal">
    <img id="btn-one0" src="{$activityFsImg}{$platformType}/btn_sure.png" alt="">
</div>

<!--普通用户返回时进入触发返回倒计时UI-->
<div id="modal-cd" class="modal">
    <div id="count-down">8</div>
</div>

<!--活动规则UI-->
<div id="modal-rule" class="modal">
    <!--    <img id="btn-rule-close" src="__ROOT__/Public/img/Common/spacer.gif">-->
</div>

<!--中奖名单UI-->
<div id="modal-list" class="modal">
    <div id="total-list"></div>
    <div id="my-list"></div>
    <div id="rewrite-tel" class="list-tel my">请输入有效的电话</div>
    <img id="btn-list-submit" class="btn-list" src="{$activityFsImg}{$platformType}/btn_sure.png">
    <img id="btn-list-cancel" class="btn-list" src="{$activityFsImg}{$platformType}/btn_cancel.png">
</div>

<!--VIP没有游戏次数UI-->
<div id="modal-vip-notimes" class="modal">
    <img id="btn-one1" src="{$activityFsImg}{$platformType}/btn_sure.png">
</div>

<!--普通用户没有游戏次数UI-->
<div id="modal-pay-notimes" class="modal">
    <img id="btn-pay-sure" class="btn-pay" src="{$activityFsImg}{$platformType}/btn_sure.png">
    <img id="btn-pay-cancel" class="btn-pay" src="{$activityFsImg}{$platformType}/btn_cancel.png">
</div>

<!--支付反馈UI-->
<div id="modal-pay" class="modal">
    <img id="pay-back-tip" src="__ROOT__/Public/img/Common/spacer.gif">
</div>

<script type="text/javascript" src="__ROOT__/Public/js/Activity/Common/activityBase.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/Activity/ActivityDemolitionExpress/V2/index.js"></script>
</body>
</html>