* {
    font-family: "Source Han Sans CN";
    padding: 0px;
    margin: 0px;
    outline: none !important;
    -webkit-shape-outside: none;
}

body {
    height: 530px;
    width: 644px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.btn {
    position: absolute;
    width: 80px;
    height: 26px;
    outline: none;
}

#rule_btn {
    top: 187px;
    left: 43px;
}

#consultation_btn {
    top: 187px;
    left: 136px;
}

#detail_btn {
    top: 187px;
    left: 230px;
}

#back_btn {
    top: 28px;
    left: 541px;
}

#photo_box {
    top: 126px;
    left: 410px;
    position: absolute;
    width: 150px;
    height: 202px;
    outline: none;
}

#photo_img {
    top: 129px;
    left: 413px;
    position: absolute;
    width: 144px;
    height: 196px;
    outline: none;
}

#pre_page {
    top: 83px;
    left: 471px;
    position: absolute;
    width: 28px;
    height: 14px;
    outline: none;
}

#next_page {
    top: 359px;
    left: 471px;
    position: absolute;
    width: 28px;
    height: 14px;
    outline: none;
}

.title {
    top: 235px;
    left: 60px;
    position: absolute;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 15px;
}

#doctor {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#content {
    top: 274px;
    left: 60px;
    position: absolute;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 26px;
    width: 318px;
    height: 157px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-indent: 45px;
}

.good_at {
    top: 274px;
    left: 60px;
    position: absolute;
    color: black;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
}
#page {
    top: 400px;
    left: 466px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}