
#container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
}

#pay_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
}

/*确认*/
#sure_btn {
    position: absolute;
    left:565px;
    top: 581px;
    width: 160px;
    height: 50px;
}

/* 返回*/
#back_btn {
    position: absolute;
    left: 647px;
    top: 569px;
    width: 248px;
    height: 87px;
}
