body {
    width: 644px;
    height: 530px;
}

body > *,
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 644px;
    height: 530px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

/*活动首页*/
#btn_back {
    position: absolute;
    top: 30px;
    left: 530px;
    /* height: 52px; */
    /* width: 107px; */
}

#btn_activity_rule {
    position: absolute;
    top: 30px;
    left: 20px;
    /* height: 52px; */
    /* width: 155px; */
}
#btn_winner_list {
    position: absolute;
    top: 87px;
    left: 20px;
    /* height: 52px; */
    /* width: 155px; */
}

#btn_exchange_prize {
    position: absolute;
    top: 465px;
    left: 443px;
    height: 56px;
    width: 167px;
}

#left_times {
    top: 500px;
    left: 42px;
    text-align: center;
    color: #ffffff;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    /* text-shadow: -2px 0 #735501, 0 2px #735501, 2px 0 #735501, 0 -2px #735501; */
}

#btn_start{
    position: absolute;
    top: 450px;
    left: 230px;
    /* height: 80px; */
    /* width: 95px; */
}

/*活动规则*/
#btn_close_rule {
    top: 133px;
    left: 965px;
}

/*中奖名单*/
#total_list {
    top: 203px;
    left: 63px;
    height: 67px;
    width: 520px;
    font-size: 12px;
    color: #634a01;
}
#btn_list_submit {
    top: 400px;
    left: 195px;
}

#btn_list_cancel {
    top: 400px;
    left: 345px;
}

#all_marquee {
    width: 519px;
    height: 67px;
}

#my_marquee {
    height: 26px;
}

table.marquee_table {
    width: 516px;
}

table#all_table tr {
    height: 20px;
}

table.marquee_table td {
    /* left: 240px; */
    width: 240px;
    margin-right: 40px;
    text-align: center;
    font-size: 12px;
}

#my_list {
    top: 326px;
    left: 63px;
    height: 26px;
    width: 520px;
    font-size: 28px;
    color: #634a01;
    text-align: center;
}

#reset_tel {
    top: 356px;
    left: 218px;
    width: 290px;
    height: 28px;
    font-weight: bold;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #634a01;
}

/*游戏结束*/
#btn_game_over_sure {
    top: 320px;
    left: 282px;
}

/*游戏页*/
#game_container{
    position: absolute;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

#gm_table{
    top: 160px;
    left: 125px;
}

.gm_tr{
    margin: 10px;
    /* padding: 20px; */
}

.gm_td{
    position: relative;
    /* height: 50px; */
    /* margin: -20px; */
}

.btn_pic{
    position: absolute;
    left: -8px;
    top: -10px;
    /* height: 239px; */
    /* width: 238px; */
}

.small_pic{
    position: relative;
}

#btn_close{
    top: 112px;
    left: 566px;
}

#game_countdown {
    top: 130px;
    left: 253px;
    width: 50px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

/*抽奖失败*/
#btn_lottery_fail_1{
    top: 335px;
    left:275px;
}

#btn_lottery_fail{
    top: 323px;
    left:275px;
}

/*抽奖品*/
#lottery_prize{
    top: 200px;
    left:262px;
}

#btn_exchange_back {
    top: 22px;
    left: 1191px;
    height: 54px;
    width: 54px;
}

#btn_lottery_submit {
    top: 381px;
    left: 215px;
}

#btn_exchange_cancel {
    top: 451px;
    left: 663px;
}

#exchange_tel {
    top: 365px;
    left: 611px;
    width: 320px;
    font-size: 28px;
    color: #12206e;
    /* text-align: center; */
}

/*游戏失败*/

#btn_lottery_fail_1 {
    top: 323px;
    left: 275px;
}

/*游戏成功*/

#shot_count {
    top: 340px;
    left: 710px;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
}

#finish_color{
    top:248px;
    left:467px;
}

/*抽奖成功*/
#prize_image {
    top: 230px;
    left: 270px;
}

#lottery_tel {
    top: 360px;
    left: 300px;
    width: 320px;
    font-size: 15px;
    font-weight: bold;
    color: #903421;
}

#btn_lottery_submit_1 {
    position: absolute;
    top: 400px;
    left: 218px;
    /* height: 56px; */
    /* width: 167px; */
}

#btn_lottery_cancel {
    top: 400px;
    left: 337px;
}

#btn_lottery_cancel_1 {
    top: 400px;
    left: 338px;
}

/*订购VIP*/
#btn_order_submit {
    top: 323px;
    left: 275px;
}

#btn_order_cancel {
    top: 474px;
    left: 712px;
}


/*倒计时弹窗*/
#count {
    top: 196px;
    left: 355px;
    color: #c55e63;
    font-size: 45px;
    font-weight: bold;
}