
#home_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 644px;
    height: 530px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
    position: absolute;
    left: 14px;
    top: 35px;
    width: 53px;
    height: 44px;
}
.logo-has-lock {
    position: absolute;
    left: 14px;
    top: 35px;
    width: 53px;
    height: 44px;
}
#lock{
    position: absolute;
    width: 115px;
    height: 20px;
    top: 7px;
    left: 507px;
}

/*首页导航菜单栏*/
.navs {
    position: absolute;
    left: 77px;
    top: 35px;
    width: 540px;
    height: 45px;
}

.navs > div {
    width: 100px;
    height: 45px;
    float: right;
    margin: 0px 2px;
}

.navs > div > img {
    width: 100px;
    height: 45px;
}

/*.left_menu {*/
/*position: absolute;*/
/*left: 20px;*/
/*top: 145px;*/
/*width: 111px;*/
/*height: 465px;*/
/*}*/



#recommends {
    position: absolute;
    left: 70px;
    top: 81px;
    width: 569px;
    height: 405px;
}

.recommends {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 569px;
    height: 405px;
}

/*推荐位1焦点框*/
#recommend_border_1 {
    position: absolute;
    left: 8px;
    top: 31px;
    width: 277px;
    height: 200px;
    z-index: 1;
}

/*推荐位图片放大时的容器*/
.recommend_parent_1 {
    position: absolute;
    left: 18px;
    top: 41px;
    width: 255px;
    height: 178px;
}

.recommend_parent_1 > img {
    width: 255px;
    height: 178px;
}

#recommend_border_2 {
    position: absolute;
    left: 8px;
    top: 218px;
    width: 143px;
    height: 164px;
    z-index: 1;
    /*display: none;*/
}

.recommend_parent_2 {
    position: absolute;
    left: 18px;
    top: 228px;
    width: 121px;
    height: 142px;
}

.recommend_parent_2 > img {
    width: 121px;
    height: 142px;
}

#recommend_border_3 {
    position: absolute;
    left: 138px;
    top: 218px;
    width: 146px;
    height: 164px;
    z-index: 1
    /*display: none;*/
}

.recommend_parent_3 {
    position: absolute;
    left: 148px;
    top: 228px;
    width: 124px;
    height: 142px;
}

.recommend_parent_3 > img{
    width: 124px;
    height: 142px;
}

#recommend_border_4 {
    position: absolute;
    left: 272px;
    top: 31px;
    width: 174px;
    height: 353px;
    /*display: none;*/
    z-index: 1
}

.recommend_parent_4 {
    position: absolute;
    left: 282px;
    top: 41px;
    width: 152px;
    height: 331px;
}

.recommend_parent_4 > img{
    width: 152px;
    height: 331px;
}


#recommend_border_5 {
    position: absolute;
    left: 434px;
    top: 31px;
    width: 133px;
    height: 200px;
    /*display: none;*/
    z-index: 1;
}

.recommend_parent_5 {
    position: absolute;
    left: 444px;
    top: 41px;
    width: 111px;
    height: 178px;
}

.recommend_parent_5 > img {
    width: 111px;
    height: 178px;
}

#recommend_border_6 {
    position: absolute;
    left: 434px;
    top: 218px;
    width: 133px;
    height: 164px;
    /*display: none;*/
    z-index: 1
}

.recommend_parent_6 {
    position: absolute;
    left: 444px;
    top: 228px;
    width: 111px;
    height: 142px;
}

.recommend_parent_6 > img {
    width: 111px;
    height: 142px;
}

/*字幕滚动消息*/
#scroll_message {
    position: absolute;
    left: 26px;
    top: 475px;
    width: 588px;
    height: 30px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    color: black;
}

/* 弹出图片提示框*/
#toast_message_pic{
    background-Repeat: no-repeat;
    width: 644px;
    height: 530px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    top: 0px;
    left: 0px;
}

/* 弹出提示文字内容*/
#toast_message_text{
    background-Repeat: no-repeat;
    width: 644px;
    font-family: 'Source Han Sans CN';
    font-size: 23px;
    color: #2a4e87;
    top:180px;
    left: 190px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
}

/* 确定或取消 按钮文字内容*/
#toast_message_submit{
    background-Repeat: no-repeat;
    width: 644px;
    font-family: 'Source Han Sans CN';
    font-size: 29px;
    color: #ffffff;
    top:315px;
    left: 280px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
}