* {
    font-family: "Source Han Sans CN";
    padding: 0px;
    margin: 0px;
    outline: none !important;
    -webkit-shape-outside: none;
}

body {
    height: 530px;
    width: 644px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
}

#tabConent {
    position: absolute;
    top: 369px;
    left: 47px;
}

#focus-2-1 {
    position: absolute;
    top: 369px;
    left: 47px;
    z-index: 0;
    outline: none !important;
    width: 148px;
    height: 120px;

}
#focus-2-2 {
    position: absolute;
    top: 369px;
    left: 182px;
    z-index: 0;
    outline: none !important;
    width: 148px;
    height: 120px;
}

#focus-2-3 {
    position: absolute;
    top: 369px;
    left: 317px;
    z-index: 0;
    outline: none !important;
    width: 148px;
    height: 120px;
}

#focus-2-4 {
    position: absolute;
    top: 369px;
    left: 452px;
    z-index: 0;
    outline: none !important;
    width: 148px;
    height: 120px;
}


#back {
    position: absolute;
    top: 10px;
    left: 564px;
    z-index: 0;
    outline: none !important;
    width: 67px;
    height: 49px;

}

#page-left{
    position: absolute;
    top: 408px;
    left: 4px;
    z-index: 0;
    outline: none !important;
    width: 40px;
    height: 68px;
}
#page-right{
    position: absolute;
    top: 408px;
    left: 601px;
    z-index: 0;
    outline: none !important;
    width: 40px;
    height: 68px;
}



/*模态*/
#model {
    background-color: #333333;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
}

/*加载中*/
#alert_box2 {
    height: 40px;
    width: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    z-index: 101;
    display: none;
}
.none{ display: none}


