* {
    padding: 0;
    margin: 0;
    font-family: Source Han Sans CN;
    outline: none !important;
}

body {
    background-repeat: no-repeat;
    width: 1280px;
    height: 720px;
    background-image: url("../../../../../Public/img/hd/Family/V220095/background.png");
}

.title {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.title-line {
    position: absolute;
    top: 100px;
    left: 40px;
}

#family-archives-box {
    position: absolute;
    top: 180px;
    left: 100px;
    width: 358px;
    height: 438px;
    padding: 19px;
    background-repeat: no-repeat;
}

#my-collection-box {
    position: absolute;
    top: 180px;
    left: 460px;
    width: 358px;
    height: 438px;
    padding: 19px;
    background-repeat: no-repeat;
}

#expert-appointment-record-box {
    position: absolute;
    top: 181px;
    left: 821px;
    width: 358px;
    padding: 19px;
    height: 218px;
    background-repeat: no-repeat;
}

#about-us-box {
    position: absolute;
    top: 401px;
    left: 821px;
    width: 358px;
    height: 218px;
    padding: 19px;
    background-repeat: no-repeat;
}