<!doctype html>
<html lang="en">
<head>
    <title>活动《社区医院》-主页-V7</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">
    <!-- 默认标签 -->
    <a id="default_link" href="#"><img class="grubFocusImg" src="__ROOT__/Public/img/Common/spacer.gif"/></a>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Activity/ActivityCommunityHospital/V7/guide.css?t={$time}">
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <eq name="isRunOnAndroid" value="1">
        <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
    </eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--本地库-->
    <script type="text/javascript" src="__ROOT__/Public/js/Activity/ActivityCommunityHospital/V7/guide.js?t={$time}"></script>
    <!--全局变量-->
    <script type="text/javascript">
        var RenderParam = {
            userId: "{$userId}",
            userAccount: "{$userAccount}",
            hospitalId: "MJX55124X",
            currentPage: 1,
            currentDeptId: "{$deptId}", //全部科室
            MAX_PAGE_STEP: 1,      //每页获取1个医生;
            buttons: [{
                id: 'btn-back',
                name: '返回按钮',
                type: 'img',
                nextFocusRight: '',
                nextFocusUp: '',
                nextFocusDown: 'piece-1-btn',
                click: 'onBack()',
                focusChange: '',
                backgroundImage: g_appRootPath + '/Public/img/hd/Activity/ActivityCommunityHospital/V1/btn_back.png',
                focusImage: g_appRootPath + '/Public/img/hd/Activity/ActivityCommunityHospital/V1/btn_back_f.png'
            }, {
                id: 'piece-1-btn',
                name: '健康咨询',
                type: 'img',
                nextFocusRight: '',
                nextFocusUp: 'btn-back',
                nextFocusDown: 'piece-2-btn',
                click: 'goInquiry()',
                focusChange: '',
                backgroundImage: g_appRootPath + '/Public/img/hd/Activity/ActivityCommunityHospital/V4/btn_ask.png',
                focusImage: g_appRootPath + '/Public/img/hd/Activity/ActivityCommunityHospital/V4/btn_ask_f.png'
            }, {
                id: 'piece-2-btn',
                name: '上门预约',
                type: 'img',
                nextFocusRight: '',
                nextFocusUp: 'piece-1-btn',
                nextFocusDown: '',
                click: onOrder,
                focusChange: '',
                backgroundImage: g_appRootPath + '/Public/img/hd/Activity/ActivityCommunityHospital/V1/btn_order.png',
                focusImage: g_appRootPath + '/Public/img/hd/Activity/ActivityCommunityHospital/V1/btn_order_f.png'
            }, {
                id: 'dialog-confirm',
                name: '确定',
                type: 'img',
                nextFocusRight: '',
                nextFocusUp: '',
                nextFocusDown: '',
                click: onBack,
                focusChange: '',
                backgroundImage: g_appRootPath + '/Public/img/hd/Activity/ActivityCommunityHospital/V4/confirm.png',
                focusImage: g_appRootPath + '/Public/img/hd/Activity/ActivityCommunityHospital/V4/confirm_f.png'
            }]
        }
    </script>

</head>
<body>
<p id="title" class="txt">巴州库尔勒市团结街道永安社区卫生服务站</p>
<img id="btn-back" src="__ROOT__/Public/img/hd/Activity/ActivityCommunityHospital/V1/btn_back.png" alt="">
<div id="piece-0">
    <p class="txt piece-0-txt">巴州库尔勒市团结街道永安社区卫生服务站</p>
    <img id="piece-0-pic" src="__ROOT__/Public/img/hd/Activity/ActivityCommunityHospital/V1/hosp_pic7.png" alt="">
    <div id="doctor-intro">
        <marquee behavior="" scrollamount="3" direction="up" height="200px">
            <span id="goods-call">医院简介：</span>"永安社区卫生服务站成立于2015年，面面积约200平方。有一名全科医师，两名护士，三名清洁工。社区卫生服务站承担着本辖区医疗预防保健，还有健康教育等公共卫生服务。"
        </marquee>
    </div>
</div>
<div id="piece-1">
    <img id="piece-1-btn" src="__ROOT__/Public/img/hd/Activity/ActivityCommunityHospital/V1/btn_ask.png" alt="">
<!--    <img id="piece-2-btn" src="__ROOT__/Public/img/hd/Activity/ActivityCommunityHospital/V4/btn_order.png" alt="">-->
</div>
<!--<div id="dialog">-->
<!--    <p>预约电话：0991-2575371</p>-->
<!--    <img id="dialog-confirm" src="__ROOT__/Public/img/hd/Activity/ActivityCommunityHospital/V4/confirm.png" alt="">-->
<!--</div>-->
</body>


<script type="text/javascript">
	LMEPG.BM.init('piece-1-btn', RenderParam.buttons, '', true);
    window.onload = function () {
        // 通过医院ID来获取医生信息
        loadDoctorList(RenderParam.hospitalId, RenderParam.currentDeptId, RenderParam.currentPage, RenderParam.MAX_PAGE_STEP);
        //lmInitGo();
    };
</script>
</html>
