body {
    width: 1280px;
    height: 720px;
}
/*body > *,*/
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}
#bg_1{
    display: block;
}
#bg_2{
    display: none;
}


/*活动首页*/
.btn-list{
    position: absolute;
    top: 30px;
    left: 30px;
}

#btn_back{
    position: absolute;
    left: 1021px;
    top: 22px;
    margin-left: 0px;
}
#btn_activity_rule{
    position: absolute;
    left: 1021px;
    top: 98px;
}
#btn_winner_list{
    position: absolute;
    left: 1021px;
    top: 174px;
}
.lipstick{
    position: absolute;

}
#lipstick1{
  position: absolute;
  left: 314px;
  top: 544px;
}
#lipstick2{
    position: absolute;
    left: 675px;
    top: 544px;
}

#btn_lottery_cancel_1 {
    position: absolute;
    top: 465px;
    left: 693px;
    height: 56px;
    width: 167px;
}

#left_times {
    position: absolute;
    left: 137px;
    top: 673px;
    color: #250a0f;
    font-size: 24px;
    font-weight: bold;
}
#score{
    position: absolute;
    top: 267px;
    left: 637px;
    text-align: center;
    color: #3f2b10;
    width: 80px;
    height: 36px;
    font-size: 36px;
}

#btn_start{
    position: absolute;
    top: 583px;
    left: 943px;
}



/*活动规则*/
#btn_close_rule {
    position: absolute;
    top: 70px;
    left: 1055px;
    display: block;
}

/*中奖名单*/
#total_list {
    top: 225px;
    left: 261px;
    height: 173px;
    width: 866px;
    font-size: 26px;
    /*border: 1px red solid;*/
}
#btn_list_submit, #btn_lottery_submit {
    top: 542px;
    left: 680px;
}

#btn_list_cancel, #btn_lottery_cancel {
    top: 542px;
    left: 860px;
}

#all_marquee {
    width: 780px;
    height: 130px;
}

#my_marquee {
    height: 40px;
    width: 866px;
}

table.marquee_table {
    width: 866px;
}

table#all_table tr {
    height: 40px;
}

table#my_table tr {
    height: 30px;
}

.winner_account{
    width: 300px;
}
.winner_time{
    width: 270px;
}
.winner_prize{
    width: 278px;
}

table.marquee_table td {
    /* left: 240px; */
    margin-right: 40px;
    text-align: left;
    font-size: 26px;
    color: #fff;
    font-weight: normal;
    /*border: 1px red solid;*/
}

#my_list {
    top: 467px;
    left: 261px;
    height: 30px;
    width: 866px;
    font-size: 23px;
    text-align: center;
}

#reset_tel, #lottery_tel {
    top: 552px;
    left: 280px;
    width: 500px;
    font-size: 34px;
    color: #ffe9af;
    text-align: left;
    font-weight: bold;
    /*font-style: SourceHanSansCN-Medium;*/
}

#btn_order_submit {
    top: 472px;
    left: 460px;
}

#btn_order_cancel {
    top: 472px;
    left: 670px;
}


#btn_close_rule{
    top: 32px;
    left: 1101px;
}


/*抽奖失败*/
#btn_lottery_fail, #btn_tomorrow_fail{
    top: 472px;
    left: 565px;
}

/*抽奖品*/
#lottery_prize{
    top: 280px;
    left: 475px;
    width: 271px;
    height: 340px;
}


#prize_count{
    top: 280px;
    left: 980px;
    font-size: 55px;
    line-height: 55px;
    width: 80px;
    height: 55px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}


/*抽奖成功*/
#prize_image {
    top: 328px;
    left: 565px;
}

#context_disease {
    margin-top: 25px;
}

#btn_game_confirm{
    top: 528px;
    left: 713px;
}
#btn_game_cancel{
    top: 528px;
    left: 984px;
}
/*游戏结束*/
#btn_no_score {
    top: 528px;
    left: 713px;
}
#cutDown{
    position: absolute;
    top: 625px;
    left: 125px;
    text-align: center;
    color: #fff;
    width: 80px;
    height: 30px;
    font-size: 30px;
    /*border: 1px red solid;*/
}
#skin-list{
    position: absolute;
    top: 343px;
    left: 738px;
    width: 450px;
    overflow: hidden;
}
#skin-list>img{
    margin-left: -10px;
}
#play{
    position: absolute;
    top: 583px;
    left: 933px;
}


/*倒计时弹窗*/
#count {
    top: 300px;
    left: 670px;
    color: #ffffff;
    font-size: 50px;
}

#game_over_sure{
    position: absolute;
    top: 440px;
    left: 565px;
}

#do-lottery{
    position: absolute;
    top: 440px;
    left: 480px;
}

#do-cancel{
    position: absolute;
    top: 440px;
    left: 650px;
}
