#home_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 644px;
    height: 530px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*应用logo*/
.logo {
    position: absolute;
    left: 19px;
    top: 16px;
    width: 32px;
    height: 28px;
}

/*公司名称*/
#company-name {
    position: absolute;
    left: 9px;
    top: 45px;
    font-size: 12px;
    color: #FFFFFF;
}
#classify-name{
    position: absolute;
    left: 10px;
    top: 12px;
    width: 100px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
    color:#ffffff;
}
.menu_position_1 {
    position: absolute;
    left: 520px;
    top: 8px;
    width: 101px;
    height: 33px;
}

.menu_position_2 {
    position: absolute;
    left: 410px;
    top: 5px;
    width: 106px;
    height: 38px;
}

#vip_btn {
    position: absolute;
    top: 12px;
    left: 343px;
    width: 49px;
    height: 49px;
    visibility: hidden;
}

/*首页导航菜单栏*/
.navs {
    position: absolute;
    left: 25px;
    top: 55px;
    width: 620px;
    height: 45px;
}

.navs > div {
    width: 120px;
    height: 45px;
    float: left;
    font-family: "Source Han Sans CN";
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    margin: 0 10px;
}

.navs > div > img {
    width: 120px;
    height: 45px;
}
#nav_right{
    position: absolute;
    width: 23px;
    height: 19px;
    left: 600px;
    top: 68px;
}
#nav_left{
    position: absolute;
    width: 23px;
    height: 19px;
    left: 5px;
    top: 68px;
}
.recommend_zoom_out {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 108%;
    height: 108%;
}

.recommend_zoom_in {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#recommends {
    position: absolute;
    left: 0px;
    top: 104px;
    width: 644px;
    height: 355px;
}

.recommends {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 644px;
    height: 355px;
}

/*推荐位1焦点框*/
#recommend_border_1 {
    position: absolute;
    left: 18px;
    top: 10px;
    width: 164px;
    height: 333px;
    z-index: 1;
}

/*推荐位图片放大时的容器*/
#recommend_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 146px;
    height: 315px;
}
#recommend_parent_1 {
    position: absolute;
    left: 27px;
    top: 19px;
    width: 146px;
    height: 315px;
}

#recommend_border_2 {
    position: absolute;
    left: 171px;
    top: 10px;
    width: 288px;
    height: 169px;
    z-index: 1;
}
#recommend_2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 270px;
    height: 151px;
}
#recommend_parent_2 {
    position: absolute;
    left: 180px;
    top: 19px;
    width: 270px;
    height: 151px;
}

#recommend_border_3 {
    position: absolute;
    left: 448px;
    top: 10px;
    width: 178px;
    height: 169px;
    z-index: 1;
}
#recommend_3 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 160px;
    height: 151px;
}
#recommend_parent_3 {
    position: absolute;
    left: 457px;
    top: 19px;
    width: 160px;
    height: 151px;
}

#recommend_border_4 {
    position: absolute;
    left: 170px;
    top: 168px;
    width: 126px;
    height: 175px;
    z-index: 1;
}
#recommend_4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 106px;
    height: 157px;
}
#recommend_parent_4 {
    position: absolute;
    left: 180px;
    top: 177px;
    width: 106px;
    height: 157px;
}

#recommend_border_5 {
    position: absolute;
    left: 284px;
    top: 168px;
    width: 124px;
    height: 175px;
    z-index: 1;
}

#recommend_5 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 106px;
    height: 157px;
}
#recommend_parent_5 {
    position: absolute;
    left: 293px;
    top: 177px;
    width: 106px;
    height: 157px;
}

#recommend_border_6 {
    position: absolute;
    left: 397px;
    top: 168px;
    width: 124px;
    height: 175px;
    z-index: 1;
}
#recommend_6 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 106px;
    height: 157px;
}

#recommend_parent_6 {
    position: absolute;
    left: 406px;
    top: 177px;
    width: 106px;
    height: 157px;
}

#recommend_border_7 {
    position: absolute;
    left: 511px;
    top: 168px;
    width: 114px;
    height: 175px;
    z-index: 1;
}
#recommend_7 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    height: 157px;
}
#recommend_parent_7 {
    position: absolute;
    left: 519px;
    top: 177px;
    width: 98px;
    height: 157px;
}

/*字幕滚动消息*/
#scroll_message {
    position: absolute;
    left: 26px;
    top: 465px;
    width: 588px;
    height: 30px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    font-size: 22px;
    line-height: 30px;
    color: black;
}

#home_btn{
    width: 100px;
    height: 43px;
    position: absolute;
    top: 462px;
    left: 27px;
}

#main_btn{
    width: 100px;
    height: 43px;
    position: absolute;
    top: 462px;
    left: 128px;
}

#back_btn{
    width: 100px;
    height: 43px;
    position: absolute;
    top: 462px;
    left: 228px;
}