<!DOCTYPE html>
<html>
<head>
    <title>39互联网医院-V1</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/hd/New39hospital/index.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript" >
        var RenderParam = {
            //公共渲染
            accountId: "{$accountId}",          // 账号
            carrierId: "{$carrierId}",          // 地区id
            areaCode: "{$areaCode}",            // 省份地区码
            platformType: "{$platformType}",    // 平台类型
            debug: "{$debug}",                  // 调试模式
            pageSize: "{$size}",                // 页面尺寸
            stbModel: "{$stbModel}",            // 盒子的型号
            fsUrl: "{$resourcesUrl}",           // fs 地址
            time: "{$time}",                    // 开始渲染时间
            isVip: "{$isVip}",                  // 用户是否是vip
            userId: "{$userId}",                // 用户Id

        };
        if (RenderParam.carrierId == "440094") {
            RenderParam.portalURL = "{$portalURL}";              //广东广电http请求url
            RenderParam.cardId = "{$cardId}";                    //广东广电智能卡号
            document.write("<script type='text/javascript' src='http://" + RenderParam.portalURL + "/NewFrameWork/web/js/config.js'><\/script>");
        }
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <if condition="$carrierId eq '520094' ">
        <!--贵州广电js文件-->
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/gzgd.config.js?t={$time}"></script>
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/starcorCom.js?t={$time}"></script>
    </if>
    <if condition="$carrierId eq '440094' ">
        <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/440094/gdgd.utils.js?t={$time}"></script>

    </if>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/New39hospital/V1/data.js?t={$time}"></script>
</head>

<body>
<img id="bodyImg" src="__ROOT__/Public/img/hd/New39hospital/bg-002.png"/>
<img id="bodyDefaultImg" src="__ROOT__/Public/img/hd/New39hospital/bg.png"/>

<div id="container-left">
    <div id="logo"></div>
    <ul id="nav">
        <li id="tab-home">首页</li>
        <li id="tab-experts">顶级专家</li>
        <li id="tab-guide">就诊指南</li>
        <li id="tab-case">患者案例</li>
        <!--<li id="tab-order">立即咨询</li>-->
    </ul>
    <div id="qr-code">
        <img align="bottom" src="__ROOT__/Public/img/hd/New39hospital/qr_code.png" alt="">
        <p id="qr-code-desc">扫描下载39互联网医院手机应用</p>
    </div>
</div>
<img src="__ROOT__/Public/img/hd/New39hospital/up.png" id="pre-arrow" alt="">
<div id="debug" style="position: absolute;z-index: 100; top: 0px"></div>

<div id="container-right">

    <!--首页-->
    <div id="content-home">
        <div>looks----</div>
    </div>
    <!--顶级专家-->
    <div id="content-experts"></div>
    <!--就诊指南-->
    <div id="content-guide">
        <div id="content-guide-video"></div>
    </div>
    <!--患者案例-->
    <div id="content-case">
        <div id="content-case-video"></div>
    </div>
    <!--立即咨询-->
    <div id="content-order">
        <div id="content-order-img"></div>
    </div>
</div>
<img src="__ROOT__/Public/img/hd/New39hospital/down.png" id="next-arrow" alt="">
<p id="service-tel">全国免费客服热线：400-061-3939</p>

</body>
<script type="text/javascript" src="__ROOT__/Public/js/New39hospital/V1/index.js?t={$time}"></script>
<script type="text/javascript">
    //页面加载时获取第一个块的焦点
    window.onload = function () {
        initStyle();
        homeView();
        Play.startPollPlay();
    };
</script>
</html>
