* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    background-image: url(../../../../img/hd/Home/V16/Home/bg.png);
    background-position: left;
    color: #000;
    overflow: hidden;
}
p#title {
    top: 20px;
    left: 38px;
    font-size: 22px;
    color: #000;
    font-weight: bold;
}
.arrow {
    position: absolute;
    top: 325px;
}

#prev-arrow {
    left: 50px;
}

#next-arrow {
    left: 1160px;
}

#header-container {
}

#top-action-content-icons {
    position: absolute;
    top: 10px;
    right: 30px;
    line-height: 78px;
}

#top-action-content-icons img {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

#top-action-content-icons img.focus {
    width: 92px;
    height: 52px;
    margin-bottom: -15px;
}

#nav-container {
    position: absolute;
    top: 88px;
    left: 172px;
    height: 50px;
    width: 930px;
}
.nav-arrow{
    position: absolute;
    top: 100px;
}
#nav-prev-arrow{
    left: 180px;
}

#nav-next-arrow{
    left: 1080px;
}

#nav-container p {
    height: 50px;
    line-height: 40px;
    width: 160px;
    text-align: center;
    color: #000;
    font-size: 24px;
    display: inline-block;
    background-position: 0 -1px;
    /* background-image: url(../../../../img/hd/Channel/V13/btn_nav_bg.png); */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}

#nav-container p.focus {
    background-image: url(../../../../img/hd/Channel/V16/btn_nav_f.png);
}

#nav-container p#nav-0 {
    margin-left: 36px;
}

#list-container {
    position: absolute;
    top: 160px;
    width: 1280px;
}

#list-container .arrow {
    position: absolute;
    top: 180px;
}

#list-container #prev-arrow {
    left: 50px;
}

#list-container #next-arrow {
    right: 50px;
}

ul#list-wrapper {
    position: absolute;
    top: 0;
    left: 165px;
    list-style: none;
}

ul#list-wrapper li {
    position: relative;
    float: left;
    width: 316px;
    height: 211px;
    line-height: 211px;
    text-align: center;
}
ul#list-wrapper li.focus{
    background-image: url(../../../../img/hd/Channel/V16/video_f.png);
}
ul#list-wrapper li img {
    width: 294px;
    height: 192px;
    border-radius: 10px;
    vertical-align: middle;
}

ul#list-wrapper li p {
    position: absolute;
    top: 150px;
    left: 11px;
    font-size: 24px;
    color: #fff;
    width: 104px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-image: url(../../../../img/hd/Channel/V16/number_bg.png);
}

#page-wrapper {
    position: absolute;
    top: 602px;
    left: 329px;
    height: 62px;
}

#page-wrapper img {
    vertical-align: middle;
}

#page-wrapper p {
    width: 81px;
    height: 62px;
    line-height: 62px;
    color: #b2deff;
    text-align: center;
    display: inline-block;
}
#page-wrapper p#page-index{
    font-size: 24px;
    color: #000;
}
.null-data {
    font-size: 20px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

#title {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}