<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>我的收藏V1</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}"/>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Collect/V1/collect.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var RenderParam = {
            //公共渲染
            carrierId: "{$carrierId}",                      // 地区id
            areaCode: "{$areaCode}",                        // 省份地区码
            subAreaCode: "{$subAreaCode}",                  // 省份下的子区域
            platformType: "{$platformType}",                // 平台类型（hd--高清 sd--标清）
            time: "{$time}",                                // 开始渲染时间
            fsUrl: "{$resourcesUrl}",                       // fs 地址
            debug: "{$debug}",                              // 调试模式
            stbModel: "{$stbModel}",                        // 盒子的型号
            accountId: "{$accountId}",                      // 业务账号ID
            userId: "{$userId}",                            // 用户ID
            isVip: "{$isVip}",                              // 用户是不是vip，1-vip 0-非vip
            focusIndex: "{$focusIndex}",                    // 页面焦点保持按钮ID

            //当前页渲染
            skin: {$skin},      // 用户自定义背景
            fromId: {$fromId},
            showCornerFree: '{$showCornerFree}',
            focusIndex: "{$focusId}",
            page: "{$page}",
            pageCurrent: "{$pageCurrent}",                   // 当前第几页[number]
            isShowVipCorner: false,                           //vip角标显示开关
        };

//        console.log("{$page}");
//        console.log("{$pageCurrent}")
    </script>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Collect/V1/Collect2.0.js?t={$time}"></script>
    <!--<script type="text/javascript" src="__ROOT__/Public/js/Collect/V1/collect.js?t={$time}"></script>-->
</head>
<body style="background-image: url('__ROOT__/Public/img/{$platformType}/Common/{$commonImgsView}/bg_home.png');">
<div id="focus-3-1">清&nbsp;空
</div>
<div class="title" id="title">我的收藏</div>
<img class="line" src="__ROOT__/Public/img/{$platformType}/Collect/V1/line.png" alt="标题栏分隔线">
<div class="content" id="content">
</div>
<img id="arrow-left" class="leftArrow arrow" src="__ROOT__/Public/img/{$platformType}/Collect/V1/leftpage.png" alt=""/>
<img id="arrow-right" class="rightArrow arrow" src="__ROOT__/Public/img/{$platformType}/Collect/V1/rightpage.png" alt=""/>
<div id="page-num"></div>
<div id="empty-data" class="empty-data">暂无收藏视频</div>

<img id="vip_corner_1" class="vip_corner_up" src="__ROOT__/Public/img/Common/corner_hainan.png"/>
<img id="vip_corner_2" class="vip_corner_up" src="__ROOT__/Public/img/Common/corner_hainan.png"/>
<img id="vip_corner_3" class="vip_corner_up" src="__ROOT__/Public/img/Common/corner_hainan.png"/>
<img id="vip_corner_4" class="vip_corner_up" src="__ROOT__/Public/img/Common/corner_hainan.png"/>

<!--字幕层-->
<div id="scroll_div" class="scroll_div">
    <if condition="$platformType eq 'sd' ">
        <marquee direction="left" behavior="scroll" scrollamount="2" scrolldelay="0" loop="-1" width="588">
            <else/>
            <marquee direction="left" behavior="scroll" scrollamount="2" scrolldelay="0" loop="-1" width="1130">
    </if>
    <span id="hljltMarquee"><?php echo $marqueeText ?></span>
    </marquee>
</div>
<script>
    window.onload = function () {
        LMEPG.UI.setBackGround();
        H('vip_corner_1');
        H('vip_corner_2');
        H('vip_corner_3');
        H('vip_corner_4');
        getCollectData(0);
    };
</script>
</body>
</html>