<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小窗口轮询播放视频</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>

    <script type="text/javascript" >
        var RenderParam = {
            videoUrl: "{$videoUrl}",                    // 视频url
            videoTitle: "{$title}",                     // 视频标题
            returnIP: "{$ENTER_IP}",                    //视频播放完后的返回地址
            isVip: {$isVip},                            // 用户是不是vip，1 -- 是vip
            isBack: "{isBack}",
            recommendVideoUrl: '',                           // 推荐视频播放地址
            isForbidOrder: "{$Think.cookie.c_is_forbided_order}", // 是否禁止订购
            areaCode: "{$areaCode}",                        // 省份地区码
            platformType: "{$platformType}",                // 平台类型（hd--高清 sd--标清）
            debug: "{$debug}",                              // 调试模式
            pageSize: "{$pageSize}",                        // 页面尺寸
            collectStatus: "{$collectStatus}",              // 判断是否收藏 0表示收藏 1表示未收藏
            sourceId: "{$sourceId}",                        // 视频ID
            returnUrl: "{$returnUrl}",                      // 返回地址
            userId: "{$userId}",                            // 用户ID
            imgHost: "{$resourcesUrl}",                     // 图片host
            currentPlayTimes: 0,                            // 记录当前播放的时间进度
            domainUrl: "{$domainUrl}",                      // 江苏电信需要使用的第三方播放器前缀地址
            videoInfo: {$videoInfo},                        // 视频信息
            allVideoInfo: {$allVideoInfo},
            position: {$position},
        };
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--<script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/gzgd.config.js?t={$time}"></script>-->
    <!--<script type="text/javascript" src="http://epg.interface.gzgd/nn_cms/data/webapp/common/starcorCom.js?t={$time}"></script>-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/gzgd.config.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/520094/starcorCom.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmplayer_gzgd.js?t={$time}"></script>

</head>
<body>
<script type="text/javascript" src="__ROOT__/Public/js/Player/V4/small.js?t={$time}"></script>
<script type="text/javascript">
    window.onload = function () {

        LMEPG.mp.registerCallback(function () {

        }, function () {
            jumpNextSmallPlayer();
        });
        LMEPG.mp.getUrl(RenderParam.videoInfo.videoUrl, function (url) {
            LMEPG.mp.initPlayer(url, RenderParam.position.left, RenderParam.position.top, RenderParam.position.width, RenderParam.position.height);
        });

    };
</script>
</body>
</html>