body{
    color: white;
}
.title {
    position: absolute;
    left: 80px;
    top: 38px;
    line-height: 37px;
    font-size: 37px;
    color: #FFFFFF;
    font-weight: bold;
}

.title-line {
    position: absolute;
    left: 80px;
    top: 87px;
    width: 225px;
    height: 2px;
}

.show_box {
    position: absolute;
    left: 50px;
    top: 153px;
    width: 1120px;
    height: 480px;
    /*padding: 30px;*/
    /*background: rgba(255, 255, 255, 0.2);*/
    /*border-radius: 20px;*/
}

.border {
    position: absolute;
    top: 160px;
    left: 53px;
    width: 1120px;
    height: 380px;
    /*background:url("../../../../../Public/img/hd/Family/V10/box_record_2.png");*/
}

.parameter {
    width: 173px;
    height: 80px;
    margin-left: 32px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    line-height: 80px;
    /*border: 1px red solid;*/
}

.parameter2 {
    position: relative;
    width: 173px;
    height: 80px;
    margin-left: 32px;
    display: inline-block;
    text-align: center;
    font-size: 33px;
    line-height: 80px;
    border-bottom: 1px transparent solid;
    border-top: 1px transparent solid;
    /*border: 1px red solid;*/
}
.parameter3 {
    position: relative;
    width: 173px;
    height: 80px;
    margin-left: 35px;
    display: inline-block;
    text-align: center;
    font-size: 33px;
    line-height: 80px;
}

.parameter_focus {
    border-bottom: 1px #f68397 solid;
    border-top: 1px #f68397 solid;
    color: #f68397;
    /*margin-left:20px ;*/
}

/*.btn_bg {*/
    /*position: absolute;*/
    /*left: 0px;*/
    /*top: 6px;*/
    /*width: 179px;*/
    /*height: 66px;*/
/*}*/

.btn_title {
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 149px;*/
    /*height: 46px;*/
    /*color: #FFFFFF;*/
    /*line-height: 46px;*/
    /*font-size: 28px;*/
}
.blue{
    color:#fff !important;
}

.produce {
    position: absolute;
    text-align: center;
    top: 653px;
    left: 60px;
    width: 1170px;
    height: 66px;
    font-size: 21px;
}

.yellow {
    color: yellow;
}

.photo {
    position: absolute;
    top: 0px;
    left: 88px;
    width: 152px;
    height: 152px;
    border-radius: 50%;
}
.icon-title{
    position: absolute;
    left: 25px;
    top: 205px;
}
.btn-hover{
    font-weight: bold;
}
.bg-box{
    position: absolute;
    top: 133px;
    left: 66px;
    /*width: 152px;*/
    /*height: 152px;*/
}
.box_left{
    position: absolute;
    top: 365px;
    left: 946px;
}
.box_right{
    position: absolute;
    top: 365px;
    left: 1156px;
}