/*背景图*/
.splash_background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
}

.btn_position_1 {
    position: absolute;
    left: 341px;
    top: 605px;
    width: 226px;
    height: 69px;
}

.btn_position_2 {
    position: absolute;
    left: 725px;
    top: 605px;
    width: 226px;
    height: 69px;
}

#recommend_container {
    position: absolute;
    width: 1280px;
    height: 540px;
    text-align: center;
}

.center {
    margin: 130px auto;
    padding-left: 15px;
}

.recommend_img {
    width: 277px;
    height: 388px;
    border: 10px solid transparent;
    margin: 0px 0px 0px -5px;
}

.recommend_img_border {
    border: 10px #ffffff solid !important;
    border-radius: 10px
}