* {
    margin: 0;
    padding: 0;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Source Han Sans CN';
    background-size: 100% 100%;
}


body {
    width: 644px;
    height: 530px;
    position: relative;
    background-position: left;
    background-image: url(../../../../img/sd/Home/V13/Home/bg.png);
    background-size: 644px 530px;
    font-size: 22px;
    color: #fff;
}

body > * {
    position: absolute;
}

p.title {
    top: 20px;
    left: 38px;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}

#data-archiving {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 144px;
    height: 44px;
}

#member-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

#member-wrapper img {
    position: absolute;
    border-radius: 50%;
}
#member-wrapper img.focus{
    background-image: url('../../../../img/sd/Unclassified/V13/btn_member_f.png');
}
#focus-0 {
    top: 188px;
    left: 13px;
    width: 161px;
    height: 161px;
}

#focus-1 {
    top: 145px;
    left: 201px;
    width: 242px;
    height: 242px;
    border-radius: 50%;
    padding: 6px;
    background-size: 100% 100%;
}

#focus-2 {
    top: 188px;
    left: 471px;
    width: 161px;
    height: 161px;
}

#member-call {
    position: absolute;
    top: 50px;
    left: 211px;
    width: 242px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

#btn-jump-action{
    visibility: hidden;
    position: absolute;
    top: 410px;
    left: 208px;
    width: 242px;
    text-align: center;
}
#btn-jump-action img{
    margin-bottom: 10px;
    width: 144px;
    height: 44px;
}
