* {
    margin: 0;
    padding: 0;
    outline: none;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    background-image: url(../../../../img/hd/Home/V16/Home/bg.png);
}

body > * {
    position: absolute;
}
p.title {
    top: 24px;
    left: 58px;
    font-size: 35px;
    color: #000;
}
div.container {
}

div.container img.arrow {
    position: absolute;
    top: 338px;
}

img#left-arrow {
    left: 50px;
}

img#right-arrow {
    left: 1160px;
}
#list-wrapper{
    position: absolute;
    top: 221px;
    width: 1280px;
    text-align: center;
}
#list-wrapper img{
    padding: 30px;
    background-position: center;
}
.text-sure{
    position: absolute;
    top: 615px;
    width: 1280px;
    text-align: center;
    color: #000;
    font-size: 30px;
}
.text-sure span{
    color: #F95F53;
}
