* {
    font-family: "Source Han Sans CN";
    padding: 0px;
    margin: 0px;
    outline: none !important;
    -webkit-shape-outside: none;
}

body {
    height: 720px;
    width: 1280px;
    /*margin: 0 auto;*/
    overflow: hidden;
    background-repeat: no-repeat;
}

#focus-1-1 {
    position: absolute;
    top: 125px;
    left: 336px;
    z-index: 0;
    outline: none !important;
    width: 600px;
    height: 45px;
    background: url("../../../../img/hd/Album/FreeAbum/tab_out.png") no-repeat;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 45px;

}

#focus-2-1 {
    position: absolute;
    top: 188px;
    left: 336px;
    z-index: 0;
    outline: none !important;
    width: 600px;
    height: 45px;
    background: url("../../../../img/hd/Album/FreeAbum/tab_out.png") no-repeat;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 45px;

}

#focus-3-1 {
    position: absolute;
    top: 251px;
    left: 336px;
    z-index: 0;
    outline: none !important;
    width: 600px;
    height: 45px;
    background: url("../../../../img/hd/Album/FreeAbum/tab_out.png") no-repeat;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 45px;

}

#focus-4-1 {
    position: absolute;
    top: 314px;
    left: 336px;
    z-index: 0;
    outline: none !important;
    width: 600px;
    height: 45px;
    background: url("../../../../img/hd/Album/FreeAbum/tab_out.png") no-repeat;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 45px;
}

#focus-5-1 {
    position: absolute;
    top: 377px;
    left: 336px;
    z-index: 0;
    outline: none !important;
    width: 600px;
    height: 45px;
    background: url("../../../../img/hd/Album/FreeAbum/tab_out.png") no-repeat;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 45px;

}
#focus-6-1 {
    position: absolute;
    top: 440px;
    left: 336px;
    z-index: 0;
    outline: none !important;
    width: 600px;
    height: 45px;
    background: url("../../../../img/hd/Album/FreeAbum/tab_out.png") no-repeat;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 45px;

}
#focus-7-1 {
    position: absolute;
    top: 503px;
    left: 336px;
    z-index: 0;
    outline: none !important;
    width: 600px;
    height: 45px;
    background: url("../../../../img/hd/Album/FreeAbum/tab_out.png") no-repeat;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 45px;
}
#focus-8-1 {
    position: absolute;
    top: 566px;
    left: 336px;
    z-index: 0;
    outline: none !important;
    width: 600px;
    height: 45px;
    background: url("../../../../img/hd/Album/FreeAbum/tab_out.png") no-repeat;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 45px;
}

.focus_name{  width: 360px;font-size: 29px; overflow: hidden; height: 45px; position: absolute; left:32px }


/*模态*/
#model {
    background-color: #333333;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
}

/*加载中*/
#alert_box2 {
    height: 40px;
    width: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    z-index: 101;
    display: none;
}
.none{ display: none}
.title{position: absolute;top: 34px; left: 37px; font-size: 41px; color: #FFFFFF}
#page{position: absolute;top: 652px; left: 868px; font-size: 22px; color: #FFFFFF}


