body {
    width: 640px;
    height: 530px;
    overflow: hidden;
}

body > *,
.modal > * {
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 530px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

#score {
    top: 214px;
    left: 310px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 22px;
    color: #3a3030;
    /*border: 1px red solid;*/
}

#btn-start {
    position: absolute;
    top: 311px;
    left: 220px;
}

#left_times {
    top: 460px;
    left: 565px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #d3160a;
    font-size: 20px;
    /*border: 1px red solid;*/
}

#btn_container {
    top: 26px;
    left: 469px;
}

#btn_container > img {
    margin-top: -21px;
}

#btn_container > * {
    display: block;
}

#btn_knowledge {
    top: 3px;
    left: 3px;
}

/*====中奖名单====*/
#total_list {
    top: 170px;
    left: 70px;
    /*border: 1px red solid;*/
}

#all_marquee {
    height: 106px;
}

#my_marquee {
    height: 38px;
}

table.marquee_table {
    width: 510px;
}

table#all_table tr {
    height: 20px;
}

table.marquee_table td {
    width: 170px;
    margin-right: 10px;
    text-align: center;
    color: #64350f;
    font-size: 20px;
}

#my_list {
    top: 355px;
    left: 70px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    /*border: 1px red solid;*/
}

#reset_tel {
    color: #999;
    top: 398px;
    left: 280px;
    width: 150px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    /*border: 1px red solid;*/
}

#btn_list_submit {
    top: 436px;
    left: 120px;
}

#btn_list_cancel {
    top: 436px;
    left: 345px;
}

/*====兑换奖品====*/
#game_score {
    top: 28px;
    left: 130px;
    font-size: 36px;
    color:#ea5138;
}


#exchange_prize_1 {
    top: 376px;
    left: 26px;
}

#exchange_prize_2 {
    top: 376px;
    left: 233px;
}

#exchange_prize_3 {
    top: 376px;
    left: 440px;
}

#exchange_point_1 {
    top: 315px;
    left: 130px;
    color: #d86f43;
    font-size: 26px;
    font-weight: bold;
    /*border: 1px red solid;*/
}

#exchange_point_2 {
    top: 315px;
    left: 330px;
    color: #d86f43;
    font-size: 26px;
    font-weight: bold;
    /*border: 1px red solid;*/
}

#exchange_point_3 {
    top: 315px;
    left: 540px;
    color: #d86f43;
    font-size: 26px;
    font-weight: bold;
    /*border: 1px red solid;*/
}

/*====游戏成功====*/

#btn_game_success {
    top: 336px;
    left: 240px;
}
#btn_fail{
    top: 336px;
    left: 240px;
}

#add_score{
    position: absolute;
    top: 248px;
    left: 400px;
    font-size: 36px;
    color:#ea5138;
    /*border: 1px red solid;*/
}

/*====订购VIP====*/
#btn_order_submit {
    top: 336px;
    left: 115px;
}

#btn_order_cancel {
    top: 336px;
    left: 358px;
}

/*====兑换成功====*/
#exchange_tel {
    color: #4864cc;
    top: 243px;
    left: 300px;
    width: 150px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    /*border: 1px red solid;*/
}

#btn_exchange_submit {
    top: 330px;
    left: 113px;
}

#btn_exchange_cancel {
    top: 330px;
    left: 356px;
}

#count {
    top: 200px;
    left: 320px;
    color: #ea5138;
    font-size: 40px;
}

#btn_close_rule{
    top: 10px;
    left: 554px;
}

/*====游戏部分====*/
#animal-bg {
    position: absolute;
    top: 0px;
    left: 0px;

}

#animal-car {
    position: absolute;
    top: 164px;
    left:178px;
}

#animal-timer {
    position: absolute;
    top: 76px;
    left: 91px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #d3160a;
    font-size: 26px;
    /*border: 1px red solid;*/
}

#btn-play {
    position: absolute;
    top: 436px;
    left:220px;
}

#btn_game_over_sure {
    position: absolute;
    top: 10px;
    left:554px;
}



