<!DOCTYPE html>
<html>
<head>
    <title>签到模块-主页V16</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Common/V13/dialog.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/DateMark/V16/index.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var RenderParam = {
            //公共渲染
            carrierId: '{$carrierId}',          // 地区id
            areaCode: '{$areaCode}',            // 省份地区码
            platformType: '{$platformType}',    // 平台类型
            debug: '{$debug}',                  // 调试模式
            pageSize: '{$size}',                // 页面尺寸
            stbModel: '{$stbModel}',            // 盒子的型号
            fsUrl: '{$resourcesUrl}',           // fs 地址
            time: '{$time}',                    // 开始渲染时间
            userId: '{$userId}',                // 用户Id
            markInfo: {$markInfo},

            //当前页渲染
            skin: {$skin}      // 用户自定义背景
        };
    </script>

    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Dialog/Dialog.1.01.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/DateMark/V16/index.js?t={$time}"></script>
</head>
<body>
<div id="debug"></div>
<img id="btn-rules" src="__ROOT__/Public/img/hd/DateMark/V16/btn_rules.png" alt="">
<img id="btn-lottery" src="__ROOT__/Public/img/hd/DateMark/V16/btn_lottery.png" alt="">
<img id="btn-mark" src="__ROOT__/Public/img/hd/DateMark/V16/btn_mark.png" alt="">
<div class="score-wrapper">
    <p class="keep-mark-day">已连续签到 <span id="keep-mark-day">0</span> 天</p>
    <div class="score-content">
        <p class="today-score">
            <img src="__ROOT__/Public/img/hd/DateMark/V16/icon_today.png" class="score-icon" alt="">
            <span>今日积分:</span><b id="today-score">0分</b>
        </p>
        <p class="total-score">
            <img src="__ROOT__/Public/img/hd/DateMark/V16/icon_total.png" class="score-icon" alt="">
            <span>累计积分:</span><b id="total-score">0分</b>
        </p>
    </div>
</div>
<ul id="date-wrapper"></ul>
</body>
<script type="text/javascript">
    Mark.init();
</script>
</html>
