* {
    font-family: Source Han Sans CN;
    margin: 0px;
    padding: 0px;
}

body {
    /*background-image: url("../../../img/1280/520002/paybg.png");*/
    background-Repeat: no-repeat;
    width: 1280px;
    height: 720px;
    position: relative;
}

#title {
    position: relative;
    top: 96px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-size: 37px;
    color: #010101
}

#choose {
    width: 600px;
    position: relative;
    top: 190px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color:  #515151
}

#orderList {
    width: 1280px;
    height: 302px;
    top: 220px;
    position: absolute;
    text-align: center;
    /*border: 1px red solid;*/

}

 .order{
    width: 250px;
    height: 406px;
}

.order + .order {
    width: 250px;
    height: 406px;
    margin-left: 42px;
}
#back{
    position: absolute;
    top: 24px;
    left: 1157px;
}
#rule{
    position: absolute;
    top: 105px;
    left: 1112px;
}
#rule-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}