* {
    font-family: "Source Han Sans CN";
    padding: 0px;
    margin: 0px;
    outline: none !important;
    -webkit-shape-outside: none;
}

body {
    height: 530px;
    width: 644px;
   background-repeat: no-repeat;
    margin: 0 auto;
    overflow: hidden;
}

#focus-2-1 {
    position: absolute;
    top: 256px;
    left: 6px;
    z-index: 0;
    outline: none !important;
    width: 379px;
    height: 199px;

}
#focus-2-2 {
    position: absolute;
    top: 313px;
    left: 269px;
    z-index: 0;
    outline: none !important;
    width: 379px;
    height: 199px;
}




#back{
    position: absolute;
    top: 23px;
    left: 555px;
    z-index: 0;
    outline: none !important;
    width: 66px;
    height: 49px;

}


#page-left{
    position: absolute;
    top: 458px;
    left: 0px;
    z-index: 0;
    outline: none !important;
    width: 102px;
    height: 72px;
}
#page-right{
    position: absolute;
    top: 458px;
    left: 544px;
    z-index: 0;
    outline: none !important;
    width: 100px;
    height: 72px;
}



/*模态*/
#model {
    background-color: #333333;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
}

/*加载中*/
#alert_box2 {
    height: 40px;
    width: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    z-index: 101;
    display: none;
}
.none{ display: none}

.g_toast {
    position: absolute;
    left: 148px;
    top: 210px;
    width: 348px;
    height: 81px;
    line-height: 106px;
    font-size: 20px;
    z-index: 1000;
    text-align: center;
    color: #ff6600;
    background: url("../../../../img/sd/Common/bg_toast.png") no-repeat;
}


