* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 1280px;
    height: 720px;
    background: url("../../../../../Public/img/hd/Pay/V320013/bg_order.png") no-repeat;
    background-size: 1280px 720px;
}

body > * {
    position: absolute;
}

.order_item_container {
    top: 354px;
    left: 428px;
}