* {
    font-family: "Source Han Sans CN";
    padding: 0px;
    margin: 0px;
    outline: none !important;
    -webkit-shape-outside: none;
}

body {
    height: 720px;
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
}

#back {
    position: absolute;
    top: 19px;
    left: 1193px;
    z-index: 0;
    outline: none !important;
    width: 66px;
    height: 60px;

}
#focus-1-1 {
    position: absolute;
    top: 246px;
    left: 75px;
    z-index: 0;
    outline: none !important;
    width: 256px;
    height: 238px;

}

#focus-1-2 {
    position: absolute;
    top: 246px;
    left: 369px;
    z-index: 0;
    outline: none !important;
    width: 256px;
    height: 238px;

}

#focus-1-3 {
    position: absolute;
    top: 262px;
    left: 657px;
    z-index: 0;
    outline: none !important;
    width: 256px;
    height: 238px;

}

#focus-2-2 {
    position: absolute;
    top: 453px;
    left: 184px;
    z-index: 0;
    outline: none !important;
    width: 291px;
    height: 221px;
}

#focus-2-3 {
    position: absolute;
    top: 455px;
    left: 511px;
    z-index: 0;
    outline: none !important;
    width: 268px;
    height: 222px;

}



