#home_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 644px;
    height: 530px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*应用logo*/
.logo {
    position: absolute;
    left: 19px;
    top: 16px;
    width: 32px;
    height: 28px;
}

/*公司名称*/
#company-name {
    position: absolute;
    left: 9px;
    top: 45px;
    font-size: 12px;
    color: #FFFFFF;
}


#vip_btn {
    position: absolute;
    top: 12px;
    left: 343px;
    width: 49px;
    height: 49px;
    visibility: hidden;
}

/*首页导航菜单栏*/
.navs {
    position: absolute;
    left: 15px;
    top: 55px;
    width: 620px;
    height: 45px;
}

.navs > div {
    width: 120px;
    height: 45px;
    float: left;
    margin: 0px 0px;
}

.navs > div > img {
    width: 120px;
    height: 45px;
}

.recommend_zoom_out {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 108%;
    height: 108%;
}

.recommend_zoom_in {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#recommends {
    position: absolute;
    left: 0px;
    top: 104px;
    width: 644px;
    height: 355px;
}

.recommends {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 644px;
    height: 355px;
}
.recommend_parent_1,.recommend_parent_2,.recommend_parent_3,.recommend_parent_4,.recommend_parent_5,.recommend_parent_6,.recommend_parent_7{
    position: absolute;
    z-index: 3;
}
/*推荐位1焦点框*/
#recommend_border_1 {
    position: absolute;
    left: 18px;
    top: 114px;
    width: 164px;
    height: 333px;
    z-index: 1;
}

/*推荐位图片放大时的容器*/
#recommend_1 {
    position: absolute;
    left: 27px;
    top: 123px;
    width: 146px;
    height: 315px;
}
#recommend_parent_1 {
    left: 27px;
    top: 123px;
}
#recommend_border_2 {
    position: absolute;
    left: 171px;
    top: 114px;
    width: 288px;
    height: 169px;
    z-index: 1;
}
#recommend_2 {
    position: absolute;
    left: 180px;
    top: 123px;
    width: 270px;
    height: 151px;
}
#recommend_parent_2 {
    left: 180px;
    top: 123px;
}

#recommend_border_3 {
    position: absolute;
    left: 448px;
    top: 114px;
    width: 178px;
    height: 169px;
    z-index: 1;
}

#recommend_3 {
    position: absolute;
    left: 457px;
    top: 123px;
    width: 160px;
    height: 151px;
}
#recommend_parent_3 {
    left: 457px;
    top: 123px;
}

#recommend_border_4 {
    position: absolute;
    left: 170px;
    top: 272px;
    width: 126px;
    height: 175px;
    z-index: 1;
}

#recommend_4 {
    position: absolute;
    left: 180px;
    top: 281px;
    width: 106px;
    height: 157px;
}
#recommend_parent_4 {
    left: 180px;
    top: 281px;
}

#recommend_border_5 {
    position: absolute;
    left: 284px;
    top: 272px;
    width: 124px;
    height: 175px;
    z-index: 1;
}

#recommend_5 {
    position: absolute;
    left: 293px;
    top: 281px;
    width: 106px;
    height: 157px;
}
#recommend_parent_5 {
    left: 293px;
    top: 281px;
}

#recommend_border_6 {
    position: absolute;
    left: 397px;
    top: 272px;
    width: 124px;
    height: 175px;
    z-index: 1;
}

#recommend_6 {
    position: absolute;
    left: 406px;
    top: 281px;
    width: 106px;
    height: 157px;
}
#recommend_parent_6 {
    left: 406px;
    top: 281px;
}

#recommend_border_7 {
    position: absolute;
    left: 511px;
    top: 272px;
    width: 114px;
    height: 175px;
    z-index: 1;
}

#recommend_7 {
    position: absolute;
    left: 519px;
    top: 281px;
    width: 98px;
    height: 157px;
}
#recommend_parent_7 {
    left: 519px;
    top: 281px;
}

/*字幕滚动消息*/
#scroll_message {
    width: 288px;
    height: 30px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 468px;
    left: 326px;
    font-size: 22px;
    height: 30px;
    line-height: 30px;
    color: black;
}
#home_btn{
    width: 100px;
    height: 43px;
    position: absolute;
    top: 462px;
    left: 27px;
}
#main_btn{
    width: 100px;
    height: 43px;
    position: absolute;
    top: 462px;
    left: 128px;
}
#back_btn{
    width: 100px;
    height: 43px;
    position: absolute;
    top: 462px;
    left: 228px;
}
#home_btn{
    width: 100px;
    height: 43px;
    position: absolute;
    top: 462px;
    left: 27px;
}
#main_btn{
    width: 100px;
    height: 43px;
    position: absolute;
    top: 462px;
    left: 128px;
}
#back_btn{
    width: 100px;
    height: 43px;
    position: absolute;
    top: 462px;
    left: 228px;
}

.menu_position_2 {
    width: 105px;
    height: 34px;
    position: absolute;
    top: 20px;
    left: 400px;
}

.menu_position_1 {
    width: 105px;
    height: 34px;
    position: absolute;
    top: 20px;
    left: 510px;
}