* {
    font-family: "Source Han Sans CN";
    padding: 0px;
    margin: 0px;
    outline: none !important;
    -webkit-shape-outside: none;
}

body {
    height: 530px;
    width: 644px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
}

#focus-2-1 {
    position: absolute;
    top: 289px;
    left: 72px;
    z-index: 0;
    outline: none !important;
    width: 146px;
    height: 116px;

}
#focus-2-2 {
    position: absolute;
    top: 189px;
    left: 167px;
    z-index: 0;
    outline: none !important;
    width: 146px;
    height: 116px;
}

#focus-2-3 {
    position: absolute;
    top: 190px;
    left: 317px;
    z-index: 0;
    outline: none !important;
    width: 146px;
    height: 116px;
}

#focus-2-4 {
    position: absolute;
    top: 292px;
    left: 432px;
    z-index: 0;
    outline: none !important;
    width: 146px;
    height: 116px;
}



#focus-1-1 {
    position: absolute;
    top: 335px;
    left:928px;
    z-index: 0;
    outline: none !important;
    width: 77px;
    height: 77px;

}
#back {
    position: absolute;
    top: 27px;
    left: 577px;
    z-index: 0;
    outline: none !important;
    width: 47px;
    height: 37px;

}

#page-left{
    position: absolute;
    top: 324px;
    left: 5px;
    z-index: 0;
    outline: none !important;
    width: 41px;
    height: 23px;
}
#page-right{
    position: absolute;
    top: 324px;
    left: 595px;
    z-index: 0;
    outline: none !important;
    width: 41px;
    height: 23px;
}



/*模态*/
#model {
    background-color: #333333;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
}

/*加载中*/
#alert_box2 {
    height: 40px;
    width: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    z-index: 101;
    display: none;
}
.none{ display: none}


