<!DOCTYPE html>
<html lang="en">
<head>
    <title>新疆电信天天健身-历史视频播放</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Common/V13/dialog.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/HistoryPlay/V21/index.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript" >
        var RenderParam = {
            //公共渲染
            carrierId: "{$carrierId}",          // 地区id
            areaCode: "{$areaCode}",            // 省份地区码
            platformType: "{$platformType}",    // 平台类型
            debug: "{$debug}",                  // 调试模式
            pageSize: "{$size}",                // 页面尺寸
            stbModel: "{$stbModel}",            // 盒子的型号
            fsUrl: "{$resourcesUrl}",           // fs 地址
            time: "{$time}",                    // 开始渲染时间
            userId: "{$userId}",                // 用户Id
            isVip: "{$isVip}",                  // 是否是vip

            skin: {$skin},      // 用户自定义背景

            // 焦点保持
            focusId: "{$focusId}",
            page: "{$page}",
        };
    </script>

    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公共库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
<eq name="isRunOnAndroid" value="1">
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</eq>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Dialog/Dialog.1.01.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/HistoryPlay/V21/index.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/Pay/lmOrderConf.js?t={$time}"></script>
</head>
<body>
<div id="debug"></div>
<switch name="carrierId">
    <case value="12650092">
        <p class="title">我的训练</p>
    </case>
    <default />
        <p class="title">播放记录</p>
</switch>

<!-导航->
<div id="nav_content">
    <img id="nav_bar" src="__ROOT__/Public/img/hd/Home/V21/Nav/nav_bar.png"/>
    <img id="btn_ttjs" src="__ROOT__/Public/img/hd/Home/V21/Nav/btn_ttjs.png" alt="天天健身"/>
    <img id="btn_ttyj" src="__ROOT__/Public/img/hd/Home/V21/Nav/btn_ttyj.png" alt="天天瑜伽"/>
</div>

<img id="btn_clear" src="__ROOT__/Public/img/hd/Home/V21/Nav/btn_clear.png" alt="清空">
<div id="list-container">
    <img id="prev-arrow" class="arrow" src="__ROOT__/Public/img/hd/Home/V21/Common/left.png" alt="">
    <img id="next-arrow" class="arrow" src="__ROOT__/Public/img/hd/Home/V21/Common/right.png" alt="">
    <ul id="list-wrapper"></ul>
</div>
<div id="page-wrapper">
    <!--<img id="first-page" src="__ROOT__/Public/img/hd/HistoryPlay/V21/first_page.png" alt="">-->
    <!--<img id="prev-page" src="__ROOT__/Public/img/hd/HistoryPlay/V21/prev_page.png" alt="">-->
    <p id="page-index">0/0</p>
    <!--<img id="next-page" src="__ROOT__/Public/img/hd/HistoryPlay/V21/next_page.png" alt="">-->
    <!--<img id="last-page" src="__ROOT__/Public/img/hd/HistoryPlay/V21/last_page.png" alt="">-->
</div>
<script type="text/javascript">
    window.onload =function() {
        // 设置皮肤（产品背景图）
        LMEPG.UI.setBackGround();

	    HistoryPlay.init();

        if (RenderParam.carrierId == "000051"){
            LmOrderConf.init({
                getCurrentPage: PageJump.getCurrentPage,
            });
        }
    }
</script>
</body>
</html>