* {
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
}

#default_focus {
    position: absolute;
    top: 0px;
    left: 0px;
    outline: none !important;
    width: 1280px;
    height: 720px;
}

.btn-only {
    position: absolute;
    top: 340px;
    left: 580px;
    outline: none !important;
    width: 190px;
    height: 80px;
}
.btn-only2 {
    position: absolute;
    top: 500px;
    left: 530px;
    outline: none !important;
    width: 198px;
    height: 72px;
}

.btn-success {
    position: absolute;
    top: 476px;
    left: 660px;
    outline: none !important;
    width: 187px;
    height: 74px;
}


.introduce {
    position: absolute;
    top: 260px;
    left: 188px;
    outline: none !important;
    width: 891px;
    height: 320px;
}

.introduce2 {
    position: absolute;
    top: 270px;
    left: 374px;
    outline: none !important;
    width: 540px;
    height: 141px;
}

.introduce-success {
    position: absolute;
    top: 234px;
    left: 499px;
    outline: none !important;
    width: 480px;
    font-size: 29px;
    color: #414141;
    text-align: center;
    line-height: 55px;
}

.btn-one {
    position: absolute;
    top: 300px;
    left: 540px;
    outline: none !important;
    width: 190px;
    height: 80px;
}

.btn-two {
    position: absolute;
    top: 300px;
    left: 770px;
    outline: none !important;
    width: 190px;
    height: 80px;
}

#searchText {
    width: 390px;
    height: 40px;
    z-index: 999;
    position: absolute;
    top: 232px;
    left: 545px;
    font-size: 28px;
    background: transparent;
    border: none;
    outline: none;
    line-height: 40px;
    color: #4c4c4c;
    border: none;
    border-radius: 5px;
    overflow:hidden;
    text-indent: 10px;
}
.myPhone{
    z-index: 999;
    position: absolute;
    top: 243px;
    left: 395px;
    font-size: 24px;
    line-height: 24px;
    color: #994c00;
    border: none;
}

.introduce-price-text {
    position: absolute;
    top: 395px;
    left: 800px;
    outline: none !important;
    width: 100px;
    height: 100px;
}

#myPhone {
    position: absolute;
    font-size: 18px;
    color: #414141;
    top: 355px;
    left: 597px
}

.introduce-price-name {
    font-size: 47px;
    color: #fc5f1a;
}

.key-table tr td {
    width: 50px;
    text-align: center;
    font-size: 30px
}

#top {
    position: absolute;
    z-index: 999
}

.detail-table {
    position: absolute;
    top: 150px;
    left: 328px;
    outline: none !important;
}
.detail-table tr td{ height: 5px; font-size: 21px;  color:#333333; width: 700px; line-height: 32px; }
.btn_back {
    position: absolute;
    top: 61px;
    left: 1156px;
    outline: none !important;
    width: 73px;
    height: 84px;
}
.price_one{
    position: absolute;
    top: 560px;
    left: 310px;
    outline: none !important;
    width: 150px;
    height: 150px;
}
.price_two{
    position: absolute;
    top: 560px;
    left: 570px;
    outline: none !important;
    width: 150px;
    height: 150px;
}
.price_three{
    position: absolute;
    top: 560px;
    left: 830px;
    outline: none !important;
    width: 150px;
    height: 150px;
}
.introduce-pay{
    position: absolute;
    top: 253px;
    left: 457px;
    outline: none !important;
    width: 400px;
    font-size: 33px;
    color: #414141;
    text-align: center;
    line-height: 60px;}

#tip_test {
    position: absolute;
    top: 150px;
    left: 544px;
    outline: none !important;
    width: 190px;
    height: 60px;
}

#choose_order_test{
    position: absolute;
    top: 260px;
    left: 385px;
    outline: none !important;
    width: 540px;
    height: 141px;
}

#pay-one{
    position: absolute;
    top: 235px;
    left: 440px;
    outline: none !important;
    width: 180px;
    height: 214px;
  }
#pay-two{
    position: absolute;
    top: 235px;
    left: 720px;
    outline: none !important;
    width: 180px;
    height: 214px;
}
#pay-three{
    position: absolute;
    top: 460px;
    left: 440px;
    outline: none !important;
    width: 180px;
    height: 214px;
}

#pay-four{
    position: absolute;
    top: 460px;
    left: 720px;
    outline: none !important;
    width: 180px;
    height: 214px;
}

#pay-back{
    position: absolute;
    top: 69px;
    left: 935px;
    outline: none !important;
    width: 50px;
    height: 50px;
}

.book_text{
    position: absolute;
    top: 243px;
    left: 606px;
    outline: none !important;
    font-size: 33px;
    color: #414141;
    text-align: center;
}
.book_text_name{
    position: absolute;
    top: 238px;
    left: 706px;
    outline: none !important;
    font-size: 40px;
    color: #e21212;
    text-align: center;
    font-weight: bold;
}
.price_text{
    position: absolute;
    top: 306px;
    left: 606px;
    outline: none !important;
    font-size: 33px;
    color: #414141;
    text-align: center;
}
.price_text_name{
    position: absolute;
    top: 301px;
    left: 706px;
    outline: none !important;
    font-size: 40px;
    color: #ef7101;
    text-align: center;
    font-weight: bold;
}
.introduce_text{
    position: absolute;
    top: 387px;
    left: 586px;
    outline: none !important;
    font-size: 20px;
    color: #414141;
    text-align: center;
}
.title_name {
    position: absolute;
    top: 154px;
    left: 555px;
    width: 170px;
    height: 54px;
    z-index: 1;
}
.price_word{
    position: absolute;
    top: 154px;
    left: 555px;
    width: 170px;
    height: 54px;
    z-index: 1;
}
#rule_back{
    position: absolute;
    top: 69px;
    left: 935px;
    outline: none !important;
    width: 50px;
    height: 50px;
}
.mTitle{
    position: absolute;
    top: 67px;
    left: 529px;
    outline: none !important;
    font-size: 40px;
    color: #994c00;
    width: 250px;
    text-align: center;
    font-weight: bold;
}
.content{
    position: absolute;
    top: 157px;
    left: 339px;
    outline: none !important;
    font-size: 26px;
    color: #666666;
    width: 650px;
    text-align: center;
    line-height: 40px;
}
.content2{
    position: absolute;
    top: 157px;
    left: 369px;
    outline: none !important;
    font-size: 22px;
    color: #666666;
    width: 650px;
    text-align: center;
    line-height: 40px;
}
.yee{
    color: #994c00;
}