* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    width: 644px;
    height: 530px;
    position: relative;
    background-position: left;
    color: #000;
    overflow: hidden;
    background-size: 644px 520px;
}
.head-title{
    position: absolute;
    left: 40px;
    top: 40px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
}
.arrow {
    position: absolute;
    top: 50px;
}

#prev-arrow {
    left: 40px;
}

#next-arrow {
    left: 613px;
}

#nav-container {
    position: absolute;
    top: 100px;
    left: 80px;
    height: 50px;
    width: 564px;
    /*border: 1px red solid;*/
}

#nav-container p {
    height: 50px;
    line-height: 50px;
    width: 140px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    margin-left: -5px;
    background-position: 0 -1px;
    background-size: 100% 100%;
}

#nav-container p.focus {
    color: #ffffff;
    background-size: 140px 50px;
}

#nav-container p#nav-0 {
    margin-left: -6px;
}

#list-container {
    position: absolute;
    top: 200px;
    left: -30px;
    width: 675px;
}

#list-container .arrow {
    position: absolute;
    top: 51px;
}

#list-container #prev-arrow {
    left: 50px;
}

#list-container #next-arrow {
    right: 50px;
}

ul#list-wrapper {
    position: absolute;
    top: -35px;
    left: 100px;
    list-style: none;
}

ul.person {
    padding-top: 100px;
}

ul#list-wrapper li {
    position: relative;
    float: left;
    width: 100px;
    height: 90px;
    text-align: center;
    padding: 15px;
    background-size: 280px 190px;
}

ul#list-wrapper.person li {
    width: 146px;
    height: 146px;
    margin-right: 33px;
}
ul#list-wrapper.person li img.uncollect{
    left: 18px;
}

ul#list-wrapper.person li img {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    margin-left: -3px;
    margin-top: -3px;
}

ul#list-wrapper li img {
    width: 120px;
    height: 85px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 16px;
    top: 16px;
}

ul#list-wrapper li img.play {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 44px;
    border-radius: 0;
}

ul#list-wrapper li img.uncollect {
    position: absolute;
    left: 0;
    top: 45px;
    width:121px;
    height: 41px;
    border-radius: 0;
}

ul#list-wrapper li p {
    position: absolute;
    top: 110px;
    left: 15px;
    font-size: 24px;
    color: #fff;
    width: 104px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-image: url(../../../../img/hd/Collect/V13/number_bg.png);
}

p#page-index {
    position: absolute;
    top: 8px;
    left: 497px;
    font-size: 20px;
    color: #fff;
}

.null-data {
    font-size: 20px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

.mask{
    position: absolute;
    width: 121px;
    height: 83px;
    background: url("../../../../img/hd/Collect/V24/mask.png") no-repeat;
    background-size: 121px 83px;
}

.how-long{
    background: url(../../../../img/hd/Channel/V25/num-squ.png) no-repeat;
    position: absolute;
    width: 65px;
    height: 20px;
    bottom: 19px;
    right: -6px;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 18px;
}

.bottom-area{
    position: absolute;
    left: -143px;
    top: 240px;
    width: 400px;
}
.bottom-area img{
    width: 90px;
    height: 40px;
}

#first-page{
    position: absolute;
    top: 0;
    left: 265px;
}

#prev-page{
    position: absolute;
    top: 0;
    left: 375px;
}

#next-page{
    position: absolute;
    top: 0;
    left: 550px;
}

#last-page{
    position: absolute;
    top: 0;
    left: 665px;
}
