#container {
    height: 100%;
    background: #0D8080;
    position: relative;
    color: #fff;
}

#hospital-pic {
    position: absolute;
    top: 60px;
    left: 50px;
}

.hospital-name {
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    top: 314px;
    left: 90px;
}

.hospital-address {
    position: absolute;
    top: 398px;
    left: 55px;
    font-size: 20px;
}

.hospital-phone {
    font-size: 26px;
    position: absolute;
    top: 468px;
    left: 96px;
}
.to-btn {
    width: 160px;
    height: 50px;
    position: absolute;
    top: 580px;
    left: 100px;
    background: #17a1e5;
    color: #fff;
    background-size: 100% 100%;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border-radius: 48px;
}

.tips-area {
    position: relative;
    width: 870px;
    height: 600px;
    background: rgba(0,0,0,0.2);
    top: 60px;
    left: 380px;
}

.tips {
    width: 96px;
    height: 24px;
    font-size: 24px;
    padding: 30px 0 30px 30px;
    font-weight: bold;
}

.introduce {
    width: 804px;
    height: 490px;
    padding: 0 0 0 30px;
    font-size: 20px;
    line-height: 50px;
    overflow: auto;
}

#dialog_container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.5);
    color: #FFF
}

.window {
    position: absolute;
    top: 155px;
    left: 300px;
}

.introduced {
    width: 408px;
    height: 24px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 218px;
    left: 426px;
}

#public {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 292px;
    left: 540px;
    border-radius: 10px;
}