* {
    padding: 0px;
    margin: 0px;
    font-family: Source Han Sans CN;
    outline: none;
    outline: none !important;
}

body {
    background-Repeat: no-repeat;
    width: 644px;
    height: 530px;
    position: relative;
    /*overflow: hidden;*/
}

#btn-detail {
    position: absolute;
    top: 27px;
    left: 100px;
    outline: none !important;
    width: 109px;
    height: 42px;

}

#btn-start {
    position: absolute;
    top: 431px;
    left: 220px;
    outline: none !important;
    width: 189px;
    height: 60px;
}

#btn-price {
    position: absolute;
    top: 25px;
    left: 447px;
    outline: none !important;
    width: 109px;
    height: 42px;
}

#back {
    position: absolute;
    top: 6px;
    left: 564px;
    outline: none !important;
    width: 68px;
    height: 90px;
}

#btn-book1{
    position: absolute;
    top: 411px;
    left: 26px;
    outline: none !important;
    width: 79px;
    height: 86px;
}
#btn-book2{
    position: absolute;
    top: 411px;
    left: 123px;
    outline: none !important;
    width: 79px;
    height: 86px;
}
#btn-book3{
    position: absolute;
    top: 411px;
    left: 427px;
    outline: none !important;
    width: 79px;
    height: 86px;
}
#btn-book4{
    position: absolute;
    top: 411px;
    left: 530px;
    outline: none !important;
    width: 79px;
    height: 86px;
}
#show-box{
    position: absolute;
    top: 430px;
    left: 370px;
    outline: none !important;
    width: 27px;
    height: 28px;
    z-index: 999;
    background: url("../../../../../img/sd/Activity/ActivityAnswer/union/show_box.png");
    line-height: 28px;
    text-align: center;
    font-size: 26px;
    color: #662400;
}

/*提示窗样式*/
/*#default_tip*/
/*{*/
    /*position: absolute;*/
    /*left: 450px;*/
    /*top: 210px;*/
    /*width: 370px;*/
    /*height: 81px;*/
    /*line-height:106px;*/
    /*text-align: center;*/
    /*font-size: 30px;*/
    /*color: #090609;*/
    /*visibility: hidden;*/
    /*z-index: 1000;*/
/*}*/