body {
    width: 1280px;
    height: 720px;
}
body > *,
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

/*活动首页*/
#btn_back {
    position: absolute;
    top: 13px;
    left: 1025px;
}

#btn_activity_rule {
    position: absolute;
    top: 8px;
    left: 39px;
}
#btn_winner_list {
    position: absolute;
    top: 91px;
    left: 39px;
}

#btn_exchange_prize {
    position: absolute;
    top: 176px;
    left: 39px;
}
#btn_tips {
    position: absolute;
    top: 94px;
    left: 1025px;
}

#btn_start {
    position: absolute;
    top: 601px;
    left: 520px;
}

#left_times {
    top: 677px;
    left: 999px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}
#score {
    top: 258px;
    left: 435px;
    width: 60px;
    color: #e95f5c;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


/*活动规则*/

#btn_close_rule {
    top: 13px;
    left: 1025px;
}

#btn_close_tips {
    top: 13px;
    left: 1025px;
}

/*中奖名单*/


#total_list {
    top: 180px;
    left: 255px;
}
#btn_list_submit {
    top: 609px;
    left: 380px;
}

#btn_list_cancel {
    top: 609px;
    left: 683px;
}

#all_marquee {
    height: 160px;
}

#my_marquee {
    height: 50px;
}

table.marquee_table {
    width: 696px;
}

table#all_table tr {
    height: 40px;
}

table.marquee_table td {
    width: 232px;
    margin-right: 10px;
    text-align: center;
    color: #203d65;
    font-size: 30px;
}

#my_list {
    top: 440px;
    left: 255px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

#reset_tel {
    color: #004475;
    top: 496px;
    left: 599px;
    width: 222px;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    text-align: left;
}

/*兑换奖品*/
#btn_exchange_submit {
    top: 447px;
    left: 473px;
}

#btn_exchange_cancel {
    top: 447px;
    left: 677px;
}
#exchange_tel {
    top: 350px;
    left: 619px;
    font-size: 24px;
    color: #004475;
    text-align: left;
}

/*游戏结束*/
#btn_game_over_sure {
    top: 470px;
    left: 557px;
}

/*游戏页*/
#game_container{
    width: 1280px;
    height: 720px;
    overflow: hidden;
}
#game_countdown {
    top: 34px;
    left: 73px;
    width: 60px;
    font-size: 30px;
    text-align: center;
    color: #e95f5c;
    font-weight: bold;
}

#btn_needle{
    bottom: 0px;
}


/*兑换礼品*/
#game_score{
    top: 54px;
    left: 86px;
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: #e95f5c;
    font-weight: bold;
}


#exchange_point_1{
    top: 454px;
    left:308px;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}

#exchange_point_2{
    top: 454px;
    left:672px;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}

#exchange_point_3{
    top: 455px;
    left:1043px;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}


#exchange_prize_1{
    top: 485px;
    left:156px;
}
#exchange_prize_2{
    top: 485px;
    left:524px;
}
#exchange_prize_3{
    top: 485px;
    left:888px;
}


/*游戏失败*/

#btn_game_fail_sure {
    top: 470px;
    left: 557px;
}

/*游戏成功*/

#shot_count {
    top: 252px;
    left: 904px;
    font-size: 63px;
    color: #ec6852;
    font-weight: bold;
}

#btn_game_sure {
    top: 398px;
    left: 537px;
}


/*抽奖成功*/
#prize_image {
    top: 176px;
    left: 618px;
}

#lottery_tel {
    top: 450px;
    left: 614px;
    font-size: 25px;
    color: #251505;
    width: 200px;
    height: 30px;
    line-height: 30px;
}

#btn_lottery_submit {
    top: 524px;
    left: 431px;
}

#btn_lottery_cancel {
    top: 524px;
    left: 666px;
}


/*订购VIP*/
#btn_order_submit {
    top: 441px;
    left: 431px;
}

#btn_order_cancel {
    top: 441px;
    left: 666px;
}


/*倒计时弹窗*/
#count {
    top: 257px;
    left: 665px;
    color: #C75341;
    font-size: 63px;
    font-weight: bold;
}