<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>青海移动--订购结果显示</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/Common/V1/common.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var ROOT = "__ROOT__";
        var RenderParam = {
            carrierId: "{$carrierId}",          // 地区id

            isSuccess: "{$isSuccess}",         // 是否订购成功
            msg: '{$message}',                  // 订购信息
            returnPageName: "{$returnPageName}",
        };

    </script>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/common/js/lmcommon_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/common/js/lmajax_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/common/js/lmcore_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/common/js/lmintent_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/common/js/lmui_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/common/js/lmlog_v1.0.0.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/common/js/android.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/common/js/utils.js?t={$time}"></script>
</head>
<body>

<div id="btn-default"></div>
<!--调试代码-->
<div>{$carrierId} --- {$isSuccess} --- {$message} --- {$returnPageName}</div>

<script type="text/javascript">
    var buttons = [];

    /**
     * 返回事件
     */
    function onBack() {
        LMEPG.Intent.back(RenderParam.returnPageName);
    }

    /**
     * 延时返回
     */
    function onBackDelay() {
        setTimeout(function () {
            onBack();
        },2000)
    }

    /**
     * 焦点初始化
     */
    function initButtons() {
        buttons.push(
            {
                id: 'btn-default',
                name: "默认按键",
                type: "img",
                nextFocusLeft: '',
                nextFocusRight: '',
                nextFocusUp: '',
                nextFocusDown: '',
                backgroundImage: '',
                focusImage: '',
                click: 'onBack()',
                focusChange: '',
                beforeMoveChange: '',
                moveChange: '',
            }
        );
    }

    window.onload = function () {
        var defaultFocus = "btn-default";
        if (RenderParam.isSuccess == "1") {
            //订购成功
            LMEPG.ui.showToast("订购成功", 10);
            onBackDelay();
        } else {
            //订购失败
            LMEPG.ui.showToast(RenderParam.msg, 10);
            onBackDelay();
        }
        initButtons();
        LMEPG.ButtonManager.init([defaultFocus], buttons, '', true);
    }
</script>
</body>
</html>