body {
    width: 1280px;
    height: 720px;
    background-repeat: no-repeat;
    color: #fff;
    background-image: url("../../../../img/hd/CommunityHospital/BloodManage/bg.png");
}

p.title {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 30px;
}

div#container {
    height: 720px;
    width: 1100px;
}

#bg-content{
    position: absolute;
    top: 162px;
    left: 100px;
    width: 1080px;
    height: 454px;
    background-image: url("../../../../img/hd/CommunityHospital/BloodManage/bg_content.png");
}
#input-form{
    position: absolute;
    top: 75px;
    left: 170px;
    width: 500px;
    height: 250px;

}

#user-name-text{
    position: absolute;
}
#user-name{
    position: absolute;
    left: 200px;
}

#ssy-text{
    position: absolute;
    top: 74px;
}
#ssy{
    position: absolute;
    top: 74px;
    left: 200px;
    /*text-indent: 23px;*/
}
#ssy-unit{
    position: absolute;
    top: 80px;
    left: 515px;
    font-size: 18px;
    /*border: 1px red solid;*/
}
#szy-text{
    position: absolute;
    top: 148px;
}
#szy{
    position: absolute;
    top: 148px;
    left: 200px;
}
#szy-unit{
    position: absolute;
    top: 155px;
    left: 515px;
    font-size: 18px;
}

.lable-css{
    font-size: 24px;
    text-align: right;
    width: 200px;
    height: 40px;
}

.input{
    font-size: 24px;
    text-align: left;
    width: 300px;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    border: none;
    text-indent: 23px;
    background-image: url("../../../../img/hd/CommunityHospital/BloodManage/bg_input.png");
}
#user-name-icon{
    position: absolute;
    top: 15px;
    right: 13px;
    z-index: 1000;
}
#ssy-icon{
    position: absolute;
    top: 90px;
    right: 13px;
    z-index: 900;
}
#szy-icon{
    position: absolute;
    top: 165px;
    right: 13px;
    z-index: 800;
}

#btn-confirm {
    position: absolute;
    top: 346px;
    left: 455px;
}
#btn-add-user{
    position: absolute;
    top: 73px;
    left: 685px;
    /*border: 1px red solid;*/
}
#tip-text{
    position: absolute;
    top: 237px;
    left: 700px;
    font-size: 24px;
}

#user-name-list{
    position: absolute;
    width: 300px;
    height: 160px;
    z-index: 999;
    display: none;
    border: 1px red solid;
    background-image: url("../../../../img/hd/CommunityHospital/BloodManage/bg_list.png");
}
#ssy-list{
    position: absolute;
    width: 300px;
    height: 160px;
    z-index: 888;
    display: none;
    border: 1px red solid;
    background-image: url("../../../../img/hd/CommunityHospital/BloodManage/bg_list.png");
}
#szy-list{
    position: absolute;
    width: 300px;
    height: 160px;
    z-index: 777;
    display: none;
    border: 1px red solid;
    background-image: url("../../../../img/hd/CommunityHospital/BloodManage/bg_list.png");
}