body {
    color: #fff;
    background-image: url("../../../../img/hd/CommunityHospital/bg.png");
}

p.title {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 30px;
}
img#blood-data-up{
    position: absolute;
    top: 69px;
    left: 980px;
}

div#container {
    height: 720px;
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

#bg-content{
    position: absolute;
    top:162px;
}
#tip-text{
    position: absolute;
    top: 349px;
    left: 277px;
    font-size: 24px;
    color: #ffffff;
}

ul.expert-wrapper{
    position: relative;
    float: left;
    margin-right: 85px;
    top: 162px;
    width: 310px;
    height: 454px;
    background-image: url("../../../../img/hd/CommunityHospital/expert.png");
    background-repeat: no-repeat;
    list-style: none;
}
/*ul.expert-wrapper:nth-child(3)*/
ul#expert-2{
    margin-right: 0;
}

ul.expert-wrapper li{
    font-size: 24px;
    text-align: center;
    line-height: 38px;
}
ul .expert-pic img{
    width: 254px;
    height: 254px;
    margin-top: 20px;
}
ul.expert-wrapper li.expert-name{
    font-size: 30px;
    font-weight: bold;
}
ul .expert-skillful{
    color: #b2deff;
}

div.arrow-wrapper{
    position: absolute;
    width: 1280px;
    top: 365px;
    left: 0;
}
div.arrow-wrapper img{
    position: absolute;
    width: 27px;
    height: 54px;
    visibility: visible;
}
img#prev-arrow{
    left: 32px;
}
img#next-arrow{
    left: 1229px;
}

