.title {
    position: absolute;
    left: 80px;
    top: 42px;
    line-height: 42px;
    font-size: 42px;
    color: #FFFFFF;
    font-weight: bold;
}

.title-line {
    position: absolute;
    left: 80px;
    top: 87px;
    width: 150px;
    height: 2px;
}
/*数据列表*/
#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
}

/*#collection_container {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 80px;*/
    /*width: 1120px;*/
    /*height: 720px;*/
/*}*/

#title {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 300px;
    font-size: 43px;
    font-weight: bold;
    line-height: 43px;
    color: white;
    text-align: left;
}
#nav_content{
    position: absolute;
    top: 111px;
    left: 46px;
}
#nav_content>img{
    margin-left: 30px;
}

#collection_content {
    position: absolute;
    left: 122px;
    top: 186px;
    width: 1120px;
    height: 500px;
}

#collection_list {
    position: absolute;
    left: 0;
    top: 0;
    width: 1130px;
    height: 520px;
    text-align: center;
    line-height: 400px;
    font-size: 32px;
    color: #fff;
}

#page_num {
    position: absolute;
    left: 1080px;
    top: 500px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: white;
}

.arrow_left {
    position: absolute;
    top: 417px;
    left: 20px;
    display: none;
}

.arrow_right {
    position: absolute;
    top: 417px;
    left: 1226px;
    display: none;
}

/*弹出按钮*/
.filter {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 336px;
    height: 216px;
    background: url("../../../../img/hd/Collect/V20/bg_layer.png");
    display: none;
}

.detail_btn {
    position: absolute;
    left: 76px;
    top: 40px;
    width: 168px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 26px;
}

.cancel_btn {
    position: absolute;
    left: 76px;
    top: 117px;
    width: 168px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 26px;
}

.btn_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 168px;
    height: 48px;
}

.btn_title {
    position: absolute;
    width: 168px;
    height: 48px;
    color: #FFFFFF;
}

#item_container_1 {
    position: absolute;
    left: -42px;
    width: 336px;
    height: 216px;
}

#item_container_2 {
    position: absolute;
    left: 350px;
    width: 336px;
    height: 216px;
}

#item_container_3 {
    position: absolute;
    left: 742px;
    width: 336px;
    height: 216px;
}

#item_container_4 {
    position: absolute;
    left: -42px;
    top: 272px;
    width: 336px;
    height: 216px;
}

#item_container_5 {
    position: absolute;
    left: 350px;
    top: 272px;
    width: 336px;
    height: 216px;
}

#item_container_6 {
    position: absolute;
    left: 742px;
    top: 272px;
    width: 336px;
    height: 216px;
}

.item_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 336px;
    height: 216px;
}

.item_text{
    position: absolute;
    bottom:0;
    width: 336px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 8px;
    white-space: nowrap;
    background-image: url(../../../../img/hd/Home/V20/Common/title_bg.png);
}

.vip_corner {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 62px;
    height: 62px;
    z-index: 4;
}

.collection_zoom_out>.item_img {
    background: url("../../../../img/hd/Collect/V20/box_collect.png") no-repeat center;
    padding: 10px;
}

/*拉取空数据占位*/
#empty_data {
    position: absolute;
    left: 36px;
    top: 53px;
    width: 940px;
    height: 520px;
    line-height: 520px;
    text-align: center;
    font-size: 36px;
    display: none;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 auto;
}
#btn-search{
    position: absolute;
    top: 30px;
    left: 1050px;
}

.recommended_title{
    position:absolute;
    right: 0;
    height: 38px;
    font-size: 20px;
    line-height: 38px;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    text-indent: 30px;
    white-space: nowrap;
    color: #FFFFFF;
    background: url("../../../../img/hd/Channel/V10/mycollect_mask.png") no-repeat;
    /*background: rgba(0,0,0,0.6);*/
}

.item_img_expert {
    position: absolute;
    top: 0;
    right: 100px;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    margin-left: -1px;
}
