/*背景图*/
#update_background {
    position: absolute;
    width: 644px;
    height: 530px;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* 弹出提示文字内容*/
#toast_message_text{
    background-Repeat: no-repeat;
    width: 644px;
    font-family: 'Source Han Sans CN';
    font-size: 20px;
    color: #2a4e87;
    top:175px;
    left: 160px;
    position: absolute;
    overflow: hidden;
}

/* 确定或取消 按钮文字内容*/
#toast_message_submit{
    background-Repeat: no-repeat;
    width: 644px;
    font-family: 'Source Han Sans CN';
    font-size: 35px;
    color: #ffffff;
    top:300px;
    left: 290px;
    position: absolute;
    overflow: hidden;
}