<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>活动《社区医院》-赛马场-V5</title>
    <meta charset="utf-8" name="page-view-size" content="{$size}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/common.css?t={$time}"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/{$platformType}/Hospital/SaiMaChangHospital/index.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var RenderParam = {
            //公共渲染
            carrierId: "{$carrierId}",          // 地区id
            areaCode: "{$areaCode}",            // 省份地区码
            subAreaCode: "{$subAreaCode}",      // 省份下的子区域
            platformType: "{$platformType}",    // 平台类型
            debug: "{$debug}",                  // 调试模式
            pageSize: "{$size}",                // 页面尺寸
            stbModel: "{$stbModel}",            // 盒子的型号
            fsUrl: "{$resourcesUrl}",           // fs 地址
            time: "{$time}",                    // 开始渲染时间
            userId: "{$userId}",                // 用户Id
            accountId: "{$accountId}",                // 用户Id

            //当前页渲染
            hospitalName: '{$hospitalName}',
            currentFocusId: '{$focusIndex}', // 当前获得焦点的元素id
        }
    </script>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui.js?t={$time}"></script>
    <!--当前模块js-->
    <script type="text/javascript" src="__ROOT__/Public/js/Hospital/CommunityHospital/V5/index.js?t={$time}"></script>
</head>
<body>
<div class="bg">
<!--    <div class="title">团结社区</div>-->
    <div class="content">
        <img  id="content1" class="content1" src="__ROOT__/Public/img/hd/Hospital/SaiMaChangHospital/saimachang.png">
        <img  id="content2" class="content2" src="__ROOT__/Public/img/hd/Hospital/SaiMaChangHospital/hongqishequ.png">
        <img  id="content3" class="content3" src="__ROOT__/Public/img/hd/Hospital/SaiMaChangHospital/health_examination.png">
    </div>
</div>
<script>
    window.onload = function () {
        MyHome.init();
    };
</script>
</body>
</html>
