body {
    width: 1280px;
    height: 720px;
}
/*body > *,*/
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 1;
    display: none;
    overflow: hidden;
}
#bg_1{
    display: block;
}
#bg_2{
    display: none;
}


/*活动首页*/
.btn-list{
    position: absolute;
    top: 30px;
    left: 30px;
}

#btn_back{
    position: absolute;
    left: 1057px;
    top: 25px;
    margin-top: 0px;
    margin-left: 0px;
}
#btn_activity_rule{
    position: absolute;
    left: 1057px;
    top: 110px;
}

#btn_winner_list{
    position: absolute;
    left: 1057px;
    top: 195px;
}
.lipstick{
    position: absolute;

}
#lipstick1{
  position: absolute;
  left:501px;
  top: 551px;
}

#btn_lottery_cancel_1 {
    position: absolute;
    top: 465px;
    left: 693px;
    height: 56px;
    width: 167px;
}

#left_times {
    position: absolute;
    left:570px;
    top: 676px;
    text-align: center;
    color: #582c18;
    font-size: 24px;
    font-weight: bold;
}
#score{
    position: absolute;
    top: 267px;
    left: 637px;
    text-align: center;
    color: #3f2b10;
    width: 80px;
    height: 36px;
    font-size: 36px;
}

#btn_start{
    position: absolute;
    top: 583px;
    left: 943px;
}



/*活动规则*/
#btn_close_rule {
    position: absolute;
    top: 70px;
    left: 1055px;
    display: block;
}

/*中奖名单*/
#total_list {
    top: 185px;
    left: 262px;
    height: 173px;
    width: 771px;
    font-size: 26px;
    /*border: 1px red solid;*/
}
#btn_list_submit {
    top: 545px;
    left: 440px;
}

#btn_list_cancel {
    top: 545px;
    left: 666px;
}

#all_marquee {
    width: 800px;
    height: 130px;
}

#my_marquee {
    height: 40px;
}

table.marquee_table {
    width: 780px;
}

table#all_table tr {
    height: 40px;
}

table#my_table tr {
    height: 30px;
}

.winner_account{
    width: 290px;
}
.winner_time{
    width: 290px;
}
.winner_prize{
    width: 178px;
}

table.marquee_table td {
    /* left: 240px; */
    margin-right: 40px;
    text-align: left;
    font-size: 26px;
    color: #1977bd;
    font-weight: bold;
    /*border: 1px red solid;*/
}

#my_list {
    top: 428px;
    left: 262px;
    height: 30px;
    width: 771px;
    font-size: 23px;
    text-align: center;
}

#reset_tel {
    top: 482px;
    left: 468px;
    width: 320px;
    font-size: 30px;
    /*font-style: SourceHanSansCN-Medium;*/
    color: #333333;
    text-align: left;
    font-weight: bold;
}



/*游戏结束*/
#btn_game_over_sure {
    top: 440px;
    left: 565px;
}

/*游戏页*/
#game_container{
    position: absolute;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}


#btn_close{
    top: 77px;
    left: 1090px;
}



/*抽奖失败*/
#btn_lottery_fail{
    top: 443px;
    left: 553px;
}

/*抽奖品*/
#lottery_prize{
    top: 280px;
    left: 475px;
    width: 271px;
    height: 340px;
}


#prize_count{
    top: 280px;
    left: 980px;
    font-size: 55px;
    line-height: 55px;
    width: 80px;
    height: 55px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#btn_exchange_submit {
    top: 469px;
    left: 385px;
}

#btn_exchange_cancel {
    top: 469px;
    left: 715px;
}

#exchange_tel {
    top: 519px;
    left: 452px;
    width: 320px;
    font-size: 30px;

    color: rgba(255,255,255,0.5);
    border-radius: 5px;
    text-align: center;
}


/*抽奖成功*/
#prize_image {
    top: 160px;
    left: 498px;
    /*width: 150px;*/
    /*height: 150px;*/
}

#lottery_tel {
    top: 432px;
    left: 468px;
    /*width: 300px;*/
    font-size: 30px;
    color: #333333;
    /*color: #929292;*/
    border-radius: 5px;
    text-align: left;
    font-weight: bold;
}

#btn_lottery_submit {
    top:514px;
    left: 440px;
}

#btn_lottery_cancel {
    top: 514px;
    left: 666px;
}


/*订购VIP*/
#btn_order_submit {
    top: 443px;
    left: 440px;
}

#btn_order_cancel {
    top: 443px;
    left: 666px;
}
#btn_game_confirm{
    top: 528px;
    left: 713px;
}
#btn_game_cancel{
    top: 528px;
    left: 984px;
}
/*游戏结束*/
#btn_no_score {
    top: 528px;
    left: 713px;
}
#cutDown{
    position: absolute;
    top: 625px;
    left: 125px;
    text-align: center;
    color: #fff;
    width: 80px;
    height: 30px;
    font-size: 30px;
    /*border: 1px red solid;*/
}
#skin-list{
    position: absolute;
    top: 343px;
    left: 738px;
    width: 450px;
    overflow: hidden;
}
#skin-list>img{
    margin-left: -10px;
}
#play{
    position: absolute;
    top: 583px;
    left: 933px;
}


/*倒计时弹窗*/
#count {
    top: 300px;
    left: 670px;
    color: #ffffff;
    font-size: 50px;
}

#game_over_sure{
    position: absolute;
    top: 440px;
    left: 565px;
}

#do-lottery{
    position: absolute;
    top: 440px;
    left: 480px;
}

#do-cancel{
    position: absolute;
    top: 440px;
    left: 650px;
}

#card_model1 {
    left: 40px;
    top: 30px;
}
#card_model2 {
    left: 40px;
    top: 168px;
}
#card_model3 {
    left: 40px;
    top: 306px;
}
#card_model4 {
    left: 40px;
    top: 444px;
}
#blessing1 {
    left: 360px;
    top: 31px;
}
#blessing2 {
    left: 810px;
    top: 31px;
}
#blessing3 {
    left: 360px;
    top: 131px;
}
#blessing4 {
    left: 810px;
    top: 131px;
}
#card-content {
    left: 360px;
    top: 65px;
}
#blessing-content {
    left: 648px;
    top: 400px;
}
#btn_send {
    left: 40px;
    top: 582px;
}