.region {
    position: absolute;
    top: 118px;
    left: 80px;
    font-size: 24px;
    height: 68px;
    width: 1000px;
    color: #FFFFFF;
}

.region-name {
    height: 68px;
    line-height: 68px;
}

.region-title {
    position: absolute;
    top: 13px;
    left: 110px;
    width: 120px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

.arrow-pre {
    position: absolute;
    top: 28px;
    left: 256px;
    width: 20px;
    height: 16px;
}

.arrow-next {
    position: absolute;
    top: 28px;
    left: 1085px;
    width: 20px;
    height: 16px;
}

.region-list {
    position: absolute;
    top: 10px;
    left: 270px;
    width: 800px;
    height: 68px;
}

.region-btn {
    width: 120px;
    height: 44px;
    line-height:44px;
    text-align: center;
    border-radius: 25px;
    margin-left: 30px;
    float: left;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 172px;
    left: 56px;
    width: 1170px;
    height: 535px;
    overflow: hidden;
    border: 1px transparent solid;
}
.recommended{
    position: absolute;
    top: -30px;
    width: 360px;
    height: 220px;
    float: left;
    margin-left: 22px;
    margin-top: 50px;

}
.recommended-bg{
    position: absolute;
    top:0px;
    left: 0px;
    width: 360px;
    height: 220px;
    border-radius: 10px;
}
.recommended-title{
    position: absolute;
    top: 184px;
    left: 0px;
    width: 360px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    background: rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 10px;
    border-top-left-radius:0em;
    border-top-right-radius:0em;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.table-list{
    width: 97.5%;
}
table tr td{
    position: relative;
    text-align: center;
    height: 240px;
}
.position{
    width: 100%;
    height: 40px;
}
.line{
    position: absolute;
    top: 13px;
    left: 243px;
    font-size: 30px;
    color: #898F94;
}
#region-content{
    display: none;
}
.btn-hover{
    font-weight: bold;
}


