#smallvod {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
}

#smallscreen {
    width: 1px;
    height: 1px
}

#backg {
    height: 720px;
    width: 1280px;
    position: relative;
}

#playbuttom {
    display: none;
    position: absolute;
    width: 86px;
    left: 45%;
    top: 35%;
    border: 0;
}

#videoback {
    width: 1280px;
    height: 65px;
    position: absolute;
    top: 650px;
    left: 0;
}

#ptime {
    color: #fff;
    position: absolute;
    left: 63px;
    top: 670px;
    font-weight: bold;
}

#totaltime {
    color: #fff;
    position: absolute;
    right: 63px;
    top: 670px;
    font-weight: bold;
}

#progressbar {
    height: 9px;
    width: 888px;
    background-color: #2d2e2f;
    position: absolute;
    top: 680px;
    left: 196px;
}

#fill {
    background-color: #62ca2d;
    height: 9px;
    width: 0;
    z-index: 999;
}

#ball {
    width: 34px;
    position: relative;
    bottom: 13px;
    left: -10px;
}

a {
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

li {
    list-style: none;
    color: #fff;
    font-size: 26px;
    line-height: 50px;
}

#collectback {
    width: 1280px;
    height: 720px;
    background-image: url("../../../../img/hd/Player/V1/collectback.png");
    position: relative;
}

#titletext {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 75px;
    left: 480px;
}

.imgback {
    width: 204px;
    height: 213px;
    position: absolute;
    top: 213px;
}

.imgtitle {
    position: absolute;
    width: 204px;
    height: 50px;
    background-image: url("../../../../img/hd/Player/V1/collectback.png");
    top: 163px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.picture {
    width: 204px;
    height: 213px;
    margin: 0;
    padding: 0;
}

.imgtext {
    color: #fff;
    font-size: 26px;
    line-height: 50px;
}

.navimg {
    width: 115px;
    height: 114px;
    position: absolute;
    top: 500px;
}

.imghover {
    border: 5px white solid;
}

#replaytext {
    font-size: 32px;
    position: absolute;
    left: 349px;
    top: 622px;
    color: #fff;
}

#resumeplay {
    font-size: 32px;
    position: absolute;
    left: 319px;
    top: 622px;
    color: #fff;
}

#collecttext {
    font-size: 32px;
    position: absolute;
    left: 575px;
    top: 622px;
    color: #fff;
}

#nocollecttext {
    font-size: 32px;
    position: absolute;
    left: 605px;
    top: 622px;
    color: #fff;
}

#exittext {
    font-size: 32px;
    position: absolute;
    left: 870px;
    top: 622px;
    color: #fff;
}

#focus-1-1 {
    left: 131px;
}

#focus-1-2 {
    left: 384px;
}

#focus-1-3 {
    left: 638px;
}

#focus-1-4 {
    left: 893px;
}

#focus-2-3 {
    left: 843px;
}

.speed {
    position: absolute;
    top: 329px;
    left: 558px;
    width: 164px;
    height: 62px;
    display: none;
}

.speed_rewind {
    position: absolute;
    top: 348px;
    left: 492px;
    width: 49px;
    height: 29px;
    display: none;
}

.speed_forward {
    position: absolute;
    top: 348px;
    left: 739px;
    display: none;
}

#debug1 {
    border: 1px red solid;
    color: red;
    top: 50px;
    left: 30px;
    width: 680px;
    word-wrap: break-word;
    position: absolute;
    z-index: 100;
    font-size: 20px;
}

#debug2 {
    border: 1px deeppink solid;
    text-align: left;
    color: deeppink;
    top: 50px;
    right: 30px;
    width: 480px;
    max-height: 40%;
    overflow: auto;
    word-wrap: break-word;
    position: absolute;
    z-index: 100;
    font-size: 20px
}