<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>湖南有线--订购结果显示</title>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/Common/V1/common.css?t={$time}"/>

    <!--全局渲染参数-->
    <script type="text/javascript">
        var ROOT = "__ROOT__";
        var RenderParam = {
            isSuccess: "{$isSuccess}",            // 是否订购成功
        };
        if(RenderParam.isSuccess == "1"){
            var bgImg = "__ROOT__/Public/img/hd/Pay/V370002/pay_result_success.png"; //背景图
        } else {
            var bgImg = "__ROOT__/Public/img/hd/Pay/V370002/pay_result_fail.png"; //背景图
        }

    </script>
    <!--第三方依赖库-->
    <script type="text/javascript" src="__ROOT__/Public/ThirdParty/js/json2.js?t={$time}"></script>
    <!--公用库-->
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmcommon.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/lmui_v1.0.1.js?t={$time}"></script>
    <script type="text/javascript" src="__ROOT__/Public/Common/js/android.js?t={$time}"></script>
</head>
<body>
<img id="bgImg" style="position: absolute;width: 1280px;height: 720px"/>
<img id="btn-ok" style="position: absolute;width: 291px;height: 119px; top: 466px;left: 50%; margin-left: -145px"/>

<script type="text/javascript">
    G("bgImg").src = bgImg;
    var buttons = [];

    /**
     * 返回事件
     */
    function onBack() {
        LMEPG.Intent.back();
    }

    /**
     * 焦点初始化
     */
    function initButtons() {
        buttons.push(
            {
                id: 'btn-ok',
                name: "确定按键",
                type: "img",
                nextFocusLeft: '',
                nextFocusRight: '',
                nextFocusUp: '',
                nextFocusDown: '',
                backgroundImage: '__ROOT__/Public/img/hd/Pay/V370002/btn_pay_result_ok_out.png',
                focusImage: '__ROOT__/Public/img/hd/Pay/V370002/btn_pay_result_ok_in.png',
                click: 'onBack()',
                focusChange: '',
                beforeMoveChange: '',
                moveChange:  '',
            }
        );
    }

    window.onload = function () {
        initButtons();
        LMEPG.ButtonManager.init(["btn-ok"], buttons, '', true);
    }

</script>
</body>
</html>