body {
    width: 644px;
    height: 530px;
}

body > *,
.modal > *{
    position: absolute;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 644px;
    height: 530px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

/*活动首页*/

#btn_back{
    position: absolute;
    top: 40px;
    left: 506px;
}
/*活动规则*/
#btn_activity_rule{
    position: absolute;
    top: 100px;
    left: 506px;
}
/*中间名单*/
#btn_winner_list{
    position: absolute;
    top:160px;
    left: 506px;
}
/*兑换奖品*/
#btn_exchange_prize{
    position: absolute;
    top: 220px;
    left: 506px;
}
#btn_tips {
    position: absolute;
    position: absolute;
    top: 117px;
    left: 24px;
}

#btn_start {
    position: absolute;
    top: 310px;
    left: 250px;
}

#left_times {
    position: absolute;
    top: 360px;
    left: 267px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
#score {
    position: absolute;
    top: 274px;
    left: 510px;
    width: 140px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}


/*倒计时*/
#count_down{
    top: 40px;
    left: 34px;
    width: 44px;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}


/*活动规则*/
#btn_close_rule {
    top: 40px;
    left: 506px;
}

#btn_close_tips {
    top: 40px;
    left: 506px;
}

/*中奖名单*/
#total_list {
    top: 163px;
    left: 23px;
    /*border: 1px red solid;*/
}

#all_marquee {
    height: 88px;
}

#my_marquee {
    height: 40px;
}

table.marquee_table {
    width: 577px;
}

table#all_table tr {
    height: 30px;
}

table.marquee_table td {
    width: 232px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

#my_list {
    top: 305px;
    left: 24px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    /*border: 1px red solid;*/
}

.winner_account{
    padding-right: 0px;
}
.winner_time{
    padding-left: 0px;
}
.winner_prize{
    padding-left: 10px;
}

#reset_tel {
    color: #d82f19;
    top: 348px;
    left: 229px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    /*border: 1px red solid;*/
}

#btn_list_submit {
    top: 402px;
    left: 184px;
}

#btn_list_cancel {
    top: 402px;
    left: 342px;
}

/*奖品兑换*/
#exchange_prize_1{
    top: 340px;
    left: 109px;
}
#exchange_prize_2{
    top: 340px;
    left: 273px;
}
#exchange_prize_3{
    top: 340px;
    left: 436px;
}
#btn_exchange_close{
    top: 13px;
    left: 552px;
}
#exchange_point_1{
    top: 302px;
    left: 140px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 22px;
    text-align: center;
}
#exchange_point_2{
    top: 302px;
    left: 330px;
    width: 32px;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 22px;
    text-align: center;
}
#exchange_point_3{
    top: 302px;
    left: 505px;
    width: 50px;
    height: 50px;
    line-height: 30px;
    color: #000;
    font-size: 22px;
    text-align: center;
}
#game_score{
    top: 73px;
    left: 298px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #000;
    font-size: 22px;
    text-align: center;
    /*border: 1px red solid;*/
}

/*兑奖成功*/
#exchange_tel {
    top: 281px;
    left: 315px;
    font-size: 18px;
    color: #d82f19;
    width: 260px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

#btn_exchange_submit {
    top: 330px;
    left: 184px;
}

#btn_exchange_cancel {
    top: 330px;
    left: 342px;
}

/*活动页样式*/
#btn_boy{
    bottom: 0px;
}


#game_countdown {
    top: 30px;
    left: 30px;
    width: 110px;
    height: 30px;
    color: #000;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    font-weight: bold;
    /*border: 1px red solid;*/
}


/*抽奖成功*/
#prize_image {
    top: 190px;
    left: 630px;
}


/*游戏结束*/
#btn_game_over_sure {
    top: 390px;
    left: 237px;
}


/*游戏失败*/
#btn_game_fail{
    top: 422px;
    left: 203px;
}

#btn_game_fail_sure {
    top: 294px;
    left: 264px;
}


/*游戏成功*/
#btn_game_success {
    top: 331px;
    left: 273px;
}

#btn_game_sure {
    top: 294px;
    left: 264px;
}

#shot_count{
    top: 185px;
    left: 455px;
    font-size: 30px;
    color: #FFFFFF;
}

/*抽奖成功*/
#prize_image {
    top: 130px;
    left: 320px;
}

#lottery_tel {
    color: #804000;
    top: 374px;
    left: 270px;
    width: 244px;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    text-align: center;
}

#btn_lottery_submit {
    top: 402px;
    left: 240px;
}

/*订购VIP*/
#btn_order_submit {
    top: 331px;
    left: 193px;
}

#btn_order_cancel {
    top: 331px;
    left: 353px;
}

#btn_single_game_over{
    top: 328px;
    left: 230px;
}

#single_game_arrow_num{
    top: 223px;
    left: 400px;
    color: #fe7271;
    font-size: 40px;
    font-weight: bold;
    width: 75px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    /*border: 1px red solid*/
}

/*挽留倒计时弹窗*/
#count {
    top: 214px;
    left: 343px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: #000;
    font-size: 38px;
    font-weight: bold
}
*img{
    border: none;
    outline: none;
}

