* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 310px;
    left: 590px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 50px;
    left: 990px;
}

.hd-view-more {
    top: 50px;
    left: 1170px;
}

.hd-video-list {
    top: 160px;
    left: 610px;
    width: 570px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 40px;
}

.hd-v-arrow {
    top: 180px;
}

.hd-v-prev {
	top: 180px;
    left: 590px;
    visibility: hidden;
}

.hd-v-next {
	top: 180px;
    left: 1200px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 90px;
    left: 560px;
    width: 54px;
    height: 40px;
}

.sd-back {
    position: absolute;
    top: 30px;
    left: 470px;
    width: 144px;
    height: 40px;
}

.sd-video-list {
    position: absolute;
    top: 300px;
    left: 364px;
    width: 230px;
    height: 200px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 84px;
    height: 70px;
    margin-left: 16px;
	margin-top: 20px;
}

.sd-v-arrow {
    position:absolute;
    top: 390px;
    width: 24px;
    height: 24px;
}

.sd-v-prev {
    left: 340px;
    visibility: hidden;
}

.sd-v-next {
    left: 580px;
}


