* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 407px;
    left: 124px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 5px;
    left: 1134px;
}

.hd-view-more {
    top: 5px;
    left: 999px;
}

.hd-video-list {
    top: 176px;
    left: 428px;
    width: 795px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-right:-10px;
}

.hd-v-arrow {
    top: 405px;
}

.hd-v-prev {
    left: 354px;
    visibility: hidden;
}

.hd-v-next {
    left: 1143px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 40px;
    left: 432px;
    width: 105px;
    height: 39px;
}

.sd-back {
    position: absolute;
    top: 40px;
    left: 561px;
    width: 60px;
    height: 39px;
}

.sd-video-list {
    position:absolute;
    top: 219px;
    left: 281px;
    width: 388px;
    height: 277px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 39px;
    height: 271px;
    margin-right: 26px;
}

.sd-v-arrow {
    position:absolute;
    top: 335px;
    width: 24px;
    height: 28px;
}

.sd-v-prev {
    left: 219px;
    visibility: hidden;
}

.sd-v-next {
    left: 613px;
}


