* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 480px;
    left: 770px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 30px;
    left: 1070px;
}

.hd-view-more {
    top: 100px;
    left: 1160px;
}

.hd-video-list {
    top: 360px;
    left: 170px;
    width: 360px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-top: 10px;
}

.hd-v-arrow {
    left: 320px;
}

.hd-v-prev {
	top: 330px;
    left: 320px;
    visibility: hidden;
}

.hd-v-next {
	top: 650px;
    left: 320px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 70px;
    left: 560px;
    width: 64px;
    height: 40px;
}

.sd-back {
    position: absolute;
    top: 20px;
    left: 500px;
    width: 124px;
    height: 40px;
}

.sd-video-list {
    position: absolute;
    top: 280px;
    left: 20px;
    width: 250px;
    height: 220px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 244px;
    height: 40px;
    margin-top: 10px;
}

.sd-v-arrow {
    position:absolute;
    left: 130px;
    width: 24px;
    height: 20px;
}

.sd-v-prev {
    top: 260px;
    visibility: hidden;
}

.sd-v-next {
    top: 490px;
}


