* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 364px;
    left: 159px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 40px;
    left: 1115px;
}

.hd-view-more {
    top: 40px;
    left: 960px;
}

.hd-video-list {
    top: 602px;
    left: 69px;
    width: 1125px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 18px;
}

.hd-v-arrow {
    top: 495px;
}

.hd-v-prev {
	top: 640px;
    left: 31px;
    visibility: hidden;
}

.hd-v-next {
	top: 640px;
    left: 1221px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 30px;
    left: 420px;
    width: 84px;
    height: 42px;
}

.sd-back {
    position: absolute;
    top: 30px;
    left: 530px;
    width: 84px;
    height: 42px;
}

.sd-video-list {
    position: absolute;
    top: 230px;
    left: 42px;
    width: 288px;
    height: 302px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 44px;
    height: 260px;
    margin-left: 16px;
}

.sd-v-arrow {
    position:absolute;
    top: 340px;
    width: 24px;
    height: 32px;
}

.sd-v-prev {
    left: 30px;
    visibility: hidden;
}

.sd-v-next {
    left: 286px;
}


