* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 349px;
    left: 116px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 45px;
    left: 1078px;
}

.hd-view-more {
    top: 45px;
    left: 878px;
}

.hd-video-list {
    top: 148px;
    left: 633px;
    width: 850px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-right:24px;
}

.hd-v-arrow {
    top: 361px;
}

.hd-v-prev {
    left: 579px;
    visibility: hidden;
}

.hd-v-next {
    left: 1229px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 28px;
    left: 413px;
    width: 99px;
    height: 38px;
}

.sd-back {
    position: absolute;
    top: 28px;
    left: 543px;
    width: 75px;
    height: 38px;
}

.sd-video-list {
    position:absolute;
    top: 116px;
    left: 320px;
    width: 388px;
    height: 280px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 57px;
    height: 280px;
    margin-right: 17px;
}

.sd-v-arrow {
    position:absolute;
    top: 245px;
    width: 14px;
    height: 22px;
}

.sd-v-prev {
    left: 296px;
    visibility: hidden;
}

.sd-v-next {
    left: 608px;
}


