* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 127px;
    left: 593px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 18px;
    left: 1033px;
}

.hd-view-more {
    top: 18px;
    left: 850px;
}

.hd-video-list {
    top: 615px;
    left: 20px;
    width: 1205px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 40px;
}

.hd-v-arrow {
    top: 626px;
}

.hd-v-prev {
	top: 626px;
    left: 30px;
    visibility: hidden;
}

.hd-v-next {
	top: 626px;
    left: 1236px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 69px;
    left: 389px;
    width: 134px;
    height: 41px;
}

.sd-back {
    position: absolute;
    top: 69px;
    left: 499px;
    width: 110px;
    height: 41px;
}

.sd-video-list {
    position: absolute;
    top: 423px;
    left: -4px;
    width: 615px;
    height: 70px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 166px;
    height: 23px;
    margin-left: 38px;
}

.sd-v-arrow {
    position:absolute;
    top: 426px;
    width: 9px;
    height: 17px;
}

.sd-v-prev {
    left: 11px;
    visibility: hidden;
}

.sd-v-next {
    left: 624px;
}


