* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 52px;
    left: 44px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 16px;
    left: 883px;
}

.hd-view-more {
    top: 16px;
    left: 1096px;
}

.hd-video-list {
    top: 146px;
    left: 889px;
    width: 350px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-top: 10px;
}

.hd-v-arrow {
    left: 1035px;
}

.hd-v-prev {
	top: 114px;
    left: 1035px;
    visibility: hidden;
}

.hd-v-next {
	top: 684px;
    left: 1035px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 11px;
    left: 523px;
    width: 94px;
    height: 32px;
}

.sd-back {
    position: absolute;
    top: 11px;
    left: 376px;
    width: 134px;
    height: 32px;
}

.sd-video-list {
    position: absolute;
    top: 83px;
    left: 429px;
    width: 200px;
    height: 300px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 189px;
    height: 67px;
    margin-top: 8px;
}

.sd-v-arrow {
    position:absolute;
    left: 512px;
    width: 24px;
    height: 16px;
}

.sd-v-prev {
    top: 63px;
    visibility: hidden;
}

.sd-v-next {
    top: 392px;
}


