* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 208px;
    left: 50px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 20px;
    left: 941px;
}

.hd-view-more {
    top: 20px;
    left: 1153px;
}

.hd-video-list {
    top: 616px;
    left: 24px;
    width: 1205px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 42px;
}

.hd-v-arrow {
    top: 640px;
}

.hd-v-prev {
	top: 640px;
    left: 20px;
    visibility: hidden;
}

.hd-v-next {
	top: 640px;
    left: 1240px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 22px;
    left: 531px;
    width: 79px;
    height: 43px;
}

.sd-back {
    position: absolute;
    top: 22px;
    left: 366px;
    width: 141px;
    height: 43px;
}

.sd-video-list {
    position: absolute;
    top: 442px;
    left: 66px;
    width: 550px;
    height: 75px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 123px;
    height: 72px;
    margin-left: 36px;
}

.sd-v-arrow {
    position:absolute;
    top: 467px;
    width: 20px;
    height: 20px;
}

.sd-v-prev {
    left: 67px;
    visibility: hidden;
}

.sd-v-next {
    left: 560px;
}


