* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 80px;
    top: 200px
}

#smallvod {
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}
.hd-videoTv {
    position: absolute;
    top: 447px;
    left: 181px;
}
.hd-free{
}
.hd-more {
    top: 23px;
    left: 917px;
}

.hd-back {
    top: 23px;
    left: 1090px;
}

.hd-tab-content {
    top: 120px;
    left: 673px;
}

.hd-tab-content img {
    margin-right: 33px;
}
.hd-v-arrow {
    top: 280px;
    width: 25px;
    height: 41px;
}

.hd-v-prev {
    left: 608px;
}

.hd-v-next {
    left: 1188px;
}
.hd-history-album{
    top: 543px;
    left: 254px;
}
.hd-history-album img{
    margin-right: 30px;
}
.hd-a-arrow {
}
.hd-a-prev{
}
.hd-a-next{
}

/*==============SD==================*/
.sd-body{
    width: 644px;
    height: 530px;
}
.sd-more {
    top: 32px;
    left: 385px;
    width: 97px;
    height: 34px;
}

.sd-back {
    top: 32px;
    left: 512px;
    width: 97px;
    height: 34px;
}

.sd-tab-content {
    top: 117px;
    left: 347px;
}

.sd-tab-content img {
    width: 36px;
    height: 229px;
    margin-right: 15px;
}

.sd-v-arrow {
    top: 206px;
}

.sd-v-prev {
    left: 318px;
}

.sd-v-next {
    left: 613px;
}
.sd-history-album{
    top: 420px;
    left: 108px;
}
.sd-history-album img{
    width: 125px;
    height: 102px;
}
.sd-a-arrow {
}
.sd-a-prev{
}
.sd-a-next{
}
