* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 66px;
    left: 718px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 30px;
    left: 1143px;
}

.hd-view-more {
    top: 97px;
    left: 1097px;
}

.hd-video-list {
    top: 274px;
    left: 162px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-right: 20px;
}

.hd-v-arrow {
    top: 434px;
}

.hd-v-prev {
    left: 78px;
    visibility: hidden;
}

.hd-v-next {
    left: 628px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}

.sd-back {
    position: absolute;
    top: 27px;
    left: 532px;
    width: 99px;
    height: 48px;
}
.sd-view-more {
    position:absolute;
    top: 75px;
    left: 490px;
    width: 139px;
    height: 48px;
}

.sd-video-list {
    position:absolute;
    top: 218px;
    left: 64px;
    width: 488px;
    height: 277px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 52px;
    height: 272px;
    margin-right: 20px;
}

.sd-v-arrow {
    position:absolute;
    top: 302px;
    width: 29px;
    height: 51px;
}

.sd-v-prev {
    left: 19px;
    visibility: hidden;
}

.sd-v-next {
    left: 409px;
}


