* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    background-color: transparent;
    overflow: hidden;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 80px;
    top: 200px
}

#smallvod {
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body {
    width: 1280px;
    height: 720px;
}

.hd-videoTv {
    top: 375px;
    left: 14px;
}

.hd-free {
    visibility: hidden;
}

.hd-more {
}

.hd-back {
    top: 12px;
    left: 1142px;
}

.hd-tab-content {
    top: 101px;
    left: 787px;
}

.hd-tab-content img {

margin-bottom: 8px;
}


.hd-v-arrow {
    left: 991px;
}

.hd-v-prev {
    top: 45px;
}

.hd-v-next {
    top: 600px;
}

/*==============SD==================*/
.sd-body {
    width: 644px;
    height: 530px;
}

.sd-more {
}

.sd-back {
    top: 16px;
    left: 557px;
    width: 69px;
    height: 55px;
}

.sd-tab-content {
    top: 81px;
    left: 299px;
}

.sd-tab-content img {
   width: 326px;
   height: 63px;
}

.sd-v-arrow {
    left: 448px;
    width: 55px;
    height: 33px;
}

.sd-v-prev {
    top: 40px;
}

.sd-v-next {
    left: 479px;
}
