* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 85px;
    left: 50px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 14px;
    left: 898px;
}

.hd-view-more {
    top: 14px;
    left: 1132px;
}

.hd-video-list {
    top: 511px;
    left: 57px;
    width: 695px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 12px;
}

.hd-v-arrow {
    top: 589px;
}

.hd-v-prev {
	top: 589px;
    left: 32px;
    visibility: hidden;
}

.hd-v-next {
	top: 589px;
    left: 761px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 10px;
    left: 530px;
    width: 104px;
    height: 62px;
}

.sd-back {
    position: absolute;
    top: 10px;
    left: 360px;
    width: 165px;
    height: 62px;
}

.sd-video-list {
    position: absolute;
    top: 376px;
    left: 42px;
    width: 400px;
    height: 130px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 162px;
    height: 137px;
    margin-left: 8px;
}

.sd-v-arrow {
    position:absolute;
    top: 433px;
    width: 20px;
    height: 20px;
}

.sd-v-prev {
    left: 23px;
    visibility: hidden;
}

.sd-v-next {
    left: 388px;
}


