* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 80px;
    top: 200px
}

#smallvod {
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body {
    width: 1280px;
    height: 720px;
}

.hd-videoTv {
    top: 420px;
    left: 140px;
}

#hd-free {
    visibility: hidden;
    top: 423px;
    left: 387px;
}

.hd-more {
    top: 80px;
    left: 1140px;
}

.hd-back {
    top: 20px;
    left: 1140px;
}

.hd-tab-content {
    top: 80px;
    left: 600px;
}

.hd-tab-content img {margin-bottom: 50px;}


.hd-v-arrow {
    left: 830px;
}

.hd-v-prev {
    top: 24px;
}

.hd-v-next {
    top: 560px;
}

/*==============SD==================*/
.sd-body {
    width: 644px;
    height: 530px;
}

.sd-more {
    top: 60px;
    left: 560px;
    width: 68px;
    height: 26px;
}

.sd-back {
    top: 20px;
    left: 560px;
    width: 68px;
    height: 26px;
}

.sd-tab-content {
    width:242px ;
    top: 250px;
    left: 50px;
}

.sd-tab-content img {
    width: 242px;
    height: 42px;
}

.sd-v-arrow {
    left: 160px;
    width: 18px;
    height: 14px;
}

.sd-v-prev {
    top: 220px;
}

.sd-v-next {
    top: 490px;
}
