* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 80px;
    top: 200px
}

#smallvod {
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}
.hd-videoTv {
    top: 423px;
    left: 37px;
}
.hd-free{
    visibility: hidden;
}

.hd-back {
    top: 14px;
    left: 1150px;
}

.hd-tab-content {
    top: 85px;
    left: 708px;
}

.hd-tab-content img {

}
.hd-v-arrow {
    left: 912px;
}

.hd-v-prev {
    top: 37px;
}

.hd-v-next {
    top: 496px;
}
.hd-history-album{
    top: 553px;
    left: 399px;
}
.hd-history-album img{
    margin-right: 1px;
}
.hd-a-arrow {
}
.hd-a-prev{
}
.hd-a-next{
}

/*==============SD==================*/
.sd-body{
    width: 644px;
    height: 530px;
}
.sd-more {

}

.sd-back {
    top: 10px;
    left: 548px;
    width: 81px;
    height: 34px;
}

.sd-tab-content {
    top: 60px;
    left: 308px;
}

.sd-tab-content img {
    width: 327px;
    height: 64px;
}

.sd-v-arrow {
    left: 459px;
    width: 25px;
    height: 23px;
}

.sd-v-prev {
    top: 27px;
}

.sd-v-next {
    top: 367px;
}
.sd-history-album{
    top: 407px;
    left: 13px;
}
.sd-history-album img{
    width: 155px;
    height: 108px;
}
.sd-a-arrow {
}
.sd-a-prev{
}
.sd-a-next{
}
