* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 334px;
    left: 20px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 19px;
    left: 740px;
}

.hd-view-more {
    top: 213px;
    left: 740px;
}

.hd-video-list {
    top: 56px;
    left: 64px;
    width: 635px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 9px;
}

.hd-v-arrow {
    top: 178px;
}

.hd-v-prev {
	top: 178px;
    left: 25px;
    visibility: hidden;
}

.hd-v-next {
	top: 178px;
    left: 685px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 143px;
    left: 581px;
    width: 29px;
    height: 98px;
}

.sd-back {
    position: absolute;
    top: 6px;
    left: 581px;
    width: 29px;
    height: 129px;
}

.sd-video-list {
    position: absolute;
    top: 231px;
    left: 31px;
    width: 500px;
    height: 200px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 75px;
    height: 170px;
    margin-left: 8px;
}

.sd-v-arrow {
    position:absolute;
    top: 305px;
    width: 20px;
    height: 30px;
}

.sd-v-prev {
    left: 6px;
    visibility: hidden;
}

.sd-v-next {
    left: 440px;
}


