* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 199px;
    left: 595px;
    height: 385px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 32px;
    left: 1052px;
}


.hd-view-more {
    top: 98px;
    left: 1172px;
}

.hd-video-list {
    top: 620px;
    left: 60px;
    /*width: 1070px;*/
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 18px;
}

.hd-v-arrow {
    top: 633px;
}

.hd-v-prev {
	top: 633px;
    left: 23px;
    visibility: hidden;
}

.hd-v-next {
	top: 633px;
    left: 1218px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 70px;
    left: 550px;
    /*width: 94px;
    height: 38px;*/
}

.sd-back {
    position: absolute;
    top: 20px;
    left: 430px;
    /*width: 184px;
    height: 38px;*/
}

.sd-video-list {
    position: absolute;
    top: 440px;
    left: 21px;
    width: 605px;
    height: 60px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 264px;
    height: 36px;
    margin-left: 25px;
}

.sd-v-arrow {
    position:absolute;
    top: 446px;
    width: 24px;
    height: 24px;
}

.sd-v-prev {
    left: 10px;
    visibility: hidden;
}

.sd-v-next {
    left: 610px;
}


