* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 432px;
    left: 746px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 20px;
    left: 1045px;
}

.hd-view-more {
    top: 95px;
    left: 1045px;
}

.hd-video-list {
    top: 340px;
    left: 106px;
    width: 520px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 38px;
}

.hd-v-arrow {
    top: 485px;
}

.hd-v-prev {
	top: 485px;
    left: 63px;
    visibility: hidden;
}

.hd-v-next {
	top: 485px;
    left: 625px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 70px;
    left: 504px;
    width: 124px;
    height: 30px;
}

.sd-back {
    position: absolute;
    top: 20px;
    left: 504px;
    width: 124px;
    height: 30px;
}

.sd-video-list {
    position: absolute;
    top: 259px;
    left: 38px;
    width: 330px;
    height: 225px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 76px;
    height: 210px;
    margin-left: 21px;
}

.sd-v-arrow {
    position:absolute;
    top: 345px;
    width: 32px;
    height: 36px;
}

.sd-v-prev {
    left: 10px;
    visibility: hidden;
}

.sd-v-next {
    left: 345px;
}


