* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    overflow: hidden;
    position: relative;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 80px;
    top: 200px
}

#smallvod {
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-videoTv {
    position: absolute;
    top: 4px;
    left: 43px;
}

.hd-more {
    top: 628px;
    left: 1010px;
}

.hd-back {
    top: 628px;
    left: 1105px;
}

.hd-tab-content {
    top: 309px;
    left: 57px;
    /*width: 479px;*/
}

.hd-tab-content img {
    /*margin-top: 10px;*/
    margin-right: -60px;
}

.hd-v-arrow {
    top: 466px;
    /*left: 967px;*/
}

.hd-v-prev {
    /*top: 18px;*/
    left: 17px;
}

.hd-v-next {
    /*top: 506px;*/
    left:1004px;
}
.hd-history-album{
    top: 552px;
    left: 184px;
}
.hd-history-album img{
    /*margin-top: 15px;*/
    margin-right: 10px;
}
.hd-a-arrow {
    top: 621px;
}
.hd-a-prev{
    left: 218px;
}
.hd-a-next{
    left: 1230px;
}

/*==============SD==================*/
.sd-more {
    top: 9px;
    left: 558px;
}

.sd-back {
    top: 32px;
    left: 41px;
}

.sd-tab-content {
    top: 298px;
    left: 55px;
    /*width: 247px;*/
}

.sd-tab-content img {
    /*margin-top: 16px;*/
    margin-right: -20px;
}

.sd-v-arrow {
    top: 394px;
    /*left: 477px;*/
}

.sd-v-prev {
    /*top: 42px;*/
    left: 2px;
}

.sd-v-next {
    /*top: 390px;*/
    left: 598px;
}
.sd-history-album{
    top: 438px;
    left: 47px;
}
.sd-history-album img{
    /*margin-left: -10px;*/
}
.sd-a-arrow {
    top: 456px;
}
.sd-a-prev{
    left: 12px;
}
.sd-a-next{
    left: 604px;
}
