* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 80px;
    top: 200px
}

#smallvod {
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body {
    width: 1280px;
    height: 720px;
}

.hd-videoTv {
    top: 340px;
    left: 427px;
}

#hd-free {
    top: 413px;
    left: 683px;
    visibility: hidden;
}

.hd-more {
    top: 22px;
    left: 877px;
}

.hd-back {
    top: 22px;
    left: 1068px;
}

.hd-tab-content {
    top: 167px;
    left: 822px;
}

.hd-tab-content img {
    margin-bottom: 10px;

}


.hd-v-arrow {
    left: 1025px;
}

.hd-v-prev {
    top: 124px;
}

.hd-v-next {
    top: 629px;
}

.hd-history-album {
}

.hd-history-album img {
}

.hd-a-arrow {
}

.hd-a-prev {
}

.hd-a-next {
}

/*==============SD==================*/
.sd-body {
    width: 644px;
    height: 530px;
}

.sd-more {
    top: 42px;
    left: 374px;
    width: 113px;
    height: 43px;
}

.sd-back {
    top: 42px;
    left: 504px;
    width: 113px;
    height: 43px;
}

.sd-tab-content {
    top: 141px;
    left: 337px;
}

.sd-tab-content img {
    width: 287px;
    height: 53px;
}

.sd-v-arrow {
    left: 476px;
    width: 30px;
    height: 19px;
}

.sd-v-prev {
    top: 112px;
}

.sd-v-next {
    top: 458px;
}

.sd-history-album {
}

.sd-history-album img {
    margin-bottom: 5px;
}

.sd-a-arrow {
}

.sd-a-prev {
}

.sd-a-next {
}
