* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 201px;
    left: 436px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 18px;
    left: 1088px;
}

.hd-view-more {
    top: 18px;
    left: 907px;
}

.hd-video-list {
    top: 555px;
    left: 112px;
    width: 1070px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 1px;
}

.hd-v-arrow {
    top: 595px;
}

.hd-v-prev {
    left: 49px;
    visibility: hidden;
}

.hd-v-next {
    left: 1188px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 70px;
    left: 520px;
    width: 106px;
    height: 50px;
}

.sd-back {
    position: absolute;
    top: 10px;
    left: 520px;
    width: 106px;
    height: 50px;
}

.sd-video-list {
    position: absolute;
    top: 440px;
    left: 38px;
    width: 580px;
    height: 68px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 142px;
    height: 68px;
    margin-left: 0px;
}

.sd-v-arrow {
    position:absolute;
    top: 460px;
    width: 22px;
    height: 38px;
}

.sd-v-prev {
    left: 2px;
    visibility: hidden;
}

.sd-v-next {
    left: 620px;
}


