* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 156px;
    left: 933px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 19px;
    left: 1109px;
    width: 130px;
    height: 70px;
}

.hd-view-more {
    top: 19px;
    left: 934px;
    width: 130px;
    height: 70px;
}

.hd-video-list {
    top: 406px;
    left: 127px;
    width:600px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    height: 289px;
    width: 121px;
    margin-left: 20px;
}


.hd-v-arrow {
    top: 527px;
    width:30px;
    height:40px;
}

.hd-v-prev {
    top: 527px;
    left: 73px;
    visibility: hidden;
}

.hd-v-next {
    top:527px;
    left: 717px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 110px;
    left: 510px;
    width:104px;
    height:56px;
}

.sd-back {
    position: absolute;
    top: 30px;
    left: 510px;
    width:104px;
    height:56px;
}

.sd-video-list {
    position:absolute;
    top: 248px;
    width: 296px;
    height: 262px;
    margin-left: 55px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 54px;
    height: 262px;
    /*margin-bottom: 20px;*/
    margin-left: 16px;
}


.sd-v-arrow {
    position:absolute;
    top: 446px;
    width: 40px;
    height: 23px;
}

.sd-v-prev {
    top: 350px;
    left: 20px;
    visibility: hidden;
}

.sd-v-next {
    top: 350px;
    left: 340px;
}

#count {
    position: absolute;
    top: 232px;
    left: 472px;
    font-size: 48px;
    color: #c55800;
    font-weight: bold;
}