* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
    position: relative;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    position: absolute;
    top: 391px;
    left: 254px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    position: absolute;
    top: 20px;
    left: 939px;
    width: 153px;
    height: 39px;

}

.hd-view-more {
    position: absolute;
    top: 20px;
    left: 1126px;
    height: 38px;
    width: 107px;

}

.hd-video-list {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 440px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    width: 212px;
    height: 236px;
}

.hd-v-arrow {
    top: 265px;
}


.hd-v-prev {
    top: 265px;
    left: 54px;
    visibility: hidden;
}

.hd-v-next {
    top: 265px;
    left: 871px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 16px;
    left: 547px;
    width:62px;
    height:38px;
}

.sd-back {
    position: absolute;
    top: 16px;
    left: 440px;
    width:95px;
    height:38px;
}

.sd-video-list {
    position: absolute;
    top: 39px;
    right: 13px;
    width: 216px;

}

.sd-video-list img {
    width: 108px;
    height: 155px;
}

.sd-v-arrow {
    position:absolute;
    top: 359px;
    width: 24px;
    height: 24px;
}

.sd-v-prev {
    left: 24px;
    visibility: hidden;
}

.sd-v-next {
    left: 469px;
}


