* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 428px;
    left: 41px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 114px;
    left: 1162px;
}

.hd-view-more {
    top: 42px;
    left: 1107px;
}

.hd-video-list {
    top: 301px;
    left: 532px;
    width: 580px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 18px;
}

.hd-v-arrow {
    top: 445px;
}

.hd-v-prev {
    left: 484px;
    visibility: hidden;
}

.hd-v-next {
    left: 1034px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 21px;
    left: 451px;
    width: 99px;
    height: 37px;
}

.sd-back {
    position: absolute;
    top: 21px;
    left: 567px;
    width: 65px;
    height: 37px;
}

.sd-video-list {
    position:absolute;
    top: 144px;
    left: 246px;
    width: 380px;
    height: 284px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 43px;
    height: 287px;
    margin-left: 18px;
}

.sd-v-arrow {
    position:absolute;
    top: 272px;
    width: 32px;
    height: 37px;
}

.sd-v-prev {
    left: 200px;
    visibility: hidden;
}

.sd-v-next {
    left: 586px;
}


