* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    position: relative;
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 80px;
    top: 200px
}

#smallvod {
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}
.hd-videoTv {
    position: absolute;
    top: 240px;
    left: 21px;
}
.hd-free{
}
.hd-more {
    top: 100px;
    left: 1140px;
}

.hd-back {
    top: 20px;
    left: 1140px;
}

.hd-tab-content {
    top: 20px;
    left: 520px;
    width: 420px;
}

.hd-tab-content img {
}
.hd-tab-content #focus-1{}
.hd-tab-content #focus-2{margin-left: -40px}
.hd-tab-content #focus-3{margin-left: -80px}
.hd-tab-content #focus-4{margin-left: -120px}
.hd-v-arrow {
}

.hd-v-prev {
    top: 50px;
    left: 700px;
}

.hd-v-next {
    top: 670px;
    left: 580px;
}
.hd-history-album{
}
.hd-history-album img{
}
.hd-a-arrow {
}
.hd-a-prev{
}
.hd-a-next{
}

/*==============SD==================*/
.sd-body{
    width: 644px;
    height: 530px;
}
.sd-more {
    top: 60px;
    left: 570px;
    width: 70px;
    height: 30px;
}

.sd-back {
    top: 20px;
    left: 570px;
    width: 70px;
    height: 30px;
}

.sd-tab-content {
    top: 150px;
    left: 250px;
    width: 240px;
}

.sd-tab-content img {
    width: 210px;
    height: 80px;
}

.sd-v-arrow {
    left: 340px;
}

.sd-v-prev {
    top: 150px;
}

.sd-v-next {
    top: 480px;
}
.sd-history-album{
}
.sd-history-album img{
}
.sd-a-arrow {
}
.sd-a-prev{
}
.sd-a-next{
}
