* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 71px;
    left: 71px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 12px;
    left: 852px;
}

.hd-view-more {
    top: 12px;
    left: 1101px;
}

.hd-video-list {
    /*top: 560px;
    left: 61px;
    width: 650px;
    border: 1px red solid;*/
}
.hd-video-list img{
    /*margin-left: 10px;*/
}

.hd-video-list>#video-1{
    position: absolute;
    top: 372px;
    left: 151px;
	width: 60px;
	height: 293px;
}
.hd-video-list>#video-2{
    position: absolute;
    top: 372px;
    left: 266px;
	width: 60px;
	height: 293px;
}
.hd-video-list>#video-3{
    position: absolute;
    top: 372px;
    left: 379px;
	width: 60px;
	height: 293px;
}
.hd-video-list>#video-4{
    position: absolute;
    top: 372px;
    left: 503px;
	width: 60px;
	height: 293px;
}

.hd-v-arrow {
    top: 509px;
}

.hd-v-prev {
	top: 509px;
    left: 121px;
    visibility: hidden;
}

.hd-v-next {
	top: 509px;
    left: 610px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 35px;
    left: 552px;
    width: 55px;
    height: 41px;
}

.sd-back {
    position: absolute;
    top: 35px;
    left: 351px;
    width: 179px;
    height: 41px;
}

.sd-video-list {
    /*position: absolute;
    top: 420px;
    left: 44px;
    width: 590px;
    height: 90px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;
    width: 134px;
    height: 90px;
    margin-left: 6px;*/
}

.sd-video-list>#video-1{
    position: absolute;
    top: 73px;
    left: 96px;
	width: 183px;
	height: 126px;
}
.sd-video-list>#video-2{
    position: absolute;
    top: 178px;
    left: 1px;
	width: 183px;
	height: 126px;
}
.sd-video-list>#video-3{
    position: absolute;
    top: 244px;
    left: 118px;
	width: 183px;
	height: 126px;
}
.sd-video-list>#video-4{
    position: absolute;
    top: 344px;
    left: 58px;
	width: 183px;
	height: 126px;
}

.sd-v-arrow {
    position:absolute;
    left: 172px;
    width: 23px;
    height: 22px;
}

.sd-v-prev {
	top: 35px;
    left: 172px;
    visibility: hidden;
}

.sd-v-next {
	top: 485px;
    left: 172px;
}


