* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 421px;
    left: 100px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 23px;
    left: 1155px;
}

.hd-view-more {
    top: 81px;
    left: 1112px;
}

.hd-video-list {
    top: 36px;
    left: 625px;
    width: 650px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: -4px;
}

.hd-v-arrow {
    top: 231px;
}

.hd-v-prev {
    left: 561px;
    visibility: hidden;
}

.hd-v-next {
    left: 1086px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 71px;
    left: 484px;
    width: 151px;
    height: 46px;
}

.sd-back {
    position: absolute;
    top: 13px;
    left: 527px;
    width: 108px;
    height: 46px;
}

.sd-video-list {
    position:absolute;
    top: 141px;
    left: 289px;
    width: 650px;
    height: 324px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 69px;
    height: 324px;
    margin-left: -4px;
}

.sd-v-arrow {
    position:absolute;
    top: 332px;
    /*width: 20px;*/
    /*height: 34px;*/
}

.sd-v-prev {
    top:273px;
    left: 250px;
    visibility: hidden;
}

.sd-v-next {
    top:273px;
    left: 601px;
}


