* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Source Han Sans CN';
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 50px;
    left: 250px;
}

.hd-corner-mark{
    top: 50px;
    left: 250px;
    visibility: hidden;
}

.hd-back {
    top: 10px;
    left: 1150px;
}

.hd-view-more {
    top: 10px;
    left: 1020px;
}

.hd-video-list {
    top: 420px;
    left: 160px;
    width: 1100px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-right: 40px;
}

.hd-v-arrow {
    top: 590px;
}

.hd-v-prev {
    left: 50px;
    visibility: hidden;
}

.hd-v-next {
    left: 1200px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 40px;
    left: 478px;
    width: 85px;
    height: 35px;
}

.sd-back {
    position: absolute;
    top: 40px;
    left: 570px;
    width: 60px;
    height: 35px;
}

.sd-video-list {
    position:absolute;
    top: 228px;
    left: 58px;
    width: 388px;
    height: 277px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 44px;
    height: 245px;
    margin-right: 20px;
}

.sd-v-arrow {
    position:absolute;
    top: 343px;
    width: 20px;
    height: 34px;
}

.sd-v-prev {
    left: 18px;
    visibility: hidden;
}

.sd-v-next {
    left: 323px;
}


