* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    /*position:absolute;;*/
    background-color: transparent;
}

body > * {
    position: absolute;
}

a#default_link {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px
}

#small-video-wrap{
    left: 1px;
    top: 1px;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*==============HD==================*/
.hd-body{
    width: 1280px;
    height: 720px;
}

.hd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 720px;
}

#small-video {
    top: 235px;
    left: 195px;
}

.hd-corner-mark{
    top: 517px;
    left: 737px;
    visibility: hidden;
}

.hd-back {
    top: 126px;
    left: 1124px;
}

.hd-view-more {
    top: 46px;
    left: 1060px;
}

.hd-video-list {
    top: 583px;
    left: 110px;
    width: 1080px;
    /*border: 1px red solid;*/
}
.hd-video-list img{
    margin-left: 8px;
}

.hd-v-arrow {
    top: 495px;
}

.hd-v-prev {
	top: 611px;
    left: 31px;
    visibility: hidden;
}

.hd-v-next {
	top: 611px;
    left: 1200px;
}

/*==============SD==================*/
.sd-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 530px;
}
.sd-body{
    position: absolute;
    width: 644px;
    height: 530px;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.sd-view-more {
    position:absolute;
    top: 28px;
    left: 440px;
}

.sd-back {
    position: absolute;
    top: 90px;
    left: 500px;
}

.sd-video-list {
    position: absolute;
    top: 427px;
    left: 46px;
    /*border: 1px red solid;*/
}

.sd-video-list img {
    /*position: absolute;*/
    width: 179px;
    height: 62px;
    margin-left: 4px;
}

.sd-v-arrow {
    position:absolute;
    top: 340px;
    width: 24px;
    height: 32px;
}

.sd-v-prev {
	top: 442px;
    left: 5px;
    visibility: hidden;
}

.sd-v-next {
    top: 442px;
    left: 618px;
}


